﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@{
    ViewBag.Title = "Setting - Layanan Baru";
    Html.SelectedMenuTags().AddRange(new[] { "setting", "layanan-baru" });

    var tipeMember = Request["tipe"];
    var choices = RegistrasiKategoriMember.NewAll().ToArray();
}

@using (Html.Section("script-page-level-plugins"))
{
    <script>
        var index = 0;

        $(document).ready(function () {
            iniDropdownTipeMember();
            actionDropdownTipeMember();
            addField();
            addTipeMemberPartisipan();
            checkTipeMemberPartisipan();

            function checkTipeMemberPartisipan() {
                $('#addTipeMemberPartisipan').attr('disabled', 'disabled');
                $('#tipeMemberPartisipan').keyup(function () {
                    if ($(this).val()) {
                        var check = $('input[name$="TipeMemberPartisipan"][value="' + $(this).val() + '"]').val();
                        if (!check) {
                            $('#addTipeMemberPartisipan').removeAttr('disabled');
                            $('#errorTipePartispan').addClass('hidden');
                            $('#formTipeMemberPartisipan').removeClass('has-error');
                        } else {
                            $('#errorTipePartispan').removeClass('hidden');
                            $('#formTipeMemberPartisipan').addClass('has-error');
                        }
                    } else {
                        $('#addTipeMemberPartisipan').attr('disabled', 'disabled');
                        $('#errorTipePartispan').addClass('hidden');
                        $('#formTipeMemberPartisipan').addClass('has-error');
                    }
                });
            }

            function addField(tipeMemberPartisipan = null) {
                $('#wraper').on('click', '#addField', function () {
                    let formLabel = $('#FormLabel').val();
                    let formType = $('#FormType :selected');
                    let checkedFormRequired = $('#FormRequired').is(":checked") ? 'checked' : '';

                    if (formLabel && formType.val()) {
                        var name = $('input[name^="LayananBaruField"]:last').attr('name');
                        var newId = 0;

                        if (name) {
                            newId = parseInt(name.match(/\d+/)[0]) + 1;
                        }

                        $('#FormLabel').val('');
                        $('#FormType').val('');
                        $('#FormRequired').prop('checked', false);
                        $('#table-tbody-field').append(`
                                   <tr>
                                       <td>
                                            <input class="form-control"  type="hidden" name="LayananBaruField[`+ newId +`].TipeMemberPartisipan" value="`+ tipeMemberPartisipan +`">
                                            <input class="form-control"  type="text" name="LayananBaruField[`+ newId +`].Label" value="`+ formLabel + `">
                                        </td>
                                       <td>
                                            <select class="form-control" name="LayananBaruField[`+ newId +`].FormType">
                                                <option value="">Pilih Tipe</option>
                                                <option value="FreeText" ` + ((formType.val() == 'FreeText') ? 'selected' : '') + ` >Free Text</option>
                                                <option value="FileUpload" ` + ((formType.val() == 'FileUpload') ? 'selected' : '') + `>File Upload</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-check-input" name="LayananBaruField[`+ newId + `].FormRequired" value="true" `+ checkedFormRequired +`>
                                        </td>
                                        <td>
                                             <button class="btn red" id="btn-delete-field" type="button" onclick="deleteRow(this)">
                                                <i class="fa fa-close"></i>
                                             </button>
                                        </td>
                                   </tr>
                                `);
                    }
                });
            }

            function iniDropdownTipeMember() {
                let tipeMember = $('#tipeMemberAK').val();

                if (tipeMember == 'AKU') {
                    $('#wraper').html(fieldTambahan(tipeMember));
                    getAjaxFieldTambahanByFilterMember(tipeMember);
                }

                if (tipeMember == 'AKI') {
                    $('#wraper').html(fieldTambahan(tipeMember));
                    getAjaxFieldTambahanByFilterMember(tipeMember);
                }

                if (tipeMember == 'PARTISIPAN') {
                    $('#wraper').html(tipeMemberPartisipan(tipeMember));
                    getAjaxFieldTambahanByFilterMember(tipeMember);
                }
            }

            function actionDropdownTipeMember() {
                $('#tipeMemberAK').on('change', function () {
                    let tipeMember = $(this).val();

                    if (tipeMember == 'AKU') {
                        index = 0;
                        $('#wraper').html(fieldTambahan(tipeMember));
                        getAjaxFieldTambahanByFilterMember(tipeMember);
                        $('#section-partisipan').html('');
                    }

                    if (tipeMember == 'AKI') {
                        index = 0;
                        $('#wraper').html(fieldTambahan(tipeMember));
                        getAjaxFieldTambahanByFilterMember(tipeMember);
                        $('#section-partisipan').html('');
                    }

                    if (tipeMember == 'PARTISIPAN') {
                        index = 0;
                        $('#wraper').html(tipeMemberPartisipan(tipeMember));
                        getAjaxFieldTambahanByFilterMember(tipeMember);
                        checkTipeMemberPartisipan();
                    }
                });
            }

            function fieldTambahan(tipeMember) {
                let html = `<div class="form-group">
                                <label class="col-md-3 control-label">Field Tambahan</label>
                                <div class="col-md-8">
                                    <div class="table-scrollable">
                                        <table id="table-field" class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Label</th>
                                                    <th>Type</th>
                                                    <th>Required</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-tbody-field"></tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" type="text" id="FormLabel">
                                                </td>
                                                <td>
                                                    <select class="form-control" id="FormType">
                                                        <option value="">Pilih Tipe</option>
                                                        <option value="FreeText">Free Text</option>
                                                        <option value="FileUpload">File Upload</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" id="FormRequired">
                                                </td>
                                                <td>
                                                    <span class="input-group-btn">
                                                        <button class="btn green-jungle button-add-field" id="addField" type="button">
                                                            <i class="fa fa-plus"></i> Add
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>`;
                return html;
            }

            function tipeMemberPartisipan(tipeMember) {
                let html = `<div class="form-group" id="formTipeMemberPartisipan">
                                        <label class="col-md-3 control-label">Tipe Member Partisipan</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input class="form-control" type="text" id="tipeMemberPartisipan">
                                                <span class="input-group-btn">
                                                    <input type="hidden" value="`+ tipeMember +`" id="tipeMemberAK">
                                                    <button class="btn green-jungle" type="button" id="addTipeMemberPartisipan">
                                                        <i class="fa fa-plus"></i> Add
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="help-block has-error hidden" id="errorTipePartispan">Tipe member partisipan sudah ada</div>
                                        </div>
                                    </div>`;

                return html;
            }

            function addTipeMemberPartisipan() {  
                $('#wraper').on('click', '#addTipeMemberPartisipan', function () {
                    let tipeMemberPartisipan = $('#tipeMemberPartisipan').val();
                    let tipeMemberPartisipanClean = tipeMemberPartisipan.toLowerCase().replace(/[^A-Z0-9]/ig, '-');

                    if (tipeMemberPartisipan) {
                        $('#tipeMemberPartisipan').val('');
                        $('#section-partisipan').prepend(`<div class="form-group" id="FormGroup`+tipeMemberPartisipanClean+`">
                                        <label class="col-md-3 control-label">Field Tambahan</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input class="form-control tipe-member" style="width:60%" type="text" id="TipeMmeber`+ tipeMemberPartisipanClean + `" value="` + tipeMemberPartisipan +`" onkeyup="CheckTipeMember(this, '`+tipeMemberPartisipanClean+`')">
                                                <button class="btn red" id="btn-delete-field" type="button" onclick="deleteFormGroup('FormGroup`+tipeMemberPartisipanClean+`')">
                                                    <i class="fa fa-close"></i>
                                                </button> 
                                            </div>
                                            <div class="help-block has-error hidden" id="errorTipeMember`+tipeMemberPartisipanClean+`">Tipe member partisipan sudah ada</div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-hover table-field" data-tipe-id="`+ tipeMemberPartisipanClean +`" data-tipe-value="`+ tipeMemberPartisipan +`">
                                                    <thead>
                                                        <tr>
                                                            <th>Label</th>
                                                            <th>Type</th>
                                                            <th>Required</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-tbody-field-`+ tipeMemberPartisipanClean +`"></tbody>
                                                    <tr>
                                                        <td>
                                                            <input class="form-control" type="text" id="FormLabel`+ tipeMemberPartisipanClean + `">
                                                        </td>
                                                        <td>
                                                            <select class="form-control" id="FormType`+ tipeMemberPartisipanClean + `">
                                                                <option value="">Pilih Tipe</option>
                                                                <option value="FreeText">Free Text</option>
                                                                <option value="FileUpload">File Upload</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="form-check-input" id="FormRequired`+ tipeMemberPartisipanClean + `">
                                                        </td>
                                                        <td>
                                                            <span class="input-group-btn">
                                                                <button class="btn green-jungle" id="buttonAddRow`+tipeMemberPartisipanClean+`" onclick="addRow('`+ tipeMemberPartisipanClean + `','` + tipeMemberPartisipan + `')" type="button">
                                                                    <i class="fa fa-plus"></i> Add
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>`);
                        addHiddenRow(tipeMemberPartisipanClean, tipeMemberPartisipan)
                    }
                });
            }

            function getAjaxFieldTambahanByFilterMember(tipeMember) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetLayananBaruByTipe", "LayananBaru")',
                    data: { tipe: tipeMember },
                    success: function (data) {
                        if (data.length > 0) {
                            if (tipeMember == 'AKU' || tipeMember == 'AKI') {
                                for (let i = 0; i < data.length; i++) {
                                    let checkedFormRequired = data[i].FieldRequired ? 'checked' : '';
                                    $('#table-tbody-field').append(`
                                        <tr>
                                            <td>
                                                <input class="form-control"  type="hidden" name="LayananBaruField[`+ i + `].TipeMemberPartisipan" value="` + data[i].TipeMemberPartisipan + `">
                                                <input class="form-control"  type="text" name="LayananBaruField[`+ i + `].Label" value="` + data[i].FieldName + `">
                                            </td>
                                            <td>
                                                <select class="form-control" name="LayananBaruField[`+ i + `].FormType">
                                                    <option value="">Pilih Tipe</option>
                                                    <option value="FreeText" ` + ((data[i].FieldType == 'FreeText') ? 'selected' : '') + ` >Free Text</option>
                                                    <option value="FileUpload" ` + ((data[i].FieldType == 'FileUpload') ? 'selected' : '') + `>File Upload</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="form-check-input" name="LayananBaruField[`+ i + `].FormRequired" value="true" `+ checkedFormRequired +`>
                                            </td>
                                            <td>
                                                    <button class="btn red" id="btn-delete-field" type="button" onclick="deleteRow(this)">
                                                    <i class="fa fa-close"></i>
                                                    </button>
                                            </td>
                                        </tr>
                                    `);
                                }
                                
                                index = data.length;
                            } else if(tipeMember == 'PARTISIPAN') {
                                data.forEach(function (key, item) {
                                    console.log(key);
                                });
                            }
                        } else {
                            var result = Object.keys(data).map(function(key) {
                                return {
                                    tipeMemberPartisipan: key,
                                    data: data[key]
                                };
                            });

                            if (result.length > 0) {
                                var count = 0;
                                result.forEach(function (item) {
                                    let tipeMemberPartisipan = item.tipeMemberPartisipan;
                                    let tipeMemberPartisipanClean = tipeMemberPartisipan.toLowerCase().replace(/[^A-Z0-9]/ig, '-');
                                    
                                    let html = '';
                                    let counter = index;
                                    for (let i = 0; i < item.data.length; i++) {
                                        let checkedFormRequired = item.data[i].FieldRequired ? 'checked' : '';

                                        if ((item.data[i].FieldType == "null")) {
                                            html += `<tr class="hidden">
                                                <td><input class="form-control"  type="hidden" name="LayananBaruField[`+ counter + `].TipeMemberPartisipan" value="` + tipeMemberPartisipan + `"></td>
                                                <td><input class="form-control"  type="hidden" name="LayananBaruField[`+ counter + `].Label" value="null"></td>
                                                <td><select name="LayananBaruField[`+ counter + `].FormType">
                                                    <option value="null" selected>null</option>
                                                </select></td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" name="LayananBaruField[`+ counter + `].FormRequired" value="true" `+ checkedFormRequired +`>
                                                </td>
                                                </tr>`;
                                            counter++;
                                            continue;
                                        }
                                        html += `<tr>
                                            <td>
                                                <input class="form-control"  type="hidden" name="LayananBaruField[`+ counter + `].TipeMemberPartisipan" value="` + tipeMemberPartisipan + `">
                                                <input class="form-control"  type="text" name="LayananBaruField[`+ counter + `].Label" value="` + item.data[i].FieldName + `">
                                            </td>
                                            <td>
                                                <select class="form-control" name="LayananBaruField[`+ counter + `].FormType">
                                                    <option value="">Pilih Tipe</option>
                                                    <option value="FreeText" ` + ((item.data[i].FieldType == 'FreeText') ? 'selected' : '') + ` >Free Text</option>
                                                    <option value="FileUpload" ` + ((item.data[i].FieldType == 'FileUpload') ? 'selected' : '') + `>File Upload</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="form-check-input" name="LayananBaruField[`+ counter + `].FormRequired" value="true" `+ checkedFormRequired +`>
                                            </td>
                                            <td>
                                                    <button class="btn red" id="btn-delete-field" type="button" onclick="deleteRow(this)">
                                                    <i class="fa fa-close"></i>
                                                    </button>
                                            </td>
                                        </tr>`;
                                        counter++;
                                    }
                                    
                                    index += item.data.length;

                                    $('#section-partisipan').prepend(`<div class="form-group" id="FormGroup`+tipeMemberPartisipanClean+`">
                                        <label class="col-md-3 control-label">Field Tambahan</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input class="form-control tipe-member" style="width:60%" type="text" id="TipeMmeber`+ tipeMemberPartisipanClean + `" value="` + tipeMemberPartisipan +`" onkeyup="CheckTipeMember(this, '`+tipeMemberPartisipanClean+`')">
                                                <button class="btn red" id="btn-delete-field" type="button" onclick="deleteFormGroup('FormGroup`+tipeMemberPartisipanClean+`')">
                                                    <i class="fa fa-close"></i>
                                                </button> 
                                            </div>
                                            <div class="help-block has-error hidden" id="errorTipeMember`+tipeMemberPartisipanClean+`">Tipe member partisipan sudah ada</div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-hover table-field" data-tipe-id="`+ tipeMemberPartisipanClean + `" data-tipe-value="` + tipeMemberPartisipan + `">
                                                    <thead>
                                                        <tr>
                                                            <th>Label</th>
                                                            <th>Type</th>
                                                            <th>Required</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-tbody-field-`+ tipeMemberPartisipanClean + `">`+ html +`</tbody>
                                                    <tr>
                                                        <td>
                                                            <input class="form-control" type="text" id="FormLabel`+ tipeMemberPartisipanClean + `">
                                                        </td>
                                                        <td>
                                                            <select class="form-control" id="FormType`+ tipeMemberPartisipanClean + `">
                                                                <option value="">Pilih Tipe</option>
                                                                <option value="FreeText">Free Text</option>
                                                                <option value="FileUpload">File Upload</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="form-check-input" id="FormRequired`+ tipeMemberPartisipanClean + `">
                                                        </td>
                                                        <td>
                                                            <span class="input-group-btn">
                                                                <button class="btn green-jungle" id="buttonAddRow`+tipeMemberPartisipanClean+`" onclick="addRow('`+ tipeMemberPartisipanClean + `','` + tipeMemberPartisipan + `')" type="button">
                                                                    <i class="fa fa-plus"></i> Add
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>`);
                                });
                            } else {
                                index = 0;
                            }
                        }
                    }
                });
            }
        });
        function addHiddenRow(id, value) {
            $('#FormLabel' + id).val('');
            $('#FormType' + id).val('');
            $('#FormRequired' + id).prop('checked', false);
            $('#table-tbody-field-' + id).append(`<tr class="hidden">
                        <td><input class="form-control"  type="hidden" name="LayananBaruField[`+ index + `].TipeMemberPartisipan" value="` + value + `"></td>
                        <td><input class="form-control"  type="hidden" name="LayananBaruField[`+ index + `].Label" value="null"></td>
                        <td><select name="LayananBaruField[`+ index + `].FormType">
                            <option value="null" selected>null</option>
                        </select></td>
                        <td>
                            <input type="hidden" class="form-check-input" name="LayananBaruField[`+ index + `].FormRequired" value="false">
                        </td>
                </tr>`);

            index++;
            $('input[name^="LayananBaruField"][name$="TipeMemberPartisipan"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix); 
            });

            $('input[name^="LayananBaruField"][name$="Label"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
            });

            $('select[name^="LayananBaruField"][name$="FormType"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
            });
        }

        function addRow(id, value) {
            let formLabel = $('#FormLabel' + id).val();
            let formType = $('#FormType' + id + ' :selected');
            let checkedFormRequired = $('#FormRequired'+id).is(":checked") ? 'checked' : '';

            if (formLabel && formType.val()) {
                $('#FormLabel' + id).val('');
                $('#FormType' + id).val('');
                $('#FormRequired' + id).prop('checked', false);;
                $('#table-tbody-field-' + id).append(`
                        <tr>
                            <td>
                                <input class="form-control"  type="hidden" name="LayananBaruField[`+ index + `].TipeMemberPartisipan" value="` + value + `">
                                <input class="form-control"  type="text" name="LayananBaruField[`+ index + `].Label" value="` + formLabel + `">
                            </td>
                            <td>
                                <select class="form-control" name="LayananBaruField[`+ index + `].FormType">
                                    <option value="">Pilih Tipe</option>
                                    <option value="FreeText" ` + ((formType.val() == 'FreeText') ? 'selected' : '') + ` >Free Text</option>
                                    <option value="FileUpload" ` + ((formType.val() == 'FileUpload') ? 'selected' : '') + `>File Upload</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input" name="LayananBaruField[`+ index + `].FormRequired" value="true" `+checkedFormRequired+`>
                            </td>
                            <td>
                                    <button class="btn red" id="btn-delete-field" type="button" onclick="deleteRow(this)">
                                    <i class="fa fa-close"></i>
                                    </button>
                            </td>
                        </tr>
                    `);

                index++;
            }
            $('input[name^="LayananBaruField"][name$="TipeMemberPartisipan"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix); 
            });

            $('input[name^="LayananBaruField"][name$="Label"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
            });
            
            $('input[name^="LayananBaruField"][name$="FormRequired"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
            });

            $('select[name^="LayananBaruField"][name$="FormType"]').each(function (index) {
                var prefix = "LayananBaruField[" + index + "]";
                this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
            });
        }

        function deleteRow (ctrl) {
            //remove the row from the table
            var r = confirm("Apakah anda yakin ingin menghapus!");

            if (r == true) {
                $(ctrl).closest('tr').remove();
                $('input[name^="LayananBaruField"][name$="TipeMemberPartisipan"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix); 
                });

                $('input[name^="LayananBaruField"][name$="Label"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });
                $('input[name^="LayananBaruField"][name$="FormRequired"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });

                $('select[name^="LayananBaruField"][name$="FormType"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });
            }
        }

        function deleteFormGroup(id) {
            var r = confirm("Apakah anda yakin ingin menghapus!");

            if (r == true) {
                $('#' + id).html('');

                $('input[name^="LayananBaruField"][name$="TipeMemberPartisipan"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix); 
                });

                $('input[name^="LayananBaruField"][name$="Label"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });

                $('input[name^="LayananBaruField"][name$="FormRequired"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });

                $('select[name^="LayananBaruField"][name$="FormType"]').each(function (index) {
                    var prefix = "LayananBaruField[" + index + "]";
                    this.name = this.name.replace(/LayananBaruField\[\d+\]/, prefix);
                });
            }
        }

        function CheckTipeMember(data, id) {
            if (data.value) {
                var ar = $('.tipe-member').map(function() {
                    if ($(this).val() != '') return $(this).val()
                }).get();

                //Create array of duplicates if there are any
                var unique = ar.filter(function(item, pos) {
                    return ar.indexOf(item) != pos;
                });

                if (unique.length != 0) {
                    $('#buttonAddRow' + id).attr('disabled', 'disabled');
                    $('#btnSave').attr('disabled', 'disabled');
                    $('#errorTipeMember' + id).removeClass('hidden');
                    $('#FormGroup' + id).addClass('has-error');
                } else {
                    $('#buttonAddRow' + id).removeAttr('disabled');
                    $('#btnSave').removeAttr('disabled');
                    $('#errorTipeMember' + id).addClass('hidden');
                    $('#FormGroup' + id).removeClass('has-error');
                    $('#FormGroup' + id +' input[name$="TipeMemberPartisipan"]').val(data.value);
                }
            } else {
                $('#buttonAddRow' + id).attr('disabled', 'disabled');
                $('#btnSave').attr('disabled', 'disabled');
                $('#errorTipeMember' + id).addClass('hidden');
                $('#FormGroup' + id).addClass('has-error');
            }
        }
    </script>
}

<div class="col-xs-12">
    <form class="form-horizontal" method="post">
        @Html.MetronicValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label col-md-3">
                Tipe Member
            </label>
            <div class="col-md-8">
                <select name="TipeMemberAK" class="form-control" id="tipeMemberAK">
                    @foreach (var choice in choices)
                    {
                        <option value="@choice.Name" @(choice.Name == tipeMember ? "selected" : "")>@choice.Label</option>
                    }
                </select>
            </div>
        </div>
        <div id="wraper"></div>
        <div id="section-partisipan"></div>
        <div class="form-actions text-center">
            <button type="button" id="btnSave" class="btn red form-submit-button">Save</button>
        </div>
    </form>
</div>

