﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Survey
@using Kpei.PortalAK.DataAccess.Core
@model DetilViewModel
@{
    ViewBag.Title = "Survei Pengguna Jasa - Detail Survei";
    Html.SelectedMenuTags().AddRange(new[] { "survei", "detail-survei" });
}
<div class="text-right">
    @if (Model.AppUser.IsKpei && Model.AppUser.KpeiModifierRightFor(CoreModules.SURVEI_KEANGGOTAAN)) {
        <a href="@Url.Action("Edit", new {id = Model.Survei.Id })" class="btn btn-warning">
            <i class="fa fa-edit"></i> Edit
        </a>
    }
</div>
<div class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(Model.Survei.Nama, new TextFieldSetting {
       InputName = nameof(Model.Survei.Nama),
       Label = "Nama Survei",
       HelpText = "",
       Style = TextFieldStyle.Simple
   })
        @Html.FormFieldPartial(Model.Survei.TglPelaksanaanUtc?.ConvertUtcToWib().ToString("dd MMMM yyyy"), new TextFieldSetting {
       InputName = nameof(Model.Survei.TglPelaksanaanUtc),
       Label = "Tanggal Pelaksanaan"
   })
        @Html.FormFieldPartial(Model.Survei.JlhResponden, new IntFieldSetting {
       InputName = nameof(Model.Survei.JlhResponden),
       Label = "Jumlah Responden",
       HelpText = ""
   })

        <div class="form-group ">
            <label for="field-input-693917723" class="control-label col-md-3">
                Nilai Survei
            </label>
            <div class="col-md-8">
                <input type="text" step="0.1" min="0" class="form-control" value="@Model.Survei.Nilai" />
                <div class="small">

                </div>
            </div>
        </div>
        <hr />
        <h3>Survei Perusahaan</h3>
        @for (int i = 0; i < Model.ListPerusahaan?.Count; i++) {
            var name = nameof(Model.ListPerusahaan) + "[" + i + "]";
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>@(i + 1)
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @Html.FormFieldPartial(Model.ListPerusahaan?[i].Kategori, new TextFieldSetting {
                       InputName = name + ".Kategori",
                       Label = "Kategori"
                   })
                        <div class="form-group ">
                            <label for="field-input-2103437798" class="control-label col-md-3">
                                Hasil Survei
                            </label>
                            <div class="col-md-8">
                                @if (Model.ListPerusahaan?[i].HasilFileUrl == null) {
                                    <i>No File</i>
                                } else {
                                    <a href="@Url.Content(Model.ListPerusahaan?[i].HasilFileUrl)" download class="btn red">
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="field-input-2103437798" class="control-label col-md-3">
                                Tindak Lanjut
                            </label>
                            <div class="col-md-8">
                                @if (Model.ListPerusahaan?[i].TindakLanjutFileUrl == null) {
                                    <i>No File</i>
                                } else {
                                    <a href="@Url.Content(Model.ListPerusahaan?[i].TindakLanjutFileUrl)" download class="btn red">
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        }
        @if (Model.AppUser.KpeiViewerRightFor(CoreModules.SURVEI_KEANGGOTAAN) || Model.AppUser.NonKpeiViewerAsKpei(CoreModules.SURVEI_KEANGGOTAAN)) {
            <hr />
            <h3>Survei Divisi</h3>
            for (int i = 0; i < Model.ListDivisi?.Count; i++) {
                var name = nameof(Model.ListDivisi) + "[" + i + "]";
            <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-file"></i>@(i + 1)
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            @Html.FormFieldPartial(Model.ListDivisi?[i].Kategori, new TextFieldSetting {
                           InputName = name + ".Kategori",
                           Label = "Kategori"
                       })
                            <div class="form-group ">
                                <label for="field-input-2103437798" class="control-label col-md-3">
                                    Hasil Survei
                                </label>
                                <div class="col-md-8">
                                    @if (Model.ListDivisi?[i].HasilFileUrl == null) {
                                        <i>No File</i>
                                    } else {
                                        <a href="@Url.Content(Model.ListDivisi?[i].HasilFileUrl)" download class="btn red">
                                            <i class="fa fa-download"></i> Download
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="field-input-2103437798" class="control-label col-md-3">
                                    Tindak Lanjut
                                </label>
                                <div class="col-md-8">
                                    @if (Model.ListDivisi?[i].TindakLanjutFileUrl == null) {
                                        <i>No File</i>
                                    } else {
                                        <a href="@Url.Content(Model.ListDivisi?[i].TindakLanjutFileUrl)" download class="btn red">
                                            <i class="fa fa-download"></i> Download
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- END Portlet PORTLET-->
            }
        }
    </div>
</div>
@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function () {
            $('div.form input').prop('readonly', true);
            $('div.form select').prop('readonly', true);
        });
    </script>
}