﻿@model Kpei.PortalAK.ViewModels.SurveiViewModel
@{
    ViewBag.Title = "Survei Pengguna Jasa - Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] { "survei", "detil-survei" });
    var culture = new System.Globalization.CultureInfo("id-ID");
    int utc = 7;
}

<div class="form-horizontal ">
    @if (Model.AppUser.IsKpei) {
        <div class="text-right">
            <a href="@Url.Action("SurveiForm", "Survei", new { id = Model.survei.Id })" class="btn green"><i class="fa fa-list-alt"></i> Ubah Data</a>
            <a href="@Url.Action("DoTrashSurvei", "Survei", new { id = Model.survei.Id})" class="btn red-mint"><i class="fa fa-trash"></i> Hapus Survei</a>
        </div>
    }
    <div class="form-head"></div>
    <div class="form-body">

        <div class="form-group">

            <label class="control-label col-md-3">Nama Survei:</label>
            <div class="col-md-5">
                <div class="form-control-static">
                    @Model.survei.Nama
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tanggal Pelaksanaan Survei:</label>
            <div class="col-md-5">
                <div class="form-control-static">
                    @Model.survei.TglPelaksanaanUtc.AddHours(utc).ToString("dddd, d MMMM yyyy", culture)

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Jumlah Responden:</label>
            <div class="col-md-5">
                <div class="form-control-static">
                    @Model.survei.JlhResponden
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label"><strong>Perusahaan</strong></label>
            </div>
            <div class="container">
                @if (Model.surveiPerusahaan != null) {
                    for (int i = 0; i < Model.surveiPerusahaan.Count; i++) {
                        <div class="portlet box green-jungle col-md-9 ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="number">
                                        @(i + 1)
                                    </span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kategori:</label>
                                        <div class="col-md-9">
                                            <div class="form-control-static">
                                                @Model.surveiPerusahaan[i].Kategori
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Hasil Survei:</label>
                                        <div class="col-md-9">
                                            <div class="form-control-static">
                                                @if (Model.surveiPerusahaan[i].HasilFile != null) {
                                                    <a href="@Model.surveiPerusahaan[i].HasilFile.FilePath" download>
                                                        <i class="fa fa-download"></i>
                                                        @Model.surveiPerusahaan[i].HasilFile.FileName
                                                    </a>    
                                                } else {
                                                    <text>
                                                        No File
                                                    </text>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                        <div class="col-md-9">
                                            <div class="form-control-static">
                                                @if (Model.surveiPerusahaan[i].TindakLanjutFile != null) {
                                                    <a href="@Model.surveiPerusahaan[i].TindakLanjutFile.FilePath" download>
                                                        <i class="fa fa-download"></i>
                                                        @Model.surveiPerusahaan[i].TindakLanjutFile.FileName
                                                    </a>
                                                } else {
                                                    <text>
                                                        No File
                                                    </text>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
        @if (Model.AppUser.IsKpei) {
            <div class="col-md-9">
                <div class="form-group">
                    <label class="control-label"><strong>Divisi</strong></label>
                </div>
                <div class="container">
                    @if (Model.surveiDivisi != null) {
                        for (int i = 0; i < Model.surveiDivisi.Count; i++) {
                            <div class="portlet box green-jungle col-md-9 ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="number">
                                            @(i + 1)
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Kategori:</label>
                                            <div class="col-md-9">
                                                <div class="form-control-static">
                                                    @Model.surveiDivisi[i].Kategori
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Hasil Survei:</label>
                                            <div class="col-md-9">
                                                <div class="form-control-static">
                                                    @if (Model.surveiDivisi[i].HasilFile != null) {
                                                        <a href="@Model.surveiDivisi[i].HasilFile.FilePath" download>
                                                            <i class="fa fa-download"></i> @Model.surveiDivisi[i].HasilFile.FileName
                                                        </a>
                                                    } else {
                                                        <text>
                                                            No File
                                                        </text>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                            <div class="col-md-9">
                                                <div class="form-control-static">
                                                    @if (Model.surveiDivisi[i].TindakLanjutFile != null) {
                                                        <a href="@Model.surveiDivisi[i].TindakLanjutFile.FilePath" download>
                                                            <i class="fa fa-download"></i> @Model.surveiDivisi[i].TindakLanjutFile.FileName
                                                        </a>
                                                    } else {
                                                        <text>
                                                            No File
                                                        </text>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }

    </div>
</div>
@Html.Section("script-page-level") {
<script src="~/assets/pages/scripts/form-fileupload.min.js" type="text/javascript"></script>
}

@Html.Section("script-page-level-plugins") {
<link href="~/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css">
<link href="~/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css">
<link href="~/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
<link href="~/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">

<script src="~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js" type="text/javascript"></script>
}