﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Survey
@using Kpei.PortalAK.DataAccess.DbModels
@model EditViewModel
@{
    ViewBag.Title = "Survei Pengguna Jasa - Edit Survei";
    Html.SelectedMenuTags().AddRange(new[] { "survei", "edit-survei" });
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-body">
        <input type="hidden" name="@(nameof(Model.Form.Id))" value="@Model.Form.Id" />
        @Html.FormFieldPartial(Model.Form.Nama, new TextFieldSetting {
       InputName = nameof(Model.Form.Nama),
       Label = Html.LabelForRequired(e => e.Form.Nama).ToString(),
       HelpText = "",
       Style = TextFieldStyle.Simple
   })
        @Html.FormFieldPartial(Model.Form.TglPelaksanaanUtc?.ConvertUtcToWib(), new DateTimeFieldSetting {
       InputName = nameof(Model.Form.TglPelaksanaanUtc),
       Label = Html.LabelForRequired(e => e.Form.TglPelaksanaanUtc).ToString(),
       Style = DateTimeFieldStyle.DateOnly
   })
        @Html.FormFieldPartial(Model.Form.JlhResponden, new IntFieldSetting {
       InputName = nameof(Model.Form.JlhResponden),
       Label = Html.LabelForRequired(e => e.Form.JlhResponden).ToString(),
       HelpText = ""
   })
        @Html.FormFieldPartial(Model.Form.Nilai, new FloatFieldSetting {
       InputName = nameof(Model.Form.Nilai),
       Label = Html.LabelForRequired(e => e.Form.Nilai).ToString(),
       HelpText = "Isi nilai survei dengan nilai 0.0 - 5.0"
   })
        <hr />
        <h3>Survei Perusahaan</h3>
        @for (int i = 0; i < Model.Form.ListPerusahaan?.Count; i++) {
            var name = nameof(Model.Form.ListPerusahaan) + "[" + i + "]";
            <input type="hidden" name="@(name + ".Id")" value="@Model.Form.ListPerusahaan[i].Id" />
            <input type="hidden" name="@(name + ".SurveiId")" value="@Model.Form.Id" />
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>@(i + 1)
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @Html.FormFieldPartial(Model.Form.ListPerusahaan?[i].Kategori, new SelectFieldSetting {
                       InputName = name + ".Kategori",
                       Label = "Kategori",
                       HelpText = "",
                       Options = Model.Setting.KategoriPerusahaan,
                       OptionValueGetter = x => x.DirectCastTo<Setting>().Value,
                       OptionLabelGetter = x => x.DirectCastTo<Setting>().Value,
                       AddEmptyOption = true,
                       EmptyOptionLabel = "-Pilih Kategori-"
                   })
                        @Html.FormFieldPartial(Model.Form.ListPerusahaan?[i].HasilFileUrl, new UploadFieldSetting {
                       InputName = name + ".HasilFileUrl",
                       Label = "Hasil Survei",
                       ValidFileExtensions = new[] { "pdf" },
                       MaxBytes = 15 * 1024 * 1024,
                       FolderPath = "survei"
                   })
                        @Html.FormFieldPartial(Model.Form.ListPerusahaan?[i].TindakLanjutFileUrl, new UploadFieldSetting {
                       InputName = name + ".TindakLanjutFileUrl",
                       Label = "Tindak Lanjut",
                       ValidFileExtensions = new[] { "pdf" },
                       MaxBytes = 15 * 1024 * 1024,
                       FolderPath = "survei"
                   })
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        }
        
        <hr />
        <h3>Survei Divisi</h3>
        @for (int i = 0; i < Model.Form.ListDivisi?.Count; i++) {
            var name = nameof(Model.Form.ListDivisi) + "[" + i + "]";
            <input type="hidden" name="@(name + ".Id")" value="@Model.Form.ListDivisi[i].Id" />
            <input type="hidden" name="@(name + ".SurveiId")" value="@Model.Form.Id" />
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>@(i + 1)
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @Html.FormFieldPartial(Model.Form.ListDivisi?[i].Kategori, new SelectFieldSetting {
                       InputName = name + ".Kategori",
                       Label = "Kategori",
                       HelpText = "",
                       Options = Model.Setting.KategoriDivisi,
                       OptionValueGetter = x => x.DirectCastTo<Setting>().Value,
                       OptionLabelGetter = x => x.DirectCastTo<Setting>().Value,
                       AddEmptyOption = true,
                       EmptyOptionLabel = "-Pilih Kategori-"
                   })
                        @Html.FormFieldPartial(Model.Form.ListDivisi?[i].HasilFileUrl, new UploadFieldSetting {
                       InputName = name + ".HasilFileUrl",
                       Label = "Hasil Survei",
                       ValidFileExtensions = new[] { "pdf" },
                       MaxBytes = 15 * 1024 * 1024,
                       FolderPath = "survei"
                   })
                        @Html.FormFieldPartial(Model.Form.ListDivisi?[i].TindakLanjutFileUrl, new UploadFieldSetting {
                       InputName = name + ".TindakLanjutUrl",
                       Label = "Tindak Lanjut",
                       ValidFileExtensions = new[] { "pdf" },
                       MaxBytes = 15 * 1024 * 1024,
                       FolderPath = "survei"
                   })
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        }
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>
</form>
