﻿@using Kpei.PortalAK.ViewModels.Survey
@model IndexViewModel
@{
    ViewBag.Title = "Survei Pengguna Jasa";
    Html.SelectedMenuTags().AddRange(new[] { "survei" });
}
<div class="row">
    <div class="col-xs-12">
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'Nama',
                    data: 'Nama',
                    title: 'Nama Survei',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'TglPelaksanaanUtc',
                    data: 'TglPelaksanaan',
                    title: 'Tgl Pelaksanaan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'JlhResponden',
                    data: 'JlhResponden',
                    title: 'Jlh. Responden',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Nilai',
                    data: 'Nilai',
                    title: 'Rating Survei',
                    searchable: true,
                    orderable: true,
                    render: function (data, type, row, meta) {
                        if (data > 5) {
                            return '<i>Data tidak valid</i>';
                        }
                        var str = '';
                        var i;
                        for (i = 0; i < Math.floor(data); i++) {
                            str += '<i class="fa fa-star"></i>';
                        }
                        if (data % 1 >= 0.5) {
                            str += '<i class="fa fa-star-half-full"></i>';
                        } else if (data % 1 != 0) {
                            str += '<i class="fa fa-star-o"></i>';
                        }
                        for (i = 0; i < Math.floor(5 - data); i++) {
                            str += '<i class="fa fa-star-o"></i>';
                        }

                        return str;
                    }
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKpei", "Survei")',
                cols,
                [
                    [2, 'desc']
                ]);
        });
    </script>
}