﻿@using Kpei.PortalAK.DataAccess.DbModels
@model Kpei.PortalAK.ViewModels.Survei.IndexViewModel
@{
    ViewBag.Title = "Survei Pengguna Jasa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"survei"});
    int utc = 7;
}
<div class="row">
    <div class="col-xs-12">
        @if (Model.AppUser.IsKpei) { 
            <div class="pull-right">
                <a href="@Url.Action("SurveiForm", "Survei")" class="btn green-jungle pull-left">
                    <i class="fa fa-list-alt"></i>
                    Input Hasil Survei
                </a>
            </div>
        }

        <!--TABLE-->
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Survei</th>
                    <th>Tanggal Pelaksanaan</th>
                    <th>Jumlah Responden</th>
                    <th>Action</th>
                </tr>
            </thead>
            @if (Model != null) {
                int rowNo = 0;
                foreach (var survei in Model.Survei) {
                    <tr>
                        <td></td>
                        <td>@survei.Nama</td>
                        <td>@survei.TglPelaksanaanUtc.AddHours(utc).ToString("yyyy/MM/dd")</td>
                        <td>@survei.JlhResponden</td>
                        <td>
                            <a href="@Url.Action("DetailForm", "Survei", new { id = survei.Id })">
                                <i class="icon-magnifier"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>
        <!--END TABLE-->
    </div>
</div>

@using (Html.Section("script")) {
    <!--DATA TABLE-->
    <script>
        var export_filename = "Files";
        var t = $('#sample_1').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            buttons: [
                {
                    text: '<i class="fa fa-lg fa-clipboard"></i>',
                    extend: 'copy',
                    className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-copy ttip'
                }, {
                    text: '<i class="fa fa-lg fa-print"></i> Print',
                    extend: 'csv',
                    className: 'btn red',
                    title: export_filename,
                    extension: '.csv'
                }, {
                    text: '<i class="fa fa-lg fa-file-excel-o"></i> Excel',
                    extend: 'excel',
                    className: 'btn green-jungle',
                    title: export_filename,
                    extension: '.xls'
                }, {
                    text: '<i class="fa fa-lg fa-file-pdf-o"></i> PDF',
                    extend: 'pdf',
                    className: 'btn red-mint',
                    title: export_filename,
                    extension: '.pdf'
                }
            ],
            "dom": "<'row' <'col-md-12 form-group'>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            "order": [[2, 'desc']]
        });
        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    </script>
}
