﻿@model Kpei.PortalAK.ViewModels.SurveiViewModel
@{
    ViewBag.Title = "Survei Kepuasan Pelanggan - Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] { "survei", "input-survei" });
    List<String> OptionPerusahaan = new List<String>();
    List<String> OptionDivisi = new List<String>();
    string nama, tgl, responden;
    nama = tgl = responden = null;
    if (Model != null) {
        if (Model.listKategoriPerusahaan != null && Model.listKategoriPerusahaan.First() != null) {
            for (int i = 0; i < Model.listKategoriPerusahaan.Count; i++) {
                OptionPerusahaan.Add(Model.listKategoriPerusahaan[i].Value);
            }
        }
        if (Model.listKategoriDivisi != null && Model.listKategoriDivisi.First() != null) {
            for (int i = 0; i < Model.listKategoriDivisi.Count; i++) {
                OptionDivisi.Add(Model.listKategoriDivisi[i].Value);
            }
        }
        if (Model.survei != null) {
            nama = Model.survei.Nama;
            tgl = Model.survei.TglPelaksanaanUtc.ToString("yyyy/MM/dd");
            responden = Model.survei.JlhResponden.ToString();
        } else {
            tgl = DateTime.UtcNow.ToString("yyyy/MM/dd");
            responden = "0";
        }
    }

}
@using (Html.BeginForm("AddSurvei", "Survei", null, FormMethod.Post, new { @class = "form form-horizontal", @enctype = "multipart/form-data" })) {
    if (!Html.ViewData.ModelState.IsValid) {
        <div class="alert alert-danger validation-summary-error">
            <strong>Error!</strong> Terjadi kesalahan!
            @Html.ValidationSummary()

        </div>
    }
    <input type="hidden" name="@Html.NameFor(e => e.helperId)" value="@Html.ValueFor(e => e.survei.Id)" />
    <div class="form-head"></div>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">Nama Survei:</label>
            <div class="col-md-5">
                @Html.TextBoxFor(e => e.survei.Nama, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tanggal Pelaksanaan Survei:</label>
            <div class="col-md-5">
                <div class="input-group date date-picker" data-date-format="yyyy/mm/dd">
                    <input type="text" class="form-control" name="@Html.NameFor(e => e.survei.TglPelaksanaanUtc)" value="@tgl">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Jumlah Responden:</label>
            <div class="col-md-5">
                <input type="number" name="@Html.NameFor(e => e.survei.JlhResponden)" class="form-control" value="@responden"/>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label"><strong>Perusahaan</strong></label>
            </div>
            <div class="container" id="dataPerusahaan">
                @if (Model.surveiPerusahaan != null) {
                    for (int i = 0; i < Model.surveiPerusahaan.Count; i++) {
                        @Html.HiddenFor(e => e.surveiPerusahaan[i].Id)
                        <div class="portlet box green-jungle col-md-9 ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="number1">
                                        @(i + 1)
                                    </span>
                                </div>
                                <div class="tools">
                                    <a href="" class="remove" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kategori:</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(e => e.surveiPerusahaan[i].Kategori, new SelectList(OptionPerusahaan), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Hasil Survei:</label>
                                        <div class="col-md-9">
                                            <div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilP_@i">
                                                <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                            </div>
                                            <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiPerusahaan[i].HasilFile.FileName)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                        <div class="col-md-9">
                                            <div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakP_@i">
                                                <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                            </div>
                                            <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiPerusahaan[i].TindakLanjutFile.FileName)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <div class="portlet box green-jungle col-md-9 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="number1">
                                    1
                                </span>
                            </div>
                            <div class="tools">
                                <a href="" class="remove" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kategori:</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(e => e.surveiPerusahaan[0].Kategori, new SelectList(OptionPerusahaan), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hasil Survei:</label>
                                    <div class="col-md-9">
                                        <div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilP_0">
                                            <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                        </div>
                                        <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiPerusahaan[0].HasilFile.FileName)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                    <div class="col-md-9">
                                        <div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakP_0">
                                            <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                        </div>
                                        <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiPerusahaan[0].TindakLanjutFile.FileName)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <button type="button" class="btn green-jungle" id="trigger1">
                <u>
                    <i class="fa fa-plus-square"></i> Tambah Kategori
                </u>
            </button>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label"><strong>Divisi</strong></label>
            </div>
            <div class="container" id="dataDivisi">
                @if (Model.surveiDivisi != null) {
                    for (int i = 0; i < Model.surveiDivisi.Count; i++) {
                        @Html.HiddenFor(e => e.surveiDivisi[i].Id)
                        <div class="portlet box green-jungle col-md-9 ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="number2">
                                        @(i + 1)
                                    </span>
                                </div>
                                <div class="tools">
                                    <a href="" class="remove" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kategori:</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(e => e.surveiDivisi[i].Kategori, new SelectList(OptionDivisi), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Hasil Survei:</label>
                                        <div class="col-md-9">
                                            <div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilD_@i">
                                                <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                            </div>
                                            <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiDivisi[i].HasilFile.FileName)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                        <div class="col-md-9">
                                            <div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakD_@i">
                                                <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                            </div>
                                            <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiDivisi[i].TindakLanjutFile.FileName)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <div class="portlet box green-jungle col-md-9 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="number2">
                                    1
                                </span>
                            </div>
                            <div class="tools">
                                <a href="" class="remove" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kategori:</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(e => e.surveiDivisi[0].Kategori, new SelectList(OptionDivisi), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hasil Survei:</label>
                                    <div class="col-md-9">
                                        <div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilD_0">
                                            <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                        </div>
                                        <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiDivisi[0].HasilFile.FileName)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tindak Lanjut Survei:</label>
                                    <div class="col-md-9">
                                        <div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakD_0">
                                            <h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3>
                                        </div>
                                        <input type="hidden" class="filename" name="@Html.NameFor(e => e.surveiDivisi[0].TindakLanjutFile.FileName)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <button type="button" class="btn green-jungle" id="trigger2">
                <u>
                    <i class="fa fa-plus-square"></i> Tambah Kategori
                </u>
            </button>

        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <a href="@Url.Action("Index", "Survei")" type="button" class="btn">Cancel</a>
                    <button type="submit" class="btn green-jungle">Submit</button>
                </div>
            </div>
        </div>
    </div>

}


@Html.Section("script-page-level-plugins") {

    <!--DROPZONE-->
    <link href="/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css">

}

@using (Html.Section("script")) {

    <!--DATETIMEPICKER-->
    <link href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css">

    <!--DATETIMEPICKER-->
    <script src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <!--DROPZONE-->
    <script src="/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="/assets/pages/scripts/form-dropzone.min.js" type="text/javascript"></script>
    <!--DATETIMEPICKER-->
    <script src="/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <!--APPEND-->
    <script src="/assets/pages/scripts/form-samples.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $("#trigger1").click(function () {
                var number1 = $(".number1").last().text();
                if (number1 == null || isNaN(number1) || number1 == "") {
                    var newNumber = 1;
                } else {
                    var newNumber = parseInt(number1);
                    ++newNumber;
                }

                @{
                    string str = "";
                    for (int i = 0; i < OptionPerusahaan.Count; i++) {
                        str += "<option>";
                        str += OptionPerusahaan[i];
                        str += "</option>";
                    }
                    HtmlString html = new HtmlString(str);
                }
                var option = "@html";
                $("#dataPerusahaan").append('<div class="portlet box green-jungle col-md-9 "><div class="portlet-title" ><div class="caption"><span class="number1">' + newNumber + '</span></div><div class="tools"><a href="" class="remove" data-original-title="" title=""> </a></div></div ><div class="portlet-body form"><div class="form-body"><div class="form-group" ><label class="col-md-3 control-label">Kategori:</label><div class="col-md-9"><select class="form-control" data-val="true" data-val-required="The Kategori field is required." id="surveiPerusahaan_0__Kategori" name="surveiPerusahaan[' + (newNumber - 1) + '].Kategori">' + option + '</select></div></div><div class="form-group"><label class="col-md-3 control-label">Hasil Survei:</label><div class="col-md-9"><div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilP_' + (newNumber - 1) + '"><h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3><div class="dz-default dz-message"><span>Drop file here to upload</span></div></div><input type="hidden" class="filename" name="surveiPerusahaan[' + (newNumber - 1) + '].HasilFile.FileName"></div></div><div class="form-group"><label class="col-md-3 control-label">Tindak Lanjut Survei:</label><div class="col-md-9"><div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakP_' + (newNumber - 1) + '"><h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3><div class="dz-default dz-message"><span>Drop file here to upload</span></div></div><input type="hidden" class="filename" name="surveiPerusahaan[' + (newNumber - 1) +'].TindakLanjutFile.FileName"></div></div></div></div></div>');


                $("div#hasilP_"+(newNumber - 1)).dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },  
                    success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#hasilP_"+(newNumber - 1)).siblings(".filename").val(response);
        }
                });
                $("div#tindakP_" + (newNumber - 1)).dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },  
                    success: function (file, response) {
                        file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                        $("#tindakP_" + (newNumber - 1)).siblings(".filename").val(response);
                    }
                });

            })
            $("#trigger2").click(function () {
                var number2 = $(".number2").last().text();
                if (number2 == null || isNaN(number2) || number2 == "") {
                    var newNumber = 1;
                } else {
                    var newNumber = parseInt(number2);
                    ++newNumber;
                }
                 @{
                     string strDivisi = "";
                     for (int i = 0; i < OptionDivisi.Count; i++) {
                         strDivisi += "<option>";
                         strDivisi += OptionDivisi[i];
                         strDivisi += "</option>";
                     }
                     HtmlString htmlDivisi = new HtmlString(strDivisi);
                }
                var optionDivisi = "@htmlDivisi"
                $("#dataDivisi").append('<div class="portlet box green-jungle col-md-9 "><div class="portlet-title" ><div class="caption"><span class="number2">' + newNumber + '</span></div><div class="tools"><a href="" class="remove" data-original-title="" title=""> </a></div></div ><div class="portlet-body form"><div class="form-body"><div class="form-group" ><label class="col-md-3 control-label">Kategori:</label><div class="col-md-9"><select class="form-control" data-val="true" data-val-required="The Kategori field is required." id="surveiPerusahaan_0__Kategori" name="surveiDivisi[' + (newNumber - 1) + '].Kategori">' + optionDivisi + '</select></div></div><div class="form-group"><label class="col-md-3 control-label">Hasil Survei:</label><div class="col-md-9"><div class="dropzone dropzone-file-area dz-clickable dz-started" id="hasilD_' + (newNumber - 1) + '"><h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3><div class="dz-default dz-message"><span>Drop file here to upload</span></div></div><input type="hidden" class="filename" name="surveiDivisi[' + (newNumber - 1) + '].HasilFile.FileName"></div></div><div class="form-group"><label class="col-md-3 control-label">Tindak Lanjut Survei:</label><div class="col-md-9"><div class="dropzone dropzone-file-area dz-clickable dz-started" id="tindakD_' + (newNumber - 1) + '"><h3 class="sbold">Tarik file ke daerah ini atau klik untuk upload</h3><div class="dz-default dz-message"><span>Drop file here to upload</span></div></div><input type="hidden" class="filename" name="surveiDivisi[' + (newNumber - 1) +'].TindakLanjutFile.FileName"></div></div></div></div></div>');

            $("div#hasilD_" + (newNumber - 1)).dropzone({
                url: "/Survei/UploadFile",
                maxFiles: 1,
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    });
                },
                success: function (file, response) {
                    file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#hasilD_" + (newNumber - 1)).siblings(".filename").val(response);
                }
                });
                $("div#tindakD_"+(newNumber - 1)).dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#tindakD_" + (newNumber - 1)).siblings(".filename").val(response);
        }
            });
            })
        });

    </script>
    <!--DROPZONE-->
    <script>
        Dropzone.autoDiscover = false;
        jQuery(document).ready(function () {
            @if (Model.surveiPerusahaan != null) {
                for (int i = 0; i < Model.surveiPerusahaan.Count; i++) {
        <text>
            var hasilP_@i = $("div#hasilP_@i").dropzone({
                url: "/Survei/UploadFile",
                maxFiles: 1,
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    });
                },
                success: function (file, response) {
                    file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#hasilP_@i").siblings(".filename").val(response);
                }
            });
                var tindakP_@i = $("div#tindakP_@i").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#tindakP_@i").siblings(".filename").val(response);
        }
            });
            </text>
                }
            } else {
        <text>
                var hasilP_0 = $("div#hasilP_0").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },  
                success: function (file, response) {
                    file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#hasilP_0").siblings(".filename").val(response);
                }
            });
                var tindakP_0 = $("div#tindakP_0").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },  
                success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#tindakP_0").siblings(".filename").val(response);
        }
                });
            </text>
            }
                @if (Model.surveiDivisi != null) {
                    for (int i = 0; i < Model.surveiDivisi.Count; i++) {
        <text>
                var hasilD_@i = $("div#hasilD_@i").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                    success: function (file, response) {
                        file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                        $("#hasilD_@i").siblings(".filename").val(response);
                    }
                });
                var tindakD_@i = $("div#tindakD_@i").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#tindakD_@i").siblings(".filename").val(response);
        }
            });
            </text>
                    }
                } else {
        <text>
                var hasilD_0 = $("div#hasilD_0").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                success: function (file, response) {
                    file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#hasilD_0").siblings(".filename").val(response);
                }
            });
                var tindakD_0 = $("div#tindakD_0").dropzone({
                    url: "/Survei/UploadFile",
                    maxFiles: 1,
                    init: function () {
                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });
                    },
                success: function(file, response) {
            file.previewElement.querySelector("img").src = "/Uploads/Survei/" + response;
                    $("#tindakD_0").siblings(".filename").val(response);
        }
                });
            </text>
                }
        });

    </script>

}