﻿@using Kpei.PortalAK.Controllers
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
<h2>Test Custom Fields</h2>
<form class="form form-horizontal" method="post" action="@Url.Action("CustomFields", "TestSandbox")">
    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(null, new UploadFieldSetting {
            InputName = nameof(SandboxCustomFieldsForm.SampleFileUrl),
            Label = "File",
            HelpText = "File terkait",
            MaxBytes = 10 * 1024,
            ValidFileExtensions = new[] {"jpg", "png", "gif"},
            FolderPath = "test-upload-field",
            Placeholder = "Pilih gambar untuk diupload..."
        })

        @Html.FormFieldPartial(new DateTime(1988, 5, 23, 19, 18, 17), new DateTimeFieldSetting {
            InputName = nameof(SandboxCustomFieldsForm.SampleDateTime),
            Label = "Tanggal & Waktu",
            HelpText = "",
            Style = DateTimeFieldStyle.Complete
        })

        @Html.FormFieldPartial(new DateTime(1988, 5, 23), new DateTimeFieldSetting {
            InputName = nameof(SandboxCustomFieldsForm.SampleDateOnly),
            Label = "Tanggal",
            HelpText = "",
            Style = DateTimeFieldStyle.DateOnly
        })

        @Html.FormFieldPartial(new DateTime(1988, 5, 23, 5, 17, 11), new DateTimeFieldSetting {
            InputName = nameof(SandboxCustomFieldsForm.SampleTimeOnly),
            Label = "Waktu",
            HelpText = "",
            Style = DateTimeFieldStyle.TimeOnly
        })
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>