﻿@using Kpei.PortalAK.ViewModels.FileManager

<h2>Test File Manager Upload</h2>

<form class="form form-horizontal" method="post" enctype="multipart/form-data" action="@Url.Action("Upload", "FileManager")">
    @Html.AntiForgeryToken()
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">
                Files:
            </label>
            <div class="col-md-8">
                <input type="file" name="@(nameof(UploadViewModel.Files))" class="form-control" multiple />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Folder Path:
            </label>
            <div class="col-md-8">
                <input type="text" name="@(nameof(UploadViewModel.FolderPath))" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Max File Size (bytes):
            </label>
            <div class="col-md-8">
                <input type="text" name="@(nameof(UploadViewModel.MaxBytes))" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Valid File Extensions:
            </label>
            <div class="col-md-8">
                <input type="text" name="@(nameof(UploadViewModel.ValidFileExtensions))[0]" class="form-control"/>
                <input type="text" name="@(nameof(UploadViewModel.ValidFileExtensions))[1]" class="form-control"/>
                <input type="text" name="@(nameof(UploadViewModel.ValidFileExtensions))[2]" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Valid Mime Types:
            </label>
            <div class="col-md-8">
                <input type="text" name="@(nameof(UploadViewModel.ValidMimeTypes))[0]" class="form-control"/>
                <input type="text" name="@(nameof(UploadViewModel.ValidMimeTypes))[1]" class="form-control"/>
                <input type="text" name="@(nameof(UploadViewModel.ValidMimeTypes))[2]" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="submit" class="btn red form-submit-button">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>