﻿@{
    ViewBag.Title = "Test Sandbox";
}
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_TestCustomFields")
        <hr/>
    </div>
    <div class="col-xs-12">
        @Html.Partial("_TestFileManagerUpload")
        <hr/>
    </div>
</div>