﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.Laporan
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;

    var indoCulture = new CultureInfo("id-ID");
}
@if (propVal == null) { } else {
    var rendered = false;
    var prop = drv.DataClassType.GetProperty(viewDef.PropertyName);

    if (prop != null) {
        var propAttrs = Attribute.GetCustomAttributes(prop, true);
        if (typeof(string).IsAssignableFrom(prop.PropertyType)) {
            if (viewDef.PropertyName.EndsWith("FileUrl")) {
                rendered = true;
                var fileHref = (string)propVal;
                if (!string.IsNullOrWhiteSpace(fileHref)) {
                    if (new[] {
                    "http:/", "https:/", "ftp:/", "ftps:/"
                }.All(x => !fileHref.StartsWith(x))) {
                        fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                    }
                    <a href="@fileHref" download target="_blank" class="btn red">
                        <i class="fa fa-download"></i>
                    </a>
                } else {
                    <i>No File</i>
                }
            }

            if (!rendered) {
                var maxLenAttr = propAttrs.FirstOrDefault(x => x is MaxLengthAttribute) as MaxLengthAttribute;
                if (maxLenAttr != null) {
                    rendered = true;
                    if (maxLenAttr.Length > 256) {
                        <textarea class="form-control" style="min-width: 200px;" rows="3">@Html.Raw(propVal)</textarea>
                    } else {
                        @propVal
                    }
                }
            }

            if (!rendered) {
                var strLenAttr = propAttrs.FirstOrDefault(x => x is StringLengthAttribute) as StringLengthAttribute;
                if (strLenAttr != null) {
                    rendered = true;
                    if (strLenAttr.MaximumLength > 256) {
                        <textarea class="form-control" style="min-width: 200px;" rows="3">@Html.Raw(propVal)</textarea>
                    } else {
                        @propVal
                    }
                }
            }

            if (!rendered) {
                rendered = true;
                var chars = (propVal as string)?.Take(128).ToArray() ?? new char[0];
                @(new string(chars))
            }
        } else if ((typeof(decimal).IsAssignableFrom(prop.PropertyType) || typeof(decimal?).IsAssignableFrom(prop.PropertyType))
                   && prop.Name.EndsWith("Rupiah")) {
            rendered = true;
            var rupiah = propVal as decimal? ?? 0;

            <div class="">
                @rupiah.ToString("C", indoCulture)
            </div>
        } else if (typeof(DateTime).IsAssignableFrom(prop.PropertyType) || typeof(DateTime?).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var dt = propVal as DateTime? ?? DateTime.MinValue;
            //if (prop.Name.EndsWith("Utc")) {
            //    dt = dt.ConvertUtcToWib();
            //}
            <div class="">
                @dt.ToString("ddd, dd-MMM-yyyy HH:mm:ss", indoCulture)
            </div>
        } else if (typeof(bool).IsAssignableFrom(prop.PropertyType) || typeof(bool?).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            <div class="">
                @{
                    var yes = propVal as bool? ?? false;
                    if (yes) {
                        <i class="fa fa-check-square"></i>
                        @("Ya")
                    } else {
                        <i class="fa fa-square-o"></i>
                        @("Tidak")
                    }
                }
            </div>
                        }
                    }

                    if (!rendered) {
                        @propVal
                        }
                    }