﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@model Kpei.PortalAK.ViewModels.Laporan.FieldViewModel
@{
    var administrasiKeanggotaanRepo = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var data = Model.Data;
    var ijinPED = administrasiKeanggotaanRepo.GetLatestActiveData(data.KodeAk,
        RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name,
        "PED");
}
@if (ijinPED.KodeAK == null || ijinPED.NoIjinUsahaPED == null)
{
    <text>-</text>
}
else
{
    @ijinPED.NoIjinUsahaPED;
}