﻿@using System.Globalization
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.DataAccess.ModLaporan.Services
@using Kpei.PortalAK.DataAccess.ModTradingMember.Repos
@using Kpei.PortalAK.DataAccess.Services
@model Kpei.PortalAK.ViewModels.Laporan.FieldViewModel
@{
    var driverStore = DepResolver.Instance.GetService<ILaporanDriverStore>();
    var propertyName = Model.ViewDefinition.PropertyName;
    var data = (LaporanPemegangSaham)Model.Data;
    var laporanPemegangSahamDriver = (LaporanPemegangSahamDriver)driverStore.LoadDrivers().FirstOrDefault(x => x.DataSlug == "pemegang-saham");
    var indoCulture = new CultureInfo("id-ID");
    var totalSaham = laporanPemegangSahamDriver.GetTotalSaham(data.Id);
}

@if (propertyName == nameof(LaporanPemegangSaham.Persentase))
{
    if (totalSaham == 0)
    {
        <text>-</text>
    }
    else
    {
        string persentase = ((data.LembarSaham / totalSaham) * 100).ToString("0.000") + "%";
        @(persentase)
    }
}
