﻿@using System.Globalization
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@using Kpei.PortalAK.DataAccess.ModTradingMember.Repos
@using Kpei.PortalAK.DataAccess.Services
@model Kpei.PortalAK.ViewModels.Laporan.FieldViewModel
@{
    var driverStore = DepResolver.Instance.GetService<IDataAknpDriverStore>();
    var propertyName = Model.ViewDefinition.PropertyName;
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var administrasiKeanggotaanRepo = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var tmRepo = DepResolver.Instance.GetService<ITradingMemberRepository>();
    var spakDriver = driverStore.LoadDrivers().FirstOrDefault(x => x.IsMatchDataSlug(DataSpakAknpDriver.SLUG));
    var data = (LaporanAknp)Model.Data;
    var listAdministrasiKeanggotaan = administrasiKeanggotaanRepo
        .GetAllLatestActiveData(data.KodeAk, data.KategoriMember, data.MemberPartisipan);

    var spak = (DataSPAK)spakDriver.GetLatestActiveData(data.KodeAk);
    var indoCulture = new CultureInfo("id-ID");
}
@if (propertyName == nameof(LaporanAknp.TglSpakUtc))
{
    if (spak == null || spak.TanggalSPAKUtc == null)
    {
        <text>-</text>
    }
    else
    {
        @(spak.TanggalSPAKUtc?.ToString("dd MMMM yyyy HH:mm:ss", indoCulture));
    }
}

@if (propertyName == nameof(LaporanAknp.TipePartisipan))
{
    string tipePartisipan = null;
    foreach (var administrasiKeanggotaan in listAdministrasiKeanggotaan)
    {
        if (tipePartisipan != null)
        {
            tipePartisipan += ", ";
        }
        tipePartisipan += administrasiKeanggotaan.TipeMemberPartisipan;
    }
    <textarea class="form-control" style="min-width: 200px;" rows="3" disabled>@(tipePartisipan)</textarea>
}

@if (propertyName == nameof(LaporanAknp.TradingMember))
{
    string tradingMember = null;
    var listTM = administrasiKeanggotaanRepo.GetLatestActiveData(data.KodeAk, RegistrasiKategoriMember.MEMBER_AKU.Name, null);
    if (listTM.TradingMembers != null)
    {
        foreach (var tm in listTM.TradingMembers)
        {
            var t = tmRepo.Get(tm.Nama);
            if (t != null)
            {
                tradingMember += tm.Nama + " / " + @tmRepo.Get(tm.Nama)?.NamaPerusahaan + ", ";
            }
        }
    }
    <textarea class="form-control" style="min-width: 200px;" rows="3" disabled>@(tradingMember)</textarea>
}

@if (propertyName == nameof(LaporanAknp.NamaPED))
{
    string namaPED = null;
    var listPED = administrasiKeanggotaanRepo.GetAllLatestActiveNamaPED(data.KodeAk);
    if (listPED != null)
    {
        foreach (var ped in listPED)
        {
            var c = comps.FirstOrDefault(x => x.Code == ped.KodeAK);
            if (c != null)
            {
                namaPED += c.Code + " / " + c.Name + ", ";
            }
        }
    }
    <textarea class="form-control" style="min-width: 200px;" rows="3" disabled>@(namaPED)</textarea>
}

@if (propertyName == nameof(LaporanAknp.NamaABSponsor))
{
    var ped = listAdministrasiKeanggotaan.Where(x => x.TipeMemberPartisipan == "PED").ToList();
    if (ped.Count() > 0)
    {
        @ped.ElementAt(0).NamaABSponsor; <text> / </text> @(comps.FirstOrDefault(x => x.Code == ped.ElementAt(0).NamaABSponsor).Name)
    }
    else
    {
        <text>-</text>
    }
}

@if (propertyName == nameof(LaporanAknp.NomorSpak))
{
    if (spak == null || spak.NoSPAK == null)
    {
        <text>-</text>
    }
    else
    {
        @(spak.NoSPAK)
    }
}

@if (propertyName == nameof(LaporanAknp.TahunAktif))
{
    if (data.AkActiveUtc == null)
    {
        <text>-</text>
    }
    else
    {
        @(data.AkActiveUtc?.ToString("yyyy", indoCulture))
    }
}