﻿@using System.Globalization
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.DataAccess.ModLaporan.Services
@using Kpei.PortalAK.DataAccess.ModTradingMember.Repos
@using Kpei.PortalAK.DataAccess.Services
@model Kpei.PortalAK.ViewModels.Laporan.FieldViewModel
@{
    var driverStore = DepResolver.Instance.GetService<ILaporanDriverStore>();
    var propertyName = Model.ViewDefinition.PropertyName;
    var data = (LaporanPengurusPerusahaan)Model.Data;
    var laporanPerubahanNamaDriver = (LaporanPengurusPerusahaanDriver)driverStore.LoadDrivers().FirstOrDefault(x => x.DataSlug == "pengurus-perusahaan");
    var indoCulture = new CultureInfo("id-ID");
}

@if (propertyName == nameof(LaporanPengurusPerusahaan.Direksi))
{
    if (data.ListDireksi.Count > 0)
    {
        string direksi = null;
        foreach (var d in data.ListDireksi)
        {
            if (direksi != null)
            {
                direksi += ", ";
            }
            direksi += d;
        }
        <textarea class="form-control" style="min-width: 200px;" rows="3" disabled>@(direksi)</textarea>
    }
    else
    {
        <text>-</text>
    }
}

@if (propertyName == nameof(LaporanPengurusPerusahaan.Komisaris))
{
    if (data.ListKomisaris.Count > 0)
    {
        string komisaris = null;
        foreach (var d in data.ListKomisaris)
        {
            if (komisaris != null)
            {
                komisaris += ", ";
            }
            komisaris += d;
        }
        <textarea class="form-control" style="min-width: 200px;" rows="3" disabled>@(komisaris)</textarea>
    }
    else
    {
        <text>-</text>
    }
}
