﻿@using System.Globalization
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.DataAccess.ModLaporan.Services
@using Kpei.PortalAK.DataAccess.ModTradingMember.Repos
@using Kpei.PortalAK.DataAccess.Services
@model Kpei.PortalAK.ViewModels.Laporan.FieldViewModel
@{
    var driverStore = DepResolver.Instance.GetService<ILaporanDriverStore>();
    var propertyName = Model.ViewDefinition.PropertyName;
    var data = (LaporanPerubahanNama)Model.Data;
    var laporanPerubahanNamaDriver = (LaporanPerubahanNamaDriver)driverStore.LoadDrivers().FirstOrDefault(x => x.DataSlug == "perubahan-nama");
    var indoCulture = new CultureInfo("id-ID");
    var namaSebelumnya = laporanPerubahanNamaDriver.GetNamaSebelumnya(data.KodeAk, data.TempActiveUtc);
}

@if (propertyName == nameof(LaporanPerubahanNama.NamaSebelumnya))
{
    if (string.IsNullOrWhiteSpace(namaSebelumnya))
    {
        <text>-</text>
    }
    else
    {
        @(namaSebelumnya)
    }
}
