/***
Bootstrap Modal
***/
/* fix: content shifting to the right on modal open */

.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y: auto !important;
}

.modal-scrollable {
  overflow: hidden !important;
}

/* BS 3.3.1 fix */

.modal-backdrop { 
	position: fixed; 
	bottom: 0; 
}

.modal-scrollable {
    overflow: hidden !important;
    z-index: 10051;
    overflow-y: scroll !important;
}

@if $theme-type == "material-design" { 

    .modal {
        box-shadow: 0 8px 18px rgba(0,0,0, .18), 0 6px 6px rgba(0,0,0, .23);
    	@include border-radius($general-border-radius);
    	border: 0 !important;   

        .modal-body {
            @include border-radius($general-border-radius);
            border: 0;
        }

        .modal-title {   
            font-weight: 400;           
        }
   
        .modal-footer {
            border: 0 !important;
        }
    }

    .modal-backdrop, 
    .modal-backdrop.fade.in {
    	@include opacity(0.2);           
    }  

}