﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModLayananJasa.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.ViewModels.Keuangan

@{
    ViewBag.Title = "Layanan Jasa KPEI - Detail";
    Html.SelectedMenuTags().AddRange(new[] { "layananjasa" });
    var usr = Model.User;
    LayananJasa latestData = usr.IsAknp ? DepResolver.Instance.GetService<ILayananJasaRepository>().GetLatestActiveData(usr.KpeiCompanyCode) : new LayananJasa();
    var dataLayanan = Model.LayananJasa;
    var dataTradingMember = Model.TradingMember;
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var katMem = from kategoriMember in RegistrasiKategoriMember.NewAll()
                 where kategoriMember.Name == dataLayanan.KategoriMember
                 select kategoriMember;
    var dataStillGuestAlert = TempData["DataStillGuest"] as bool? ?? false;
    var approveSuccess = TempData["ApproveSuccess"] as bool? ?? false;
    var haveNotyetApproved = TempData["haveNotyetApproved"] as bool? ?? false;
    var rejectSuccess = TempData["RejectSuccess"] as bool? ?? false;
}


    <div class="row">
        <div class="col-xs-12">
            @if (haveNotyetApproved)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    Data ini belum di-approve.
                </div>
            }

            @if (dataStillGuestAlert)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Approve Gagal!</strong> Data yang masih berkode guest AK tidak boleh di-approve.
                </div>
            }

            @if (approveSuccess)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Approve Berhasil!</strong> Status data telah berubah menjadi @dataLayanan.Status.
                </div>
            }

            @if (rejectSuccess)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Reject Berhasil!</strong> Status data telah berubah menjadi @dataLayanan.Status.
                </div>
            }
            <div class="text-right">
                @if (usr.KpeiApproverRightFor(CoreModules.LAYANAN_JASA) &&
                     (dataLayanan.Status == DataAknpRequestStatus.NEW_STATUS.Name ||
                      dataLayanan.Status == DataAknpRequestStatus.ONGOING_STATUS.Name))
                {
                    if (dataLayanan.Approver1UserId == null || dataLayanan.Approver1UserId != usr.Id)
                    {
                        <a href="javascript:;" class="btn btn red" onclick="PortalAK.ConfirmAction(null, function () { $('#approve-request-form').submit(); });">
                            Approve <i class="fa fa-check"></i>
                        </a>
                        <form style="display: none" method="post" action="@Url.Action("ApproveRequestChange", new {id = dataLayanan.Id})" id="approve-request-form">
                            @Html.AntiForgeryToken()
                        </form>
                        <a href="javascript:;" class="btn btn-danger" data-toggle="modal" data-target="#reject-request-modal">
                            Reject <i class="fa fa-close"></i>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:;" class="btn btn red" onclick="PortalAK.AlertMessage('Anda sudah pernah meng-approve data ini.');">
                            Approve <i class="fa fa-check"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-danger" onclick="PortalAK.AlertMessage('Anda sudah pernah meng-approve data ini.');">
                            Reject <i class="fa fa-close"></i>
                        </a>
                    }
                }
                @if ((dataLayanan.Status == DataAknpRequestStatus.NEW_STATUS.Name
                     || ((dataLayanan.Status == DataAknpRequestStatus.ONGOING_STATUS.Name &&
                      dataLayanan.Approver1UserId != usr.Id) || dataLayanan.Status == DataAknpRequestStatus.NEW_STATUS.Name) &&
                     dataLayanan.Status != DataAknpRequestStatus.REJECTED_STATUS.Name &&
                     dataLayanan.Status.ToLower() != DataAknpRequestStatus.APPROVED_STATUS.Name.ToLower()
                    && usr.IsKpei)
                     || (dataLayanan.Status == DataAknpRequestStatus.NEW_STATUS.Name && usr.IsAknp))
                {
                    <a href="@Url.Action("Update", new {id = dataLayanan.Id})" class="btn btn-warning">
                        Ubah Data <i class="fa fa-pencil"></i>
                    </a>
                }
                else
                {
                    if (usr.IsAknp)
                    {
                        <div class="text-right">
                            <a href="@Url.Action("RequestData", "LayananJasa")" class="btn red">
                                Request Perubahan Data
                            </a>
                        </div>
                    }
                }
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="@Url.Action("Detail", "LayananJasa", new { id=dataLayanan.Id })">
                        Detail
                    </a>
                </li>

                @if (dataLayanan.Id == latestData.Id || dataLayanan.KategoriMember == null)
                {
                    <li class="">
                        <a href="@Url.Action("ListRequest", "LayananJasa")">
                            Request
                        </a>
                    </li>

                }
                else
                {
            <li class="">
                <a href="@Url.Action("LogRequest", "LayananJasa", new { id=dataLayanan.Id })">
                    Log
                </a>
            </li>
                }
            </ul>
            @if (dataLayanan.KategoriMember == null)
            {
                <div class="form form-horizontal">
                    <div class="form-body">
                        <p>Belum ada data yang tersimpan.</p>
                    </div>
                </div>
            }
            else
            {
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Kode AK</label>
                            <div class="col-md-8">
                                <div class="form-control-static form-control">
                                    @dataLayanan.KodeAK
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama AK</label>
                            <div class="col-md-8">
                                <div class="form-control-static form-control">
                                    @(comps.FirstOrDefault(x => x.Code == dataLayanan.KodeAK)?.Name)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Member</label>
                            <div class="col-md-8">
                                <div class="form-control-static form-control">
                                    @foreach (var kategoriMember in katMem)
                                    {
                                        @kategoriMember.Label
                                        ;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="formPARTISIPAN">
                            <div class="form-group">
                                <label class="control-label col-md-3">Tipe Member Partisipan</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.TipeMemberPartisipan
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formDokumenKhusus">
                            <div class="form-group">
                                <label class="control-label col-md-3">File Dokumen Persyaratan Khusus</label>
                                <div class="col-md-8">
                                    @if (string.IsNullOrWhiteSpace(dataLayanan.DokumenKhususIjinUsahaFileUrl))
                                    {
                                        <em>File tidak ada</em>
                                    }
                                    else
                                    {
                                        var fileHref = dataLayanan.DokumenKhususIjinUsahaFileUrl;
                                        if (new[]
                                        {
                        "http:/", "https:/", "ftp:/", "ftps:/"
                    }.All(x => !fileHref.StartsWith(x)))
                                        {
                                            fileHref = Url.Content(fileHref);
                                        }
                                        <a class="btn red" download href="@fileHref">
                                            Download <i class="fa fa-download"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="formPED">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nomor Ijin Usaha Perusahaan Efek Daerah</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.NoIjinUsahaPED
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">File Ijin Usaha</label>
                                <div class="col-md-8">
                                    @if (string.IsNullOrWhiteSpace(dataLayanan.DokumenKhususIjinUsahaFileUrl))
                                    {
                                        <em>File tidak ada</em>
                                    }
                                    else
                                    {
                                        var fileHref = dataLayanan.DokumenKhususIjinUsahaFileUrl;
                                        if (new[]
                                        {
                        "http:/", "https:/", "ftp:/", "ftps:/"
                    }.All(x => !fileHref.StartsWith(x)))
                                        {
                                            fileHref = Url.Content(fileHref);
                                        }
                                        <a class="btn red" download href="@fileHref">
                                            Download <i class="fa fa-download"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formAK">
                        <hr />

                        <h4>Perjanjian Anggota Kliring dengan KPEI</h4>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">No. Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.NoPerjanjianDenganKPEI
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tanggal Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.TanggalPerjanjianDenganKPEIUtc
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Dokumen Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="">
                                        @if (string.IsNullOrWhiteSpace(dataLayanan.PerjanjianDenganKPEIFileUrl))
                                        {
                                            <em>File tidak ada</em>
                                        }
                                        else
                                        {
                                            var fileHref = dataLayanan.PerjanjianDenganKPEIFileUrl;
                                            if (new[]
                                            {
                            "http:/", "https:/", "ftp:/", "ftps:/"
                        }.All(x => !fileHref.StartsWith(x)))
                                            {
                                                fileHref = Url.Content(fileHref);
                                            }
                                            <a class="btn red" download href="@fileHref">
                                                Download <i class="fa fa-download"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formTradingMember">
                            <hr />
                            <h4>Informasi Trading Member</h4>
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover table-striped table-bordered">
                                    <caption>Daftar Trading Member</caption>
                                    <thead>
                                        <tr>
                                            <th>Nama TM</th>
                                            <th>No. Perjanjian</th>
                                            <th>Tanggal Perjanjian</th>
                                            <th>Dokumen</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < @dataTradingMember?.Count; i++)
                                        {
                                            var item = @dataTradingMember[i];
                                            <tr>
                                                <td>@item.Nama</td>
                                                <td>@item.NoPerjanjian</td>
                                                <td>@item.TanggalPerjanjian</td>
                                                <td>
                                                    @if (string.IsNullOrWhiteSpace(item.PerjanjianFileUrl))
                                                    {
                                                        <em>File tidak ada</em>
                                                    }
                                                    else
                                                    {
                                                        var fileHref = item.PerjanjianFileUrl;
                                                        if (new[]
                                                        {
                                    "http:/", "https:/", "ftp:/", "ftps:/"
                                }.All(x => !fileHref.StartsWith(x)))
                                                        {
                                                            fileHref = Url.Content(fileHref);
                                                        }
                                                        <a class="btn red" download href="@fileHref">
                                                            Download <i class="fa fa-download"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <h4>Perjanjian Portability</h4>
                        <div class="form-body">
                            <div class="formPED">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Nama AB Sponsor</label>
                                    <div class="col-md-8">
                                        <div class="form-control-static form-control">
                                            @dataLayanan.NamaABSponsor / @(comps.FirstOrDefault(e => e.Code == dataLayanan.NamaABSponsor)?.Name)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">No. Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.NoPerjanjianPortabilitySponsor
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tanggal Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="form-control-static form-control">
                                        @dataLayanan.TanggalPerjanjianPortabilitySponsor
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Dokumen Perjanjian</label>
                                <div class="col-md-8">
                                    <div class="">
                                        @if (string.IsNullOrWhiteSpace(dataLayanan.PerjanjianPortabilitySponsorFileUrl))
                                        {
                                            <em>File tidak ada</em>
                                        }
                                        else
                                        {
                                            var fileHref = dataLayanan.PerjanjianPortabilitySponsorFileUrl;
                                            if (new[]
                                            {
                            "http:/", "https:/", "ftp:/", "ftps:/"
                        }.All(x => !fileHref.StartsWith(x)))
                                            {
                                                fileHref = Url.Content(fileHref);
                                            }
                                            <a class="btn red" download href="@fileHref">
                                                Download <i class="fa fa-download"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
@if (usr.IsKpei && Model.User.KpeiApproverRightFor(CoreModules.LAYANAN_JASA) &&
     dataLayanan.Status != DataAknpRequestStatus.REJECTED_STATUS.Name)
{
    using (Html.Section("script"))
    {

        var errs = TempData["ValidationErrors"] as string[] ?? new string[0];
        var hasErr = errs.Length > 0;

        if (hasErr)
        {
            <script type="text/javascript">
                $(function () {
                    $('a[data-toggle="modal"][data-target="#reject-request-modal"]').click();
                });
            </script>
        }
        <div id="reject-request-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tolak Request Perubahan</h4>
                    </div>
                    <form method="post" action="@Url.Action("RejectRequestChange", new {id = dataLayanan.Id})" class="form form-horizontal">
                        <div class="modal-body">
                            @if (hasErr)
                            {
                                <ul>
                                    @foreach (var err in errs)
                                    {
                                        <li class="text-danger">@err</li>
                                    }
                                </ul>
                            }

                            @Html.AntiForgeryToken()
                            @Html.FormFieldPartial("", new TextFieldSetting
                            {
                                InputName = nameof(RejectRequestChangeViewModel.RejectReason),
                                Label = "Alasan Penolakan",
                                HelpText = "",
                                Style = TextFieldStyle.Textarea
                            })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger form-submit-button">Reject</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}
@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function() {
            formAK = $('.formAK')
            formPED = $('.formPED')
            formPARTISIPAN = $('.formPARTISIPAN')
            formTradingMember = $('.formTradingMember')
            formDokumenKhusus = $('.formDokumenKhusus')
            kategoriMember = "@dataLayanan.KategoriMember"
            tipeMemberPartisipan = "@dataLayanan.TipeMemberPartisipan"
            if (kategoriMember == "AKU") {
                formPED.addClass("hide")
                formPARTISIPAN.addClass("hide")
                formDokumenKhusus.addClass("hide")
            }
            if (kategoriMember == "AKI") {
                formPED.addClass("hide")
                formDokumenKhusus.addClass("hide")
                formTradingMember.addClass("hide")
                formPARTISIPAN.addClass("hide")
            }
            if (kategoriMember == "PARTISIPAN") {
                formDokumenKhusus.addClass("hide")
                formTradingMember.addClass("hide")
                if (tipeMemberPartisipan != "PED") {
                    formDokumenKhusus.removeClass("hide")
                    formPED.addClass("hide")
                    formAK.addClass("hide")
                }
            }

        });
    </script>
}