﻿@model Kpei.PortalAK.ViewModels.LayananJasa.InputViewModel

@{
    ViewBag.Title = "Layanan Jasa KPEI - Pendaftaran Layanan";
    Html.SelectedMenuTags().AddRange(new[] { "layananjasa" });
}

@using (Html.BeginForm("Save", "LayananJasa", null, FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.Partial("_FormFields/_baseForm")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <a href="@Url.Action("ListRequest", "LayananJasa")" class="btn btn-default">
                    Batal
                </a>
            </div>
        </div>
    </div>
}