﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.ChangeRequest
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModLayananJasa.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.LayananJasa.ListRequestViewModel
@{
    var usr = Model.User;
    Html.SelectedMenuTags().AddRange(new[] { "layananjasa" });
    ViewBag.Title = $"Layanan Jasa KPEI - Request";
    var latestData = usr.IsAknp ? DepResolver.Instance.GetService<ILayananJasaRepository>().GetLatestActiveData(usr.KpeiCompanyCode) : new LayananJasa();
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies().Where(item => item.Code != Model.GlobalSetting.GuestAknpCode);
}
<div class="row">
    <div class="col-xs-12">

        @if (usr.IsKpei)
        {

            <div class="text-right">
                <a href="javascript:;" class="btn red" data-toggle="modal" data-target="#create-history-companies-modal">
                    Input Data
                </a>
            </div>
        }
        @if (usr.IsAknp)
        {
            <div class="text-right">
                <a href="@Url.Action("RequestData", "LayananJasa")" class="btn red">
                    Request Perubahan Data
                </a>
            </div>
        }

        <ul class="nav nav-tabs">
            @if (usr.IsAknp)
            {
                <li class="">
                    <a href="@Url.Action("Index", "LayananJasa")">
                        Detail
                    </a>
                </li>
            }
            <li class="active">
                <a href="@Url.Action("ListRequest", "LayananJasa")">
                    Request
                </a>
            </li>
            @if (usr.KpeiViewerRightFor(CoreModules.LAYANAN_JASA))
            {
                <li class="">
                    <a href="@Url.Action("ListHistory", "LayananJasa")">
                        Riwayat
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
                    @if (usr.KpeiViewerRightFor(CoreModules.LAYANAN_JASA))
                    {
                        <div class="col-md-4">
                            <label>Kode AK:</label>
                            <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.KodeAk))">
                                <option value="">-Semua-</option>
                                @foreach (var mod in Model.Companies)
                                {
                                    <option value="@mod.Code">@mod.Code / @mod.Name</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="col-md-4">
                        <label>Status Request:</label>
                        <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.Status))">
                            <option value="">-Semua-</option>
                            @foreach (var mod in Model.Statuses)
                            {
                                <option value="@mod.Name"
                                        @if (Model.User.IsSuperAdmin && mod.Name == DataAknpRequestStatus.ONGOING_STATUS.Name || !Model.User.IsSuperAdmin && mod.Name == DataAknpRequestStatus.NEW_STATUS.Name) { <text> selected</text>}>
                                    @mod.Label
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row master-table-filter">
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting
                        {
                            InputName = nameof(ChangeRequestDttRequestForm.FromDateTime),
                            Label = "Dari:",
                            Style = DateTimeFieldStyle.Complete,
                            UseVerticalFormFieldFormat = true
                        })
                    </div>
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting
                        {
                            InputName = nameof(ChangeRequestDttRequestForm.ToDateTime),
                            Label = "Sampai:",
                            Style = DateTimeFieldStyle.Complete,
                            UseVerticalFormFieldFormat = true
                        })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (usr.IsKpei)
{
    using (Html.Section("script"))
    {
        <div id="create-history-companies-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih AK yang akan di-input</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comp in comps)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Create", new {kodeAK = comp.Code})">
                                                @comp.Code
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Create", new {kodeAK = comp.Code})">
                                                @comp.Name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@using (Html.Section("script-page-level"))
{
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                @if (usr.KpeiViewerRightFor(CoreModules.LAYANAN_JASA)) {
                    <text>
                        {
                            name: 'KodeAk',
                            data: 'KodeAk',
                            title: 'Kode AK&P',
                            searchable: true,
                            orderable: true
                        },
                        {
                            name: 'NamaPerusahaan',
                            data: 'NamaPerusahaan',
                            title: 'Nama Perusahaan',
                            searchable: false,
                            orderable: false
                        },
                    </text>
                }
                {
                    name: 'CreatedUtc',
                    data: 'WaktuPengajuan',
                    title: 'Waktu Pengajuan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'JenisData',
                    data: 'JenisData',
                    title: 'Jenis Data',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'Status',
                    data: 'Status',
                    title: 'Status',
                    searchable: false,
                    orderable: false
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        var urlTpl =
                            '@Url.Action("Detail", new {id = "11000011"})';
                        var detailHref = urlTpl.replace('11000011', row.DataId);
                        return PortalAK.DttLinkButtonHtml(detailHref, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListRequestDtt", "LayananJasa")',
                cols,
                [
                    @Html.Raw(usr.KpeiViewerRightFor(CoreModules.LAYANAN_JASA) ? "[3, 'desc']" : "[1, 'desc']")
                ],
                function(e, stg, dat) {
                    $('.master-table-filter :input[name]').each(function() {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $('.master-table-filter :input[name]').on('change',
                function() {
                    masterTable.ajax.reload();
                });
        });
    </script>
}