/* here you can put your own css to customize and override the theme */
@import "var";
// $brand-main-color: #7bbc46;
$brand-main-color: #ed1c24;

.page-header.navbar {
	background: linear-gradient(135deg, lighten($brand-main-color, 45%), $brand-main-color);
	border-bottom: 1px solid #FFF;
	box-shadow: 0 3px 7px rgba($black,0.2);
}

.page-header.navbar .page-logo {
	height: 75px;
	width: auto;
	position: relative;
	overflow: hidden;
	padding-right: 30px;

	&:before {
		// content: '';
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 3px;
		width: 150%;
		height: 100%;
		background: #FFF;
		-webkit-transform-origin: top right;
    -ms-transform-origin: top right;
        transform-origin: top right;
		-webkit-transform: skewX(-20deg);
		    -ms-transform: skewX(-20deg);
		        transform: skewX(-20deg);
		box-shadow: 1px 1px 3px rgba($black,0.1);
	}

	a {
		height: 100%;
		position: relative;
		z-index: 2;
		display: table-cell;
		vertical-align: middle;
		line-height: 70px;
	}

	.logo-default {
		height: 35px;
		display: inline-block;
		margin: 0;
	}

	@media #{$medium} {
		padding-right: 40px;
	}
}

.page-header {
	.page-app-title {
		// padding-left: 10px;
		float: left;
		font-size: 13px;
		// color: darken($brand-main-color,10%);
		color: $black80;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
		width: 100px;
		height: 75px;
		vertical-align: middle;
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		// text-shadow: 1px 1px 2px rgba(#FFF,0.6);

		span {
			display: inline-block;
			// margin-top: 10px;
			vertical-align: middle;
		}
	}

	@media #{$medium} {
		.page-app-title {
			font-size: 22px;
			height: 75px;
			width: auto;

			span {
				// margin-top: 27px;
			}
		}
	}

	@media #{$large} {
		.page-app-title {
			// font-size: 36px;

			span {
				// margin-top: 22px;
			}
		}
	}
}

.page-header.navbar .search-form {
	border-radius: 16px;
	background: transparent;
	color: #FFF;
}

.page-header.navbar .search-form .input-group .form-control {
	color: #FFF;
}

.page-header.navbar .search-form .input-group,
.page-header.navbar .search-form .input-group:hover {
	border-color: #FFF;
}

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
	color: #FFF;
}

// Dropdown User
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
	background: rgba($black,0.15);
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
	color: #FFF;
}

@media (max-width: 767px) {
	.page-header.navbar .page-top {
		width: auto;
		float: right;
		clear: none;
		background: none;
	}

	.page-header.navbar .search-form {
		float: none;
		margin-top: 22px;
		margin-right: 0;
	}

	.page-header.navbar .top-menu .navbar-nav>li.dropdown {
		// height: auto;
	}

	.page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
		padding-left: 5px;
	}

	.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
		// padding: 0;
	}

	.page-header.navbar .menu-toggler.responsive-toggler {
		float: right;
	}

	.page-header.navbar .search-form.open {
		margin: 0;
		// height: 75px;
		background: $brand-main-color;
		// right: 5px;
		top: 22px;
		box-shadow: 0 0 12px 1px rgba($black,0.3);
	}
}


// FOOTER
.page-footer {
	background: $black70;
	color: #FFF;
	height: auto;

	.page-footer-inner {
		color: #FFF;
		display: block;
		width: 100%;
		padding-right: 36px;
	}

	.site-address {
		margin-bottom: $space/2;
	}

	.page-footer-logo {
		margin-bottom: $space/2;
		display: inline-block;

		img {
			height: 50px;
		}
	}

	@media #{$medium} {
		.page-footer-logo {
			float: left;
			margin-right: 25px;
		}

		.site-address {
			float: left;
			padding-top: 5px;
		}

		.copyright {
			float: right;
			padding-top: 40px;
		}
	}
}

.page-container {
	// background-image: url('../../../global/img/BG1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}