﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModLayananBaru.Repos
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.InputViewModel

@{
    var form = Model.FormAknp;
    var settingRepository = DepResolver.Instance.GetService<ISettingRepository>();
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var aknpSetting = settingRepository.AknpSetting();
    var administrasiRepositori = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var listABSponsor = aknpSetting.ListRegistrasiAKABSponsor.ToList();
    var listNamaTM = aknpSetting.ListRegistrasiAKTradingMember.ToArray();
    foreach (var c in listABSponsor)
    {
        c.Label = c.Label + " / " + comps.FirstOrDefault(e => e.Code == c.Name)?.Name;
    }
    foreach (var c in listNamaTM)
    {
        c.Label = c.Name + " / " + c.Label;
        if (listABSponsor.Any(x => x.Name == c.Name) == false)
        {
            listABSponsor.Add(new RegistrasiAKABSponsor
            {
                Name = c.Name,
                Label = c.Label
            });
        }
    }
    var tipeMember = aknpSetting.ListLayananBaruTipeMemberPartisipan
        .OrderBy(e => e.TipeMemberPartisipan)
        .GroupBy(record => record.TipeMemberPartisipan)
        .Select(x => new RegistrasiTipeMemberPartisipan
        {
            Name = x.Key,
            Label = x.Key
        }).ToArray();

    foreach (var t in tipeMember)
    {
        var activeData = administrasiRepositori.GetLatestActiveData(Model.FormAknp.KodeAK,
            RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name, t.Name);
        if (activeData.KategoriMember != null && form.TipeMemberPartisipan == null)
        {
            tipeMember = tipeMember.Where(x => activeData.TipeMemberPartisipan != x.Name).ToArray();
        }
    }
    if (form.TipeMemberPartisipan != null)
    {
        tipeMember = tipeMember.Where(x => x.Name == form.TipeMemberPartisipan).ToArray();
    }
}
    <div class="form-horizontal">
        @Html.FormFieldPartial(Model.FormAknp.TipeMemberPartisipan, new SelectFieldSetting
        {
            InputName = "FormAknp.TipeMemberPartisipan",
            CssClass = "tipe-member-partisipan-selector-container",
            Label = "Tipe Member Partisipan<b class=\"text-danger\">*</b>",
            AddEmptyOption = true,
            EmptyOptionLabel = "-pilih-",
            Options = tipeMember,
            OptionLabelGetter = x => x.DirectCastTo<RegistrasiTipeMemberPartisipan>().Label,
            OptionValueGetter = x => x.DirectCastTo<RegistrasiTipeMemberPartisipan>().Name
        })
        @(Html.FormFieldPartial(Model.FormAknp.FormLayananBaruAku, new ArrTipeMemberAkuFieldSetting
        {
            InputName = "FormAknp.FormLayananBaruAku",
            CssClass = "tipe-member-aku-selector-container",
            Label = "Form Member AKU"
        }))

        @(Html.FormFieldPartial(Model.FormAknp.FormLayananBaruAki, new ArrTipeMemberAkiFieldSetting
        {
            InputName = "FormAknp.FormLayananBaruAki",
            CssClass = "tipe-member-aki-selector-container",
            Label = "Form Member AKI"
        }))
        @(Html.FormFieldPartial(Model.FormAknp.FormGroupPartisipan, new ArrTipeMemberPartisipan
        {
            InputName = "FormAknp.FormGroupPartisipan",
            CssClass = "tipe-member-partisipan-selector-container",
            Label = "Form Member Partisipan"
        }))
        <div class="formPED">
            <div class="form-group">
                @Html.LabelFor(model => model.FormAknp.NoIjinUsahaPED, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FormAknp.NoIjinUsahaPED, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FormAknp.NoIjinUsahaPED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="formPED" id="formDokumenKhusus">
            @Html.FormFieldPartial(Model.FormAknp.DokumenKhususIjinUsahaFileUrl, new UploadFieldSetting
            {
                InputName = "FormAknp.DokumenKhususIjinUsahaFileUrl",
                Label = "File Dokumen<b class=\"text-danger\">*</b>",
                ValidFileExtensions = new[] { "jpg", "png", "pdf" },
                MaxBytes = 15 * 1024 * 1024,
                FolderPath = "administrasikeanggotaan"
            })
        </div>
        <div class="formAK">
            <hr />
            <h4>Perjanjian Anggota Kliring dengan KPEI</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FormAknp.NoPerjanjianDenganKPEI, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FormAknp.NoPerjanjianDenganKPEI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FormAknp.NoPerjanjianDenganKPEI, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.FormFieldPartial(Model.FormAknp.TanggalPerjanjianDenganKPEI, new DateTimeFieldSetting
            {
                InputName = "FormAknp.TanggalPerjanjianDenganKPEI",
                Label = Html.LabelForRequired(e => e.FormAknp.TanggalPerjanjianDenganKPEI).ToString(),
                Style = DateTimeFieldStyle.DateOnly
            })
            @Html.FormFieldPartial(Model.FormAknp.PerjanjianDenganKPEIFileUrl, new UploadFieldSetting
            {
                InputName = "FormAknp.PerjanjianDenganKPEIFileUrl",
                Label = "Dokumen Perjanjian<b class=\"text-danger\">*</b>",
                ValidFileExtensions = new[] { "jpg", "png", "pdf" },
                MaxBytes = 15 * 1024 * 1024,
                FolderPath = "administrasikeanggotaan"
            })
            <div id="tradingMember">
                <hr />
                <h4>Trading Member</h4>
                <em>Pastikan anda mengisi setidaknya 1 data.<b class="text-danger">*</b></em>
                @Html.FormFieldPartial(Model.FormAknp.ListTradingMember, new ArrAdministrasiKeanggotaanTradingMemberFieldSetting
                {
                    InputName = "FormAknp.ListTradingMember",
                    Label = "Trading Member",
                    UploadFolder = "administrasikeanggotaan",
                    ListNamaTM = listNamaTM
                })
            </div>

            <hr />
            <h4 class="perjanjianLabel">Perjanjian Portability</h4>
            <div class="formPED">
                @Html.FormFieldPartial(Model.FormAknp.NamaABSponsor, new SelectFieldSetting
                {
                    InputName = "FormAknp.NamaABSponsor",
                    CssClass = "nama-ab-sponsor-selector-container",
                    Label = "Nama AB Sponsor",
                    AddEmptyOption = true,
                    EmptyOptionLabel = "-pilih-",
                    Options = listABSponsor,
                    OptionLabelGetter = x => x.DirectCastTo<RegistrasiAKABSponsor>().Label,
                    OptionValueGetter = x => x.DirectCastTo<RegistrasiAKABSponsor>().Name
                })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FormAknp.NoPerjanjianPortabilitySponsor, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FormAknp.NoPerjanjianPortabilitySponsor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FormAknp.NoPerjanjianPortabilitySponsor, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.FormFieldPartial(Model.FormAknp.TanggalPerjanjianPortabilitySponsor, new DateTimeFieldSetting
            {
                InputName = "FormAknp.TanggalPerjanjianPortabilitySponsor",
                Label = Html.LabelForRequired(e => e.FormAknp.TanggalPerjanjianPortabilitySponsor).ToString(),
                Style = DateTimeFieldStyle.DateOnly
            })
            @Html.FormFieldPartial(Model.FormAknp.PerjanjianPortabilitySponsorFileUrl, new UploadFieldSetting
            {
                InputName = "FormAknp.PerjanjianPortabilitySponsorFileUrl",
                Label = "Dokumen Perjanjian<b class=\"text-danger\">*</b>",
                ValidFileExtensions = new[] { "jpg", "png", "pdf" },
                MaxBytes = 15 * 1024 * 1024,
                FolderPath = "administrasikeanggotaan"
            })
        </div>
    </div>