﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.InputViewModel
@{
    var form = Model.FormAknp;
    var dataStillDraft = TempData["DataStillDraft"] as bool? ?? false;
    var settingRepository = DepResolver.Instance.GetService<ISettingRepository>();
    var administrasiRepositori = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var checkAK = administrasiRepositori.GetLatestActiveData(form.KodeAK, RegistrasiKategoriMember.MEMBER_AK.Name, null);

    var kategoriMember = RegistrasiKategoriMember.NewAll().ToArray();
    if (checkAK.KategoriMember != null && form.KategoriMember == null && checkAK.StatusKpei.ElementAtOrDefault(0)?.StatusKPEI != StatusKpei.CABUT_STATUS.Name)
    {
        kategoriMember = kategoriMember.Where(x => x.Name == RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name).ToArray();
    }
    if (form.KategoriMember != null && form.Id != null)
    {
        kategoriMember = kategoriMember.Where(x => x.Name == form.KategoriMember).ToArray();
    }
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var aknpSetting = settingRepository.AknpSetting();
    if (Model.GlobalSetting != null)
    {
        comps = comps.Where(x => x.Code != Model.GlobalSetting.GuestAknpCode).ToArray();
    }
}
@if (dataStillDraft)
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Draft!</strong> ini adalah data Draft.
    </div>
    <button type="button" class="btn btn-danger delete-button pull-right" data-href="@Url.Action("RemoveDraft", new {id = @form.Id})">
        Hapus Draft
    </button>
    <br />
}
<h2>Pendaftaran Keanggotaan</h2>
<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(m => m.FormAknp.Id)
    @Html.HiddenFor(m => m.FormAknp.Draft, new { id = "draftStatus" })
    @Html.HiddenFor(m => m.FormAknp.UserDraft)
    @Html.MetronicValidationSummary()
    @if (Model.User.IsAknp)
    {
        @Html.HiddenFor(m => m.FormAknp.KodeAK)

        <div class="form-group">
            <label class="control-label col-md-3">Kode AK</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @form.KodeAK / @(comps.FirstOrDefault(x => x.Code == form.KodeAK)?.Name)
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.FormFieldPartial(Model.FormAknp.KodeAK, new SelectFieldSetting
        {
            InputName = "FormAknp.KodeAK",
            Label = "Kode AK&P<b class=\"text-danger\">*</b>",
            CssClass = "kode-ak-selector-container",
            AddEmptyOption = true,
            EmptyOptionLabel = "-pilih-",
            Options = comps,
            OptionValueGetter = x => x.DirectCastTo<KpeiCompany>().Code,
            OptionLabelGetter = x => x.DirectCastTo<KpeiCompany>().Code + " / " + x.DirectCastTo<KpeiCompany>().Name
        })
    }

    @Html.FormFieldPartial(Model.FormAknp.KategoriMember, new SelectFieldSetting
    {
        InputName = "FormAknp.KategoriMember",
        CssClass = "kategori-member-selector-container",
        Label = "Kategori Member<b class=\"text-danger\">*</b>",
        AddEmptyOption = true,
        EmptyOptionLabel = "-pilih-",
        Options = kategoriMember,
        OptionLabelGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Label,
        OptionValueGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Name
    })
</div>
<div id="formHolder" class="hide">
    @Html.Partial("_FormFields/_aknpForm")
</div>
@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function () {
            var kodeAkSel = $('.kode-ak-selector-container select');

            kodeAkSel.on('change', function () {
                var me = $(this);
                var urlTpl =
                    '@Url.Action("Create", new {kodeAk = "11000011"})';
                var url = urlTpl.replace('11000011', me.val());
                if (me.val() != "") {
                    window.location = url;
                }
            });
        });
    </script>
}
@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function () {
            var katMemSel = $('.kategori-member-selector-container select');
            var tipeMemberSel = $('.tipe-member-partisipan-selector-container select');

            katMemSel.on('change', function () {
                var me = $(this);
                if (me.val() != "") {
                    $('#formHolder').removeClass("hide")
                }
                $('.tipe-member-aku-selector-container').hide();
                $('.tipe-member-aki-selector-container').show();
                $('.tipe-member-partisipan-selector-container').hide();
                //
                $('.formPED').addClass('hide');
                $('.formAK').removeClass('hide');

                $('.perjanjianLabel').html("Perjanjian Portability")

                $('.formPartisipan').addClass('hide')

                $('#tradingMember').addClass("hide")

                if (me.val() == "AKU") {
                    $('.tipe-member-aki-selector-container').hide();
                    $('.tipe-member-aku-selector-container').show();
                    $('#tradingMember').removeClass("hide")
                }
                else if (me.val() == "PARTISIPAN") {
                    $('.tipe-member-partisipan-selector-container').show();
                    $('.tipe-member-aki-selector-container').hide();
                    $('.formPartisipan').removeClass('hide')
                    $('.formAK').addClass('hide');
                    tipeMemberSel.trigger('change');
                }
            });

            tipeMemberSel.on('change', function () {
                $('.formPED').addClass('hide');
                $('.formAK').addClass('hide');
                var tm = $(this)
                if (tm.val() == "PED") {
                    $('#formDokumenKhusus label').html("File Ijin Usaha<b class=\"text-danger\">*</b>")
                    $('.perjanjianLabel').html("Perjanjian dengan AB Sponsor")

                    $('.formPED').removeClass('hide');
                    $('.formAK').removeClass('hide');
                }
            })
            tipeMemberSel.trigger('change');
            katMemSel.trigger('change');
        });
    </script>
}