﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.LayananJasa.InputViewModel
@{
    var form = Model.FormAknp;
    var choices = RegistrasiKategoriMember.NewAll().ToArray();
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var formClassType = typeof(object);
}
<h2>Pendaftaran Layanan</h2>
<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(m => m.FormAknp.Id)
    @Html.MetronicValidationSummary()
    @if (Model.User.IsAknp)
    {
        @Html.HiddenFor(m => m.FormAknp.KodeAK)

        <div class="form-group">
            <label class="control-label col-md-3">Kode AK</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @form.KodeAK / @(comps.FirstOrDefault(x => x.Code == form.KodeAK)?.Name)
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.FormFieldPartial(Model.FormAknp.KodeAK, new SelectFieldSetting
        {
            InputName = "FormAknp.KodeAK",
            Label = "Kode AK&P<b class=\"text-danger\">*</b>",
            AddEmptyOption = true,
            EmptyOptionLabel = "-pilih-",
            Options = comps,
            OptionValueGetter = x => x.DirectCastTo<KpeiCompany>().Code,
            OptionLabelGetter = x => x.DirectCastTo<KpeiCompany>().Code + " / " + x.DirectCastTo<KpeiCompany>().Name
        })
    }

    @Html.FormFieldPartial(Model.FormAknp.KategoriMember, new SelectFieldSetting
    {
        InputName = "FormAknp.KategoriMember",
        CssClass = "kategori-member-selector-container",
        Label = "Kategori Member<b class=\"text-danger\">*</b>",
        AddEmptyOption = true,
        EmptyOptionLabel = "-pilih-",
        Options = choices,
        OptionLabelGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Label,
        OptionValueGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Name
    })
</div>
<div id="formHolder" class="hide">
    @Html.Partial("_FormFields/_aknpForm")
</div>

@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function() {
            var katMemSel = $('.kategori-member-selector-container select');
            var tipeMemberSel = $('.tipe-member-selector-container select');

            katMemSel.on('change', function() {
                var me = $(this);
                if (me.val() != "") {
                    $('#formHolder').removeClass("hide")
                }
                $('.formPED').addClass('hide');
                $('.formAK').removeClass('hide');

                $('.perjanjianLabel').html("Perjanjian Portability")

                $('.formPartisipan').addClass('hide')

                $('.tipe-member-selector-container').addClass("hide")
                $('#tradingMember').addClass("hide")

                if (me.val() == "AKU") {
                    $('#tradingMember').removeClass("hide")
                }
                else if (me.val() == "PARTISIPAN") {
                    $('.formPartisipan').removeClass('hide')
                    $('.formAK').addClass('hide');
                    $('.tipe-member-selector-container').removeClass("hide")
                    tipeMemberSel.trigger('change');
                }
            });

            tipeMemberSel.on('change', function() {
                $('.formPED').addClass('hide');
                $('.formAK').addClass('hide');
                var tm = $(this)
                $('#formDokumenKhusus label').html("File Dokumen Persyaratan Khusus<b class=\"text-danger\">*</b>")
                if (tm.val() == "PED") {
                    $('#formDokumenKhusus label').html("File Ijin Usaha<b class=\"text-danger\">*</b>")
                    $('.perjanjianLabel').html("Perjanjian dengan AB Sponsor")

                    $('.formPED').removeClass('hide');
                    $('.formAK').removeClass('hide');
                }
            })
            tipeMemberSel.trigger('change');
            katMemSel.trigger('change');
        });
    </script>
}