﻿@model Kpei.PortalAK.DataAccess.ModLayananJasa.Forms.BaseLayananJasaPerjanjianForm

<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.NoPerjanjian, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.NoPerjanjian, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NoPerjanjian, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TanggalPerjanjian, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.TanggalPerjanjian, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TanggalPerjanjian, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PerjanjianFileUrl, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.PerjanjianFileUrl, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PerjanjianFileUrl, "", new { @class = "text-danger" })
    </div>
</div>

