﻿@using System.ComponentModel.DataAnnotations
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Newtonsoft.Json
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.Features.DataAknpViewSystem
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModLaporan.Data

@model LaporanViewModel
@{
    var drv = Model.Driver;

    ViewBag.Title = $"Laporan - {drv.DataTitle}";
    Html.SelectedMenuTags().AddRange(new[] { "laporan", drv.DataSlug });

}
<div class="row">
    <div class="col-xs-12">
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
@*                     @if (drv.FilterByYear == true) *@
@*                     { *@
@*                         var template = $"~/Views/Laporan/_TableFilters/_year.cshtml"; *@
@*                         if (System.IO.File.Exists(Server.MapPath(template))) *@
@*                         { *@
@*                             @Html.PartialFor(new ListDataViewModel *@
@*                             { *@
@*                            Driver = drv *@
@*                        }, template, x => x) *@
@*                         } *@
@*                     } *@

                    @{ var kodeAK = $"~/Views/Laporan/_TableFilters/_kode_ak.cshtml"; }
                    @if (System.IO.File.Exists(Server.MapPath(kodeAK)))
                    {
                        @Html.PartialFor(new ListDataViewModel
                        {
                            Driver = drv
                        }, kodeAK, x => x)
                    }

                    @if (drv.FilterByTipeMember == true)
                    {
                        var template = $"~/Views/Laporan/_TableFilters/_tipeMember.cshtml";
                        if (System.IO.File.Exists(Server.MapPath(template)))
                        {
                            @Html.PartialFor(new ListDataViewModel
                            {
                                Driver = drv
                            }, template, x => x)
                        }
                    }

                    @{var customFiltersTemplate = $"~/Views/Laporan/_TableFilters/{drv.DataSlug.Replace("-", "_")}.cshtml";}
                    @if (System.IO.File.Exists(Server.MapPath(customFiltersTemplate)))
                    {
                        @Html.PartialFor(new ListDataViewModel
                        {
                       Driver = drv
                   }, customFiltersTemplate, x => x);
                    }

                    @if (drv.FilterByStatusKpei == true)
                    {
                        var template = $"~/Views/Laporan/_TableFilters/_statusKpei.cshtml";
                        if (System.IO.File.Exists(Server.MapPath(template)))
                        {
                            @Html.PartialFor(new ListDataViewModel
                            {
                                Driver = drv
                            }, template, x => x)
                        }
                    }

                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        @using (Html.Section("script-page-level"))
                        {

                            var dttCols = new List<dynamic> {
                                new {
                                    name = nameof(BaseLaporan.KodeAk),
                                    data = nameof(BaseLaporan.KodeAk),
                                    title = "Kode AK & P",
                                    searchable = true,
                                    orderable = true
                                },
                                new {
                                    name = "NamaPerusahaan",
                                    data = "NamaPerusahaan",
                                    title = "Nama Perusahaan",
                                    searchable = false,
                                    orderable = false
                                },
                                // new {
                                //     name = nameof(BaseLaporan.AkActiveUtc),
                                //     data = nameof(BaseLaporan.AkActiveUtc),
                                //     title = "Status Anggota",
                                //     searchable = false,
                                //     orderable = true
                                // },
                                // new {
                                //     name = nameof(BaseLaporan.ActiveUtc),
                                //     data = nameof(BaseLaporan.ActiveUtc),
                                //     title = "Tgl Perubahan Data",
                                //     searchable = false,
                                //     orderable = false
                                // }
                            };

                            var helperAKNP = new LaporanAkPerTahunDriver(null, null, null);
                            if (drv.DataSlug == helperAKNP.DataSlug)
                            {
                                dynamic statusAnggota = new
                                {
                                    name = nameof(BaseLaporan.AkActiveUtc),
                                    data = nameof(BaseLaporan.AkActiveUtc),
                                    title = "Status Anggota",
                                    searchable = false,
                                    orderable = true
                                };
                                dttCols.Add(statusAnggota);
                            }
                            var helperBursa = new LaporanStatusBursaDriver(null, null, null);
                            if (drv.DataSlug == helperBursa.DataSlug)
                            {
                                dynamic bursaCol = new
                                {
                                    name = nameof(BaseLaporan.StatusBursa) + "KPEI",
                                    data = nameof(BaseLaporan.StatusBursa) + "KPEI",
                                    title = "Status Bursa/KPEI",
                                    searchable = false,
                                    orderable = true
                                };
                                dttCols.Add(bursaCol);
                            }
                            var dvds = new List<DataAknpViewDefinition>();
                            var searchability = new Dictionary<string, bool>();
                            var orderability = new Dictionary<string, bool>();
                            var props = drv.DataClassType.GetProperties().Where(x => x.CanRead);

                            foreach (var prop in props)
                            {
                                var attrs = prop.GetCustomAttributes(true);
                                var aknpDispAttr = attrs.FirstOrDefault(x => x is AknpDisplayAttribute) as AknpDisplayAttribute;
                                if (aknpDispAttr == null || !aknpDispAttr.ShowInDetailTable)
                                {
                                    continue;
                                }

                                var label = prop.Name;
                                var order = 0;

                                var dispAttr = attrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;
                                if (dispAttr != null)
                                {
                                    label = dispAttr.GetName() ?? prop.Name;
                                    order = dispAttr.GetOrder() ?? 0;
                                }

                                dvds.Add(new DataAknpViewDefinition(prop.Name)
                                {
                                    Order = order,
                                    Label = label
                                });

                                searchability[prop.Name] = typeof(string).IsAssignableFrom(prop.PropertyType);
                                orderability[prop.Name] = prop.CanWrite;
                            }

                            foreach (var dvd in dvds.OrderBy(x => x.Order))
                            {
                                if (dvd.PropertyName == "Telp")
                                {
                                    dttCols.Add(new
                                    {
                                        name = dvd.PropertyName,
                                        data = dvd.PropertyName,
                                        title = dvd.Label,
                                        searchable = searchability[dvd.PropertyName],
                                        orderable = orderability[dvd.PropertyName],
                                        width = "100px"
                                    });
                                }
                                else
                                {
                                    dttCols.Add(new
                                    {
                                        name = dvd.PropertyName,
                                        data = dvd.PropertyName,
                                        title = dvd.Label,
                                        searchable = searchability[dvd.PropertyName],
                                        orderable = orderability[dvd.PropertyName]
                                    });
                                }
                            }
                            var helperPerubahanNama = new LaporanPerubahanNamaDriver(null, null, null);
                            if (drv.DataSlug == helperBursa.DataSlug || drv.DataSlug == helperPerubahanNama.DataSlug)
                            {
                                dynamic datePerubahanDataCol = new
                                {
                                    name = nameof(BaseLaporan.ActiveUtc),
                                    data = nameof(BaseLaporan.ActiveUtc),
                                    title = "Tanggal Perubahan",
                                    searchable = false,
                                    orderable = true
                                };
                                dttCols.Add(datePerubahanDataCol);
                            }
                            <script type="text/javascript">
                                    $(function() {
                                        var $masterTable = $('#master-table');
                                        var cols = @Html.Raw(JsonConvert.SerializeObject(dttCols));

                                        var masterTable = PortalAK.InitDtt('#master-table',
                                            '@Url.Action("DetailDtt", new {dataSlug = drv.DataSlug})',
                                            cols,
                                            [
                                                [1, 'desc']
                                            ],
                                            function(e, stg, dat) {
                                                dat['@(nameof(BaseLaporanDttRequestForm.ClassTypeFullName))'] = '@drv.DttRequestFormType.FullName';
                                                $('.master-table-filter :input[name]').each(function() {
                                                    var el = $(this);
                                                    dat[el.attr('name')] = el.val();
                                                });
                                            }
                                        );
                                        $('.master-table-filter :input[name]').on('change',
                                            function() {
                                                masterTable.ajax.reload();
                                            });
                                    });
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>