﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModKeuangan.Models
@using Kpei.PortalAK.DataAccess.UserIdentity
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Keuangan
@model DetilViewModel
@{
    ViewBag.Title = "Laporan Keuangan - Detail";
    Html.SelectedMenuTags().AddRange(new[] { "keuangan", "detil-laporan" });
    var userSvc = DepResolver.Instance.GetService<IUserService>();
}
<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("Detail", new {id = Model.Laporan.Id})" aria-expanded="true"> Detail </a>
    </li>
    <li class="">
        <a href="@Url.Action("Log", new {id = Model.Laporan.Id})" aria-expanded="false"> Log Request</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in">
        <div class="text-right">
            @if (Model.Laporan.StatusRequest == LaporanKeuanganStatus.NEW_STATUS.Name ||
                 (Model.Laporan.StatusRequest == LaporanKeuanganStatus.ONGOING_STATUS.Name &&
                 Model.TheUser.IsSuperAdmin && 
                 Model.Laporan.Approver1UserId != Model.TheUser.Id) &&
                 (Model.TheUser.IsKpei &&
                  Model.TheUser.KpeiModifierRightFor(CoreModules.LAPORAN_KEUANGAN) ||
                  Model.TheUser.KpeiCompanyCode == Model.Laporan.KodeAK &&
                  Model.TheUser.NonKpeiModifierRightFor(CoreModules.LAPORAN_KEUANGAN))) {
                <a href="@Url.Action("Edit", new {id = Model.Laporan.Id })" class="btn btn-warning">
                    <i class="fa fa-edit"></i> Edit
                </a>
            }
            @if ((Model.Laporan.StatusRequest == LaporanKeuanganStatus.NEW_STATUS.Name ||
                 (Model.Laporan.StatusRequest == LaporanKeuanganStatus.ONGOING_STATUS.Name &&
                  Model.TheUser.Id != Model.Laporan.Approver1UserId && Model.TheUser.IsSuperAdmin)) && Model.TheUser.IsKpei && Model.TheUser.KpeiApproverRightFor(CoreModules.LAPORAN_KEUANGAN)) {
                <form style="display: none" method="post" action="@Url.Action("Approve", new {id = Model.Laporan.Id})"
                      id="approver-form">
                    @Html.AntiForgeryToken()
                </form>
                <button type="button" class="btn btn red" id="approve-btn">
                    <i class="fa fa-check"></i> Approve
                </button>
                <a href="javascript:;" data-target="#reject-laporan-modal" class="btn btn-danger" data-toggle="modal">
                    <i class="fa fa-times"></i>
                    Reject
                </a>
                using (Html.Section("script")) {
                    <script type="text/javascript">
                        $(function () {
                            $('#approve-btn').click(function () {
                                PortalAK.ConfirmAction('Anda yakin untuk approve?',
                                    function () {
                                        $('#approver-form').submit();
                                    });
                            });
                        });
                    </script>
                }
            }
        </div>
        <div method="post" class="form form-horizontal">
            @Html.MetronicValidationSummary()

            @Html.AntiForgeryToken()

            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Status
                    </label>
                    <div class="col-md-8">
                        <div class="form-control form-control-static">
                            @Model.Laporan.StatusRequest
                        </div>
                    </div>


                </div>
                @if (Model.Laporan.StatusRequest == LaporanKeuanganStatus.REJECTED_STATUS.Name) {
                    @Html.FormFieldPartial(Model.Laporan.RejectReason, new TextFieldSetting {
                       InputName = nameof(Model.Laporan.RejectReason),
                       Label = "Alasan Ditolak",
                   })
                }
                <hr />


                <div class="form-group">
                    <label class="control-label col-md-3">
                        Kode AK
                    </label>
                    <div class="col-md-8">
                        <div class="form-control form-control-static">
                            @{
                                var comp = Model.Companies.FirstOrDefault(x => x.Code == Model.Laporan.KodeAK);
                            }
                            @(comp?.Code) / @(comp?.Name)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">
                        Tahun
                    </label>
                    <div class="col-md-8">
                        <div class="form-control form-control-static">
                            @Model.Laporan.Tahun
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">
                        Laporan Keuangan
                    </label>
                    <div class="col-md-8">
                        @if (!string.IsNullOrWhiteSpace(Model.Laporan.LaporanKeuanganFileUrl)) {
                            <a href="@Url.Content(Model.Laporan.LaporanKeuanganFileUrl)" download class="btn red">
                                <i class="fa fa-download"></i> Download
                            </a>
                        } else {
                            <i>No File</i>
                        }
                    </div>
                </div>

                @Html.FormFieldPartial(Model.Laporan.OpiniAuditor, new SelectFieldSetting {
               InputName = nameof(Model.Laporan.OpiniAuditor),
               Label = Html.LabelFor(e => e.Laporan.OpiniAuditor).ToString(),
               HelpText = "",
               AddEmptyOption = true,
               EmptyOptionLabel = "-pilih-",
               Options = AuditorOpinion.All(),
               OptionLabelGetter = x => x.DirectCastTo<AuditorOpinion>().Label,
               OptionValueGetter = x => x.DirectCastTo<AuditorOpinion>().Name
           })

                @Html.FormFieldPartial(Model.Laporan.AsetLancar.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.AsetLancar),
               Label = "Total Aset Lancar",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.UtangLancar.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.UtangLancar),
               Label = "Total Utang Lancar (Jangka Pendek)",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.TotalAset.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.TotalAset),
               Label = "Total Aset (Total Aktiva)",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.TotalUtang.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.TotalUtang),
               Label = "Total Utang",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.Pendapatan.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.Pendapatan),
               Label = "Pendapatan Usaha",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.LabaBersih.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.LabaBersih),
               Label = "Laba Bersih Setelah Pajak",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })

                @Html.FormFieldPartial(Model.Laporan.Ekuitas.ToString(), new TextFieldSetting {
               InputName = nameof(Model.Laporan.Ekuitas),
               Label = "Total Ekuitas",
               HelpText = "",
               CssClass = "rupiah",
               Style = TextFieldStyle.Simple
           })
            </div>

            <div class="form-body">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th colspan="3">A. Rasio Likuiditas</th>
                    </tr>
                    <tr>
                        <th style="width: 40px">&nbsp;</th>
                        <th style="width: 300px">I. Current Ratio</th>
                        <td id="cr-val">0</td>
                    </tr>
                    <tr>
                        <th colspan="3">B. Rasio Profitabilitas</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>I. Return on Asset (ROA)</th>
                        <td id="roa-val">0</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>II. Return on Equity (ROE)</th>
                        <td id="roe-val">0</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>III. Net Profit Margin</th>
                        <td id="net-profit-val">0</td>
                    </tr>
                    <tr>
                        <th colspan="3">C. Rasio Solvabilitas</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>I. Debt to Asset Ratio (DAR)</th>
                        <td id="dar-val">0</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>II. Debt to Equity Ratio (DER)</th>
                        <td id="der-val">0</td>
                    </tr>
                </table>
            </div>
            @if (Model.TheUser.IsKpei) {
                <div class="col-md-12">
                    <hr />
                    @if (!string.IsNullOrWhiteSpace(Model.Laporan.Approver1UserId)) {
                        var apprUser = userSvc.LoadUsers(new[] { Model.Laporan.Approver1UserId }).FirstOrDefault();
                        <div class="col-md-9 form-group">
                            <label class="control-label col-md-3">Approver 1:</label>
                            <div class="col-md-8 form-control-static">
                                @if (apprUser != null) {
                                    <p class="no-margin">
                                        @apprUser.FullName (@apprUser.UserName / @apprUser.Email)
                                    </p>
                                } else {
                                    @Model.Laporan.Approver1UserId
                                }
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Laporan.Approver2UserId)) {
                        var apprUser = userSvc.LoadUsers(new[] { Model.Laporan.Approver2UserId }).FirstOrDefault();
                        <div class="col-md-9 form-group">
                            <label class="control-label col-md-3">Approver 2:</label>
                            <div class="col-md-8 form-control-static">
                                @if (apprUser != null) {
                                    <p class="no-margin">
                                        @apprUser.FullName (@apprUser.UserName / @apprUser.Email)
                                    </p>
                                } else {
                                    @Model.Laporan.Approver2UserId
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function() {
            $('div.form input').prop('readonly', true);
            $('div.form select').prop('readonly', true);
            $('div.form select').prop('disabled', true);

            // derivatives calc
            window.setInterval(function() {

                var totalAsetLancar = $('input[name="@(nameof(Model.Laporan.AsetLancar))"]').val();
                var totalUtangLancar = $('input[name="@(nameof(Model.Laporan.UtangLancar))"]').val();
                var labaBersih = $('input[name="@(nameof(Model.Laporan.LabaBersih))"]').val();
                var totalAset = $('input[name="@(nameof(Model.Laporan.TotalAset))"]').val();
                var totalEkuitas = $('input[name="@(nameof(Model.Laporan.Ekuitas))"]').val();
                var pendapatan = $('input[name="@(nameof(Model.Laporan.Pendapatan))"]').val();
                var totalUtang = $('input[name="@(nameof(Model.Laporan.TotalUtang))"]').val();

                var cr = ((totalAsetLancar && totalUtangLancar && totalUtangLancar != 0
                            ? totalAsetLancar / totalUtangLancar
                            : 0) *
                        100)
                    .toFixed(2) +
                    '%';
                var roa = ((labaBersih && totalAset && totalAset != 0 ? labaBersih / totalAset : 0) * 100)
                    .toFixed(2) +
                    '%';
                var roe = ((labaBersih && totalEkuitas && totalEkuitas != 0 ? labaBersih / totalEkuitas : 0) * 100)
                    .toFixed(2) +
                    '%';
                var netprofit = ((labaBersih && pendapatan && pendapatan != 0 ? labaBersih / pendapatan : 0) * 100)
                    .toFixed(2) +
                    '%';
                var dar = ((totalUtang && totalAset && totalAset != 0 ? totalUtang / totalAset : 0) * 100)
                    .toFixed(2) +
                    '%';
                var der = ((totalUtang && totalEkuitas != 0 ? totalUtang / totalEkuitas : 0) * 100)
                    .toFixed(2) +
                    '%';

                $('#cr-val').text(cr);
                $('#roa-val').text(roa);
                $('#roe-val').text(roe);
                $('#net-profit-val').text(netprofit);
                $('#dar-val').text(dar);
                $('#der-val').text(der);

            }, 500);

            // input mask rupiah
            PortalAK.SetupInputMaskMoney(".rupiah input[type=text]");
        });
    </script>

    if (Model.TheUser.IsKpei && Model.TheUser.KpeiApproverRightFor(CoreModules.LAPORAN_KEUANGAN) &&
                                             Model.Laporan.StatusRequest != LaporanKeuanganStatus.REJECTED_STATUS.Name) {
        <div id="reject-laporan-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tolak Laporan Keuangan</h4>
                    </div>
                    <form method="post" action="@Url.Action("Reject", new { id = Model.Laporan.Id })" class="form form-horizontal">

                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            @Html.FormFieldPartial("", new TextFieldSetting {
                           InputName = nameof(RejectViewModel.RejectReason),
                           Label = "Alasan Penolakan",
                           HelpText = "",
                           Style = TextFieldStyle.Textarea
                       })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger form-submit-button">Reject</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}

