﻿@using Kpei.PortalAK.DataAccess.ModKeuangan.Models
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Keuangan
@model EditViewModel
@{
    ViewBag.Title = "Laporan Keuangan - Edit Laporan";
    Html.SelectedMenuTags().AddRange(new[] {"keuangan", "edit-laporan-keuangan"});
    var yearOptions = new List<int>();
    for (var yr = DateTime.Now.Year; yr >= DateTime.Now.Year - 10; yr--) {
        yearOptions.Add(yr);
    }
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()
    
    <input type="hidden" name="@(nameof(Model.Form.Id))" value="@Model.Form.Id" />

    <div class="form-body">
        @if (Model.TheUser.IsKpei) {
            @Html.FormFieldPartial(Model.Form.KodeAK, new SelectFieldSetting {
                InputName = nameof(Model.Form.KodeAK),
                Label = "Kode AK",
                HelpText = "",
                Options = Model.Companies,
                OptionValueGetter = x => x.DirectCastTo<KpeiCompany>().Code,
                OptionLabelGetter = x => x.DirectCastTo<KpeiCompany>().Code + " / " + x.DirectCastTo<KpeiCompany>().Name,
                AddEmptyOption = false,
                EmptyOptionLabel = ""
            })
        } else {
            <input type="hidden" name="@(nameof(Model.Form.KodeAK))" value="@Model.TheUser.KpeiCompanyCode" />
            <div class="form-group">
                <label class="control-label col-md-3">
                    Kode AK
                </label>
                <div class="col-md-8">
                    <div class="form-control form-control-static">
                        @Model.TheUser.KpeiCompanyCode
                    </div>
                </div>
            </div>
        }
        
    @Html.FormFieldPartial(Model.Form.Tahun.ToString(), new SelectFieldSetting {
           InputName = nameof(Model.Form.Tahun),
           Label = Html.LabelForRequired(e => e.Form.Tahun).ToString(),
           HelpText = "",
           Options = yearOptions.Cast<object>(),
           OptionValueGetter = x => x.DirectCastTo<int>().ToString(),
           OptionLabelGetter = x => x.DirectCastTo<int>().ToString(),
           AddEmptyOption = false,
           EmptyOptionLabel = ""
       })

            @Html.FormFieldPartial(Model.Form.Periode, new SelectFieldSetting {
           InputName = nameof(Model.Form.Periode),
           Label = Html.LabelForRequired(e => e.Form.Periode).ToString(),
           HelpText = "",
           Options = Model.Periods,
           OptionValueGetter = x => x.DirectCastTo<PeriodeLaporanKeuangan>().Name,
           OptionLabelGetter = x => x.DirectCastTo<PeriodeLaporanKeuangan>().Label,
           AddEmptyOption = false,
           EmptyOptionLabel = ""
       })

            @Html.FormFieldPartial(Model.Form.LaporanKeuanganFileUrl, new UploadFieldSetting {
           InputName = nameof(Model.Form.LaporanKeuanganFileUrl),
           Label = Html.LabelForRequired(e => e.Form.LaporanKeuanganFileUrl).ToString(),
           HelpText = "",
           ValidFileExtensions = new[] {"pdf"},
           MaxBytes = 15 * 1024 * 1024,
           FolderPath = "laporan-keuangan"
       })

        @Html.FormFieldPartial(Model.Form.OpiniAuditor, new SelectFieldSetting {
       InputName = nameof(Model.Form.OpiniAuditor),
       Label = Html.LabelForRequired(e => e.Form.OpiniAuditor).ToString(),
       HelpText = "",
       AddEmptyOption = true,
       EmptyOptionLabel = "-pilih-",
       Options = AuditorOpinion.All(),
       OptionLabelGetter = x => x.DirectCastTo<AuditorOpinion>().Label,
       OptionValueGetter = x => x.DirectCastTo<AuditorOpinion>().Name
   })

            @Html.FormFieldPartial(Model.Form.AsetLancar.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.AsetLancar),
           Label = Html.LabelForRequired(e => e.Form.AsetLancar).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.UtangLancar.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.UtangLancar),
           Label = Html.LabelForRequired(e => e.Form.UtangLancar).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.TotalAset.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.TotalAset),
           Label = Html.LabelForRequired(e => e.Form.TotalAset).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.TotalUtang.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.TotalUtang),
           Label = Html.LabelForRequired(e => e.Form.TotalUtang).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.Pendapatan.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.Pendapatan),
           Label = Html.LabelForRequired(e => e.Form.Pendapatan).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.LabaBersih.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.LabaBersih),
           Label = Html.LabelForRequired(e => e.Form.LabaBersih).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })

            @Html.FormFieldPartial(Model.Form.Ekuitas.ToString(), new TextFieldSetting {
           InputName = nameof(Model.Form.Ekuitas),
           Label = Html.LabelForRequired(e => e.Form.Ekuitas).ToString(),
           HelpText = "",
           CssClass = "rupiah",
           Style = TextFieldStyle.Simple
       })
    </div>
    
    <div class="form-body">
        <table class="table table-condensed table-bordered">
            <tr>
                <th colspan="3">A. Rasio Likuiditas</th>
            </tr>
            <tr>
                <th style="width: 40px">&nbsp;</th>
                <th style="width: 300px">I. Current Ratio</th>
                <td id="cr-val">0</td>
            </tr>
            <tr>
                <th colspan="3">B. Rasio Profitabilitas</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>I. Return on Asset (ROA)</th>
                <td id="roa-val">0</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>II. Return on Equity (ROE)</th>
                <td id="roe-val">0</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>III. Net Profit Margin</th>
                <td id="net-profit-val">0</td>
            </tr>
            <tr>
                <th colspan="3">C. Rasio Solvabilitas</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>I. Debt to Asset Ratio (DAR)</th>
                <td id="dar-val">0</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>II. Debt to Equity Ratio (DER)</th>
                <td id="der-val">0</td>
            </tr>
        </table>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>
</form>
@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function() {
            // derivatives calc
            window.setInterval(function() {

                var totalAsetLancar = $('input[name="@(nameof(Model.Form.AsetLancar))"]').val();
                var totalUtangLancar = $('input[name="@(nameof(Model.Form.UtangLancar))"]').val();
                var labaBersih = $('input[name="@(nameof(Model.Form.LabaBersih))"]').val();
                var totalAset = $('input[name="@(nameof(Model.Form.TotalAset))"]').val();
                var totalEkuitas = $('input[name="@(nameof(Model.Form.Ekuitas))"]').val();
                var pendapatan = $('input[name="@(nameof(Model.Form.Pendapatan))"]').val();
                var totalUtang = $('input[name="@(nameof(Model.Form.TotalUtang))"]').val();

                var cr = ((totalAsetLancar && totalUtangLancar && totalUtangLancar != 0
                            ? totalAsetLancar / totalUtangLancar
                            : 0) *
                        100)
                    .toFixed(2) +
                    '%';
                var roa = ((labaBersih && totalAset && totalAset != 0 ? labaBersih / totalAset : 0) * 100)
                    .toFixed(2) +
                    '%';
                var roe = ((labaBersih && totalEkuitas && totalEkuitas != 0 ? labaBersih / totalEkuitas : 0) * 100)
                    .toFixed(2) +
                    '%';
                var netprofit = ((labaBersih && pendapatan && pendapatan != 0 ? labaBersih / pendapatan : 0) * 100)
                    .toFixed(2) +
                    '%';
                var dar = ((totalUtang && totalAset && totalAset != 0 ? totalUtang / totalAset : 0) * 100)
                    .toFixed(2) +
                    '%';
                var der = ((totalUtang && totalEkuitas != 0 ? totalUtang / totalEkuitas : 0) * 100)
                    .toFixed(2) +
                    '%';

                $('#cr-val').text(cr);
                $('#roa-val').text(roa);
                $('#roe-val').text(roe);
                $('#net-profit-val').text(netprofit);
                $('#dar-val').text(dar);
                $('#der-val').text(der);

            }, 500);

            // input mask rupiah
            PortalAK.SetupInputMaskMoney(".rupiah input[type=text]");
        });
    </script>
}