﻿@using Kpei.PortalAK.DataAccess.ModKeuangan.Forms
@using Kpei.PortalAK.ViewModels.Keuangan
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModKeuangan.Models
@model IndexViewModel
@{
    ViewBag.Title = "Laporan Keuangan";
    Html.SelectedMenuTags().AddRange(new[] { "keuangan" });
}
<div class="row">
    @if (Model.AppUser.NonKpeiModifierRightFor(CoreModules.LAPORAN_KEUANGAN)) {
        <div class="col-xs-12 text-right">
            <a href="@Url.Action("InputNew")" class="btn red">
                Input Laporan Keuangan
            </a>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <label>Periode:</label>
            <select id="periode-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.Periods) {
                    <option value="@mod.Name">@mod.Label</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Tahun:</label>
            <select id="year-selector" class="form-control">
                <option value="">-Semua-</option>
                @for (var thn = DateTime.Now.Year; thn >= DateTime.Now.Year - 10; thn--) {
                    <option value="@thn">@thn</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Status:</label>
            <select id="status-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.Statuses) {
                    <option value="@mod.Name">@mod.Label</option>
                }
            </select>
        </div>
    </div>
    <div class="master-table-filter col-md-12">
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(LaporanKeuanganDttRequestForm.FromDateTime),
           Label = "Dari:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(LaporanKeuanganDttRequestForm.ToDateTime),
           Label = "Sampai:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
    </div>

    <div class="col-xs-12">
        <hr />
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'Periode',
                    data: 'Periode',
                    title: 'Periode',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Tahun',
                    data: 'Tahun',
                    title: 'Tahun',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'CreatedUtc',
                    data: 'TanggalSubmit',
                    title: 'Tgl. Submit',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'StatusRequest',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListNonKpei", "LaporKeu")',
                cols,
                [
                    [3, 'desc']
                ],
                function(e, stg, dat) {
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Status))'] = $statusSelector.val();
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Periode))'] = $periodeSelector.val();
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Tahun))'] = $yearSelector.val();
                    $('.master-table-filter :input[name]').each(function () {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $statusSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $periodeSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $yearSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });

            $('.master-table-filter :input[name]').on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}