﻿@using Kpei.PortalAK.DataAccess.ModKeuangan.Forms
@using Kpei.PortalAK.ViewModels.Keuangan
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModKeuangan.Models
@model IndexViewModel
@{
    ViewBag.Title = "Laporan Keuangan";
    Html.SelectedMenuTags().AddRange(new[] {"keuangan"});
}
<div class="row">
    <div class="col-md-3">
        <label>Kode AK:</label>
        <select id="kode-ak-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Companies) {
                <option value="@mod.Code">@mod.Code / @mod.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Periode:</label>
        <select id="periode-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Periods) {
                <option value="@mod.Name">@mod.Label</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Tahun:</label>
        <select id="year-selector" class="form-control">
            <option value="">-Semua-</option>
            @for (var thn = DateTime.Now.Year; thn >= DateTime.Now.Year - 10; thn--) {
                <option value="@thn">@thn</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Status:</label>
        <select id="status-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Statuses) {
                <option value="@mod.Name" @if (Model.AppUser.IsSuperAdmin && mod.Name == LaporanKeuanganStatus.ONGOING_STATUS.Name || !Model.AppUser.IsSuperAdmin && mod.Name == LaporanKeuanganStatus.NEW_STATUS.Name) { <text>selected</text>}>@mod.Label</option>
            }
        </select>
    </div>
    <div class="master-table-filter">
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(LaporanKeuanganDttRequestForm.FromDateTime),
           Label = "Dari:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(LaporanKeuanganDttRequestForm.ToDateTime),
           Label = "Sampai:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
    </div>



    <div class="col-xs-12">
        <hr/>
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'KodeAK',
                    data: 'KodeAK',
                    title: 'Kode AK',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaPerusahaan',
                    data: 'NamaPerusahaan',
                    title: 'Nama Perusahaan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'Periode',
                    data: 'Periode',
                    title: 'Periode',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Tahun',
                    data: 'Tahun',
                    title: 'Tahun',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'CreatedUtc',
                    data: 'TanggalSubmit',
                    title: 'Tgl. Submit',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'CR',
                    data: 'CR',
                    title: 'Cur. Ratio',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'ROA',
                    data: 'ROA',
                    title: 'ROA',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'ROE',
                    data: 'ROE',
                    title: 'ROE',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'NetProfit',
                    data: 'NetProfit',
                    title: 'Net. Profit Margin',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'DAR',
                    data: 'DAR',
                    title: 'DAR',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'DER',
                    data: 'DER',
                    title: 'DER',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'StatusRequest',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKpei", "LaporKeu")',
                cols,
                [
                    [4, 'desc']
                ],
                function(e, stg, dat) {
                    dat['@(nameof(LaporanKeuanganDttRequestForm.KodeAk))'] = $kodeAkSelector.val();
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Status))'] = $statusSelector.val();
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Periode))'] = $periodeSelector.val();
                    dat['@(nameof(LaporanKeuanganDttRequestForm.Tahun))'] = $yearSelector.val();
                    $('.master-table-filter :input[name]').each(function () {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $statusSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $kodeAkSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $periodeSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $yearSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $('.master-table-filter :input[name]').on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}