﻿@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.Keuangan
@model LogViewModel
@{
    ViewBag.Title = "Laporan Keuangan - Log Request";
    Html.SelectedMenuTags().AddRange(new[] {"keuangan", "laporan-log"});
}

<ul class="nav nav-tabs">
    <li class="">
        <a href="@Url.Action("Detail", new {area = "", id = Model.Laporan.Id})" aria-expanded="false">
            Detail
        </a>
    </li>
    <li class="active">
        <a href="@Url.Action("Log", new {id = Model.Laporan.Id})" aria-expanded="true">
            Log Request
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in">
        <div class="row">
            <div class="col-xs-12">
                <hr/>
                <table id="master-table" class="table table-condensed table-bordered table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: '@(nameof(UserActionLog.CreatedUtc))',
                    data: 'WaktuPerubahan',
                    title: 'Waktu Perubahan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.UserName))',
                    data: 'DibuatOleh',
                    title: 'Dibuat Oleh',
                    searchable: true,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.Message))',
                    data: 'Aktivitas',
                    title: 'Aktivitas',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListLog", "LaporKeu")',
                cols,
                [
                    [1, 'desc']
                ],
                function(e, stg, dat) {
                    // no modding
                });
        });
    </script>
}