﻿@model Kpei.PortalAK.ViewModels.ListEventViewModel
@{
    ViewBag.Title = "Pelatihan & Sosialisasi - Data Keikutsertaan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-attend" });
}
@if (Model.AppUser.IsKpei) {
    <div class="form-group pull-right">
        <a href="@Url.Action("EventForm", "Event")" class="btn green-jungle">
            <i class="fa fa-plus"></i>Tambah Acara
        </a>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Tanggal Pelaksanaan</th>
                    <th>Jenis Pelatihan</th>
                    <th>Nama Acara</th>
                    <th>Jumlah AK&P</th>
                    <th>Total Peserta</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.listEvent.First() != null) {
                int rowNo = 0;
                foreach (var data in Model.listEvent) {
                    if (data.isTrashed == false) {
                            <tr>
                                <td></td>
                                <td>@data.TglPelaksanaan.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>@data.JenisPelatihan</td>
                                <td>@data.Judul</td>
                                <td>@Model.listPeserta.Where(e => e.EventId == data.Id).Select(e => e.KodeAK).Distinct().Count()</td>
                                <td>@Model.listPeserta.Count(e => e.EventId == data.Id)</td>
                                <td>
                                    <a href="@Url.Action("DetailEvent", "Event", new { id = data.Id })">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@using (Html.Section("script")) {
<!--DATA TABLE-->
<script>
    var export_filename = "Files";
    var t = $('#sample_1').DataTable({
        "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
        }],
        "lengthMenu": [
            [5, 10, 15, 20, -1],
            [5, 10, 15, 20, "All"] // change per page values here
        ],
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        buttons: [
            {
                text: '<i class="fa fa-lg fa-clipboard"></i>',
                extend: 'copy',
                className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-copy ttip'
            }, {
                text: '<i class="fa fa-lg fa-print"></i> Print',
                extend: 'csv',
                className: 'btn red',
                title: export_filename,
                extension: '.csv'
            }, {
                text: '<i class="fa fa-lg fa-file-excel-o"></i> Excel',
                extend: 'excel',
                className: 'btn green-jungle',
                title: export_filename,
                extension: '.xls'
            }, {
                text: '<i class="fa fa-lg fa-file-pdf-o"></i> PDF',
                extend: 'pdf',
                className: 'btn red-mint',
                title: export_filename,
                extension: '.pdf'
            }
        ],
        "dom": "<'row' <'col-md-12 form-group'>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "order": [[1, 'desc']]
    });
    t.on('order.dt search.dt', function () {
        t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();
</script>
}