﻿@using Kpei.PortalAK.ViewModels.Sosialisasi
@model CalendarViewModel
@{
    ViewBag.Title = "Pelatihan & Sosialisasi - Seluruh Acara - Kalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-list" });
}
<div class="pull-left form-group text-right">
    <a href="@Url.Action("Index", "Event")" class="btn green">
        <i class="fa fa-list"></i> List
    </a>
</div>
<div class="col-md-12 form-group">
    <div id="calendar" class="has-toolbar fc fc-ltr fc-unthemed"></div>
</div>

@using (Html.Section("script")) {

    <link href="/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/fullcalendar/lang/id.js"></script>
    <script>
        var AppCalendar = function () {
            return {
                //main function to initiate the module
                init: function () {
                    this.initCalendar();
                },
                initCalendar: function () {
                    if (!jQuery().fullCalendar) {
                        return;
                    }
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();
                    var h = {};
                    if (App.isRTL()) {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                right: 'title, prev, next',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                right: 'title',
                                center: '',
                                left: 'agendaDay, agendaWeek, month, today, prev,next'
                            };
                        }
                    } else {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                left: 'title, prev, next',
                                center: '',
                                right: 'today,month,agendaWeek,agendaDay'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                left: 'title',
                                center: '',
                                right: 'prev,next,today,month,agendaWeek,agendaDay'
                            };
                        }
                    }

                    $('#calendar').fullCalendar({ //re-initialize the calendar
                        locale: "id",
                        header: h,
                        defaultView: 'month', // change default view with available options from http://arshaw.com/fullcalendar/docs/views/Available_Views/
                        slotMinutes: 15,
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar !!!
                        drop: function (date, allDay) { // this function is called when something is dropped

                            // retrieve the dropped element's stored Event Object
                            var originalEventObject = $(this).data('eventObject');
                            // we need to copy it, so that multiple events don't have a reference to the same object
                            var copiedEventObject = $.extend({}, originalEventObject);

                            // assign it the date that was reported
                            copiedEventObject.start = date;
                            copiedEventObject.allDay = allDay;
                            copiedEventObject.className = $(this).attr("data-class");

                            // render the event on the calendar
                            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                            // is the "remove after drop" checkbox checked?
                            if ($('#drop-remove').is(':checked')) {
                                // if so, remove the element from the "Draggable Events" list
                                $(this).remove();
                            }
                        },
                        events: [
                                @for (int i = 0; i < Model.Event.Count; i++) {
                                    <text>
                                    {
                                        title: "@Model.Event[i].Judul",
                                        start: new Date(@(Model.Event[i].TglPelaksanaanStartUtc?.ConvertUtcToWib().AddMonths(-1).ToString("yyyy, M, dd, HH, mm"))),
                                        url: "@Url.Action("Detail", "Event", new { id = Model.Event[i].Id })"
                                    },
                                    </text>
                                }
                        ]
                    });

                }

            };

        }();

        jQuery(document).ready(function () {
            AppCalendar.init();
        });
    </script>
}
