﻿@model Kpei.PortalAK.ViewModels.EventViewModel
@{
    ViewBag.Title = Model.Event.Judul + " - Daftar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-reg" });
    BreadcrumbItem crumb = new BreadcrumbItem {
        Label = Model.Event.Judul,
        Href = Url.Action("DetailEvent", "Event", new { id = Model.Event.Id })
    };
    Html.GetBreadcrumbs().Add(crumb);
}
@Html.HiddenFor(e => e.Event.Id)
<form method="post" class="form-horizontal form" action="@Url.Action("AddPeserta", "Event", new { id = Model.Event.Id })">
    @Html.AntiForgeryToken()
    @Html.MetronicValidationSummary()
    <div class="form-group">
        <div>
            <div class="col-md-12 form-group">
                <label class="control-label col-md-3">Nama AK:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="@Html.NameFor(e => e.helperNamaAK)" value="@Model.AppUser.UserName" readonly="" />
                </div>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label col-md-3">Kode AK:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="@Html.NameFor(e => e.helperKodeAK)" value="@Model.AppUser.KpeiCompanyCode" readonly="" />
                </div>
            </div>
        </div>
        <div class=" col-md-12" id="container">
            @if (Model != null && Model.listPeserta != null && Model.listPeserta.Count > 0 && Model.listPeserta.First() != null) {
                int row = 0;
                for (int i = 0; i < Model.listPeserta.Count; i++) {
                    @Html.HiddenFor(e => e.listPeserta[i].Id)
                    <div class="portlet box green-jungle">
                        <div class="portlet-title">
                            <div class="caption">
                                <span id="class">@(row += 1)</span>
                            </div>
                            <div class="tools">
                                <a href="" id="remove" class="remove" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Lengkap Peserta:</label>
                                    <div class="col-md-5">
                                        <input name="@Html.NameFor(e => e.listPeserta[i].Nama)" value="@Html.ValueFor(e => e.listPeserta[i].Nama)" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jabatan / Divisi:</label>
                                    <div class="col-md-5">
                                        <input name="@Html.NameFor(e => e.listPeserta[i].Jabatan)" value="@Html.ValueFor(e => e.listPeserta[i].Jabatan)" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email:</label>
                                    <div class="col-md-5">
                                        <input name="@Html.NameFor(e => e.listPeserta[i].Email)" value="@Html.ValueFor(e => e.listPeserta[i].Email)" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp / Handphone:</label>
                                    <div class="col-md-5">
                                        <input name="@Html.NameFor(e => e.listPeserta[i].Telp)" value="@Html.ValueFor(e => e.listPeserta[i].Telp)" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            } else {
                <div class="portlet box green-jungle">
                    <div class="portlet-title">
                        <div class="caption">
                            @{ int rowNo = 0;}
                            <span id="class">@(rowNo += 1)</span>
                        </div>
                        <div class="tools">
                            <a href="" id="remove" class="remove" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nama Lengkap Peserta:</label>
                                <div class="col-md-5">
                                    <input name="@Html.NameFor(e => e.listPeserta[0].Nama)" value="" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Jabatan / Divisi:</label>
                                <div class="col-md-5">
                                    <input name="@Html.NameFor(e => e.listPeserta[0].Jabatan)" value="" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Email:</label>
                                <div class="col-md-5">
                                    <input name="@Html.NameFor(e => e.listPeserta[0].Email)" value="" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">No Telp / Handphone:</label>
                                <div class="col-md-5">
                                    <input name="@Html.NameFor(e => e.listPeserta[0].Telp)" value="" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                }
            </div>
            <div class="col-md-9 form-group">
                <button type="button" class="btn green-jungle" id="trigger">
                    <u>
                        <i class="fa fa-plus-square"></i> Tambah Peserta
                    </u>
                </button>
            </div>
            <div class="col-md-9 form-group">
                <button type="submit" class="btn green col-md-offset-6">Daftar</button>
            </div>
        </div>
    </form>

    @Html.Section("script-page-level") {
        <script>
            $(document).ready(function () {
                var number = $("span").last().text();

                if (number >= @Model.Event.KapasitasPerAK){
                    $('#trigger').hide();
                } else {
                    $('#trigger').show();
                }

            $("#trigger").click(function () {
                var number = $("span").last().text();
                console.log(number);
                if (number == null || isNaN(number)) {
                    var newNumber = 1;
                } else {
                    var newNumber = parseInt(number);
                    ++newNumber;
                }
                $("#container").append('<div class="portlet box green-jungle"> <div class="portlet-title"> <div class="caption"> <span id="class">'+ newNumber +'</span> </div> <div class="tools"> <a href="" id="remove" class="remove" data-original-title="" title=""> </a> </div> </div> <div class="portlet-body"> <div class="form-body"> <div class="form-group"> <label class="col-md-3 control-label">Nama Lengkap Peserta:</label> <div class="col-md-5"> <input name="listPeserta['+(newNumber - 1)+'].Nama" value="" type="text" class="form-control"> </div> </div> <div class="form-group"> <label class="col-md-3 control-label">Jabatan / Divisi:</label> <div class="col-md-5"> <input name="listPeserta['+(newNumber - 1)+'].Jabatan" value="" type="text" class="form-control"> </div> </div> <div class="form-group"> <label class="col-md-3 control-label">Email:</label> <div class="col-md-5"> <input name="listPeserta['+(newNumber - 1)+'].Email" value="" type="text" class="form-control"> </div> </div> <div class="form-group"> <label class="col-md-3 control-label">No Telp / Handphone:</label> <div class="col-md-5"> <input name="listPeserta['+(newNumber - 1)+'].Telp" value="" type="text" class="form-control"> </div> </div> </div> </div> </div>');
                if (newNumber >= @Model.Event.KapasitasPerAK){
                    $('#trigger').hide();
                } else {
                    $('#trigger').show();
                }
            })
            $(".remove").click(function () {
                var number = $("span").last().text();
                number--;
                if (isNaN(number)) {
                    number = 1;
                }
                if (number < @Model.Event.KapasitasPerAK){
                    $('#trigger').show();
                } else {
                    $('#trigger').hide();
                }
            })
        });
        </script>
    }