﻿@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Models
@using Kpei.PortalAK.ViewModels.Sosialisasi
@using Kpei.PortalAK.DataAccess.Core
@model DetailViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan - Detail Acara - "+ Model.Event?.Judul;
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-list" });
}
@if (Model.AppUser.KpeiViewerRightFor(CoreModules.SOSIALISASI_PELATIHAN)) {
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="@Url.Action("Detail", new {area = "", id = Model.Event.Id})" aria-expanded="true">
                Detail
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("DaftarKehadiran", new {id = Model.Event.Id})" aria-expanded="false">
                Daftar Kehadiran
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("GrafikKehadiran", new {id = Model.Event.Id})" aria-expanded="false">
                Grafik Kehadiran
            </a>
        </li>
    </ul>
}
<div class="tab-content">
    <div class="tab-pane fade active in">
        <div class="form form-horizontal">
            <div class="text-right">
                @if (Model.AppUser.KpeiModifierRightFor(CoreModules.SOSIALISASI_PELATIHAN)) {
                    <a href="@Url.Action("Edit", new { id = Model.Event.Id })" class="btn btn-warning">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <form style="display: none" method="post" action="@Url.Action("Delete", new { id = Model.Event.Id })"
                          id="delete-form">
                        @Html.AntiForgeryToken()
                    </form>
                    <button type="button" class="btn btn-danger" id="delete-btn">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
                @using (Html.Section("script")) {
                    <script type="text/javascript">
                        $(function () {
                            $('#delete-btn').click(function () {
                                PortalAK.ConfirmAction('Anda yakin untuk menghapus event ini?',
                                    function () {
                                        $('#delete-form').submit();
                                    });
                            });
                        });
                    </script>
                }
                @if ((Model.AppUser.KpeiModifierRightFor(CoreModules.SOSIALISASI_PELATIHAN) ||
                Model.AppUser.NonKpeiModifierRightFor(CoreModules.SOSIALISASI_PELATIHAN)) &&
                (DateTime.UtcNow <= Model.Event.TglDaftarTutupUtc &&
                DateTime.UtcNow >= Model.Event.TglDaftarBukaUtc) &&
                Model.Event.StatusEvent != EventStatus.DRAFT_STATUS.Name
                ) {
                    if ((Model.ListPeserta.Count() < Model.Event.KapasitasPerAK &&
                    Model.ListPeserta.Count() < Model.Event.KapasitasTotal) || (Model.AppUser.IsKpei && Model.ListPeserta.Count() < Model.Event.KapasitasTotal)) {
                        <a class="btn red" href="@Url.Action("Register", new { id = Model.Event.Id })">
                            <i class="fa fa-list"></i> Daftarkan peserta
                        </a>
                    }
                    if (Model.AppUser.IsKpei || Model.ListPeserta.Where(e => e.KodeAK == Model.AppUser.KpeiCompanyCode).Count() > 0) {
                        <a class="btn red" href="@Url.Action("UpdateRegister", new { id = Model.Event.Id })">
                            <i class="fa fa-list"></i> Update peserta
                        </a>
                    }
                }
            </div>
            <div class="form-body">
                @Html.FormFieldPartial(Model.Event.Judul, new TextFieldSetting {
               InputName = nameof(Model.Event.Judul),
               Label = "Judul Acara",
               HelpText = "",
               Style = TextFieldStyle.Simple
           })
                @Html.FormFieldPartial(Model.Event.Highlight, new TextFieldSetting {
               InputName = nameof(Model.Event.Highlight),
               Label = "Keterangan Acara",
               HelpText = "",
               Style = TextFieldStyle.Textarea
           })
                @Html.FormFieldPartial(Model.Event.Tempat, new TextFieldSetting {
               InputName = nameof(Model.Event.Tempat),
               Label = "Tempat",
               HelpText = ""
           })
                @Html.FormFieldPartial(Model.Event.TglPelaksanaanStartUtc?.ConvertUtcToWib().ToString("dd MMMM yyyy HH:mm"), new TextFieldSetting {
               InputName = nameof(Model.Event.TglPelaksanaanStartUtc),
               Label = "Tanggal Mulai Pelaksanaan"
           })
                @Html.FormFieldPartial(Model.Event.TglPelaksanaanEndUtc?.ConvertUtcToWib().ToString("dd MMMM yyyy HH:mm"), new TextFieldSetting {
               InputName = nameof(Model.Event.TglPelaksanaanEndUtc),
               Label = "Tanggal Akhir Pelaksanaan"
           })
                @Html.FormFieldPartial(Model.Event.TglDaftarBukaUtc?.ConvertUtcToWib().ToString("dd MMMM yyyy HH:mm"), new TextFieldSetting {
               InputName = nameof(Model.Event.TglDaftarBukaUtc),
               Label = "Tanggal Mulai Pendaftaran"
           })
                @Html.FormFieldPartial(Model.Event.TglDaftarTutupUtc?.ConvertUtcToWib().ToString("dd MMMM yyyy HH:mm"), new TextFieldSetting {
               InputName = nameof(Model.Event.TglDaftarTutupUtc),
               Label = "Tanggal Tutup Pendaftaran"
           })
                @Html.FormFieldPartial(Model.Event.JenisPelatihan, new TextFieldSetting {
               InputName = nameof(Model.Event.JenisPelatihan),
               Label = "Jenis Pelatihan",
               HelpText = ""
           })
                @Html.FormFieldPartial(Model.Event.KapasitasPerAK, new IntFieldSetting {
               InputName = nameof(Model.Event.KapasitasPerAK),
               Label = "Kapasitas per Anggota Kliring"
           })
                @Html.FormFieldPartial(Model.Event.KapasitasTotal, new IntFieldSetting {
               InputName = nameof(Model.Event.KapasitasTotal),
               Label = "Kapasitas Total"
           })

                <div class="form-group ">
                    <label for="field-input-2103437798" class="control-label col-md-3">
                        File Brosur
                    </label>
                    <div class="col-md-8">
                        @if (Model.Event.BrosurFileUrl == null) {
                            <i>No File</i>
                        } else {
                            <a href="@Url.Content(Model.Event.BrosurFileUrl)" download class="btn red">
                                <i class="fa fa-download"></i> Download
                            </a>
                        }
                    </div>
                </div>

                <div class="form-group ">
                    <label for="field-input-2103437798" class="control-label col-md-3">
                        File Materi
                    </label>
                    <div class="col-md-8">
                        @if (Model.Event.MateriFileUrl == null) {
                            <i>No File</i>
                        } else {
                            <a href="@Url.Content(Model.Event.MateriFileUrl)" download class="btn red">
                                <i class="fa fa-download"></i> Download
                            </a>
                        }
                    </div>
                </div>

                @Html.FormFieldPartial(Model.Event.StatusExpiration, new TextFieldSetting {
               InputName = nameof(Model.Event.StatusExpiration),
               Label = "Status",
           })
                <h3>Pembicara</h3>
                <hr />
                @for (int i = 0; i < Model.ListPembicara?.Count; i++) {
                    var name = nameof(Model.ListPembicara) + "[" + i + "]";
            <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>@(i + 1)
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="javascript:;" class="remove"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div>
                                @Html.FormFieldPartial(Model.ListPembicara?[i].Nama, new TextFieldSetting {
                               InputName = name + ".Nama",
                               Label = "Nama Pembicara"
                           })
                                @Html.FormFieldPartial(Model.ListPembicara?[i].Jabatan, new TextFieldSetting {
                               InputName = name + ".Jabatan",
                               Label = "Jabatan"
                           })
                                @Html.FormFieldPartial(Model.ListPembicara?[i].Email, new TextFieldSetting {
                               InputName = name + ".Email",
                               Label = "Email"
                           })
                                @Html.FormFieldPartial(Model.ListPembicara?[i].Telp, new TextFieldSetting {
                               InputName = name + ".Telp",
                               Label = "No. Telepon"
                           })
                            </div>
                        </div>
                    </div>
            <!-- END Portlet PORTLET-->
                }
                @if (Model.AppUser.IsAknp) {
                    <h3>Peserta yang telah anda daftar</h3>
                    <hr />
                    <div class="col-xs-12">
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script")) {
    <script>
        $(function () {
            $('div.form input').prop('readonly', true);
            $('div.form select').prop('readonly', true);
            $('div.form textarea').prop('readonly', true);
        });
    </script>
    if (Model.AppUser.IsAknp) {
        <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: 'Nama',
                    data: 'Nama',
                    title: 'Nama Peserta',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Jabatan',
                    data: 'Jabatan',
                    title: 'Jabatan Peserta',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Email',
                    data: 'Email',
                    title: 'E-mail',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Telp',
                    data: 'Telp',
                    title: 'No. Telp.',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListHadirNonKpei", "Event", new { id = Model.Event.Id})',
            cols,
            [
                [1, 'desc']
            ]);

        });
        </script>
    }
}
