﻿@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Models
@using Kpei.PortalAK.ViewModels.Sosialisasi
@using Kpei.PortalAK.DataAccess.Core
@model DaftarHadirViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan - Detail Acara";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-list" });
}

<ul class="nav nav-tabs">
    <li class="">
        <a href="@Url.Action("Detail", new {id = Model.Event.Id})" aria-expanded="false">
            Detail
        </a>
    </li>
    <li class="active">
        <a href="@Url.Action("DaftarKehadiran", new {id = Model.Event.Id})" aria-expanded="true">
            Daftar Kehadiran
        </a>
    </li>
    <li class="">
        <a href="@Url.Action("GrafikKehadiran", new {id = Model.Event.Id})" aria-expanded="false">
            Grafik Kehadiran
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in">
        @if (Model.AppUser.IsKpei) {
            if (!Model.AppUser.KpeiModifierRightFor(CoreModules.SOSIALISASI_PELATIHAN)) {
                <div class="col-md-12">
                    <div class="note note-warning">
                        <i class="fa fa-warning"></i> Anda tidak memiliki hak untuk mengubah data ini.
                    </div>
                </div>
            }
        <div class="text-right col-md-12 form-group">
            <a href="@Url.Action("ExportExcel", "Event", new { id = Model.Event.Id})" class="btn red"><i class="fa fa-file-excel-o"></i>Export to Excel</a>
        </div>
        }
        <div class="row">
            
            <div class="col-xs-12">
                <table id="master-table" class="table table-condensed table-bordered table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@using (Html.Section("script-page-level")) {
    <script src="~/assets/custom/vue-components/attendance-toggler.js" type="text/javascript"></script>
    <script id="attendance-toggler-container-template" type="text/x-handlebars-template">
        <div class="attendance-toggler" data-attendance="{{attendance}}"
             data-peserta-id="{{pesertaId}}"></div>
    </script>
    <script id="attendance-toggler-vue-template" type="text/x-template">
        <attendance-toggler :checked="checked" :is-loading="isLoading" @@toggleClicked="toggled"></attendance-toggler>
    </script>
    <script type="text/javascript">
        $(function () {
            var togglerRendererFunc = function () {
                return function (data, type, row, meta) {
                    var tpl = Handlebars.compile($('#attendance-toggler-container-template').html());
                    var pars = {
                        pesertaId: row.PesertaId,
                        attendance: data ? 'true' : 'false'
                    }
                    return tpl(pars);
                };
            }

            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
                var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'KodeAK',
                    data: 'KodeAK',
                    title: 'Kode Perusahaan AK',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaAK',
                    data: 'NamaAK',
                    title: 'Nama Perusahaan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Nama',
                    data: 'Nama',
                    title: 'Nama Peserta',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Jabatan',
                    data: 'Jabatan',
                    title: 'Jabatan Peserta',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Hadir',
                    data: 'Hadir',
                    title: 'Kehadiran',
                    searchable: false,
                    orderable: false,
                    visible: @(Model.AppUser.IsKpei ? "true" : "false"),
                    render: togglerRendererFunc()
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListHadirKpei", "Event", new { id = Model.Event.Id})',
            cols,
            [
                [1, 'desc']
            ]);

            masterTable.on('draw.dt',
                function() {
                    _.forEach($('#master-table').find('div.attendance-toggler'),
                        function(toggler) {
                            var $tog = $(toggler);

                            var initChecked = $tog.attr('data-attendance') === 'true';
                            var pesertaId = $tog.attr('data-peserta-id');

                            PortalAK.LoadVue({
                                el: toggler,
                                template: '#attendance-toggler-vue-template',
                                data: {
                                    checked: initChecked,
                                    isLoading: false
                                },
                                methods: {
                                    toggled: function(check) {
                                        var self = this;

                                        var postData = {
                                            PesertaId: pesertaId,
                                            Hadir: check,
                                            __RequestVerificationToken: PortalAK.AntiForgeryToken
                                        };

                                        $.post('@Url.Action("Toggle", "Event", new {area = ""})', postData)
                                            .done(function (res) {
                                                self.checked = res.Attendance;
                                            })
                                            .always(function() {
                                                self.isLoading = false;
                                            });
                                    }
                                }
                            });
                        });
                });

        });
    </script>
}
