﻿@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Models
@using Kpei.PortalAK.ViewModels.Sosialisasi
@model DetailViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan - Detail Acara";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-list" });
}
<ul class="nav nav-tabs">
    <li class="">
        <a href="@Url.Action("Detail", new {id = Model.Event.Id})" aria-expanded="false">
            Detail
        </a>
    </li>
    <li class="">
        <a href="@Url.Action("DaftarKehadiran", new {id = Model.Event.Id})" aria-expanded="false">
            Daftar Kehadiran
        </a>
    </li>
    <li class="active">
        <a href="@Url.Action("GrafikKehadiran", new {id = Model.Event.Id})" aria-expanded="true">
            Grafik Kehadiran
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in">
        <div class="row">
            <div class="col-xs-12">
                @if (Model.ListPeserta.Count <= 0) {
                    <i>Tidak ada peserta yang terdaftar</i>
                } else {
                    <div>
                        Jumlah Peserta Terdaftar : @(Model.ListPeserta?.Count())
                    </div>
                    <div>
                        Jumlah Peserta Hadir : @(Model.ListPeserta?.Count(e => e.Hadir))
                    </div>
                    <div>
                        Jumlah Peserta Tidak Hadir : @(Model.ListPeserta?.Count(e => !e.Hadir))
                    </div>
                    <div id="chart_6" class="chart" style="overflow: hidden; text-align: left;"></div>
                }
            </div>
        </div>
    </div>
</div>

@using (Html.Section("script")) {
    <!--CHART-->
    <script src="/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>

    <script>
        var ChartsAmcharts = function () {
            var initChartSample6 = function () {
                var chart = AmCharts.makeChart("chart_6", {
                    "type": "pie",
                    "theme": "light",
                    "fontFamily": 'Open Sans',
                    "color": '#888',
                    "dataProvider": [{
                        "hadir": "Kehadiran",
                            "orang": @(Model.ListPeserta?.Count(e => e.Hadir) ?? 0)

                    }, {
                        "hadir": "Tidak Hadir",
                        "orang": @(Model.ListPeserta?.Count(e => !e.Hadir) ?? 0)
                    }],
                    "valueField": "orang",
                    "titleField": "hadir",
                    "exportConfig": {
                        menuItems: [{
                            icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                            format: 'png'
                        }]
                    }
                });

                $('#chart').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    initChartSample6();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmcharts.init();
        });
    </script>
}