﻿@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Models
@using Kpei.PortalAK.ViewModels.Sosialisasi
@using Kpei.PortalAK.DataAccess.DbModels
@model EditViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan - Buat Acara Baru";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "input-new-sospel" });
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(Model.Form.Judul, new TextFieldSetting {
       InputName = nameof(Model.Form.Judul),
       Label = Html.LabelForRequired(e => e.Form.Judul).ToString(),
       HelpText = "",
       Style = TextFieldStyle.Simple
   })
        @Html.FormFieldPartial(Model.Form.Highlight, new TextFieldSetting {
       InputName = nameof(Model.Form.Highlight),
       Label = Html.LabelForRequired(e => e.Form.Highlight).ToString(),
       HelpText = "",
       Style = TextFieldStyle.Textarea
   })
        @Html.FormFieldPartial(Model.Form.Tempat, new TextFieldSetting {
       InputName = nameof(Model.Form.Tempat),
       Label = Html.LabelForRequired(e => e.Form.Tempat).ToString(),
       HelpText = ""
   })
        @Html.FormFieldPartial(Model.Form.TglPelaksanaanStartUtc?.ConvertUtcToWib(), new DateTimeFieldSetting {
       InputName = nameof(Model.Form.TglPelaksanaanStartUtc),
       Label = Html.LabelForRequired(e => e.Form.TglPelaksanaanStartUtc).ToString(),
       Style = DateTimeFieldStyle.Complete
   })
        @Html.FormFieldPartial(Model.Form.TglPelaksanaanEndUtc?.ConvertUtcToWib(), new DateTimeFieldSetting {
       InputName = nameof(Model.Form.TglPelaksanaanEndUtc),
       Label = Html.LabelForRequired(e => e.Form.TglPelaksanaanEndUtc).ToString(),
       Style = DateTimeFieldStyle.Complete
   })
        @Html.FormFieldPartial(Model.Form.TglDaftarBukaUtc?.ConvertUtcToWib(), new DateTimeFieldSetting {
       InputName = nameof(Model.Form.TglDaftarBukaUtc),
       Label = Html.LabelForRequired(e => e.Form.TglDaftarBukaUtc).ToString(),
       Style = DateTimeFieldStyle.Complete
   })
        @Html.FormFieldPartial(Model.Form.TglDaftarTutupUtc?.ConvertUtcToWib(), new DateTimeFieldSetting {
       InputName = nameof(Model.Form.TglDaftarTutupUtc),
       Label = Html.LabelForRequired(e => e.Form.TglDaftarTutupUtc).ToString(),
       Style = DateTimeFieldStyle.Complete
   })
        @Html.FormFieldPartial(Model.Form.JenisPelatihan, new SelectFieldSetting {
       InputName = nameof(Model.Form.JenisPelatihan),
       Label = Html.LabelForRequired(e => e.Form.JenisPelatihan).ToString(),
       HelpText = "",
       Options = Model.Setting.ListJenisPelatihan,
       OptionValueGetter = x => x.DirectCastTo<Setting>().Value,
       OptionLabelGetter = x => x.DirectCastTo<Setting>().Value,
       AddEmptyOption = true,
       EmptyOptionLabel = "-Pilih Jenis Acara-"
   })
        @Html.FormFieldPartial(Model.Form.KapasitasPerAK, new IntFieldSetting {
       InputName = nameof(Model.Form.KapasitasPerAK),
       Label = Html.LabelForRequired(e => e.Form.KapasitasPerAK).ToString(),
   })
        @Html.FormFieldPartial(Model.Form.KapasitasTotal, new IntFieldSetting {
       InputName = nameof(Model.Form.KapasitasTotal),
       Label = Html.LabelForRequired(e => e.Form.KapasitasTotal).ToString(),
   })
        @Html.FormFieldPartial(Model.Form.BrosurFileUrl, new UploadFieldSetting {
       InputName = nameof(Model.Form.BrosurFileUrl),
       Label = Html.LabelForRequired(e => e.Form.BrosurFileUrl).ToString(),
       ValidFileExtensions = new[] { "pdf" },
       MaxBytes = 15 * 1024 * 1024,
       FolderPath = "sospel"
   })
        @Html.FormFieldPartial(Model.Form.MateriFileUrl, new UploadFieldSetting {
       InputName = nameof(Model.Form.MateriFileUrl),
       Label = Html.LabelForRequired(e => e.Form.MateriFileUrl).ToString(),
       ValidFileExtensions = new[] { "pdf" },
       MaxBytes = 15 * 1024 * 1024,
       FolderPath = "sospel"
   })
        @Html.FormFieldPartial(Model.Form.StatusEvent, new SelectFieldSetting {
       InputName = nameof(Model.Form.StatusEvent),
       Label = Html.LabelForRequired(e => e.Form.StatusEvent).ToString(),
       HelpText = "",
       Options = Model.Status,
       OptionValueGetter = x => x.DirectCastTo<EventStatus>().Name,
       OptionLabelGetter = x => x.DirectCastTo<EventStatus>().Label,
       AddEmptyOption = false,
       EmptyOptionLabel = ""
   })
        <h3>Pembicara</h3>
        <hr />
        @for (int i = 0; i < 5; i++) {
            var name = nameof(Model.Form.ListPembicara) + "[" + i + "]";
            <input type="hidden" value="@(Model.Form.ListPembicara?[i].Id)" name="@(name + ".Id")" />

            <input type="hidden" value="@(Model.Form.Id)" name="@(name + ".EventId")" />
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(i + 1)
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @Html.FormFieldPartial(Model.Form.ListPembicara?[i].Nama, new TextFieldSetting {
                       InputName = name + ".Nama",
                       Label = "Nama Pembicara"
                   })
                        @Html.FormFieldPartial(Model.Form.ListPembicara?[i].Jabatan, new TextFieldSetting {
                       InputName = name + ".Jabatan",
                       Label = "Jabatan"
                   })
                        @Html.FormFieldPartial(Model.Form.ListPembicara?[i].Email, new TextFieldSetting {
                       InputName = name + ".Email",
                       Label = "Email"
                   })
                        @Html.FormFieldPartial(Model.Form.ListPembicara?[i].Telp, new TextFieldSetting {
                       InputName = name + ".Telp",
                       Label = "No. Telepon"
                   })
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        }
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>
</form>
