﻿@using Kpei.PortalAK.ViewModels.Sosialisasi
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Models
@model IndexViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "event-list" });
}
<div class="row">
    <div class="col-xs-12">
        @if (Model.AppUser.KpeiModifierRightFor(CoreModules.SOSIALISASI_PELATIHAN)) { 
        <div class="pull-right text-right">
            <a href="@Url.Action("InputNew")" class="btn red">
                Input Acara
            </a>
        </div>
        }
        <div class="pull-left text-left">
            <a href="@Url.Action("Calendar", "Event")" class="btn green">
                <i class="fa fa-calendar"></i>Kalender
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
        <div class="col-md-3">
            <label>Status Acara:</label>
            <select id="status-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.EventExpiration) {
                    <option value="@mod.Name" @if (mod.Name == EventExpirationStatus.REGIS_OPEN_STATUS.Name) { <text>selected</text>}>@mod.Label</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12">
        <hr />
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'Judul',
                    data: 'Judul',
                    title: 'Judul Sosialisasi',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'TglPelaksanaanStartUtc',
                    data: 'TglPelaksanaan',
                    title: 'Tgl Pelaksanaan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'JenisPelatihan',
                    data: 'JenisPelatihan',
                    title: 'Jenis Pelatihan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'KapasitasTotal',
                    data: 'KapasitasTotal',
                    title: 'Kapasitas Total',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'StatusExpiration',
                    data: 'StatusExpiration',
                    title: 'Status Acara',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKpei", "Event")',
                cols,
                [
                    [2, 'desc']
                ],
                function (e, stg, dat) {
                    dat['@(nameof(Event.StatusExpiration))'] = $statusSelector.val();
                }
            );

            $statusSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}