﻿@using Kpei.PortalAK.ViewModels.Sosialisasi
@using Kpei.PortalAK.DataAccess.ModSosialisasi.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model IndexViewModel
@{
    ViewBag.Title = "Sosialisasi Pelatihan - List Kehadiran";
    Html.SelectedMenuTags().AddRange(new[] { "sospel" , "event-attend"});
}
<div class="row">
    <div class="col-md-4">
        <label>Jenis Pelatihan:</label>
        <select id="jenis-pelatihan-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.JenisPelatihan) {
                <option value="@mod">@mod</option>
            }
        </select>
    </div>
    <div class="master-table-filter">
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(EventDttRequestForm.FromDateTime),
           Label = "Dari:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(EventDttRequestForm.ToDateTime),
           Label = "Sampai:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
    </div>
    <div class="col-xs-12">
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');
            var $jenisPelatihanSelector = $('#jenis-pelatihan-selector');

            var cols = [
                {
                    name: 'Judul',
                    data: 'Judul',
                    title: 'Judul Sosialisasi',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'TglPelaksanaanStartUtc',
                    data: 'TglPelaksanaan',
                    title: 'Tgl Pelaksanaan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'JenisPelatihan',
                    data: 'JenisPelatihan',
                    title: 'Jenis Pelatihan',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'KapasitasTotal',
                    data: 'KapasitasTotal',
                    title: 'Kapasitas Total',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'PesertaTerdaftar',
                    data: 'PesertaTerdaftar',
                    title: 'Jlh. Peserta Terdaftar',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'StatusExpiration',
                    data: 'StatusExpiration',
                    title: 'Status Acara',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKehadiranKpei", "Event")',
                cols,
                [
                    [2, 'desc']
                ],

                function(e, stg, dat) {
                    dat['@(nameof(EventDttRequestForm.JenisPelatihan))'] = $jenisPelatihanSelector.val();
                    $('.master-table-filter :input[name]').each(function () {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $jenisPelatihanSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });

            $('.master-table-filter :input[name]').on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}
