﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.Services;
@using Kpei.PortalAK.ViewModels.Sosialisasi
@model RegisterViewModel
@{
    ViewBag.Title = Model.Event.Judul + " - Registrasi Peserta";
    Html.SelectedMenuTags().AddRange(new[] { "sospel", "input-peserta-sospel" });
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-body">
        @for (int i = 0; i < Model.ListPeserta.Count; i++) {
            var name = nameof(Model.ListPeserta) + "[" + i + "]";
            <input type="hidden" name="@(name + ".EventId")" value="@Model.Event.Id" />
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(i + 1)
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @Html.FormFieldPartial(Model.ListPeserta[i].KodeAK, new SelectFieldSetting {
                       InputName = name + ".KodeAK",
                       Label = "Nama Perusahaan",
                       Options = Model.AllCompanies.OrderBy(e => e.Name),
                       OptionLabelGetter = (x) => x.DirectCastTo<KpeiCompany>().Name,
                       OptionValueGetter = (x) => x.DirectCastTo<KpeiCompany>().Code,
                       AddEmptyOption = true,
                       EmptyOptionLabel = "-Pilih Nama Perusahaan-"
                   })
                        @Html.FormFieldPartial(Model.ListPeserta[i].Nama, new TextFieldSetting {
                       InputName = name + ".Nama",
                       Label = "Nama Peserta"
                   })
                        @Html.FormFieldPartial(Model.ListPeserta[i].Jabatan, new TextFieldSetting {
                       InputName = name + ".Jabatan",
                       Label = "Jabatan"
                   })
                        @Html.FormFieldPartial(Model.ListPeserta[i].Email, new TextFieldSetting {
                       InputName = name + ".Email",
                       Label = "Email"
                   })
                        @Html.FormFieldPartial(Model.ListPeserta[i].Telp, new TextFieldSetting {
                       InputName = name + ".Telp",
                       Label = "No. Telepon"
                   })
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        }
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>