﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || x is CustomValidationAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute)))
    {
        label += "<b class=\"text-danger\">*</b>";
    }
    var helpText = dispAttr.Description ?? "";
}

@Html.FormFieldPartial(propVal, new UploadFieldSetting
{
    Label = label,
    HelpText = helpText,
    InputName = prop.Name,
    CssClass = "perjanjian-aku-file-upload",
    MaxBytes = 15 * 1024 * 1024,
    FolderPath = $"data-aknp/{drv.DataSlug}",
    ValidFileExtensions = new[] { "jpg", "png", "pdf" }
})