﻿@using System.ComponentModel.DataAnnotations
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Akte
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;

    var rand = Randomer.Self.Next();

    var stgRepo = DepResolver.Instance.GetService<ISettingRepository>();
    var globalStg = stgRepo.GlobalSetting();
    var maxCompanyPerson = globalStg.MaxCompanyPersonCount;
}

@if (viewDef.UseFormField) {
    @Html.FormFieldPartial(propVal, viewDef.FormFieldSetting)
} else {
    var rendered = false;
    var prop = drv.FormClassType.GetProperty(viewDef.PropertyName);
    if (prop != null) {

        var label = viewDef.PropertyName;
        var helpText = "";

        var propAttrs = Attribute.GetCustomAttributes(prop, true);
        var dispAttr = propAttrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;

        if (dispAttr != null) {
            if (!string.IsNullOrWhiteSpace(dispAttr.Name)) {
                label = dispAttr.Name;
            }
            if (!string.IsNullOrWhiteSpace(dispAttr.Description)) {
                helpText = dispAttr.Description;
            }
        }

        if (!typeof(IEnumerable<object>).IsAssignableFrom(prop.PropertyType)
            && propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                               (!usr.IsKpei && x is RequiredIfAknpAttribute))) {
            label += "<b class=\"text-danger\">*</b>";
        }

        if (typeof(string).IsAssignableFrom(prop.PropertyType)) {
            if (viewDef.PropertyName.EndsWith("FileUrl") && !rendered) {
                rendered = true;
                @Html.FormFieldPartial(propVal, new UploadFieldSetting {
               Label = label,
               HelpText = helpText,
               InputName = viewDef.PropertyName,
               MaxBytes = 15 * 1024 * 1024,
               FolderPath = $"data-aknp/{drv.DataSlug}",
               ValidFileExtensions = new[] { "jpg", "png", "pdf" }
           })
            }

            if (!rendered) {
                var maxLenAttr = propAttrs.FirstOrDefault(x => x is MaxLengthAttribute) as MaxLengthAttribute;
                if (maxLenAttr != null) {
                    rendered = true;
                    @Html.FormFieldPartial(propVal, new TextFieldSetting {
                        Label = label,
                        HelpText = helpText,
                        InputName = viewDef.PropertyName,
                        Style = maxLenAttr.Length > 256 ? TextFieldStyle.Textarea : TextFieldStyle.Simple
                    })
                }
            }

            if (!rendered) {
                var strLenAttr = propAttrs.FirstOrDefault(x => x is StringLengthAttribute) as StringLengthAttribute;
                if (strLenAttr != null) {
                    rendered = true;
                    @Html.FormFieldPartial(propVal, new TextFieldSetting {
                        Label = label,
                        HelpText = helpText,
                        InputName = viewDef.PropertyName,
                        Style = strLenAttr.MaximumLength > 256 ? TextFieldStyle.Textarea : TextFieldStyle.Simple
                    })
                }
            }

            if (!rendered) {
                @Html.FormFieldPartial(propVal, new TextFieldSetting {
                    Label = label,
                    HelpText = helpText,
                    InputName = viewDef.PropertyName,
                    Style = TextFieldStyle.Textarea
                })
            }
        } else if (typeof(DateTime).IsAssignableFrom(prop.PropertyType) || typeof(DateTime?).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new DateTimeFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                Style = DateTimeFieldStyle.DateOnly
            })
        } else if (new[] {
            typeof(float),
            typeof(double),
            typeof(decimal),
            typeof(float?),
            typeof(double?),
            typeof(decimal?)
        }.Any(x => x.IsAssignableFrom(prop.PropertyType))) {
            rendered = true;
            if (prop.Name.EndsWith("Rupiah")) {
                var specialMoneyCssClass = $"{prop.Name}-{rand}-rupiah";
                @Html.FormFieldPartial(propVal?.ToString(), new TextFieldSetting {
                    InputName = prop.Name,
                    Label = label,
                    HelpText = helpText,
                    CssClass = specialMoneyCssClass
                })
                using (Html.Section("script")) {
                    <script type="text/javascript">
                        $(function() {
                            PortalAK.SetupInputMaskMoney('.@Html.Raw(specialMoneyCssClass) :input[name]');
                        });
                    </script>
                }
            } else {
                @Html.FormFieldPartial(propVal, new FloatFieldSetting {
                    InputName = prop.Name,
                    Label = label,
                    HelpText = helpText
                })
            }
        } else if (new[] {
            typeof(int),
            typeof(int?)
        }.Any(x => x.IsAssignableFrom(prop.PropertyType))) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new IntFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText
            })
        } else if (typeof(bool).IsAssignableFrom(prop.PropertyType) || typeof(bool?).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new BoolFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                AllowNull = false,
                YesLabel = "Ya",
                NoLabel = "Tidak"
            })
        } else if (typeof(IEnumerable<DataPemegangSahamForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrPemegangSahamFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                MaxItems = maxCompanyPerson
            })
        } else if (typeof(IEnumerable<DataDirectorPersonForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrDirectorPersonFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                MaxItems = maxCompanyPerson,
                UploadFolder = $"{drv.DataSlug}/{drv.FormClassType.Name}/{prop.Name}"
            })
        } else if (typeof(IEnumerable<DataKomisarisPersonForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrKomisarisPersonFieldSetting {
               InputName = prop.Name,
               Label = label,
               HelpText = helpText,
               MaxItems = maxCompanyPerson,
               UploadFolder = $"{drv.DataSlug}/{drv.FormClassType.Name}/{prop.Name}"
           })
        } else if (typeof(IEnumerable<DataPersonForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrPersonFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                MaxItems = maxCompanyPerson
            })
        } else if (typeof(IEnumerable<DataSupportDocumentForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrSupportDocumentFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                MaxItems = 15,
                UploadFolder = $"{drv.DataSlug}/{drv.FormClassType.Name}/{prop.Name}"
            })
        } else if (typeof(IEnumerable<DataPartisipanForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrPartisipanFieldSetting {
               InputName = prop.Name,
               Label = label,
               HelpText = helpText,
           CssClass = "tipe-member-partisipan-selector-container"})
        } else if (typeof(IEnumerable<DataLayananBaruForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            @Html.FormFieldPartial(propVal, new ArrTipeMemberAkuFieldSetting {
               InputName = prop.Name,
               Label = label,
               HelpText = helpText,
           CssClass = "tipe-member-partisipan-selector-container"})
        }
        else if (typeof(IEnumerable<DataMemberAkForm>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var choices = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
            
            @Html.FormFieldPartial(propVal, new ArrMemberAkFieldSetting {
                InputName = prop.Name,
                Label = label,
                HelpText = helpText,
                CssClass = "tipe-member-ak-item-selector-container"
           })

        }

        if (!rendered) {
            rendered = true;
            @Html.FormFieldPartial(propVal?.ToString(), new TextFieldSetting {
                Label = label,
                InputName = viewDef.PropertyName
            })
        }
    }

    if (!rendered) {
        @Html.FormFieldPartial(propVal?.ToString(), new TextFieldSetting {
            Label = viewDef.PropertyName,
            InputName = viewDef.PropertyName
        })
    }
            }