﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute))) {
        label += "<b class=\"text-danger\">*</b>";
    }

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var choices = aknpStg.ListJenisPerjanjianKbos;
}
@Html.FormFieldPartial(propVal, new SelectFieldSetting {
    InputName = prop.Name,
    Label = label,
    AddEmptyOption = true,
    EmptyOptionLabel = "-pilih-",
    Options = choices,
    OptionLabelGetter = x => x.DirectCastTo<Setting>().Value,
    OptionValueGetter = x => x.DirectCastTo<Setting>().Value
})