﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute)))
    {
        label += "<b class=\"text-danger\">*</b>";
    }

    var choices = RegistrasiKategoriMember.NewAll().ToArray();
    var addEmptyLabel = true;
    if (drv.DataSlug == DataStatusKpeiAknpDriver.SLUG)
    {
        addEmptyLabel = false;
        var driver = (DataStatusKpeiAknpDriver)drv;
        var administrasiKeanggotaan = driver.getLatestAdministrasiKeanggotaanActiveData(form.KodeAk);
        propVal = administrasiKeanggotaan?.KategoriMember ?? propVal;
        choices = choices.Where(x => x.Name == administrasiKeanggotaan?.KategoriMember)
            .Where(x => x.Name != RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name).ToArray();
    }
}
@Html.FormFieldPartial(propVal, new SelectFieldSetting
{
    InputName = prop.Name,
    CssClass = "kategori-member-selector-container",
    Label = label,
    AddEmptyOption = addEmptyLabel,
    EmptyOptionLabel = "-pilih-",
    Options = choices,
    OptionLabelGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Label,
    OptionValueGetter = x => x.DirectCastTo<RegistrasiKategoriMember>().Name
})
@if (drv.DataSlug != DataStatusKpeiAknpDriver.SLUG)
{
    using (Html.Section("script"))
    {
        <script type="text/javascript">
        $(function() {
            var katMemSel = $('.kategori-member-selector-container select');
            katMemSel.on('change', function() {
                var me = $(this);

                if (me.val() === '@RegistrasiKategoriMember.MEMBER_AKU.Name') {
                    $('.tipe-member-partisipan-selector-container select').val('');
                    $('.tipe-member-partisipan-selector-container select').trigger('change');
                    $('.nama-ab-sponsor-selector-container select').val('');
                    $('.nama-ab-sponsor-selector-container select').trigger('change');
                    $('.laporan-keuangan-ak-partisipan-file-upload input').val('');
                    $('.tipe-member-aki-selector-container input[type=text]').val('');
                    $('.tipe-member-partisipan-selector-container input[type=text]').val();
                    $('.perjanjian-aki-file-upload input[type=text]').val('');
                    $('.perjanjian-ped-file-upload input[type=text]').val('');
                    $('.perjanjian-partisipan-file-upload input[type=text]').val('');

                    $('.tipe-member-aku-selector-container').show();
                    $('.tipe-member-aki-selector-container').hide();
                    $('.tipe-member-partisipan-selector-container').hide();
                    $('.trading-member-selector-container').show();
                    $('.nama-ab-sponsor-selector-container').hide();
                    $('.laporan-keuangan-ak-partisipan-file-upload').show();

                    $('.perjanjian-aku-file-upload').show();
                    $('.perjanjian-aki-file-upload').hide();
                    $('.perjanjian-ped-file-upload').hide();
                    $('.perjanjian-partisipan-file-upload').hide();
                    $('.perjanjian-portability-file-upload').show();

                    $('.no-izin-usaha-ped').hide();
                    $('.no-izin-usaha-ped input[type=text]').val('');
                } else if (me.val() === '@RegistrasiKategoriMember.MEMBER_AKI.Name') {
                    $('.tipe-member-partisipan-selector-container select').val('');
                    $('.tipe-member-partisipan-selector-container select').trigger('change');
                    $('.nama-ab-sponsor-selector-container select').val('');
                    $('.nama-ab-sponsor-selector-container select').trigger('change');
                    $('.laporan-keuangan-ak-partisipan-file-upload input').val('');
                    $('.tipe-member-aku-selector-container input[type=text]').val('');
                    $('.tipe-member-partisipan-selector-container input[type=text]').val('');
                    $('.trading-member-selector-container select').select2("val", "");
                    $('.perjanjian-aku-file-upload input[type=text]').val('');
                    $('.perjanjian-ped-file-upload input[type=text]').val('');
                    $('.perjanjian-partisipan-file-upload input[type=text]').val('');

                    $('.tipe-member-aki-selector-container').show();
                    $('.tipe-member-aku-selector-container').hide();
                    $('.tipe-member-partisipan-selector-container').hide();
                    $('.trading-member-selector-container').hide();
                    $('.nama-ab-sponsor-selector-container').hide();
                    $('.laporan-keuangan-ak-partisipan-file-upload').show();

                    $('.perjanjian-aku-file-upload').hide();
                    $('.perjanjian-aki-file-upload').show();
                    $('.perjanjian-ped-file-upload').hide();
                    $('.perjanjian-partisipan-file-upload').hide();
                    $('.perjanjian-portability-file-upload').show();

                    $('.no-izin-usaha-ped').hide();
                    $('.no-izin-usaha-ped input[type=text]').val('');
                } else if (me.val() === '@RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name') {
                    $('.laporan-keuangan-ak-partisipan-file-upload input').val('');
                    $('.tipe-member-aki-selector-container input[type=text]').val('');
                    $('.tipe-member-aku-selector-container input[type=text]').val('');
                    $('.trading-member-selector-container select').select2("val", "");
                    $('.trading-member-selector-container select').select2("val", "");
                    $('.perjanjian-aku-file-upload input[type=text]').val('');
                    $('.perjanjian-ped-file-upload input[type=text]').val('');
                    $('.perjanjian-aki-file-upload input[type=text]').val('');

                    $('.tipe-member-partisipan-selector-container').show();
                    $('.tipe-member-aku-selector-container').hide();
                    $('.tipe-member-aki-selector-container').hide();
                    $('.trading-member-selector-container').hide();

                    $('.perjanjian-aku-file-upload').hide();
                    $('.perjanjian-aki-file-upload').hide();
                    $('.perjanjian-portability-file-upload').hide();
                } else {
                    $('.tipe-member-partisipan-selector-container').hide();
                    $('.tipe-member-aku-selector-container').hide();
                    $('.tipe-member-aki-selector-container').hide();
                    $('.trading-member-selector-container').hide();
                    $('.nama-ab-sponsor-selector-container').hide();
                    $('.laporan-keuangan-ak-partisipan-file-upload').show();

                    $('.perjanjian-aku-file-upload').hide();
                    $('.perjanjian-aki-file-upload').hide();
                    $('.perjanjian-ped-file-upload').hide();
                    $('.perjanjian-partisipan-file-upload').hide();
                    $('.perjanjian-portability-file-upload').hide();

                    $('.no-izin-usaha-ped').hide();
                }
            });
            katMemSel.trigger('change');
        });
        </script>
    }
}
