﻿@using System.ComponentModel.DataAnnotations
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Akte
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;

    var rand = Randomer.Self.Next();

    var stgRepo = DepResolver.Instance.GetService<ISettingRepository>();
    var globalStg = stgRepo.GlobalSetting();
    var maxCompanyPerson = globalStg.MaxCompanyPersonCount;
}

@if (viewDef.UseFormField)
{
    @Html.FormFieldPartial(propVal, viewDef.FormFieldSetting)
}
else
{
    var rendered = false;
    var prop = drv.FormClassType.GetProperty(viewDef.PropertyName);
    if (prop != null)
    {

        var label = viewDef.PropertyName;
        var helpText = "";

        var propAttrs = Attribute.GetCustomAttributes(prop, true);
        var dispAttr = propAttrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;

        if (dispAttr != null)
        {
            if (!string.IsNullOrWhiteSpace(dispAttr.Name))
            {
                label = dispAttr.Name;
            }
            if (!string.IsNullOrWhiteSpace(dispAttr.Description))
            {
                helpText = dispAttr.Description;
            }
        }

        if (!typeof(IEnumerable<object>).IsAssignableFrom(prop.PropertyType)
            && propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                               (!usr.IsKpei && x is RequiredIfAknpAttribute)))
        {
            label += "<b class=\"text-danger\">*</b>";
        }
        @Html.FormFieldPartial(propVal, new TextFieldSetting
        {
            Label = label,
            HelpText = helpText,
            InputName = viewDef.PropertyName,
            MaxLength = 32,
        })
    }
}