﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Services
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();
    var maxLenAttr = propAttrs.FirstOrDefault(x => x is MaxLengthAttribute) as MaxLengthAttribute;

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute)))
    {
        label += "<b class=\"text-danger\">*</b>";
    }

    //var choices = RegistrasiKategoriMember.NewAll().Where(x => x.Name != "PARTISIPAN").ToArray();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var aknpStg = stgrepo.AknpSetting();

    var choices = aknpStg.ListRegistrasiAKABSponsor.ToList();
    var listTM = aknpStg.ListRegistrasiAKTradingMember.ToArray();
    foreach (var c in choices)
    {
        c.Label = c.Label + " / " + comps.FirstOrDefault(e => e.Code == c.Name)?.Name;
    }
    foreach (var tm in listTM)
    {
        if (choices.Any(x => x.Name == tm.Name) == false)
        {
            choices.Add(new RegistrasiAKABSponsor
            {
                Name = tm.Name,
                Label = tm.Label
            });
        }
    }
}

@Html.FormFieldPartial(propVal, new SelectFieldSetting
{
    InputName = prop.Name,
    CssClass = "nama-ab-sponsor-selector-container",
    Label = label,
    AddEmptyOption = true,
    EmptyOptionLabel = "-pilih-",
    Options = choices,
    OptionLabelGetter = x => x.DirectCastTo<RegistrasiAKABSponsor>().Label,
    OptionValueGetter = x => x.DirectCastTo<RegistrasiAKABSponsor>().Name
})
