﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute)))
    {
        label += "<b class=\"text-danger\">*</b>";
    }

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    //var choices = RegistrasiTipeMemberPartisipan.All().ToArray();
    var choices = aknpStg.ListLayananBaruTipeMemberPartisipan
        .OrderBy(e => e.TipeMemberPartisipan)
        .GroupBy(record => record.TipeMemberPartisipan)
        .Select(x => new RegistrasiTipeMemberPartisipan
        {
            Name = x.Key,
            Label = x.Key
        }).ToArray();
}
@Html.FormFieldPartial(propVal, new SelectFieldSetting
{
    InputName = prop.Name,
    CssClass = "tipe-member-partisipan-selector-container",
    Label = label,
    AddEmptyOption = true,
    EmptyOptionLabel = "-pilih-",
    Options = choices,
    OptionLabelGetter = x => x.DirectCastTo<RegistrasiTipeMemberPartisipan>().Label,
    OptionValueGetter = x => x.DirectCastTo<RegistrasiTipeMemberPartisipan>().Name
})