﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Services
@model FormFieldViewModel

@{
    var propVal = Model.PropertyValue;
    var form = Model.Form;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var kodeAk = Model.KodeAk;
    var rand = Randomer.Self.Next();

    var formClassType = drv?.FormClassType ?? form?.GetType() ?? typeof(object);
    var prop = formClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes(true).ToArray();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var label = dispAttr.GetName() ?? prop.Name;
    if (propAttrs.Any(x => x is RequiredAttribute || (usr.IsKpei && x is RequiredIfKpeiAttribute) ||
                           (!usr.IsKpei && x is RequiredIfAknpAttribute)))
    {
        label += "<b class=\"text-danger\">*</b>";
    }

    //var choices = RegistrasiTipeMemberAK.All().ToArray();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var aknpStg = stgrepo.AknpSetting();

    var choices = aknpStg.ListRegistrasiAKTradingMember.ToArray();
    foreach (var c in choices)
    {
        c.Label = c.Name + " / " + c.Label;
    }

}
@Html.FormFieldPartial(propVal, new Select2FieldSetting
{
    InputName = prop.Name,
    CssClass = "trading-member-selector-container",
    Label = label,
    Options = choices,
    OptionLabelGetter = x => x.DirectCastTo<RegistrasiAKTradingMember>().Label,
    OptionValueGetter = x => x.DirectCastTo<RegistrasiAKTradingMember>().Name
})