﻿@using Kpei.PortalAK.ViewModels
@model SettingAknpViewModel
@{
    ViewBag.Title = "Setting - AK&P";
    Html.SelectedMenuTags().AddRange(new[] { "setting", "aknp-setting" });
}
@using (Html.Section("script")) {
    // magic to scroll last modified table into view
    <script type="text/javascript">
        $(function () {
            var lfaInp = $('input[name=__LastFormAction]');
            _.forEach(lfaInp, function(el) {
                var inp = $(el);
                var fm = inp.closest('table');
                var fmIdx = _.indexOf($('table'), fm[0]);
                inp.val(fmIdx);
            });
        });
    </script>

    var lfa = TempData["__LastFormAction"] as string ?? "";
    if (!string.IsNullOrWhiteSpace(lfa)) {
        <script type="text/javascript">
            $(function() {
                $('html, body').stop(true, true).animate({
                        scrollTop: $($('table')[@lfa]).offset().top - $('div.page-header').outerHeight() - 10
                    },
                    0);
            });
        </script>
    }
}
<div class="col-xs-12">
    <div class="form-horizontal">
        <!--AKTE-->
        <h4>Akta</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Notaris:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListNotaris != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListNotaris) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value="" />
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddNotaris", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value="" />
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END AKTE-->
        <!--BANK PEMBAYARAN-->
        <h4>Bank Pembayaran</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Bank Pembayaran:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListBankPembayaran != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListBankPembayaran) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddBankPembayaran", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END BANK PEMBAYARAN-->
        <!--PERJANJIAN EBU-->
        <h4>Perjanjian EBU</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Perjanjian:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisPerjanjianEbu != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisPerjanjianEbu) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPerjanjianEbu", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status Perjanjian:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListStatusPerjanjianEbu != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListStatusPerjanjianEbu) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddStatusPerjanjianEbu", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END PERJANJIAN EBU-->
        <!--PERJANJIAN KBOS-->
        <h4>Perjanjian KBOS</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Perjanjian:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisPerjanjianKbos != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisPerjanjianKbos) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPerjanjianKbos", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status Perjanjian:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListStatusPerjanjianKbos != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListStatusPerjanjianKbos) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddStatusPerjanjianKbos", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END PERJANJIAN KBOS-->
        <!--PERJANJIAN-->
        <h4>Perjanjian</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Perjanjian:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisPerjanjian != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisPerjanjian) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPerjanjian", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--PERJANJIAN-->
        <!--INFORMASI LAIN-->
        <h4>Informasi Lain</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Kode Pemantau:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListPemantau != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListPemantau) {
                                <tr>
                                    <td>@(rowNo += 1)</td>                                    
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value="" />
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddPemantau", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value="" />
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Anggota Bursa:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListAnggotaBursaInformasiLain != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListAnggotaBursaInformasiLain) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddAnggotaBursa", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END INFORMASI LAIN-->
        <!--PME-->
        <h4>PME</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Keanggotaan PME:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisKeanggotaanPme != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisKeanggotaanPme) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisKeanggotaanPme", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Perjanjian Lender:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisPerjanjianLenderPme != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisPerjanjianLenderPme) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPerjanjianLenderPme", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status Lender:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListStatusLenderPme != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListStatusLenderPme) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddStatusLenderPme", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Perjanjian Borrower:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJenisPerjanjianBorrowerPme != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJenisPerjanjianBorrowerPme) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPerjanjianBorrowerPme", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Status Borrower:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListStatusBorrowerPme != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListStatusBorrowerPme) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddStatusBorrowerPme", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END PME-->
        <!--KOMISARIS-->
        <h4>Komisaris</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jabatan Komisaris:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJabatanKomisaris != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJabatanKomisaris) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJabatanKomisaris", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END KOMISARIS-->
        <!--DIREKSI-->
        <h4>Direksi</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jabatan Direksi:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJabatanDireksi != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJabatanDireksi) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJabatanDireksi", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END DIREKSI-->
        <!--CONTACT PERSON-->
        <h4>Contact Person</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jabatan Contact Person:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJabatanContactPerson != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJabatanContactPerson) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJabatanContactPerson", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END CONTACT PERSON-->
        <!--PEJABAT BERWENANG-->
        <h4>Pejabat Berwenang</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Jabatan Pejabat Berwenang:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListJabatanPejabatBerwenang != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListJabatanPejabatBerwenang) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJabatanPejabatBerwenang", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END PEJABAT BERWENANG-->
        <!--TIPE MEMBER-->
        <h4>Tipe Member</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label">Tipe Member Partisipan:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model.Form.ListTipeMemberPartisipan != null) {
                            var rowNo = 0;
                            foreach (var data in Model.Form.ListTipeMemberPartisipan) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashAknpSetting", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddTipeMemberPartisipan", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--END TIPE MEMBER-->
    </div>
</div>