﻿@using Kpei.PortalAK.ViewModels
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model SettingEventViewModel

@{
    ViewBag.Title = "Setting - Sosialisasi & Pelatihan";
    Html.SelectedMenuTags().AddRange(new[] { "setting", "sospel-setting" });
}
@using (Html.Section("script")) {
    // magic to scroll last modified table into view
    <script type="text/javascript">
        $(function() {
            var lfaInp = $('input[name=__LastFormAction]');
            _.forEach(lfaInp,
                function(el) {
                    var inp = $(el);
                    var fm = inp.closest('table');
                    var fmIdx = _.indexOf($('table'), fm[0]);
                    inp.val(fmIdx);
                });
        });
    </script>

    var lfa = TempData["__LastFormAction"] as string ?? "";
    if (!string.IsNullOrWhiteSpace(lfa)) {
        <script type="text/javascript">
            $(function() {
                $('html, body').stop(true, true).animate({
                        scrollTop: $($('table')[@lfa]).offset().top - $('div.page-header').outerHeight() - 10
                    },
                    0);
            });
        </script>
    }
}
<div class="col-xs-12">
    <p>
        Halaman Setting untuk Pelatihan dan Sosialisasi
    </p>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Jenis Pelatihan:</label>
            <div class="col-md-8">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>No</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        @if (Model != null && Model.listJenisPelatihan != null) {
                            var rowNo = 0;
                            foreach (var data in Model.listJenisPelatihan) {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@data.Value</td>
                                    <td>
                                        @using (Html.BeginForm("TrashJenisPelatihan", "Setting", null, FormMethod.Post)) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <input type="hidden" name="Id" value="@data.Id" />
                                            <button type="button" class="form-submit-button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3">
                                @using (Html.BeginForm("AddJenisPelatihan", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="__LastFormAction" value=""/>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="Value">
                                        <span class="input-group-btn">
                                            <button class="btn green-jungle form-submit-button" type="button">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr />  
        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="@(nameof(Model.Reminder.Id))" value="@Model.Reminder.Id"/>
            <input type="hidden" name="@nameof(Model.Reminder.Field)" value="@Model.Reminder.Field" />
            @Html.FormFieldPartial(Model.Reminder.Value, new TextFieldSetting {
               InputName = nameof(Model.Reminder.Value),
               Label = "Daily Reminder (X hari sebelum acara)"
           })
            <div class="form-actions text-center">
                <button type="button" class="btn red form-submit-button">Simpan</button>
            </div>
        </form>
    </div>
</div>