﻿@using Kpei.PortalAK.ViewModels
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model SettingKeuanganViewModel
@{
    ViewBag.Title = "Setting - Laporan Keuangan";
    Html.SelectedMenuTags().AddRange(new[] { "setting", "keuangan-setting" });
    var awalPeriode = Model.Setting.KeuanganAwalPeriodeUtc;
    var akhirPeriode = Model.Setting.KeuanganAkhirPeriodeUtc;
    var reminder1 = Model.Setting.Reminder1;

}
<div class="col-xs-12">
    <form class="form-horizontal" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="@nameof(Model.Setting.Id)" value="@Model.Setting.Id" />
        @Html.FormFieldPartial(awalPeriode?.ConvertUtcToWib(), new DateTimeFieldSetting {
           InputName = nameof(Model.Setting.KeuanganAwalPeriodeUtc),
           Label = "Deadline Awal Periode Laporan",
           Style = DateTimeFieldStyle.Complete
       })
        @Html.FormFieldPartial(akhirPeriode?.ConvertUtcToWib(), new DateTimeFieldSetting {
           InputName = nameof(Model.Setting.KeuanganAkhirPeriodeUtc),
           Label = "Deadline Akhir Periode Laporan",
           Style = DateTimeFieldStyle.Complete
       })

        @Html.FormFieldPartial(reminder1, new IntFieldSetting {
           InputName = nameof(Model.Setting.Reminder1),
           Label = "Reminder (jumlah hari sebelum hari H)"
        })
        <div class="form-actions text-center">
            <button type="button" class="btn red form-submit-button">Submit</button>
            <button type="button" class="btn form-reset-button">Reset</button>
        </div>
    </form>
</div>