﻿@model Kpei.PortalAK.ViewModels.SettingSurveiViewModel
@{
    ViewBag.Title = "Setting - Survei";
    Html.SelectedMenuTags().AddRange(new[] { "setting", "survei-setting" });
}
@using (Html.Section("script")) {
    // magic to scroll last modified table into view
    <script type="text/javascript">
        $(function() {
            var lfaInp = $('input[name=__LastFormAction]');
            _.forEach(lfaInp,
                function(el) {
                    var inp = $(el);
                    var fm = inp.closest('table');
                    var fmIdx = _.indexOf($('table'), fm[0]);
                    inp.val(fmIdx);
                });
        });
    </script>

    var lfa = TempData["__LastFormAction"] as string ?? "";
    if (!string.IsNullOrWhiteSpace(lfa)) {
        <script type="text/javascript">
            $(function() {
                $('html, body').stop(true, true).animate({
                        scrollTop: $($('table')[@lfa]).offset().top - $('div.page-header').outerHeight() - 10
                    },
                    0);
            });
        </script>
    }
}
<div class="row">
    <div class="col-xs-12">
        <p>
            Halaman Setting untuk Survei
        </p>
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Kategori Perusahaan:</label>
                    <div class="col-md-8">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>No</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                                @if (Model != null && Model.KategoriPerusahaan != null) {
                                    int rowNo = 0;
                                    foreach (var data in Model.KategoriPerusahaan) {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@data.Value</td>
                                            <td>
                                                @using (Html.BeginForm("TrashKategori", "Setting", null, FormMethod.Post)) {
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="__LastFormAction" value=""/>
                                                    <input type="hidden" name="Id" value="@data.Id" />
                                                    <button class="form-submit-button" type="button">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="3">
                                        @using (Html.BeginForm("AddKategoriPerusahaan", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <div class="input-group">
                                                <input class="form-control" type="text" name="Value">
                                                <span class="input-group-btn">
                                                    <button class="form-submit-button btn green-jungle" type="button">
                                                        <i class="fa fa-plus"></i> Add
                                                    </button>
                                                </span>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Kategori Divisi:</label>
                    <div class="col-md-8">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>No</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                                @if (Model != null && Model.KategoriDivisi != null) {
                                    int rowNo = 0;
                                    foreach (var data in Model.KategoriDivisi) {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@data.Value</td>
                                            <td>
                                                @using (Html.BeginForm("TrashKategori", "Setting", null, FormMethod.Post)) {
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="__LastFormAction" value=""/>
                                                    <input type="hidden" name="Id" value="@data.Id" />
                                                    <button class="form-submit-button" type="button">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="3">
                                        @using (Html.BeginForm("AddKategoriDivisi", "Setting", null, FormMethod.Post, new { @class = "form-horizontal" })) {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="__LastFormAction" value=""/>
                                            <div class="input-group">
                                                <input class="form-control" type="text" name="Value">
                                                <span class="input-group-btn">
                                                    <button class="btn green-jungle form-submit-button" type="button">
                                                        <i class="fa fa-plus"></i> Add
                                                    </button>
                                                </span>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


