/* here you can put your own css to customize and override the theme */
.page-header.navbar {
  background: linear-gradient(135deg, #fef1f1, #ed1c24);
  border-bottom: 1px solid #FFF;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); }

.page-header.navbar .page-logo {
  height: 75px;
  width: auto;
  position: relative;
  overflow: hidden;
  padding-right: 30px; }
  .page-header.navbar .page-logo:before {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 3px;
    width: 150%;
    height: 100%;
    background: #FFF;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
  .page-header.navbar .page-logo a {
    height: 100%;
    position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    line-height: 70px; }
  .page-header.navbar .page-logo .logo-default {
    height: 35px;
    display: inline-block;
    margin: 0; }
  @media screen and (min-width: 48em) {
    .page-header.navbar .page-logo {
      padding-right: 40px; } }

.page-header .page-app-title {
  float: left;
  font-size: 13px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  width: 100px;
  height: 75px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-header .page-app-title span {
    display: inline-block;
    vertical-align: middle; }

@media screen and (min-width: 48em) {
  .page-header .page-app-title {
    font-size: 22px;
    height: 75px;
    width: auto; } }

.page-header.navbar .search-form {
  border-radius: 16px;
  background: transparent;
  color: #FFF; }

.page-header.navbar .search-form .input-group .form-control {
  color: #FFF; }

.page-header.navbar .search-form .input-group,
.page-header.navbar .search-form .input-group:hover {
  border-color: #FFF; }

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
  color: #FFF; }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0.15); }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #FFF; }

@media (max-width: 767px) {
  .page-header.navbar .page-top {
    width: auto;
    float: right;
    clear: none;
    background: none; }
  .page-header.navbar .search-form {
    float: none;
    margin-top: 22px;
    margin-right: 0; }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user {
    padding-left: 5px; }
  .page-header.navbar .menu-toggler.responsive-toggler {
    float: right; }
  .page-header.navbar .search-form.open {
    margin: 0;
    background: #ed1c24;
    top: 22px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.3); } }

.page-footer {
  background: #4d4d4d;
  color: #FFF;
  height: auto; }
  .page-footer .page-footer-inner {
    color: #FFF;
    display: block;
    width: 100%;
    padding-right: 36px; }
  .page-footer .site-address {
    margin-bottom: 0.8em; }
  .page-footer .page-footer-logo {
    margin-bottom: 0.8em;
    display: inline-block; }
    .page-footer .page-footer-logo img {
      height: 50px; }
  @media screen and (min-width: 48em) {
    .page-footer .page-footer-logo {
      float: left;
      margin-right: 25px; }
    .page-footer .site-address {
      float: left;
      padding-top: 5px; }
    .page-footer .copyright {
      float: right;
      padding-top: 40px; } }

.page-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
