﻿<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    @{
        var breads = Html.GetBreadcrumbs();
        breads.Reverse();
    }
    <li>
        <a href="~/">Home</a>
        @if (breads.Count > 0) {
            <i class="fa fa-circle"></i>
        }
    </li>
    @if (breads.Count > 0) {
        var idx = 0;
        foreach (var bd in breads) {
            <li>
                <a href="@bd.Href">@bd.Label</a>
                @if (idx < (breads.Count - 1)) {
                    <i class="fa fa-circle"></i>
                }
            </li>
            idx++;
        }
    }
</ul>
<!-- END PAGE BREADCRUMB -->