﻿@using System.Configuration
@using Kpei.PortalAK.DataAccess.UserIdentity
@{
    var user = AppUser.CreateFromIdentity(User.Identity);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })) {
    @Html.AntiForgeryToken()
}
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="@ConfigurationManager.AppSettings["KpeiSsoClient:KpeiMemberBaseUrl"]" title="Kembali ke Member Area">
                <img src="~/assets/global/img/logo-id-clear.png" alt="logo" class="logo-default" />
            </a>
        </div>
        <div class="page-app-title">
            <span>Portal Anggota Kliring & Partisipan (AK & P)</span>
        </div>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    @if (user.IsKpei) {
                        <text>
                    <!--VUE : NOTIFICATION-->
                            <li class="dropdown dropdown-extended dropdown-notification" id="drawer">
                                <span id="notification-count-box"></span>
                                <ul class="dropdown-menu">
                                    <li class="external" id="load">
                                        <span class="text-center center-block">
                                            <img src="~/assets/global/img/loading-spinner-blue.gif" />
                                        </span>
                                    </li>
                                    <li class="external hide" id="drawerHead">
                                        <h3>
                                             <span id="notificationCount" class="bold"> <span id="newCt"></span> new of <span id="reqCt"></span> pending</span> request
                                        </h3>
                                    </li>
                                    <li id="drawerBody" class="hide">
                                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283" id="drawerList"></ul>
                                    </li>
                                </ul>
                            </li>                    
                    <!--END VUE-->
                        </text>
                    }
                    <li class="separator hide"> </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile">
                                @user.FullName (@user.KpeiCompanyCode)
                            </span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="~/assets/layouts/layout4/img/avatar.png" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="~/KpeiSsoClient.axd/logout">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
@if (user.IsKpei) {
    using (Html.Section("script-page-level-plugins", "notification-count-vue")) {
        <script src="~/assets/custom/vue-components/notification-count.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    }
    using (Html.Section("script-page-level-plugins", "notification-count-vue-js")) {
        <script type="text/x-template" id="notification-count-vue-tpl">
            <notification-count-vue :notif-url="notifUrl"
                                    :global-url="globalUrl"
                                    :user-id="userId"></notification-count-vue>
        </script>
        <script type="text/javascript">
        $(function () {
            var notifCount = {
                el: '#notification-count-box',
                template: '#notification-count-vue-tpl',
                data: {
                    globalUrl: '@Url.RouteUrl("AllRequest", null, this.Request.Url.Scheme)',
                    notifUrl: '@Url.Action("Index", "Notification", null, this.Request.Url.Scheme)',
                    userId: '@user.Id'
                }
            };
            PortalAK.LoadVue(notifCount);
        })
        </script>
    }
    using (Html.Section("script-page-level-plugins", "drawer-js")) {
        <script type="text/javascript">
            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
                return data;
            }
            var form = $('#__AjaxAntiForgeryForm');
            var drawerTrigger = true;
            $('#drawer').click(function () {
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var self = this;
                var root = $('#drawerList');

                if (drawerTrigger == true) {
                    $('#load').removeClass("hide");
                    drawerTrigger = false;

                    var yetSeenColor = "rgba(207, 234, 144, 1)";

                    var promise = new Promise((resolve, reject) => {
                        setTimeout(() => {
                            @*$.post(
                                '@Url.Action("Drawer", "Notification", null, this.Request.Url.Scheme)',
                                AddAntiForgeryToken({ userId: '@user.Id' })).then((resp, status) => {
                                resolve(resp);
                            });*@
                            $.post('@Url.Action("Drawer", "Notification", null, this.Request.Url.Scheme)',
                                { __RequestVerificationToken: token, userId: '@user.Id' }
                            ).then((resp, status) => { resolve(resp) });
                        }, 3000)
                    });
                    promise.then((resp) => {
                            var count = Object.keys(resp).length;
                            root.empty();
                            $('#reqCt').text(count);
                            var newReq = resp.filter((val, i, arr) => {
                                return val.Seen === false
                            });
                            $('#newCt').text(newReq.length);
                            for (var i = 0; i < count; i++) {
                                var triggerAni = true;
                                var node = $('<li>');
                                var badge = $('<span>', { class: 'label label-sm label-icon ' + resp[i].Color });
                                var icon = $('<i>', { class: resp[i].Icon, style: 'margin-right:5px!important' });
                                badge.append(icon);
                                var time = $('<span>', { class: 'time drawerItem' });
                                var timeVal = $('<span>', { class: 'timeVal hide', text: resp[i].Time.substr(6) });
                                var link = $('<a>', { "href": resp[i].Link });
                                var details = $('<span>', { class: 'details' });
                                if (resp[i].Seen === false) {
                                    node.css('background-color', yetSeenColor);
                                }


                                time.append(timeVal);
                                details.append(badge);
                                details.append(" " + resp[i].Message + " ");
                                link.append(time);
                                link.append(details);
                                node.append(link);
                                root.append(node);

                                if (resp[i].Seen === false && triggerAni === true) {
                                    triggerAni = false;
                                    node.animate({
                                        backgroundColor: '#fff',
                                    }, 5000);
                                }
                            }
                            $('#drawerHead').removeClass('hide');
                            $('#drawerBody').removeClass('hide');
                            $('#load').addClass("hide");
                            $('.time.drawerItem').each((i, el) => {
                                refreshTime(i, el);
                            });
                    });


                    setInterval(() => {
                        $('.time.drawerItem').each((i, el) => {
                            refreshTime(i, el);
                        });
                    }, 60000);
                } else {
                    drawerTrigger = true;
                    $('#load').addClass("hide");
                }
            });

            function refreshTime(i, el) {
                var dtVal = el.children[0];
                var cur = Date.now();
                var oldTime = new Date(parseInt(dtVal.innerHTML));
                var diff = cur - oldTime;
                var diffDay = Math.floor(diff / (1000 * 3600 * 24));
                el.innerHTML = "";
                el.appendChild(dtVal);
                if (diffDay < 1) {
                    var diffTime = Math.abs(diff);
                    if (diffTime > (3600 * 1000)) {
                        el.innerHTML += Math.floor(diffTime / (3600 * 1000)) + " jam lalu";
                    } else if (diffTime > (60 * 1000)) {
                        el.innerHTML += Math.floor(diffTime / (60 * 1000)) + " menit lalu";
                    } else {
                        el.innerHTML += "baru saja";
                    }
                } else if (diffDay < 30) {
                    el.innerHTML += Math.floor(diffDay) + " hari lalu";
                } else if (diffDay < 365) {
                    el.innerHTML += Math.floor(diffDay / 30 ) + " bulan lalu";
                } else if (diffDay > 365) {
                    el.innerHTML += Math.floor(diffDay / 365) + " tahun lalu";
                }
            }

        </script>
    }
}
