﻿@using System.Web.Optimization
@using Kpei.PortalAK.Features
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
@{
    var pageTitle = ViewBag.Title as string;
    if (!string.IsNullOrWhiteSpace(pageTitle)) {
        pageTitle = pageTitle + " | ";
    } 
}
<head>
    <meta charset="utf-8" />
    <title>@(pageTitle)Portal Anggota Kliring & Partisipan (AK & P)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Portal AK & Partisipan KPEI" name="description" />
    <meta content="KPEI" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("style-global-mandatory", required: false)
    @Html.RenderSection("style-global-mandatory")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
    @Styles.Render("~/bundles/vendors/clockpicker-css")
    @RenderSection("style-page-level-plugins", required:false)
    @Html.RenderSection("style-page-level-plugins")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("style-theme-global", required: false)
    @Html.RenderSection("style-theme-global")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/custom/css/portal-ak.css" rel="stylesheet"/>
    @RenderSection("style-theme-layout", required: false)
    @Html.RenderSection("style-theme-layout")
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    @RenderSection("style", required: false)
    @Html.RenderSection("style")
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">
    <!-- BEGIN HEADER -->
    @Html.Partial("_Header")
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_SideBar")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title hidden" aria->
                        <h1>
                            @ViewBag.Title
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
                <!-- END PAGE HEAD-->
                @Html.Partial("_Breadcrumbs")
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold uppercase">
                                @ViewBag.Title
                            </span>
                            <span class="caption-helper">@ViewBag.Subtitle</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"
                               data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-xs-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner clearfix">
            <a href="~/" class="page-footer-logo">
                <img src="~/assets/global/img/logo-id-clear-white.png" alt="KPEI">
            </a>
            <div class="site-address">
                @Html.Partial("_KpeiAddress")
            </div>
            <div class="copyright">
                Copyright &copy; @DateTime.Now.Year KPEI. All Rights Reserved
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <div style="display: none" id="portal-ak-anti-forgery-hidden">
        @Html.AntiForgeryToken()
    </div>
    <script type="text/javascript">
        PortalAK = {
            '@nameof(UrlTool.BaseAppUrl)': '@UrlTool.BaseAppUrl',
            '@nameof(UrlTool.BaseAppUrlAbsolute)': '@UrlTool.BaseAppUrlAbsolute',
            '@nameof(UrlTool.RootWebsiteUrl)': '@UrlTool.RootWebsiteUrl',
            Vues: [],
            VueComponentPromises: []
        }
    </script>
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/custom/vendors/promise-polyfill/polyfill.min.js"></script>
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @RenderSection("script-core-plugins", required:false)
    @Html.RenderSection("script-core-plugins")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/custom/vendors/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.id.js"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    @Scripts.Render(
        "~/bundles/vendors/lodash",
        "~/bundles/vendors/vue",
        "~/bundles/vendors/clockpicker-js"
    )
    <script src="~/assets/custom/js/portal-ak.js" type="text/javascript"></script>
    <script src="~/assets/custom/js/datatable-initializer.js" type="text/javascript"></script>
    @RenderSection("script-page-level-plugins", required:false)
    @Html.RenderSection("script-page-level-plugins")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    @RenderSection("script-theme-global", required:false)
    @Html.RenderSection("script-theme-global")
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @RenderSection("script-page-level", required: false)
    @Html.RenderSection("script-page-level")
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    @RenderSection("script-theme-layout", required: false)
    @Html.RenderSection("script-theme-layout")
    <!-- END THEME LAYOUT SCRIPTS -->
    @RenderSection("script", required: false)
    @Html.RenderSection("script")
</body>

</html>