﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModLaporan.Services
@using Kpei.PortalAK.DataAccess.UserIdentity
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            @{
                var appUser = AppUser.CreateFromIdentity(User.Identity);
                var userRight = appUser.GetRight();
                var hasSettingAccessRight = userRight.ForModule.Any(x => x.Value.KpeiAdmin);

                var dataAknpDrivers = DepResolver.Instance.GetService<IDataAknpDriverStore>().LoadDrivers().ToArray();
                var laporanDrivers = DepResolver.Instance.GetService<ILaporanDriverStore>().LoadDrivers().ToArray();
            }
            @if (Response.StatusCode < 300)
            {
                var currentUri = Request?.Url?.AbsoluteUri;
                if (!string.IsNullOrWhiteSpace(currentUri))
                {
                    Html.GetBreadcrumbs().Add(new BreadcrumbItem
                    {
                        Label = ViewBag.Title,
                        Href = Request.Url.AbsoluteUri
                    });
                }
            }

            @if (appUser.NonKpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN) ||
                 appUser.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN))
            {

                <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp-profile") ? "active open" : "")">
                    <a href="@Url.Action("Profile", "DataAknp")" class="nav-link">
                        <i class="fa fa-diamond"></i>
                        <span class="title">Data AK & P</span>
                    </a>
                </li>
            }

            @if (!appUser.IsGuestAknp)
            {
                if (userRight.ForModule[CoreModules.DATA_AK_PARTISIPAN].KpeiViewer ||
                    userRight.ForModule[CoreModules.DATA_AK_PARTISIPAN].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp") ? "active open" : "")">
                        <a href="javascript:;" class="nav-link">
                            <i class="fa fa-history"></i>
                            <span class="title">@if (appUser.IsAknp)
                            {<text>Pengkinian Data</text>}
                        else if (appUser.IsKpei)
                        { <text>Kelola Data AK & P</text>}</span>
                            <span class="arrow @(Html.SelectedMenuHasAllTags("data-aknp") ? "open" : "")"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (appUser.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN))
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", DataRegistrasiAknpDriver.SLUG)
                                                          ? "active open" : "")">
                                    <a href="@Url.Action("Detail", "DataAknp", new {dataSlug = DataRegistrasiAknpDriver.SLUG})" class="nav-link ">
                                        <i class="fa fa-star"></i>
                                        <span class="title">Registrasi Baru</span>
                                    </a>
                                </li>
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "global-request") ? "active open" : "")">
                                    <a href="@Url.Action("ListGlobalRequest", "DataAknp")" class="nav-link ">
                                        <i class="fa fa-link"></i>
                                        <span class="title">Request Perubahan</span>
                                    </a>
                                </li>
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "stat-perj") ? "active open" : "")">
                                    <a href="javascript:;" class="nav-link ">
                                        <i class="fa fa-link"></i>
                                        <span class="title">Status dan Perjanjian</span>
                                        <span class="arrow @(Html.SelectedMenuHasAllTags("data-aknp", "stat-perj") ? "open" : "")"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        @foreach (var drv in dataAknpDrivers.Where(x => x.RequiresSuratForChange && !x.IsRegistrationData && x.EnabledOnlyForKpei))
                                        {
                                            <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "stat-perj", drv.DataSlug)? "active open" : "")">
                                                <a href="@Url.Action("Detail", "DataAknp", new {dataSlug = drv.DataSlug})" class="nav-link ">
                                                    <i class="fa fa-cubes"></i>
                                                    <span class="title">@drv.DataTitle</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "stat-perj", "data-tm")? "active open" : "")">
                                            <a href="@Url.Action("Index", "TradingMember")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Trading Member</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "data-akta") ? "active open" : "")" title="Atur data Nama, Modal, Direksi, Komisaris, dan Pemegang Saham">
                                <a href="@Url.Action("Detail", "DataAknp", new {dataSlug = DataAkteAknpDriver.SLUG})" class="nav-link ">
                                    <i class="fa fa-link"></i>
                                    <span class="title">Data Akta</span>
                                </a>
                            </li>
                            <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "dengan-surat") ? "active open" : "")">
                                <a href="javascript:;" class="nav-link ">
                                    <i class="fa fa-link"></i>
                                    <span class="title">Data Perusahaan</span>
                                    <span class="arrow @(Html.SelectedMenuHasAllTags("data-aknp", "dengan-surat") ? "open" : "")"></span>
                                </a>
                                <ul class="sub-menu">
                                    @foreach (var drv in dataAknpDrivers.Where(x => x.RequiresSuratForChange && !x.IsRegistrationData
                                                                                    && !x.EnabledOnlyForKpei))
                                    {
                                        if (!drv.HideFromMenu)
                                        {
                                            <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", drv.DataSlug) ? "active open" : "")">
                                                <a href="@Url.Action("Detail", "DataAknp", new {dataSlug = drv.DataSlug})" class="nav-link ">
                                                    <i class="fa fa-cubes"></i>
                                                    <span class="title">@drv.DataTitle</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
                if (userRight.ForModule[CoreModules.REQUEST_PINCODE].KpeiViewer ||
                    userRight.ForModule[CoreModules.REQUEST_PINCODE].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("pincode") ? "active open" : "")">
                        <a href="@Url.Action("Index", "ResetPincode")" class="nav-link">
                            <i class="fa fa-key"></i>
                            <span class="title">Reset PIN Code</span>
                        </a>
                    </li>
                }

                if (userRight.ForModule[CoreModules.ADMINISTRASI_KEANGGOTAAN].KpeiViewer ||
                    userRight.ForModule[CoreModules.ADMINISTRASI_KEANGGOTAAN].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("administrasikeanggotaan") ? "active open" : "")">
                        <a href="@Url.Action("Index", "AdministrasiKeanggotaan")" class="nav-link">
                            <i class="fa fa-phone"></i>
                            <span class="title">Administrasi Keanggotaan KPEI</span>
                        </a>
                    </li>
                }

@*                 if (userRight.ForModule[CoreModules.LAYANAN_M_CLEARS].KpeiViewer || *@
@*                     userRight.ForModule[CoreModules.LAYANAN_M_CLEARS].NonKpeiViewer) *@
@*                 { *@
@*                     <li class="nav-item @(Html.SelectedMenuHasAllTags("mclears") ? "active open" : "")"> *@
@*                         <a href="@Url.Action("Index", "Mclears")" class="nav-link"> *@
@*                             <i class="fa fa-phone"></i> *@
@*                             <span class="title">Layanan m-CLEARS</span> *@
@*                         </a> *@
@*                     </li> *@
@*                 } *@

                if (userRight.ForModule[CoreModules.SOSIALISASI_PELATIHAN].KpeiViewer ||
                    userRight.ForModule[CoreModules.SOSIALISASI_PELATIHAN].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("sospel") ? "active open" : "")">
                        <a href="@Url.Action("Index", "Event")" class="nav-link">
                            <i class="fa fa-bullhorn"></i>
                            <span class="title">Sosialisasi & Pelatihan</span>
                            <span class="arrow @(Html.SelectedMenuHasAllTags("sospel") ? "open" : "")"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item @(Html.SelectedMenuHasAllTags("sospel", "event-list") ? "active open" : "")">
                                <a href="@Url.Action("Index", "Event")" class="nav-link ">
                                    <i class="fa fa-calendar"></i>
                                    <span class="title">Seluruh Acara</span>
                                </a>
                            </li>
                            @if (appUser.KpeiViewerRightFor(CoreModules.SOSIALISASI_PELATIHAN) || appUser.NonKpeiViewerAsKpei(CoreModules.SOSIALISASI_PELATIHAN))
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("sospel", "event-attend") ? "active open" : "")">
                                    <a href="@Url.Action("Kehadiran", "Event")" class="nav-link ">
                                        <i class="fa fa-list"></i>
                                        <span class="title">Data Keikutsertaan</span>
                                    </a>
                                </li>
                            }
                            else if (userRight.ForModule[CoreModules.SOSIALISASI_PELATIHAN].NonKpeiViewer)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("sospel", "registered-list") ? "active open" : "")">
                                    <a href="@Url.Action("Kehadiran", "Event")" class="nav-link ">
                                        <i class="fa fa-list"></i>
                                        <span class="title">Acara Terdaftar</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                if (userRight.ForModule[CoreModules.LAPORAN_KEUANGAN].KpeiViewer ||
                    userRight.ForModule[CoreModules.LAPORAN_KEUANGAN].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("keuangan") ? "active open" : "")">
                        <a href="@Url.Action("Index", "LaporKeu")" class="nav-link">
                            <i class="fa fa-money"></i>
                            <span class="title">Laporan Keuangan</span>
                        </a>
                    </li>
                }

                if (userRight.ForModule[CoreModules.SURVEI_KEANGGOTAAN].KpeiViewer ||
                    userRight.ForModule[CoreModules.SURVEI_KEANGGOTAAN].NonKpeiViewer)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("survei") ? "active open" : "")">
                        <a href="@Url.Action("Index", "Survei")" class="nav-link">
                            <i class="fa fa-pie-chart"></i>
                            <span class="title">Survei Pengguna Jasa</span>
                        </a>
                    </li>
                }

                if (hasSettingAccessRight)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("setting") ? "active open" : "")">
                        <a href="#" class="nav-link ">
                            <i class="fa fa-gears"></i>
                            <span class="title">Settings</span>
                            <span class="arrow @(Html.SelectedMenuHasAllTags("setting") ? "open" : "")"></span>
                        </a>
                        <ul class="sub-menu">
                            <!--MODULE-->
                            @if (userRight.ForModule[CoreModules.DATA_AK_PARTISIPAN].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "aknp-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Aknp", "Setting")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Kelola Data AK & P</span>
                                    </a>
                                </li>
                            }
                            @if (userRight.ForModule[CoreModules.REQUEST_PINCODE].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "pincode-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Index", "PincodeSetting")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Reset PIN Code</span>
                                    </a>
                                </li>
                            }

                            @if (userRight.ForModule[CoreModules.DATA_AK_PARTISIPAN].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "layanan-baru") ? "active open" : "")">
                                    <a href="@Url.Action("Index", "LayananBaru")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Layanan Baru</span>
                                    </a>
                                </li>
                            }

                            @if (userRight.ForModule[CoreModules.SOSIALISASI_PELATIHAN].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "sospel-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Event", "Setting")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Sosialisasi & Pelatihan</span>
                                    </a>
                                </li>
                            }

                            @if (userRight.ForModule[CoreModules.LAPORAN_KEUANGAN].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "keuangan-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Keuangan", "Setting")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Laporan Keuangan</span>
                                    </a>
                                </li>
                            }
                            @if (userRight.ForModule[CoreModules.SURVEI_KEANGGOTAAN].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "survei-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Survei", "Setting")" class="nav-link ">
                                        <i class="fa fa-gear"></i>
                                        <span class="title">Survei Kepuasan</span>
                                    </a>
                                </li>
                            }

                            @if (userRight.ForModule[CoreModules.CORE_SYSTEM].KpeiAdmin)
                            {
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "user-right-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Index", "UserRightSetting")" class="nav-link ">
                                        <i class="fa fa-lock"></i>
                                        <span class="title">Hak Akses</span>
                                    </a>
                                </li>
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "smtp-email-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Index", "SmtpEmailSetting")" class="nav-link ">
                                        <i class="fa fa-envelope"></i>
                                        <span class="title">SMTP Email</span>
                                    </a>
                                </li>
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting") ? "active open" : "")">
                                    <a href="javascript:;" class="nav-link ">
                                        <i class="fa fa-envelope"></i>
                                        <span class="title">Email Template</span>
                                        <span class="arrow @(Html.SelectedMenuHasAllTags("setting", "email-setting") ? "open" : "")"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-aknp") ? "active open" : "")">
                                            <a href="@Url.Action("Aknp", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Data AK&P</span>
                                            </a>
                                        </li>
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-pincode") ? "active open" : "")">
                                            <a href="@Url.Action("Pincode", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Reset Pincode</span>
                                            </a>
                                        </li>

                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-administrasi-keanggotaan") ? "active open" : "")">
                                            <a href="@Url.Action("AdministrasiKeanggotaan", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Administrasi Keanggotaan</span>
                                            </a>
                                        </li>
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-mclears") ? "active open" : "")">
                                            <a href="@Url.Action("Mclears", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Layanan m-CLEARS</span>
                                            </a>
                                        </li>
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-event") ? "active open" : "")">
                                            <a href="@Url.Action("Event", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Sosialisasi & Pelatihan</span>
                                            </a>
                                        </li>
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-keuangan") ? "active open" : "")">
                                            <a href="@Url.Action("Keuangan", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Laporan Keuangan</span>
                                            </a>
                                        </li>
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "email-setting-survei") ? "active open" : "")">
                                            <a href="@Url.Action("Survei", "EmailSetting")" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">Survei</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item @(Html.SelectedMenuHasAllTags("setting", "global-setting") ? "active open" : "")">
                                    <a href="@Url.Action("Index", "GlobalSetting")" class="nav-link ">
                                        <i class="fa fa-globe"></i>
                                        <span class="title">Konfigurasi Global</span>
                                    </a>
                                </li>
                            }
                            <!--END MODULE-->
                        </ul>
                    </li>
                }
                if (appUser.IsKpei)
                {
                    <li class="nav-item @(Html.SelectedMenuHasAllTags("log", "laporan-log") ? "active open" : "")">
                        <a href="@Url.Action("Index", "LogTable")" class="nav-link">
                            <i class="fa fa-table"></i>
                            <span class="title">User Activity Log</span>
                        </a>
                    </li>
                    if (true)
                    {
                        <li class="nav-item @(Html.SelectedMenuHasAllTags("laporan") ? "active open" : "")">
                            <a href="javascript:;" class="nav-link ">
                                <i class="fa fa-book"></i>
                                <span class="title">Query Laporan</span>
                                <span class="arrow @(Html.SelectedMenuHasAllTags("laporan") ? "open" : "")"></span>
                            </a>
                            <ul class="sub-menu">
                                @foreach (var drv in laporanDrivers)
                                {
                                    if (!drv.HideFromMenu)
                                    {
                                        <li class="nav-item @(Html.SelectedMenuHasAllTags("laporan", drv.DataSlug)? "active open" : "")">
                                            <a href="@Url.Action("Laporan", "Laporan", new {dataSlug = drv.DataSlug})" class="nav-link ">
                                                <i class="fa fa-cubes"></i>
                                                <span class="title">@drv.DataTitle</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            }
            else
            {
                <li class="nav-item @(Html.SelectedMenuHasAllTags("data-aknp", "data-registrasi") ? "active open" : "")">
                    <a href="@Url.Action("RequestChange", "DataAknp", new { dataSlug = "data-registrasi" })" class="nav-link">
                        <i class="fa fa-star"></i>
                        <span class="title">Registrasi Baru</span>
                    </a>
                </li>
            }
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>