﻿@using System.ComponentModel.DataAnnotations
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.ModTradingMember.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.DataAccess.UserIdentity
@using Kpei.PortalAK.Features.DataAknpViewSystem
@using Kpei.PortalAK.ViewModels.DataAknp
@model DetailRenderViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var data = Model.Data;


    var kategoriMember = new Dictionary<string, string>()
    {
        [RegistrasiKategoriMember.MEMBER_AKI.Name] = "Anggota Kliring Individual",
        [RegistrasiKategoriMember.MEMBER_AKU.Name] = "Anggota Kliring Umum",
        [RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name] = "Partisipan",
    };

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);

    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var administrasiKeanggotaanRepo = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var settingRepository = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpSetting = settingRepository.AknpSetting();
    var listTradingMember = aknpSetting.ListRegistrasiAKTradingMember.ToList();
    var administrasiKeanggotaan = new List<AdministrasiKeanggotaan>();
    if (drv == null)
    {
        administrasiKeanggotaan =
            administrasiKeanggotaanRepo.GetAllLatestActiveData(data.KodeAk, null, null).ToList();
    }
    var statuses = DataAknpRequestStatus.All().ToArray();
    var userSvc = DepResolver.Instance.GetService<IUserService>();

    if (data != null)
    {

        var dataProps = dataClassType.GetProperties()
            .Where(x => x.CanRead)
            .ToArray();

        var dvds = new List<DataAknpViewDefinition>();

        foreach (var prop in dataProps)
        {
            if (dvds.Any(x => x.PropertyName == prop.Name))
            {
                continue;
            }

            var propAttrs = Attribute.GetCustomAttributes(prop, true);
            var dispAttr = propAttrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;
            if (dispAttr == null)
            {
                continue;
            }

            var order = dispAttr.GetOrder() ?? 0;
            var section = dispAttr.GetGroupName();
            if (string.IsNullOrWhiteSpace(section))
            {
                section = "";
            }

            var aknpDispAttr = propAttrs.FirstOrDefault(x => x is AknpDisplayAttribute) as AknpDisplayAttribute;
            if (aknpDispAttr != null)
            {
                var vd = new DataAknpViewDefinition(prop.Name, aknpDispAttr.TemplateName)
                {
                    Order = order,
                    Section = section
                };
                dvds.Add(vd);
            }
            else
            {
                var vd = new DataAknpViewDefinition(prop.Name)
                {
                    Order = order,
                    Section = section
                };
                dvds.Add(vd);
            }
        }

        var sections = dvds.OrderBy(x => x.Order).Select(x => x.Section).Distinct().ToList();

        <h3>Perusahaan</h3>

        <div class="form-group">
            <label class="control-label col-md-3">Kode AK</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @data.KodeAk
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama AK</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @(comps.FirstOrDefault(x => x.Code == data.KodeAk)?.Name)
                </div>
            </div>
        </div>

        if (drv == null)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Kategori Member</label>
                <div class="col-md-8">
                    <ul>
                        @foreach (var ak in administrasiKeanggotaan
                            .GroupBy(x => x.KategoriMember).ToList().Select(x => x.ElementAt(0)).ToList())
                        {
                            <li>@kategoriMember[ak.KategoriMember]</li>
                        }
                    </ul>
                </div>
            </div>

            if (administrasiKeanggotaan.Any(x => x.KategoriMember == RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name))
            {
                <div class="form-group">
                    <label class="control-label col-md-3">Tipe Member Partisipan</label>
                    <div class="col-md-8">
                        <ul>
                            @foreach (var ak in administrasiKeanggotaan
                                .Where(x => x.KategoriMember == RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name).ToList())
                            {

                                <li>@ak.TipeMemberPartisipan</li>
                            }
                        </ul>
                    </div>
                </div>
            }

            if (administrasiKeanggotaan.Any(x => x.KategoriMember == RegistrasiKategoriMember.MEMBER_AKU.Name))
            {
                <div class="form-group">
                    <label class="control-label col-md-3">Trading Member</label>
                    <div class="col-md-8">
                        <ul>
                            @foreach (var tm in administrasiKeanggotaanRepo.GetTradingMemberFromAdministrasiKeanggotaan(
                                administrasiKeanggotaan.FirstOrDefault(x => x.KategoriMember == RegistrasiKategoriMember.MEMBER_AKU.Name).Id))
                            {
                                var t = listTradingMember.FirstOrDefault(x => x.Name == tm.Nama);
                                if (t != null)
                                {
                                    <li>@tm.Nama / @t.Label</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }

            if (administrasiKeanggotaan.Any(x => x.TipeMemberPartisipan == "PED"))
            {
                <div class="form-group">
                    <label class="control-label col-md-3">AB Sponsor</label>
                    <div class="col-md-8">
                        <div class="form-control-static form-control">
                            @(administrasiKeanggotaan.FirstOrDefault(x => x.TipeMemberPartisipan == "PED")?.NamaABSponsor)
                        </div>
                    </div>
                </div>
            }
        }


        foreach (var sec in sections)
        {
            var secDvds = dvds.Where(x => x.Section == sec).OrderBy(x => x.Order).ToList();

            <hr />
            if (!string.IsNullOrWhiteSpace(sec))
            {
                <h3>@sec</h3>
            }

            foreach (var dvd in secDvds)
            {
                var prop = dataClassType.GetProperty(dvd.PropertyName);
                if (prop == null)
                {
                    continue;
                }
                var propVal = prop.GetValue(data);

                var mdl = new FieldViewModel
                {
                    User = usr,
                    Driver = drv,
                    ViewDefinition = dvd,
                    Data = data,
                    PropertyValue = propVal
                };

                if (dvd.UseTemplate)
                {
                    @Html.PartialFor(mdl, $"~/Views/DataAknp/_AknpFieldViews/{dvd.TemplateName}.cshtml", x => x)
                }
                else
                {
                    @Html.PartialFor(mdl, $"~/Views/DataAknp/_AknpFieldViews/_global.cshtml", x => x)
                }
            }
        }

        <hr />
        <h3>Metadata</h3>

        <div class="form-group">
            <label class="control-label col-md-3">Status</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @data.Status
                </div>
            </div>
        </div>

        if (usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN))
        {
            if (data.Status == DataAknpRequestStatus.REJECTED_STATUS.Name)
            {
                <div class="form-group">
                    <label class="control-label col-md-3">Alasan Ditolak</label>
                    <div class="col-md-8">
                        <textarea readonly rows="4" class="form-control">@data.RejectReason</textarea>
                    </div>
                </div>
            }

            if (data.Status == DataAknpRequestStatus.APPROVED_STATUS.Name)
            {
                <div class="form-group">
                    <label class="control-label col-md-3">Tgl. Aktif</label>
                    <div class="col-md-8">
                        <div class="form-control-static form-control">
                            @(data.ActiveUtc.HasValue ? data.ActiveUtc.Value.ConvertUtcToWib().ToString("dd/MM/yyyy HH:mm:ss")
                                  : "Belum aktif")
                        </div>
                    </div>
                </div>
            }

            if (!string.IsNullOrWhiteSpace(data.Approver1UserId))
            {
                var apprUser = userSvc.LoadUsers(new[] { data.Approver1UserId }).FirstOrDefault();

                <div class="form-group">
                    <label class="control-label col-md-3">Approver 1</label>
                    <div class="col-md-8">
                        <div class="form-control-static form-control">
                            @if (apprUser != null)
                            {
                                <p>
                                    @apprUser.FullName (@apprUser.UserName / @apprUser.Email)
                                </p>
                            }
                            else
                            {
                                @data.Approver1UserId
                            }
                        </div>
                    </div>
                </div>
            }

            if (!string.IsNullOrWhiteSpace(data.Approver2UserId))
            {
                var apprUser = userSvc.LoadUsers(new[] { data.Approver2UserId }).FirstOrDefault();

                <div class="form-group">
                    <label class="control-label col-md-3">Approver 2</label>
                    <div class="col-md-8">
                        <div class="form-control-static form-control">
                            @if (apprUser != null)
                            {
                                <p>
                                    @apprUser.FullName (@apprUser.UserName / @apprUser.Email)
                                </p>
                            }
                            else
                            {
                                @data.Approver1UserId
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        if (drv != null)
        {
            <p>Belum ada data @drv.DataTitle yang tersimpan.</p>
        }
        else
        {
            <p>Belum ada data yang tersimpan.</p>
        }
    }
}