﻿@using System.ComponentModel.DataAnnotations
@using iTextSharp.text.pdf.qrcode
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.DataAknpViewSystem
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model FormRenderViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var dataStillDraft = TempData["DataStillDraft"] as bool? ?? false;
    var form = Model.Form;
    var comps = Model.Companies;
    if (form.KodeAk != Model.GlobalSetting.GuestAknpCode)
    {
        comps = comps?.Where(x => x.Code != Model.GlobalSetting.GuestAknpCode).ToArray();
    }

    var statuses = DataAknpRequestStatus.All().ToArray();

    var formProps = drv.FormClassType.GetProperties()
        .Where(x => x.CanRead && x.CanWrite &&
                    x.Name != nameof(BaseAknpForm.ClassTypeFullName) &&
                    x.Name != nameof(BaseAknpForm.KodeAk) &&
                    x.Name != nameof(BaseAknpForm.Status) &&
                    x.Name != nameof(BaseAknpForm.ActiveUtc))
        .ToArray();

    var ffds = new List<DataAknpViewDefinition>();

    foreach (var prop in formProps)
    {
        if (ffds.Any(x => x.PropertyName == prop.Name))
        {
            continue;
        }

        var propAttrs = Attribute.GetCustomAttributes(prop, true);
        var dispAttr = propAttrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;
        if (dispAttr == null)
        {
            continue;
        }

        var order = dispAttr.GetOrder() ?? 0;
        var section = dispAttr.GetGroupName();
        if (string.IsNullOrWhiteSpace(section))
        {
            section = "";
        }

        var aknpDispAttr = propAttrs.FirstOrDefault(x => x is AknpDisplayAttribute) as AknpDisplayAttribute;
        if (aknpDispAttr != null)
        {
            var vd = new DataAknpViewDefinition(prop.Name, aknpDispAttr.TemplateName)
            {
                Order = order,
                Section = section,
                HideFromAknp = aknpDispAttr.ShowOnlyForKpei
            };
            ffds.Add(vd);
        }
        else
        {
            var vd = new DataAknpViewDefinition(prop.Name)
            {
                Order = order,
                Section = section
            };
            ffds.Add(vd);
        }
    }

    var sections = ffds.OrderBy(x => x.Order).Select(x => x.Section).Distinct().ToList();
}
@if (dataStillDraft)
{
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <strong>Draft!</strong> ini adalah data Draft.
        </div>
    <button type="button" class="btn btn-danger delete-button pull-right" data-href="@Url.Action("RemoveDraft", new {dataSlug = drv.DataSlug, id = @form.Id})">
        Hapus Draft
    </button>
    <br/>
}
<input type="hidden" name="@(nameof(BaseAknpForm.Id))" value="@form.Id" />
<input type="hidden" name="@(nameof(BaseAknpForm.UserDraft))" value="@form.UserDraft" />
<input type="hidden" name="@(nameof(BaseAknpForm.ClassTypeFullName))" value="@form.ClassTypeFullName" />
<input type="hidden" name="@(nameof(BaseAknpForm.Draft))" value="" id="draftStatus" />

@if (usr.IsAknp)
{

    <h3>Perusahaan</h3>
    <div class="form-group">
        <label class="control-label col-md-3">Kode AK</label>
        <div class="col-md-8">
            <div class="form-control-static form-control">
                @usr.KpeiCompanyCode
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Nama AK</label>
        <div class="col-md-8">
            <div class="form-control-static form-control">
                @(comps?.FirstOrDefault(x => x.Code == usr.KpeiCompanyCode)?.Name)
            </div>
        </div>
    </div>
}

@if (usr.IsKpei)
{

    <h3>Perusahaan</h3>
    @Html.FormFieldPartial(form.KodeAk, new SelectFieldSetting
    {
        InputName = nameof(form.KodeAk),
        CssClass = "kode-ak-selector-container",
        Label = "Kode AK",
        AddEmptyOption = false,
        Options = comps,
        OptionValueGetter = x => x.DirectCastTo<KpeiCompany>().Code,
        OptionLabelGetter = x => x.DirectCastTo<KpeiCompany>().Code + " / " + x.DirectCastTo<KpeiCompany>().Name
    })
}

@foreach (var sec in sections)
{
    var secFfds = ffds.Where(x => x.Section == sec && (usr.IsKpei || !x.HideFromAknp))
        .OrderBy(x => x.Order).ToList();

    if (secFfds.Count == 0)
    {
        continue;
    }
    <hr />
    if (!string.IsNullOrWhiteSpace(sec))
    {
        <h3>@sec</h3>
    }

    foreach (var ffd in secFfds)
    {
        var prop = drv.FormClassType.GetProperty(ffd.PropertyName);
        if (prop == null)
        {
            continue;
        }

        var propVal = prop.GetValue(form);

        var mdl = new FormFieldViewModel
        {
            User = usr,
            Form = form,
            Driver = drv,
            KodeAk = usr.KpeiCompanyCode,
            ViewDefinition = ffd,
            PropertyValue = propVal
        };

        @(ffd.UseTemplate ? Html.PartialFor(mdl, $"~/Views/DataAknp/_AknpFormFields/{ffd.TemplateName}.cshtml", x => x)
            : Html.PartialFor(mdl, $"~/Views/DataAknp/_AknpFormFields/_global.cshtml", x => x))
    }
}
@if (usr.IsKpei)
{
    <hr />
    <h3>Metadata</h3>

    <input type="hidden" name="@(nameof(form.Status))" value="@form.Status" />
    <div class="form-group">
        <label class="control-label col-md-3">Status</label>
        <div class="col-md-8">
            <div class="form-control-static form-control">
                @(statuses.FirstOrDefault(x => x.Name == form.Status)?.Label)
            </div>
        </div>
    </div>

    if (form.Status == DataAknpRequestStatus.APPROVED_STATUS.Name)
    {
        @Html.FormFieldPartial(form.ActiveUtc, new DateTimeFieldSetting
        {
            InputName = nameof(form.ActiveUtc),
            Label = "Tgl. Aktif"
        })
    }
}
