﻿@using System.Globalization
@using Kpei.PortalAK.ViewModels.DataAknp
@model ProfilePdfTemplateViewModel
@{
    // Pastikan semua unit CSS ukuran dibuat dalam cm (centimeter), contoh "{ width: 10cm; }"
    // Pastikan semua link ke image atau resource adalah absolute link (starts with http[s]:/), contoh:
    //     var absLink = Url.Content("~/Relative/Url/To/Resource/", true)
    Layout = null;
    var company = Model.Companies.First(x => x.Code == Model.KodeAk);
    var indoCulture = new CultureInfo("id-ID");
}
<!DOCTYPE html>
<html>
<head>
    <title>Ringkasan Profil @company.Name (@company.Code)</title>
    <meta name="viewport" content="width=170cm, initial-scale=1.0" />
</head>
<body>
    @* Body width is 17cm *@
    <div class="header">
        <table>
            <tr>
                <td class="text-left" class="side">
                    <img src="@Url.Content("~/assets/global/img/logo-id-clear.png", true)" alt="PT KPEI" class="logo" />
                </td>
                <td class="text-center">
                    <h1>DATA ANGGOTA KLIRING PT KPEI</h1>
                </td>
                <td class="text-right" class="side">
                    Dibuat pada:<br />
                    <b>@DateTime.Now.ToString("d MMMM yyyy", indoCulture)</b>
                </td>
            </tr>
        </table>
        <br />
        <hr />
        <br />
    </div>
    <div class="body">
        <table>
            <tr>
                <th>No. Perjanjian</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.NoPerjanjian</td>
            </tr>
            <tr>
                <th>Tanggal Menjadi AK</th>
                <td class="semicolon">:</td>
                <td class="property">@(Model.ProfileData.TglPerjanjianUtc?.ConvertUtcToWib().ToString("ddd, dd MMMM yyyy HH:mm:ss tt", indoCulture))</td>
            </tr>
            <tr>
                <th>No. SPAK</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.NoSPAK</td>
            </tr>
            <tr>
                <th>Tgl. SPAK</th>
                <td class="semicolon">:</td>
                <td class="property">@(Model.ProfileData.TglSPAK?.ConvertUtcToWib().ToString("ddd, dd MMMM yyyy HH:mm:ss tt", indoCulture))</td>
            </tr>
            <tr>
                <th>Kode Perusahaan</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.KodeAk</td>
            </tr>
            <tr>
                <th>Nama Perusahaan</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.NamaPerusahaan</td>
            </tr>
            <tr>
                <th>Alamat</th>
                <td class="semicolon">:</td>
                <td class="property">@(!string.IsNullOrWhiteSpace(Model.ProfileData.Gedung) ? Model.ProfileData.Gedung + "," : "") @Model.ProfileData.Jalan, @Model.ProfileData.Kota, @Model.ProfileData.KodePos</td>
            </tr>
            <tr>
                <th>Telp</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.Telp</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.Fax</td>
            </tr>
            <tr class="blankrow"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>Keanggotaan Lain</b></td></tr>
            <tr>
                <th>Lender (PME)</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.LenderStatus</td>
            </tr>
            <tr>
                <th>Borrower (PME)</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.BorrowerStatus</td>
            </tr>
            <tr>
                <th>KBOS</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.StatusKBOS</td>
            </tr>
            <tr>
                <th>EBU</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.StatusPerjanjianEBU</td>
            </tr>
            @* <tr> *@
            @*     <th>Tipe Member</th> *@
            @*     <td class="semicolon">:</td> *@
            @*     <td class="property">@Model.ProfileData.JenisKeanggotaan</td> *@
            @* </tr> *@
            <tr>
                <th>Status Perusahaan</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.StatusPerusahaan</td>
            </tr>
            <tr>
                <th>NPWP</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.NPWP</td>
            </tr>
            <tr class="blankrow"><td colspan="3"></td></tr>
            <tr>
                <th>Modal Dasar</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.ModalDasarRupiah.ToString("C", indoCulture)</td>
            </tr>
            <tr>
                <th>Modal Disetor</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.ModalDisetorRupiah.ToString("C", indoCulture)</td>
            </tr>
            <tr class="blankrow"><td colspan="3"></td></tr>
            <tr>
                <th>Anggota Bursa</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.AnggotaBursa</td>
            </tr>
            <tr>
                <th>Status Bursa</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.StatusBursa</td>
            </tr>
            <tr>
                <th>Status KPEI</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.StatusKpei</td>
            </tr>
            <tr class="blankrow"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>Jenis Usaha</b></td></tr>
            <tr>
                <th>PPE</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.PPE</td>
            </tr>
            <tr>
                <th>PEE</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.PEE</td>
            </tr>
            <tr>
                <th>MI</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.MI</td>
            </tr>
            <tr>
                <th>BK</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.BK</td>
            </tr>
            <tr>
                <th>BU</th>
                <td class="semicolon">:</td>
                <td class="property">@Model.ProfileData.BU</td>
            </tr>
        </table>
        <br />
        <b>Pemegang Saham</b>
        <table class="bordered">
            <tr>
                <th>Nama</th>
                <th>Nominal</th>
                <th>Lembar Saham</th>
                <th>Persentase Saham</th>
            </tr>
            @{ var sumSaham = Model.ProfileData.DaftarPemegangSaham?.Sum(e => e.LembarSaham) ?? 0;}
            @foreach (var saham in Model.ProfileData.DaftarPemegangSaham) {
                var pct = 0f;
                if (sumSaham > 0 && saham.LembarSaham > 0) {
                    pct = (float)saham.LembarSaham / (float) sumSaham * 100.0f;
                }
                <tr>
                    <td class="property">@saham.Nama</td>
                    <td class="property">@string.Format(indoCulture, "{0:C2}", saham.NominalSahamRupiah)</td>
                    <td class="property">@saham.LembarSaham</td>
                    <td class="property">@pct.ToString("F2") %</td>
                </tr>
            }
        </table>
        <br />
        <b>Pengurus Perusahaan</b>
        <br />
        <p>Daftar Komisaris</p>
        <table class="bordered">
            <tr>
                <th>Nama</th>
                <th>Jabatan</th>
            </tr>
            @foreach (var komisaris in Model.ProfileData.DaftarKomisaris) {
                <tr>
                    <td class="property">@komisaris.Nama</td>
                    <td class="property">@komisaris.Jabatan</td>
                </tr>
            }
        </table>
        <br />
        <p>Daftar Direksi</p>
        <table class="bordered">
            <tr>
                <th>Nama</th>
                <th>Jabatan</th>
            </tr>
            @foreach (var direksi in Model.ProfileData.DaftarDireksi) {
                <tr>
                    <td class="property">@direksi.Nama</td>
                    <td class="property">@direksi.Jabatan</td>
                </tr>
            }
        </table>
        <br />
        <b>Wakil Perusahaan</b>
        <br />
        <p>Pejabat Berwenang</p>
        <table class="bordered">
            <tr>
                <th>Nama</th>
                <th>Jabatan</th>
            </tr>
            @foreach (var pejabat in Model.ProfileData.PejabatBerwenang) {
                <tr>
                    <td class="property">@pejabat.Nama</td>
                    <td class="property">@pejabat.Jabatan</td>
                </tr>
            }
        </table>
        <br />
        <p>Contact Person Operasional</p>
        <table class="bordered">
            <tr>
                <th>Nama</th>
                <th>Jabatan</th>
                <th>Telp.</th>
                <th>E-mail</th>
            </tr>
            @foreach (var admin in Model.ProfileData.DaftarContactPerson) {
                <tr>
                    <td class="property">@admin.Nama</td>
                    <td class="property">@admin.Jabatan</td>
                    <td class="property">@admin.Telp</td>
                    <td class="property">@admin.Email</td>
                </tr>
            }
        </table>
        <br />
    </div>

</body>
</html>