﻿@using Kpei.PortalAK.ViewModels.DataAknp
@model CreateHistoryViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var fm = Model.Form;
    var kodeAk = Model.KodeAk;

    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Input Baru";
    Html.SelectedMenuTags().AddRange(new[] { "data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug });
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @{
            var mdl = new FormRenderViewModel
            {
                User = usr,
                GlobalSetting = Model.GlobalSetting,
                Driver = drv,
                Form = fm,
                Companies = Model.Companies
            };
        }
        @Html.PartialFor(mdl, "_FormRender", x => x)
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>

                <button type="button" class="btn btn-warning form-draft-button">
                    Save as Draft
                </button>
                <a href="@Url.Action("ListHistory", new {dataSlug = drv.DataSlug})" class="btn btn-default">
                    Cancel
                </a>
            </div>
        </div>
    </div>

</form>
@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function () {
            var kodeAkSel = $('.kode-ak-selector-container select');
            if (kodeAkSel.val() != "@(Model.GlobalSetting?.GuestAknpCode ?? "")") {
                kodeAkSel.on('change', function () {
                    var me = $(this);
                    var urlTpl =
                        '@Url.Action("CreateHistory", new {dataSlug = drv.DataSlug, kodeAk = "11000011"})';
                    var url = urlTpl.replace('11000011', me.val());
                    if (me.val() != "") {
                        window.location = url;
                    }
                });
            }
        });
    </script>
}