﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.ViewModels.DataAknp
@model DetailNonKpeiViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Detail";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});
}
<div class="row">
    <div class="col-xs-12">
        <div class="text-right">
            @if (usr.NonKpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                <a href="@Url.Action("RequestChange", new {dataSlug = drv.DataSlug})" class="btn red">
                    Request Perubahan @drv.DataTitle
                </a>
            }
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="@Url.Action("Detail", new {dataSlug = drv.DataSlug})">
                    Detail
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("ListRequest", new {dataSlug = drv.DataSlug})">
                    Request
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="form form-horizontal">
                    <div class="form-body">
                        @{
                            var latestData = drv.GetLatestActiveData(usr.KpeiCompanyCode);
                            var mdl = new DetailRenderViewModel {
                                User = usr,
                                Driver = drv,
                                Data = latestData
                            };
                        }
                        @Html.PartialFor(mdl, "_DetailRender", x => x)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>