﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.ChangeRequest
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model ListGlobalRequestViewModel
@{
    var usr = Model.User;
    ViewBag.Title = $"Data Anggota Kliring & Partisipan - Semua Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", "global-request"});
}
<div class="row">
    <div class="col-xs-12">
        <div class="row master-table-filter">
            <div class="col-md-4">
                <label>Kode AK:</label>
                <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.KodeAk))">
                    <option value="">-Semua-</option>
                    @foreach (var mod in Model.Companies) {
                        <option value="@mod.Code">@mod.Code / @mod.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label>Status Request:</label>
                <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.Status))">
                    <option value="">-Semua-</option>
                    @foreach (var mod in Model.RequestStatuses) {
                        <option value="@mod.Name">@mod.Label</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label>Jenis Data:</label>
                <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.DataSlug))">
                    <option value="">-Semua-</option>
                    @foreach (var mod in Model.DataDefinitions) {
                        <option value="@mod.DataSlug">@mod.DataTitle</option>
                    }
                </select>
            </div>
        </div>
        <div class="row master-table-filter">
            <div class="col-md-3">
                @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                    InputName = nameof(ChangeRequestDttRequestForm.FromDateTime),
                    Label = "Dari:",
                    Style = DateTimeFieldStyle.DateOnly,
                    UseVerticalFormFieldFormat = true
                })
            </div>
            <div class="col-md-3">
                @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                    InputName = nameof(ChangeRequestDttRequestForm.ToDateTime),
                    Label = "Sampai:",
                    Style = DateTimeFieldStyle.DateOnly,
                    UseVerticalFormFieldFormat = true
                })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr/>
                <table id="master-table" class="table table-condensed table-bordered table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: 'KodeAk',
                    data: 'KodeAk',
                    title: 'Kode AK',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaPerusahaan',
                    data: 'NamaPerusahaan',
                    title: 'Nama Perusahaan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'CreatedUtc',
                    data: 'WaktuPengajuan',
                    title: 'Waktu Pengajuan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'DataDriverSlug',
                    data: 'JenisData',
                    title: 'Jenis Data',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Status',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        var urlTpl =
                            '@Url.Action("RequestChangeDetail", new {dataSlug = "22000022", id = "11000011"})';
                        var detailHref = urlTpl.replace('11000011', row.DataId).replace('22000022', row.DataDriverSlug);
                        return PortalAK.DttLinkButtonHtml(detailHref, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListGlobalRequestDtt")',
                cols,
                [
                    [3, 'desc']
                ],
                function(e, stg, dat) {
                    $('.master-table-filter :input[name]').each(function() {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $('.master-table-filter :input[name]').on('change',
                function() {
                    masterTable.ajax.reload();
                });
        });
    </script>
}