﻿@using System.ComponentModel.DataAnnotations
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Attributes
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.DataAknpViewSystem
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Newtonsoft.Json
@model ListHistoryViewModel
@{
    var drv = Model.Driver;
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    if (drv.DataSlug != DataRegistrasiAknpDriver.SLUG)
    {
        comps = Model.Companies;
    }
    var usr = Model.User;
    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Riwayat";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug });
}
<div class="row">
    <div class="col-xs-12">
        <div class="text-right">
            @if (usr.KpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                <a href="javascript:;" class="btn red" data-toggle="modal" data-target="#create-history-companies-modal">
                    Input Data @drv.DataTitle
                </a>
            }
        </div>
        <ul class="nav nav-tabs">
            @if (!drv.IsRegistrationData) {
                <li class="">
                    <a href="@Url.Action("Detail", new {dataSlug = drv.DataSlug})">
                        Detail
                    </a>
                </li>
            }
            <li class="">
                <a href="@Url.Action("ListRequest", new {dataSlug = drv.DataSlug})">
                    Request
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("ListHistory", new {dataSlug = drv.DataSlug})">
                    Riwayat
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
                    <div class="col-md-4">
                        <label>Kode AK:</label>
                        <select class="form-control" name="@(nameof(BaseAknpDttRequestForm.KodeAk))">
                            <option value="">-Semua-</option>
                            @foreach (var mod in comps) {
                                <option value="@mod.Code">@mod.Code / @mod.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Status Request:</label>
                        <select class="form-control" name="@(nameof(BaseAknpDttRequestForm.Status))">
                            <option value="">-Semua-</option>
                            @foreach (var mod in Model.RequestStatuses) {
                                <option value="@mod.Name">@mod.Label</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row master-table-filter">
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                       InputName = nameof(BaseAknpDttRequestForm.FromDateTime),
                       Label = "Dibuat Dari:",
                       Style = DateTimeFieldStyle.DateOnly,
                       UseVerticalFormFieldFormat = true
                   })
                    </div>
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                       InputName = nameof(BaseAknpDttRequestForm.ToDateTime),
                       Label = "Dibuat Sampai:",
                       Style = DateTimeFieldStyle.DateOnly,
                       UseVerticalFormFieldFormat = true
                   })
                    </div>
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                       InputName = nameof(BaseAknpDttRequestForm.ActiveFromDateTime),
                       Label = "Aktif Dari:",
                       Style = DateTimeFieldStyle.DateOnly,
                       UseVerticalFormFieldFormat = true
                   })
                    </div>
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                       InputName = nameof(BaseAknpDttRequestForm.ActiveToDateTime),
                       Label = "Aktif Sampai:",
                       Style = DateTimeFieldStyle.DateOnly,
                       UseVerticalFormFieldFormat = true
                   })
                    </div>
                </div>

                @{
                    var customFiltersTemplate = $"~/Views/DataAknp/_AknpTableFilters/{drv.DataSlug}.cshtml";
                    if (System.IO.File.Exists(Server.MapPath(customFiltersTemplate))) {
                        <div class="row master-table-filter">
                            @Html.PartialFor(Model, customFiltersTemplate, x => x)
                        </div>
                    }
                }

                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        @using (Html.Section("script-page-level")) {

                            var dttCols = new List<dynamic> {
                                new {
                                    name = nameof(BaseAknpData.KodeAk),
                                    data = nameof(BaseAknpData.KodeAk),
                                    title = "Kode AK",
                                    searchable = true,
                                    orderable = true
                                },
                                new {
                                    name = "NamaPerusahaanAK",
                                    data = "NamaPerusahaanAK",
                                    title = "Nama Perusahaan AK",
                                    searchable = false,
                                    orderable = false
                                },
                                new {
                                    name = nameof(BaseAknpData.CreatedUtc),
                                    data = nameof(BaseAknpData.CreatedUtc),
                                    title = "Dibuat",
                                    searchable = false,
                                    orderable = true
                                }
                            };

                            var dvds = new List<DataAknpViewDefinition>();
                            var searchability = new Dictionary<string, bool>();

                            foreach (var prop in drv.DataClassType.GetProperties().Where(x => x.CanRead)) {
                                var attrs = prop.GetCustomAttributes(true);
                                var aknpDispAttr = attrs.FirstOrDefault(x => x is AknpDisplayAttribute) as AknpDisplayAttribute;
                                if (aknpDispAttr == null || !aknpDispAttr.ShowInHistoryTable) {
                                    continue;
                                }

                                var label = prop.Name;
                                var order = 0;

                                var dispAttr = attrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;
                                if (dispAttr != null) {
                                    label = dispAttr.GetName() ?? prop.Name;
                                    order = dispAttr.GetOrder() ?? 0;
                                }

                                dvds.Add(new DataAknpViewDefinition(prop.Name) {
                                    Order = order,
                                    Label = label
                                });

                                searchability[prop.Name] = typeof(string).IsAssignableFrom(prop.PropertyType);
                            }

                            foreach (var dvd in dvds.OrderBy(x => x.Order)) {
                                dttCols.Add(new {
                                    name = dvd.PropertyName,
                                    data = dvd.PropertyName,
                                    title = dvd.Label,
                                    searchable = searchability[dvd.PropertyName],
                                    orderable = true
                                });
                            }

                            dttCols.Add(new {
                                name = nameof(BaseAknpData.ActiveUtc),
                                data = nameof(BaseAknpData.ActiveUtc),
                                title = "Tgl. Aktif",
                                searchable = false,
                                orderable = true
                            });

                            dttCols.Add(new {
                                name = nameof(BaseAknpData.Status),
                                data = nameof(BaseAknpData.Status),
                                title = "Status",
                                searchable = true,
                                orderable = true
                            });

                            <script type="text/javascript">
                                $(function() {
                                    var $masterTable = $('#master-table');
                                    var cols = @Html.Raw(JsonConvert.SerializeObject(dttCols));
                                    cols.push({
                                        name: null,
                                        data: null,
                                        title: 'Action',
                                        searchable: false,
                                        orderable: false,
                                        render: function(data, type, row, meta) {
                                            var urlTpl =
                                                '@Url.Action("RequestChangeDetail", new {dataSlug = drv.DataSlug, id = "11000011"})';
                                            var detailHref = urlTpl.replace('11000011', row.Id);
                                            return PortalAK.DttLinkButtonHtml(detailHref,
                                                '',
                                                'success',
                                                'fa fa-search');
                                        }
                                    });

                                    var masterTable = PortalAK.InitDtt('#master-table',
                                        '@Url.Action("ListHistoryDtt", new {dataSlug = drv.DataSlug})',
                                        cols,
                                        [
                                            [3, 'desc']
                                        ],
                                        function(e, stg, dat) {
                                            dat['@(nameof(BaseAknpDttRequestForm.ClassTypeFullName))'] =
                                                '@drv.DttRequestFormType.FullName';
                                            $('.master-table-filter :input[name]').each(function() {
                                                var el = $(this);
                                                dat[el.attr('name')] = el.val();
                                            });
                                        });

                                    $('.master-table-filter :input[name]').on('change',
                                        function() {
                                            masterTable.ajax.reload();
                                        });
                                });
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (usr.IsKpei && Model.User.KpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
    using (Html.Section("script")) {
        <div id="create-history-companies-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih AK yang akan di-input data @drv.DataTitle</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comp in Model.Companies) {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("CreateHistory", new {dataSlug = drv.DataSlug, kodeAk = comp.Code})">
                                                @comp.Code
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CreateHistory", new {dataSlug = drv.DataSlug, kodeAk = comp.Code})">
                                                @comp.Name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
}