﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.ChangeRequest
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@model ListRequestViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    if (drv.DataSlug != DataRegistrasiAknpDriver.SLUG)
    {
        comps = Model.Companies;
    }
    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});
}
<div class="row">
    <div class="col-xs-12">
        <div class="text-right">
            @if (usr.NonKpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                <a href="@Url.Action("RequestChange", new { dataSlug = drv.DataSlug })" class="btn red">
                    Request Perubahan @drv.DataTitle
                </a>
            } else if (usr.KpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                <a href="javascript:;" class="btn red" data-toggle="modal" data-target="#create-history-companies-modal">
                    Input Data @drv.DataTitle
                </a>
            }
        </div>

        <ul class="nav nav-tabs">
            @if (!drv.IsRegistrationData) {
                <li class="">
                    <a href="@Url.Action("Detail", new {dataSlug = drv.DataSlug})">
                        Detail
                    </a>
                </li>
            }
            <li class="active">
                <a href="@Url.Action("ListRequest", new {dataSlug = drv.DataSlug})">
                    Request
                </a>
            </li>
            @if (usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                <li class="">
                    <a href="@Url.Action("ListHistory", new {dataSlug = drv.DataSlug})">
                        Riwayat
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
                    @if (usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                        <div class="col-md-4">
                            <label>Kode AK:</label>
                            <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.KodeAk))">
                                <option value="">-Semua-</option>
                                @foreach (var mod in comps) {
                                    <option value="@mod.Code">@mod.Code / @mod.Name</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="col-md-4">
                        <label>Status Request:</label>
                        <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.Status))">
                            <option value="">-Semua-</option>
                            @foreach (var mod in Model.RequestStatuses) {
                                <option value="@mod.Name" @if (Model.User.IsSuperAdmin && mod.Name == DataAknpRequestStatus.ONGOING_STATUS.Name || !Model.User.IsSuperAdmin && mod.Name == DataAknpRequestStatus.NEW_STATUS.Name) { <text>selected</text>}>@mod.Label</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row master-table-filter">
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                            InputName = nameof(ChangeRequestDttRequestForm.FromDateTime),
                            Label = "Dari:",
                            Style = DateTimeFieldStyle.DateOnly,
                            UseVerticalFormFieldFormat = true
                        })
                    </div>
                    <div class="col-md-3">
                        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
                            InputName = nameof(ChangeRequestDttRequestForm.ToDateTime),
                            Label = "Sampai:",
                            Style = DateTimeFieldStyle.DateOnly,
                            UseVerticalFormFieldFormat = true
                        })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr/>
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                @if (usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
                    <text>
                        {
                            name: 'KodeAk',
                            data: 'KodeAk',
                            title: 'Kode AK',
                            searchable: true,
                            orderable: true
                        },
                        {
                            name: 'NamaPerusahaan',
                            data: 'NamaPerusahaan',
                            title: 'Nama Perusahaan',
                            searchable: false,
                            orderable: false
                        },
                    </text>
                }
                {
                    name: 'CreatedUtc',
                    data: 'WaktuPengajuan',
                    title: 'Waktu Pengajuan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'DataDriverSlug',
                    data: 'JenisData',
                    title: 'Jenis Data',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'Status',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        var urlTpl =
                            '@Url.Action("RequestChangeDetail", new {dataSlug = drv.DataSlug, id = "11000011"})';
                        var detailHref = urlTpl.replace('11000011', row.DataId);
                        return PortalAK.DttLinkButtonHtml(detailHref, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListRequestDtt", new {dataSlug = drv.DataSlug})',
                cols,
                [
                    @Html.Raw(usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN) ? "[3, 'desc']" : "[1, 'desc']")
                ],
                function(e, stg, dat) {
                    $('.master-table-filter :input[name]').each(function() {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $('.master-table-filter :input[name]').on('change',
                function() {
                    masterTable.ajax.reload();
                });
        });
    </script>
}

@if (usr.IsKpei && Model.User.KpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN)) {
    using (Html.Section("script")) {
        <div id="create-history-companies-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih AK yang akan di-input data @drv.DataTitle</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comp in Model.Companies) {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("CreateHistory", new {dataSlug = drv.DataSlug, kodeAk = comp.Code})">
                                                @comp.Code
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CreateHistory", new {dataSlug = drv.DataSlug, kodeAk = comp.Code})">
                                                @comp.Name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
}