﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@model ProfileViewModel
@{
    ViewBag.Title = $"Data Anggota Kliring & Partisipan - Ringkasan";
    Html.SelectedMenuTags().AddRange(new[] { "data-aknp-profile" });

    var usr = Model.User;
    var store = Model.DriverStore;
    var kodeak = Model.KodeAk;

    var profileDisplay = new AknpProfileDisplay();
    profileDisplay.Populate(kodeak, store);
}

<div class="row">
        @if (usr.IsKpei || usr.NonKpeiViewerAsKpei(CoreModules.DATA_AK_PARTISIPAN)) {
            <div class="col-md-6">
                <label>Kode AK:</label>
                <select class="form-control" name="" onchange="window.location.replace($(this).val())">
                    <option value="">-Pilih-</option>
                    @foreach (var mod in Model.Companies) {
                        <option value="@Url.Action("Profile", new {kodeAk = mod.Code})"
                                @(kodeak == mod.Code ? "selected" : "")>@mod.Code / @mod.Name</option>
                    }
                </select>
            </div>
        }
    @if (!string.IsNullOrWhiteSpace(kodeak)) {
        <div class="col-md-@(usr.IsKpei ? 6 : 12) text-right">
            <a download href="@Url.Action("ProfilePdf", new {kodeAk = kodeak})" class="btn btn red">
                PDF <i class="fa fa-download"></i>
            </a>
        </div>
    }
</div>
<div class="row">
    <div class="col-xs-12 form-horizontal">
        <hr/>
        @if (string.IsNullOrWhiteSpace(kodeak)) {
            <p>
                Pilih kode AK untuk melihat ringkasan datanya.
            </p>
        } else {
            var mdl = new DetailRenderViewModel {
                User = usr,
                Driver = null,
                Data = profileDisplay
            };
            @Html.PartialFor(mdl, "_DetailRender", x => x)
        }
    </div>
</div>