﻿@using iTextSharp.text.pdf.qrcode
@using Kpei.PortalAK.ViewModels.DataAknp
@model RequestChangeViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var fm = Model.Form;

    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});

    var regSuccess = TempData["RegisterSuccess"] as bool? ?? false;
}

@if (regSuccess) {
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Berhasil!</strong> Registrasi baru berhasil.
    </div>
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @{
            var mdl = new FormRenderViewModel {
                User = usr,
                Driver = drv,
                Companies = Model.Companies,
                GlobalSetting = Model.GlobalSetting,
                Form = fm
            };
        }
        @Html.PartialFor(mdl, "_FormRender", x => x)
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                @if (drv.IsRegistrationData)
                {
                    <button type="button" class="btn red" id="submit-registration-button">
                        Submit
                    </button>
                    <button type="button" class="btn btn-warning form-draft-button">
                        Save as Draft
                    </button>
                    using (Html.Section("script"))
                    {
                        <script type="text/javascript">
                            $(function () {
                                var submitRegBtn = $('#submit-registration-button');
                                submitRegBtn.on('click', function () {
                                    PortalAK.ConfirmAction(
                                        'Anda yakin?<br/>Setelah data dikirim, Anda tidak akan dapat melakukan perubahan lagi.',
                                        function () {
                                            submitRegBtn.closest('form').submit();
                                        });
                                });
                            });
                        </script>
                    }
                }
                else
                {
                    <button type="button" class="btn red form-submit-button">
                        Submit
                    </button>
                    <button type="button" class="btn btn-warning form-draft-button">
                        Save as Draft
                    </button>
                    <a href="@Url.Action("ListRequest", new {dataSlug = drv.DataSlug})" class="btn btn-default">
                        Cancel
                    </a>
                }
            </div>
        </div>
    </div>

</form>