﻿@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.DataAknp
@model RequestChangeLogViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var data = Model.Data;

    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Log Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});
}
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li class="">
                <a href="@Url.Action("RequestChangeDetail", new {dataSlug = drv.DataSlug, id = data.Id})">
                    Data @drv.DataTitle
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("RequestChangeLog", new {dataSlug = drv.DataSlug, id = data.Id})">
                    Log
                </a>
            </li>
        </ul>
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: '@(nameof(UserActionLog.CreatedUtc))',
                    data: 'WaktuPerubahan',
                    title: 'Waktu Perubahan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.UserName))',
                    data: 'DibuatOleh',
                    title: 'Dibuat Oleh',
                    searchable: true,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.Message))',
                    data: 'Aktivitas',
                    title: 'Aktivitas',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("RequestChangeLogDtt", "DataAknp")',
                cols,
                [
                    [1, 'desc']
                ],
                function(e, stg, dat) {
                    // no modding
                });
        });
    </script>
}