﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.ViewModels.Pincode
@model RequestChangeDetailViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var data = Model.Data;

    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Detail Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});

    var dataStillDraft = TempData["DataStillDraft"] as bool? ?? false;
    var dataStillGuestAlert = TempData["DataStillGuest"] as bool? ?? false;
    var approveSuccess = TempData["ApproveSuccess"] as bool? ?? false;
    var rejectSuccess = TempData["RejectSuccess"] as bool? ?? false;
    var haveNotyetApproved = TempData["HaveNotyetApproved"] as bool? ?? false;
}
<div class="row">
    <div class="col-xs-12">
        @if (haveNotyetApproved)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                Data ini belum di-approve.
            </div>
        }
        @if (dataStillGuestAlert)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Approve Gagal!</strong> Data yang masih berkode guest AK tidak boleh di-approve.
            </div>
        }

        @if (approveSuccess)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Approve Berhasil!</strong> Status data telah berubah menjadi @data.Status.
            </div>
        }

        @if (rejectSuccess)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Reject Berhasil!</strong> Status data telah berubah menjadi @data.Status.
            </div>
        }

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="@Url.Action("RequestChangeDetail", new {dataSlug = drv.DataSlug, id = data.Id})">
                    Data @drv.DataTitle
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("RequestChangeLog", new {dataSlug = drv.DataSlug, id = data.Id})">
                    Log
                </a>
            </li>
        </ul>
        <div class="text-right">
            @if (usr.KpeiApproverRightFor(CoreModules.DATA_AK_PARTISIPAN) &&
                 (data.Status == DataAknpRequestStatus.NEW_STATUS.Name ||
                  data.Status == DataAknpRequestStatus.ONGOING_STATUS.Name) && data.Draft != true)
            {
                if (data.Approver1UserId == null || data.Approver1UserId != usr.Id)
                {
                    <a href="javascript:;" class="btn btn red" onclick="PortalAK.ConfirmAction(null, function () { $('#approve-request-form').submit(); });">
                        Approve <i class="fa fa-check"></i>
                    </a>
                    <form style="display: none" method="post" action="@Url.Action("ApproveRequestChange", new {dataSlug = drv.DataSlug, id = data.Id})" id="approve-request-form">
                        @Html.AntiForgeryToken()
                    </form>
                    <a href="javascript:;" class="btn btn-danger" data-toggle="modal" data-target="#reject-request-modal">
                        Reject <i class="fa fa-close"></i>
                    </a>
                }
                else
                {
                    <a href="javascript:;" class="btn btn red" onclick="PortalAK.AlertMessage('Anda sudah pernah meng-approve data @drv.DataTitle ini.');">
                        Approve <i class="fa fa-check"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-danger" onclick="PortalAK.AlertMessage('Anda sudah pernah meng-approve data @drv.DataTitle ini.');">
                        Reject <i class="fa fa-close"></i>
                    </a>
                }
            }
            @if (usr.NonKpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN) && data.Status == DataAknpRequestStatus.NEW_STATUS.Name ||
                  (usr.KpeiModifierRightFor(CoreModules.DATA_AK_PARTISIPAN) &&
                  (data.Status == DataAknpRequestStatus.ONGOING_STATUS.Name &&
                  data.Approver1UserId != usr.Id) || data.Status == DataAknpRequestStatus.NEW_STATUS.Name) &&
                 data.Status != DataAknpRequestStatus.REJECTED_STATUS.Name &&
                 data.Status.ToLower() != DataAknpRequestStatus.APPROVED_STATUS.Name.ToLower() && data.Draft != true)
            {
                <a href="@Url.Action("UpdateRequestChange", new {dataSlug = drv.DataSlug, id = data.Id})" class="btn btn-warning">
                    Ubah Data <i class="fa fa-pencil"></i>
                </a>
            }
        </div>
        <div class="form form-horizontal">
            <div class="form-body">
                @{
                    var mdl = new DetailRenderViewModel
                    {
                        User = usr,
                        Driver = drv,
                        Data = data
                    };
                }
                @Html.PartialFor(mdl, "_DetailRender", x => x)
            </div>
        </div>
    </div>
</div>
@if (usr.IsKpei && Model.User.KpeiApproverRightFor(CoreModules.DATA_AK_PARTISIPAN) &&
     data.Status != DataAknpRequestStatus.REJECTED_STATUS.Name) {
    using (Html.Section("script")) {

        var errs = TempData["ValidationErrors"] as string[] ?? new string[0];
        var hasErr = errs.Length > 0;

        if (hasErr) {
            <script type="text/javascript">
                $(function() {
                    $('a[data-toggle="modal"][data-target="#reject-request-modal"]').click();
                });
            </script>
        }
        <div id="reject-request-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tolak Request Perubahan @drv.DataTitle</h4>
                    </div>
                    <form method="post" action="@Url.Action("RejectRequestChange", new {dataSlug = drv.DataSlug, id = data.Id})" class="form form-horizontal">
                        <div class="modal-body">
                            @if (hasErr) {
                                <ul>
                                    @foreach (var err in errs) {
                                        <li class="text-danger">@err</li>
                                    }
                                </ul>
                            }

                            @Html.AntiForgeryToken()
                            @Html.FormFieldPartial("", new TextFieldSetting {
                                InputName = nameof(RejectViewModel.RejectReason),
                                Label = "Alasan Penolakan",
                                HelpText = "",
                                Style = TextFieldStyle.Textarea
                            })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger form-submit-button">Reject</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}