﻿@using Kpei.PortalAK.ViewModels.DataAknp
@model UpdateRequestChangeViewModel
@{
    var drv = Model.Driver;
    var usr = Model.User;
    var fm = Model.Form;
    var comps = Model.Companies;
    var statuses = Model.Statuses;

    ViewBag.Title = $"Data Anggota Kliring & Partisipan - {drv.DataTitle} - Ubah Request";
    Html.SelectedMenuTags().AddRange(new[] {"data-aknp", drv.RequiresAkteForChange ? "dengan-akte" : (drv.EnabledOnlyForKpei ? "stat-perj" : "dengan-surat"), drv.DataSlug});
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @{
            var mdl = new FormRenderViewModel {
                User = usr,
                Driver = drv,
                Form = fm,
                GlobalSetting = Model.GlobalSetting,
                Companies = Model.Companies
            };
        }
        @Html.PartialFor(mdl, "_FormRender", x => x)
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                @if (fm.Draft == true)
                {
                    <button type="button" class="btn red form-submit-button">
                        Submit
                    </button>

                    <button type="button" class="btn btn-warning form-draft-button">
                        Save as Draft
                    </button>
                }
                else
                {
                    <button type="button" class="btn red form-submit-button">
                        Submit
                    </button>
                }

                <a href="@Url.Action("RequestChangeDetail", new {dataSlug = drv.DataSlug, id = Model.Id})" class="btn btn-default">
                    Cancel
                </a>
            </div>
        </div>
    </div>

</form>