﻿@model Kpei.PortalAK.ViewModels.MclearsPesertaViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Daftar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"mclears", "mcl-reg"});
}
<form action="@Url.Action("LayananAlert", "Mclears")" method="post" class="form-horizontal">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(e => e.helperKodeAK)
        <div class="form-port col-md-12">
            <div class="mt-element-step">
                <div class="row step-line">
                    <div class="col-md-4 mt-step-col first done">
                        <div class="mt-step-number bg-white">1</div>
                        <div class="mt-step-title uppercase font-grey-cascade">Peserta</div>
                    </div>
                    <div class="col-md-4 mt-step-col">
                        <div class="mt-step-number bg-white">2</div>
                        <div class="mt-step-title uppercase font-grey-cascade">Layanan On Alert</div>
                    </div>
                    <div class="col-md-4 mt-step-col last">
                        <div class="mt-step-number bg-white">3</div>
                        <div class="mt-step-title uppercase font-grey-cascade">Layanan On Request</div>
                    </div>
                </div>
            </div>
            <div class="container">
                @if (!Html.ViewData.ModelState.IsValid) {
                    <div class="alert alert-danger validation-summary-error">
                        <strong>Error!</strong> Terjadi kesalahan!
                        @Html.ValidationSummary()
                    </div>
                }
                @if (Model != null && Model.Peserta != null) {
                    int rowNo = 0;
                    @Html.HiddenFor(e => e.RequestId)
                    @Html.HiddenFor(e => e.AppUser.IsKpei)
                    for (int i = 0; i < Model.Peserta.Count(); i++) {
                        <div class="portlet box green-jungle col-md-9">
                            <input type="hidden" name="@Html.NameFor(e => e.Peserta[i].KodeAK)" value="@Html.ValueFor(e => e.helperKodeAK)" />
                            @Html.HiddenFor(e => e.Peserta[i].AlertPC)
                            @Html.HiddenFor(e => e.Peserta[i].AlertPS)
                            @Html.HiddenFor(e => e.Peserta[i].AlertHTS)
                            @Html.HiddenFor(e => e.Peserta[i].AlertHTR)
                            @Html.HiddenFor(e => e.Peserta[i].AlertBACS)
                            @Html.HiddenFor(e => e.Peserta[i].AlertACS)
                            @Html.HiddenFor(e => e.Peserta[i].AlertTLP)
                            @Html.HiddenFor(e => e.Peserta[i].AlertTLS)
                            @Html.HiddenFor(e => e.Peserta[i].AlertTL5)
                            @Html.HiddenFor(e => e.Peserta[i].AlertMKBDA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertFCOLWA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertCLA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertOCA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertMCCA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertDCDA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertDCRA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertMCA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertCPA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertHPHFA)
                            @Html.HiddenFor(e => e.Peserta[i].AlertBroadcast)
                            @Html.HiddenFor(e => e.Peserta[i].AlertL1)
                            @Html.HiddenFor(e => e.Peserta[i].AlertL3)
                            @Html.HiddenFor(e => e.Peserta[i].AlertL7)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestPC)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestPS)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestHTS)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestHTR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestPPR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestMKBDR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestOCR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestHaircut)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestDCDR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestDCRR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestMCR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestCPR)
                            @Html.HiddenFor(e => e.Peserta[i].OnRequestHPHFR)
                            <div class="portlet-title">
                                <div class="caption">
                                    <span id="class">@(rowNo += 1)</span>
                                </div>
                                <div class="tools">
                                    <a href="" class="remove" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama Peserta:</label>
                                        <div class="col-md-9">
                                            <input name="@Html.NameFor(e => e.Peserta[i].Nama)" value="@Html.ValueFor(e => e.Peserta[i].Nama)" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Jabatan:</label>
                                        <div class="col-md-9">
                                            <input name="@Html.NameFor(e => Model.Peserta[i].Jabatan)" value="@Html.ValueFor(e => Model.Peserta[i].Jabatan)" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email:</label>
                                        <div class="col-md-9">
                                            <input name="@Html.NameFor(e => Model.Peserta[i].Email)" value="@Html.ValueFor(e => Model.Peserta[i].Email)" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Handphone:</label>
                                        <div class="col-md-9">
                                            <input name="@Html.NameFor(e => Model.Peserta[i].HP)" value="@Html.ValueFor(e => Model.Peserta[i].HP)" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <div class="portlet box green-jungle col-md-9 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="number">
                                    1
                                </span>
                            </div>
                            <div class="tools">
                                <a href="" class="remove" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Peserta:</label>
                                    <div class="col-md-9">
                                        <input name="Peserta[0].Nama" value="" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jabatan:</label>
                                    <div class="col-md-9">
                                        <input name="Peserta[0].Jabatan" type="text" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email:</label>
                                    <div class="col-md-9">
                                        <input name="Peserta[0].Email" type="text" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Handphone:</label>
                                    <div class="col-md-9">
                                        <input name="Peserta[0].HP" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
            <div class="col-md-9">
                <button type="button" class="btn green-jungle" id="trigger">
                    <u>
                        <i class="fa fa-plus-square"></i> Tambah Peserta
                    </u>
                </button>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green"><i class="fa fa-arrow-right"></i>Next</button>
                    </div>
                </div>
            </div>
        </form>
@using (Html.Section("script-page-level")) {

    <script>
        $(document).ready(function () {
            $("#trigger").click(function () {
                var number = $("span").last().text();
                console.log(number);
                if (number == null) {
                    var newNumber = 1;
                } else {
                    var newNumber = parseInt(number);
                    ++newNumber;
                }
                $(".container").append('<div class="portlet box green-jungle col-md-9"><div class="portlet-title"><div class="caption"><span class="number">' + newNumber.toString() + '</span></div><div class="tools"><a href="" class="remove" data-original-title="" title=""></a></div></div><div class="portlet-body form"><div class="form-body"><div class="form-group"><label class="col-md-3 control-label">Nama Peserta:</label><div class="col-md-9"><input name="Peserta[' + (newNumber - 1) + '].Nama" type="text" class="form-control" /></div></div><div class="form-group"><label class="col-md-3 control-label">Jabatan:</label><div class="col-md-9"><input name="Peserta[' + (newNumber - 1) + '].Jabatan" type="text" class="form-control" /></div></div ><div class="form-group"><label class="col-md-3 control-label">Email:</label><div class="col-md-9"><input name="Peserta[' + (newNumber - 1) + '].Email" type="text" class="form-control"></div></div><div class="form-group"><label class="col-md-3 control-label">No Handphone:</label><div class="col-md-9"><input name="Peserta[' + (newNumber - 1) + '].HP" type="text" class="form-control"></div></div></div></div></div></div>');
            })
        });
    </script>
}