﻿@model Kpei.PortalAK.ViewModels.MclearsPesertaViewModel
@{
    ViewBag.Title = "DetailRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"mclears", "mcl-detail"});

    int tableRow = 2;
    string status = (Model.statusRequest ?? "");
    if (Model.Peserta != null) {
        tableRow = 2 + Model.Peserta.Count();

    }
    int utc = 7;

}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#mclears_detail" data-toggle="tab" aria-expanded="true"> Detail </a>
    </li>
    <li class="">
        <a href="#mclears_log" data-toggle="tab" aria-expanded="false"> Log Request</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="mclears_detail">
        <div class="pull-right">
            @if (status != "Terminated") {
                <a href="@Url.Action("DaftarForm", new { requestId = Model.RequestId })" class="btn green"><i class="fa fa-list-alt"></i>Ubah Data</a>
                if (status == "Done") {
                    <a href="@Url.Action("RequestTerminasi", new {requestId = Model.RequestId})" class="btn red"><i class="fa fa-trash"></i>Request Terminasi</a>
                }
                if (Model.AppUser.IsKpei) {
                    <a href="@Url.Action("doUbah", new { requestId = Model.RequestId })" class="btn green-jungle"><i class="fa fa-check"></i>Konfirmasi Pengubahan Data</a>
                    if (status == "Request Terminasi") {
                        <a href="@Url.Action("doTerminasi", new { requestId = Model.RequestId })" class="btn red"><i class="fa fa-trash"></i>Konfirmasi Terminasi</a>
                    }
                }
            }

        </div>
        <h2>Layanan Alert</h2>

        <table class="table table-striped table-bordered table-hover">
            @if (Model.Peserta != null) {
                @Html.HiddenFor(e => e.RequestId)
                @Html.HiddenFor(e => e.AppUser.IsKpei)
            }
            <thead>
                <tr>
                    <th>
                        No
                    </th>
                    <th class="hidden-xs">
                        Layanan
                    </th>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <th>
                                <a id="demo_@i">
                                    @Model.Peserta[i].Nama
                                    <i class="fa fa-info"></i>
                                </a>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Equity
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Pending Cash - Posisi Serah Dana yang akan jatuh tempo</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertPC, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pending Saham - Posisi Serah Efek yang akan jatuh tempo</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertPS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hak Terima Saham di 004 - Efek yang diterima di Rek.004</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHTS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hak Terima IDR di 004 - Dana yang diterima di Rek 004</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHTR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Settlement
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Bayar Alternate Cash Settlement</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertBACS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Terima Alternate Cash Settlement</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertACS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Trading Limit
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Trading Limit Pagi - Nilai Trading Limit posisi sebelum sesi 1</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTLP, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trading Limit Siang - Nilai Trading Limit posisi sebelum sesi 2</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTLS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Trading Limit Proyeksi Pukul 17.15</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTL5, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Risk Management
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>MKBD Alert - Status Pengiriman laporan MKBD harian</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMKBDA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Failed COLW Alert - Status instruksi COLW Gagal Tertarik</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertFCOLWA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Collateral Limit Alert - Batasan Collateral jika collateral yang diagunkan melebihi 40M</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertCLA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Offline Collateral Alert - Status Nilai Agunan Offline</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertOCA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>Minimum Cash Collateral Alert - Status Nilai Agunan Minimum Kas / Setara</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMCCA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Derivatif
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Derivative Cash Delivery Alert - Serah Dana Derivatif</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertDCDA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Derivative Cash Receive Alert - Terima Dana Derivatif</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertDCRA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Margin Call Alert - Informasi Margin Call</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMCA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Contract Position Alert - Informasi Posisi Kontrak</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertCPA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>&lt;1 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 1</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL1, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }

                </tr>
                <tr>
                    <td>6</td>
                    <td>&lt;3 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 3</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL3, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }

                </tr>
                <tr>
                    <td>7</td>
                    <td>&lt;7 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 7</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL7, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }

                </tr>
                <tr>
                    <td>8</td>
                    <td>HPH &amp; HPF Alert - Informasi Harga Penyelesaian Harian (HPH) dan Harga</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHPHFA, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }

                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Berita KPEI
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Broadcast News from KPEI - Informasi terbaru terkait dengan kegiatan KPEI</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {

                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertBroadcast, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>

        <h2>Layanan On Request</h2>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        No
                    </th>
                    <th class="hidden-xs">
                        Layanan
                    </th>
                    @if (Model.Peserta != null) {

                        @Html.HiddenFor(e => e.RequestId)
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <th>
                                <a id="demo_@i">
                                    @Model.Peserta[i].Nama
                                    <i class="fa fa-info"></i>
                                </a>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Equity
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Pending Cash - Posisi Serah Dana yang akan jatuh tempo</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPC, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pending Saham - Posisi Serah Efek yang akan jatuh tempo</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hak Terima Saham di 004 - Efek yang diterima di Rek.004</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHTS, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hak Terima IDR di 004 - Dana yang diterima di Rek 004</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHTR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Trading Limit
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Purchase Power Request - Informasi Trading Limit</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPPR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Risk Management
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>MKBD Request - Status Pengiriman laporan MKBD harian</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestMKBDR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Offline Collateral Request - Status Nilai Agunan Offline</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestOCR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Haircut - Informasi nilai haircut saham</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHaircut, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Derivatif
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Derivative Cash Delivery Request - Serah Dana Derivatif</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestDCDR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Derivative Cash Receive Request - Terima Dana Derivatif</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestDCRR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Margin Call Request - Informasi Margin Call</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestMCR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Contract Position Request- Informasi Posisi Kontrak</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestCPR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>HPH &amp; HPF Request - Informasi Harga Penyelesaian Harian (HPH) dan Harga</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHPHFR, new { @checked = "checked", @disabled = "disabled", @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="mclears_log">
        <div class="table-scrollable col-md-8">
            <table class="table table-striped table-hover dt-responsive" width="100%" id="sample_1" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Waktu Perubahan</th>
                        <th>Dibuat Oleh</th>
                        <th>Aktivitas</th>
                    </tr>
                </thead>
                @if (Model.logs != null) {
                    foreach (var log in Model.logs) {
                        <tr>
                            <td></td>
                            <td>@log.CreatedUtc.AddHours(utc).ToString("yyyy/MM/dd HH:mm")</td>
                            <td>@log.Author</td>
                            <td>@log.Aktivitas</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>

@using (Html.Section("script")) {
    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script>
        var UIBootbox = function() {
            var o = function() {

                @if (Model.Peserta != null) {
                    for (var i = 0; i < Model.Peserta.Count; i++) {
                        <text>
                            $("#demo_@i").click(function() {
                                bootbox.alert(
                                    "<table class=\"table table-hover table-striped table-bordered\"><tbody><tr><td>Nama:</td><td>@Model.Peserta[i].Nama</td></tr><tr><td>Jabatan:</td><td>@Model.Peserta[i].Jabatan</td></tr><tr><td>Email:</td><td>@Model.Peserta[i].Email</td></tr><tr><td>HP:</td><td>@Model.Peserta[i].HP</td></tbody></table>");
                            });
                        </text>
                    }
                }
            };
            return { init: function() { o() } }
        }();
        jQuery(document).ready(function() { UIBootbox.init() });
    </script>
    <!--DATA TABLE-->
    <script>
        var export_filename = "Files";
        var t = $('#sample_1').DataTable({
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }
            ],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            "dom":
                "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            buttons: [
                {
                    text: '<i class="fa fa-lg fa-clipboard"></i>',
                    extend: 'copy',
                    className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-copy ttip'
                }, {
                    text: '<i class="fa fa-lg fa-print"></i> Print',
                    extend: 'csv',
                    className: 'btn red',
                    title: export_filename,
                    extension: '.csv'
                }, {
                    text: '<i class="fa fa-lg fa-file-excel-o"></i> Excel',
                    extend: 'excel',
                    className: 'btn green-jungle',
                    title: export_filename,
                    extension: '.xls'
                }, {
                    text: '<i class="fa fa-lg fa-file-pdf-o"></i> PDF',
                    extend: 'pdf',
                    className: 'btn red-mint',
                    title: export_filename,
                    extension: '.pdf'
                }
            ],
            "dom":
                "<'row' <'col-md-12 form-group'>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            "order": [[1, 'desc']]
        });
        t.on('order.dt search.dt',
            function() {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
    </script>
}