﻿@using Kpei.PortalAK.ViewModels.Mclears
@using Kpei.PortalAK.DataAccess.ModMclears.Models
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.UserIdentity
@using Kpei.PortalAK.DataAccess.Core
@model DetailViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Detail Request";
    Html.SelectedMenuTags().AddRange(new[] { "m-clears" });
    var userSvc = DepResolver.Instance.GetService<IUserService>();
    var i = 0;
}
<div class="form form-horizontal">
    <div class="col-md-12 text-right">
        @if (Model.Request.StatusRequest == MclearsStatusRequest.NEW_STATUS.Name &&
             Model.AppUser.KpeiApproverRightFor(CoreModules.LAYANAN_M_CLEARS)) {
            <form id="done-mclears-form" style="display:none;" method="post" action="@Url.Action("Done", new {id = Model.Request.Id})">
                @Html.AntiForgeryToken()
            </form>
            <button class="btn btn red"
                    onclick="PortalAK.ConfirmAction('Anda yakin untuk mengubah status request ini?', function () {$('#done-mclears-form').submit();})">
                <i class="fa fa-check"></i>
                Complete Action
            </button>
        }
        @if (//if new request => kpei (have modifier right), aknp (have modifier right and code is same with user code)
            //if on going request => kpei (superadmin and not first approver)
            (Model.Request.StatusRequest == MclearsStatusRequest.NEW_STATUS.Name &&
             (Model.AppUser.NonKpeiModifierRightFor(CoreModules.LAYANAN_M_CLEARS) && 
              Model.Request.KodeAK == Model.AppUser.KpeiCompanyCode) ||
              Model.AppUser.KpeiModifierRightFor(CoreModules.LAYANAN_M_CLEARS))) {
        <a href="@Url.Action("Edit", new { id = Model.Request.Id })" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>
        }
    </div>
    <div class="form-body">
        <div id="rootwizard">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    @for (i = 0; i < Model.TotalItem; i++) {
                        <li @if (i == Model.Index) { <text> class="active" </text> }><a href="@if (i == Model.Index) { <text>#</text>} else { @Url.Action("Detail", new { id = Model.Request.Id, index = i})}">@(i + 1)</a></li>
                    }
                    <li><a href="@Url.Action("Log", "Mclears")">Log Request</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab-@Model.Index" class="tab-pane active"
                     ">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#tab-@Model.Index-data" data-toggle="tab">Data Peserta m-CLEARS</a></li>
                            <li><a href="#tab-@Model.Index-alert" data-toggle="tab">Layanan Alert (@Model.TotalAlert)</a></li>
                            <li><a href="#tab-@Model.Index-onreq" data-toggle="tab">Layanan On Request (@Model.TotalOnRequest)</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-@Model.Index-data">
                                @Html.FormFieldPartial(Model.Peserta.Nama, new TextFieldSetting {
                                   InputName = "Nama",
                                   Label = "Nama"
                               })
                                @Html.FormFieldPartial(Model.Peserta.Jabatan, new TextFieldSetting {
                                   InputName = "Jabatan",
                                   Label = "Jabatan"
                               })
                                @Html.FormFieldPartial(Model.Peserta.Email, new TextFieldSetting {
                                   InputName = "Email",
                                   Label = "E-mail"
                               })
                                @Html.FormFieldPartial(Model.Peserta.HP, new TextFieldSetting {
                                   InputName = "HP",
                                   Label = "No. Handphone"
                               })
                            </div>
                            <div class="tab-pane" id="tab-@Model.Index-alert">
                                <h3>Layanan Alert</h3>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>Jenis Layanan</td>
                                            <td>Request</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertACS), Model.Peserta.AlertACS)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertBACS), Model.Peserta.AlertBACS)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertBroadcast), Model.Peserta.AlertBroadcast)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertCLA), Model.Peserta.AlertCLA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertCPA), Model.Peserta.AlertCPA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertDCDA), Model.Peserta.AlertDCDA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertFCOLWA), Model.Peserta.AlertFCOLWA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertHPHFA), Model.Peserta.AlertHPHFA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertHTR), Model.Peserta.AlertHTR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertHTS), Model.Peserta.AlertHTS)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertL1), Model.Peserta.AlertL1)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertL3), Model.Peserta.AlertL3)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertL7), Model.Peserta.AlertL7)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertMCA), Model.Peserta.AlertMCA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertMCCA), Model.Peserta.AlertMCCA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertMKBDA), Model.Peserta.AlertMKBDA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertOCA), Model.Peserta.AlertOCA)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertPC), Model.Peserta.AlertPC)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertPS), Model.Peserta.AlertPS)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertTL5), Model.Peserta.AlertTL5)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertTLP), Model.Peserta.AlertTLP)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.AlertTLS), Model.Peserta.AlertTLS)
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab-@Model.Index-onreq">
                                <h3>Layanan On Request</h3>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>Jenis Layanan</td>
                                            <td>Request</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestCPR), Model.Peserta.OnRequestCPR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestDCDR), Model.Peserta.OnRequestDCDR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestDCRR), Model.Peserta.OnRequestDCRR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestHaircut), Model.Peserta.OnRequestHaircut)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestHPHFR), Model.Peserta.OnRequestHPHFR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestHTR), Model.Peserta.OnRequestHTR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestHTS), Model.Peserta.OnRequestHTS)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestMCR), Model.Peserta.OnRequestMCR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestMKBDR), Model.Peserta.OnRequestMKBDR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestOCR), Model.Peserta.OnRequestOCR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestPC), Model.Peserta.OnRequestPC)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestPPR), Model.Peserta.OnRequestPPR)
                                        @ShowRow(Html.DisplayNameFor(e => Model.Peserta.OnRequestPS), Model.Peserta.OnRequestPS)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Model.AppUser.IsKpei) {
                        <div class="col-md-12"> 
                            <hr />
                            <div class="col-md-9">
                                @Html.FormFieldPartial(Model.Request.StatusRequest, new TextFieldSetting {
                                   InputName = nameof(Model.Request.StatusRequest),
                                   Label = "Status Request"
                               })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@helper ShowRow(HtmlString name, bool? val) {
if (val == true || val == false) {
        <tr>
            <td>
                @name
            </td>
            <td>
                @if (val == true) {
                    <text>
                        SUBSCRIBE
                    </text>
                } else {
                    <text>
                        UNSUBSCRIBE
                    </text>
                }
            </td>
        </tr>
}
}
@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function () {
            $('div.form input').prop('readonly', true);
            $('div.form select').prop('readonly', true);
        });
    </script>
}