﻿@using Kpei.PortalAK.ViewModels.Mclears
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model UpdateViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Edit Subscribe";
    Html.SelectedMenuTags().AddRange(new[] { "mclears"});
    var tableRow = Model.Request.ListPeserta.Count;
}

<form method="post" action="@Url.Action("Edit")" class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <input type="hidden" name="@nameof(Model.Request.Id)" value="@Model.Request.Id" />
    <input type="hidden" name="@nameof(Model.Request.KodeAK)" value="@Model.Request.KodeAK" />
    <div class="form-body">
        <div id="rootwizard">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li><a href="#tab_data" data-toggle="tab">Data Peserta</a></li>
                    <li><a href="#tab_alert" data-toggle="tab">Layanan Alert</a></li>
                    <li><a href="#tab_onreq" data-toggle="tab">Layanan On Request</a></li>
                    <li><a href="#tab_action" data-toggle="tab">Submit</a></li>
                </ul>

            </div>
            @Html.FormFieldPartial(Model.Request.ListPeserta, new ArrMclearsSubscriberFieldSetting {
               InputName = "ListPeserta",
               Label = "Peserta m-CLEARS"
           })
        </div>
    </div>

</form>
@using (Html.Section("script")) {
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#rootwizard').bootstrapWizard({ withVisible: false });
        });
    </script>
}


