﻿@using Kpei.PortalAK.ViewModels.Mclears
@using Kpei.PortalAK.DataAccess.ModMclears.Forms
@using Kpei.PortalAK.DataAccess.ModMclears.Models
@model IndexViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS";
    Html.SelectedMenuTags().AddRange(new[] { "m-clears" });
}
<div class="row">
    <div class="col-md-3">
        <label>Kode AK:</label>
        <select id="kode-ak-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Companies) {
                <option value="@mod.Code">@mod.Code / @mod.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Status Request:</label>
        <select id="status-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Statuses) {
                <option value="@mod.Name" @if (mod.Name == MclearsStatusRequest.NEW_STATUS.Name) { <text>selected</text>}>@mod.Label</option>
            }
        </select>
    </div>
    <div class="col-xs-12">
        <hr />
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'KodeAK',
                    data: 'KodeAK',
                    title: 'Kode AK',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaPerusahaan',
                    data: 'NamaPerusahaan',
                    title: 'Nama Perusahaan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'StatusRequest',
                    data: 'StatusRequest',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'CreatedUtc',
                    data: 'CreatedUtc',
                    title: 'Tanggal Submit',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'JlhPeserta',
                    data: 'JlhPeserta',
                    title: 'Jumlah Peserta',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'JlhRequestLayanan',
                    data: 'JlhRequestLayanan',
                    title: 'Jumlah Layanan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKpei", "Mclears")',
                cols,
                [
                    [3, 'desc']
                ],

                function(e, stg, dat) {
                    dat['@(nameof(MclearsDttRequestForm.KodeAk))'] = $kodeAkSelector.val();
                    dat['@(nameof(MclearsDttRequestForm.StatusRequest))'] = $statusSelector.val();
                });

            $kodeAkSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });
            $statusSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });

    </script>
}