﻿@using Kpei.PortalAK.ViewModels
@model MclearsRequestViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"mclears"});
}

@if (Model.requests?.Count() == 0 && !Model.AppUser.IsKpei) {
    <div class="alert alert-block alert-info fade in text-center">
        <h4 class="alert-heading">Anda belum terdaftar dengan layanan m-CLEARS!</h4>
        <p> Daftar sekarang juga</p>
        <p>
            <a class="btn purple" href="@Url.Action("DaftarForm", "Mclears")"> Daftar</a>
        </p>

    </div>
} else if (Model.AppUser.IsKpei || Model.requests?.Count() > 0) {
    <div class="text-right">
        <a href="@Url.Action("DaftarForm")" class="btn green-jungle"><i class="fa fa-plus"></i>Daftar Layanan Baru</a>

    </div>
}
@if (Model?.requests?.Count() > 0 || Model.AppUser.IsKpei) {
    <!--TABLE-->
    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>No</th>
            <th>Waktu Pengajuan</th>
            <th>Kode AK</th>
            <th>Jumlah Peserta</th>
            <th>Jumlah Layanan</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        @foreach (var request in Model.requests) {
            <tr>
                <td></td>
                <td>@request.CreatedUtc.AddHours(7).ToString("yyyy/MM/dd HH:mm")</td>
                <td>@request.KodeAK</td>
                <td>@request.JlhPeserta</td>
                <td>@request.JlhLayanan</td>
                <td>@request.StatusRequest</td>
                <td>
                    <a href="@Url.Action("DetailRequest", "Mclears", new {id = request.Id})">
                        <i class="icon-magnifier"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    using (Html.Section("script")) {
        <!--DATA TABLE-->
        <script>
            var export_filename = "Files";
            var t = $('#sample_1').DataTable({
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }
                ],
                "lengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                "dom":
                    "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                buttons: [
                    {
                        text: '<i class="fa fa-lg fa-clipboard"></i>',
                        extend: 'copy',
                        className: 'btn btn-xs btn-primary p-5 m-0 width-35 assets-export-btn export-copy ttip'
                    }, {
                        text: '<i class="fa fa-lg fa-print"></i> Print',
                        extend: 'csv',
                        className: 'btn red',
                        title: export_filename,
                        extension: '.csv'
                    }, {
                        text: '<i class="fa fa-lg fa-file-excel-o"></i> Excel',
                        extend: 'excel',
                        className: 'btn green-jungle',
                        title: export_filename,
                        extension: '.xls'
                    }, {
                        text: '<i class="fa fa-lg fa-file-pdf-o"></i> PDF',
                        extend: 'pdf',
                        className: 'btn red-mint',
                        title: export_filename,
                        extension: '.pdf'
                    }
                ],
                "dom":
                    "<'row' <'col-md-12 form-group'>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "order": [[1, 'desc']]
            });
            t.on('order.dt search.dt',
                function() {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
        </script>
    }
}