﻿@using Kpei.PortalAK.ViewModels.Mclears
@using Kpei.PortalAK.DataAccess.ModMclears.Forms
@using Kpei.PortalAK.DataAccess.Core
@model IndexViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS";
    Html.SelectedMenuTags().AddRange(new[] { "m-clears" });
}
<div class="row">
    <div class="col-md-12">
        @if (Model.AppUser.NonKpeiModifierRightFor(CoreModules.LAYANAN_M_CLEARS)) { 
        <div class="pull-right text-right">
            <a href="@Url.Action("Subscribe")" class="btn red">
                <i class="fa fa-plus"></i>Subscribe / Unsubscribe
            </a>
        </div>
        }
        <div class="col-md-4">
            <label>Status Request:</label>
            <select id="status-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.Statuses) {
                    <option value="@mod.Name">@mod.Label</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12">
        <hr />
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function () {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $periodeSelector = $('#periode-selector');
            var $yearSelector = $('#year-selector');

            var cols = [
                {
                    name: 'StatusRequest',
                    data: 'StatusRequest',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'CreatedUtc',
                    data: 'CreatedUtc',
                    title: 'Tanggal Submit',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListNonKpei", "Mclears")',
                cols,
                [
                    [3, 'desc']
                ],
                function (e, stg, dat) {
                    dat['@(nameof(MclearsDttRequestForm.StatusRequest))'] = $statusSelector.val();
                });
            $statusSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}