﻿@using Kpei.PortalAK.ViewModels.Mclears
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Newtonsoft.Json
@model InputNewSubscribeViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Ajuan Subscribe";
    Html.SelectedMenuTags().AddRange(new[] { "mclears", "input-new-subscribe" });
    var tableRow = Model.Request.ListPeserta.Count;

    var random = Randomer.Self;
    var inputId = $"field-input-{random.Next()}";
}

<form method="post" action="@Url.Action("Subscribe")" class="form form-horizontal">
    @Html.MetronicValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-body">
        <div id="rootwizard">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li><a href="#tab_data" data-toggle="tab">Data Peserta</a></li>
                    <li><a href="#tab_alert" data-toggle="tab">Layanan Alert</a></li>
                    <li><a href="#tab_onreq" data-toggle="tab">Layanan On Request</a></li>
                    <li><a href="#tab_action" data-toggle="tab">Submit</a></li>
                </ul>

            </div>

            @Html.FormFieldPartial(Model.Request.ListPeserta, new ArrMclearsSubscriberFieldSetting {
                   InputName = "ListPeserta",
                   Label = "Peserta m-CLEARS"
               })

            <ul class="pager wizard col-md-12">
                <li class="previous first" style="display:none;"><a href="#">First</a></li>
                <li class="previous"><a href="#">Previous</a></li>
                <li class="next last" style="display:none;"><a href="#">Last</a></li>
                <li class="next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>

</form>
@using (Html.Section("script")) {
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#rootwizard').bootstrapWizard({ withVisible: false });
        });
    </script>
}
