﻿@model Kpei.PortalAK.ViewModels.MclearsPesertaViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Pendaftaran - Layanan Alert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"mclears", "mcl-reg-alert"});
    
    int tableRow = 2;
    if(Model.Peserta != null) {
        tableRow = 2 + Model.Peserta.Count();
    }
    
}
<div class="mt-element-step col-md-12">
    <div class="row step-line">
        <div class="col-md-4 mt-step-col first done">
            <div class="mt-step-number bg-white">1</div>
            <div class="mt-step-title uppercase font-grey-cascade">Peserta</div>
        </div>
        <div class="col-md-4 mt-step-col done">
            <div class="mt-step-number bg-white">2</div>
            <div class="mt-step-title uppercase font-grey-cascade">Layanan On Alert</div>
        </div>
        <div class="col-md-4 mt-step-col last">
            <div class="mt-step-number bg-white">3</div>
            <div class="mt-step-title uppercase font-grey-cascade">Layanan On Request</div>
        </div>
    </div>
</div>
<div class="table-scrollable form">
    @using (Html.BeginForm("LayananOnRequest", "Mclears", null, FormMethod.Post, new { @class = "form-horizontal" })) {

        @Html.AntiForgeryToken()
        <input type="hidden" value="1" name="Peserta.Id" />
        <table class="table table-striped table-bordered table-hover table-scrollable">
            @if (Model.Peserta != null) {
                @Html.HiddenFor(e => e.RequestId)
                @Html.HiddenFor(e => e.AppUser.IsKpei)
                for (int i = 0; i < Model.Peserta.Count; i++) {
                    @Html.HiddenFor(e => e.Peserta[i].KodeAK)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestPC)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestPS)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestHTS)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestHTR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestPPR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestMKBDR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestOCR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestHaircut)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestDCDR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestDCRR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestMCR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestCPR)
                    @Html.HiddenFor(e => e.Peserta[i].OnRequestHPHFR)
                        @Html.HiddenFor(e => e.Peserta[i].Id)
                        @Html.HiddenFor(e => e.Peserta[i].Nama)
                        @Html.HiddenFor(e => e.Peserta[i].Jabatan)
                        @Html.HiddenFor(e => e.Peserta[i].Email)
                        @Html.HiddenFor(e => e.Peserta[i].HP)
                }
            }
            <thead>
                <tr>
                    <th>
                        No
                    </th>
                    <th class="hidden-xs">
                        Layanan
                    </th>
                    @if (Model.Peserta != null) {
                        for(int i = 0; i < Model.Peserta.Count; i++){
                            <th>
                                <a id="demo_@i">
                                    @Model.Peserta[i].Nama
                                    <i class="fa fa-info"></i>
                                </a>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Equity
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Pending Cash - Posisi Serah Dana yang akan jatuh tempo</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertPC, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pending Saham - Posisi Serah Efek yang akan jatuh tempo</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertPS, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hak Terima Saham di 004 - Efek yang diterima di Rek.004</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHTS, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hak Terima IDR di 004 - Dana yang diterima di Rek 004</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHTR, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Settlement
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Bayar Alternate Cash Settlement</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertBACS, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Terima Alternate Cash Settlement</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertACS, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Trading Limit
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Trading Limit Pagi - Nilai Trading Limit posisi sebelum sesi 1</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTLP, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }   
                </tr>
                <tr>
                    <td>2</td>
                    <td>Trading Limit Siang - Nilai Trading Limit posisi sebelum sesi 2</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTLS, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Trading Limit Proyeksi Pukul 17.15</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertTL5, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Risk Management
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>MKBD Alert - Status Pengiriman laporan MKBD harian</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMKBDA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Failed COLW Alert - Status instruksi COLW Gagal Tertarik</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertFCOLWA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Collateral Limit Alert - Batasan Collateral jika collateral yang diagunkan melebihi 40M</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertCLA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Offline Collateral Alert - Status Nilai Agunan Offline</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertOCA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>Minimum Cash Collateral Alert - Status Nilai Agunan Minimum Kas / Setara</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMCCA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Derivatif
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Derivative Cash Delivery Alert - Serah Dana Derivatif</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertDCDA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Derivative Cash Receive Alert - Terima Dana Derivatif</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertDCRA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Margin Call Alert - Informasi Margin Call</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertMCA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Contract Position Alert - Informasi Posisi Kontrak</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertCPA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>&lt;1 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 1</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL1, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                    
                </tr>
                <tr>
                    <td>6</td>
                    <td>&lt;3 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 3</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL3, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                    
                </tr>
                <tr>
                    <td>7</td>
                    <td>&lt;7 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo &lt; 7</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertL7, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                    
                </tr>
                <tr>
                    <td>8</td>
                    <td>HPH &amp; HPF Alert - Informasi Harga Penyelesaian Harian (HPH) dan Harga</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertHPHFA, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                    
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Berita KPEI
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Broadcast News from KPEI - Informasi terbaru terkait dengan kegiatan KPEI</td>
                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {

                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].AlertBroadcast, new { @checked = "checked", @class="form-control" })
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
       <div class="form-actions">
            <div class="row">
                <div class="text-center">
                    <a href="@Url.Action("DaftarForm", "Mclears")" type="submit" class="btn">
                        Reset
                    </a>
                    <button type="submit" class="btn green-jungle">
                        <i class="fa fa-arrow-right"></i>Next
                    </button>
                    </div>
                </div>
                </div>
                }
            </div>

        @Html.Section("script-page-level") {
                <script>
                    var UIBootbox = function () {
                        var o = function () {

                            @if (Model.Peserta != null) {
                                for (int i = 0; i < Model.Peserta.Count; i++) {
                                    <text>
                            $("#demo_@i").click(function () { bootbox.alert("<table class=\"table table-hover table-striped table-bordered\"><tbody><tr><td>Nama:</td><td>@Model.Peserta[i].Nama</td></tr><tr><td>Jabatan:</td><td>@Model.Peserta[i].Jabatan</td></tr><tr><td>Email:</td><td>@Model.Peserta[i].Email</td></tr><tr><td>HP:</td><td>@Model.Peserta[i].HP</td></tbody></table>") })
                            </text>
                                }
                            }
                        }
                    return { init: function () { o() } }}();
                    jQuery(document).ready(function () { UIBootbox.init() });
                </script>
            }

