﻿@*@model Kpei.PortalAK.ViewModels.MclearsPesertaViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Pendaftaran - Layanan On Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SelectedMenuTags().AddRange(new[] {"mclears", "mcl-reg-onreq"});

    int tableRow = 2;
    if (Model.Peserta != null) {
        tableRow = 2 + Model.Peserta.Count();
    }
}
<div class="mt-element-step col-md-12">
    <div class="row step-line">
        <div class="col-md-4 mt-step-col first done">
            <div class="mt-step-number bg-white">1</div>
            <div class="mt-step-title uppercase font-grey-cascade">Peserta</div>
        </div>
        <div class="col-md-4 mt-step-col done">
            <div class="mt-step-number bg-white">2</div>
            <div class="mt-step-title uppercase font-grey-cascade">Layanan On Alert</div>
        </div>
        <div class="col-md-4 mt-step-col last done">
            <div class="mt-step-number bg-white">3</div>
            <div class="mt-step-title uppercase font-grey-cascade">Layanan On Request</div>
        </div>
    </div>
</div>

<div class="table-scrollable form">
    @using (Html.BeginForm("ProcessRequest", "Mclears")) {

        @Html.AntiForgeryToken()
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        No
                    </th>
                    <th class="hidden-xs">
                        Layanan
                    </th>
                    @if (Model.Peserta != null) {

                        @Html.HiddenFor(e => e.RequestId)
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <th>
                                @Html.HiddenFor(e => e.Peserta[i].KodeAK)
                                @Html.HiddenFor(e => e.Peserta[i].Id)
                                @Html.HiddenFor(e => e.Peserta[i].Nama)
                                @Html.HiddenFor(e => e.Peserta[i].Jabatan)
                                @Html.HiddenFor(e => e.Peserta[i].Email)
                                @Html.HiddenFor(e => e.Peserta[i].HP)
                                @Html.HiddenFor(e => e.Peserta[i].AlertPC)
                                @Html.HiddenFor(e => e.Peserta[i].AlertPS)
                                @Html.HiddenFor(e => e.Peserta[i].AlertHTS)
                                @Html.HiddenFor(e => e.Peserta[i].AlertHTR)
                                @Html.HiddenFor(e => e.Peserta[i].AlertBACS)
                                @Html.HiddenFor(e => e.Peserta[i].AlertACS)
                                @Html.HiddenFor(e => e.Peserta[i].AlertTLP)
                                @Html.HiddenFor(e => e.Peserta[i].AlertTLS)
                                @Html.HiddenFor(e => e.Peserta[i].AlertTL5)
                                @Html.HiddenFor(e => e.Peserta[i].AlertMKBDA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertFCOLWA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertCLA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertOCA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertMCCA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertDCDA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertDCRA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertMCA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertCPA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertL1)
                                @Html.HiddenFor(e => e.Peserta[i].AlertL3)
                                @Html.HiddenFor(e => e.Peserta[i].AlertL7)
                                @Html.HiddenFor(e => e.Peserta[i].AlertHPHFA)
                                @Html.HiddenFor(e => e.Peserta[i].AlertBroadcast)
                                <a id="demo_@i">
                                    @Model.Peserta[i].Nama
                                    <i class="fa fa-info"></i>
                                </a>
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Equity
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Pending Cash - Posisi Serah Dana yang akan jatuh tempo</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPC, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pending Saham - Posisi Serah Efek yang akan jatuh tempo</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPS, new { @class = "form-control"})
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hak Terima Saham di 004 - Efek yang diterima di Rek.004</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHTS, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Hak Terima IDR di 004 - Dana yang diterima di Rek 004</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHTR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Trading Limit
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Purchase Power Request - Informasi Trading Limit</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestPPR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Risk Management
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>MKBD Request - Status Pengiriman laporan MKBD harian</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestMKBDR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Offline Collateral Request - Status Nilai Agunan Offline</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestOCR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Haircut - Informasi nilai haircut saham</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHaircut, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="@tableRow" class="highlight">
                        Informasi Transaksi Derivatif
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Derivative Cash Delivery Request - Serah Dana Derivatif</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestDCDR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>2</td>
                    <td>Derivative Cash Receive Request - Terima Dana Derivatif</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestDCRR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>3</td>
                    <td>Margin Call Request - Informasi Margin Call</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestMCR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>4</td>
                    <td>Contract Position Request- Informasi Posisi Kontrak</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestCPR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>5</td>
                    <td>HPH &amp; HPF Request - Informasi Harga Penyelesaian Harian (HPH) dan Harga</td>

                    @if (Model.Peserta != null) {
                        for (int i = 0; i < Model.Peserta.Count; i++) {
                            <td>
                                @Html.CheckBoxFor(e => e.Peserta[i].OnRequestHPHFR, new { @class = "form-control" })
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
        <div class="form-actions">

            <div class="row">
                <div class="text-center">
                    <a href="@Url.Action("DaftarForm", "Mclears")" type="submit" class="btn">
                        Reset
                    </a>
                    <button type="submit" class="btn green-jungle">
                        <i class="fa fa-arrow-right"></i>Submit
                    </button>
                </div>
            </div>
        </div>
    }
</div>

@Html.Section("script-page-level") {
    <script>
                    var UIBootbox = function () {
                        var o = function () {

                            @if (Model.Peserta != null) {
                                for (int i = 0; i < Model.Peserta.Count; i++) {
                                    <text>
                            $("#demo_@i").click(function () { bootbox.alert("<table class=\"table table-hover table-striped table-bordered\"><tbody><tr><td>Nama:</td><td>@Model.Peserta[i].Nama</td></tr><tr><td>Jabatan:</td><td>@Model.Peserta[i].Jabatan</td></tr><tr><td>Email:</td><td>@Model.Peserta[i].Email</td></tr><tr><td>HP:</td><td>@Model.Peserta[i].HP</td></tbody></table>") })
                            </text>
                                }
                            }
                        }
                    return { init: function () { o() } }}();
                    jQuery(document).ready(function () { UIBootbox.init() });
    </script>
}*@