﻿@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.Mclears
@model LogViewModel
@{
    ViewBag.Title = "Layanan m-CLEARS - Log Request";
    Html.SelectedMenuTags().AddRange(new[] { "mclears", "log-mclears" });
}
<div class="form-body">
    <div class="rootwizard">
        <div class="navbar">
            <ul class="nav nav-tabs">
                @for (int i = 0; i < Model.MclearsPeserta.Count; i++) {
                    <li class="">
                        <a href="@Url.Action("Detail", new {area = "", id = Model.MclearsRequest.Id, index = i})" aria-expanded="false">
                            @(i + 1)
                        </a>
                    </li>
                }
                <li class="active">
                    <a href="@Url.Action("Log", new {id = Model.MclearsRequest.Id})" aria-expanded="true">
                        Log Request
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: '@(nameof(UserActionLog.CreatedUtc))',
                    data: 'WaktuPerubahan',
                    title: 'Waktu Perubahan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.UserName))',
                    data: 'DibuatOleh',
                    title: 'Dibuat Oleh',
                    searchable: true,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.Message))',
                    data: 'Aktivitas',
                    title: 'Aktivitas',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListLog", "Mclears")',
                cols,
                [
                    [1, 'desc']
                ],
                function(e, stg, dat) {
                    // no modding
                });
        });
    </script>
}