﻿/*
    Pastikan semua unit CSS ukuran dibuat dalam cm;
    A4 = 21cm x 29.7cm
*/

body {
    font-family: sans;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    width: 17cm;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.bordered { border: black solid 1pt; }

img.logo { width: 2cm; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

table tr td,
table tr th {
    margin: 0.1cm;
    padding: 0.05cm;
    vertical-align: top;
}

table tr th { font-weight: bold; }

table tr td.property,
table tr th.property { width: 10cm; }

table.bordered tr td,
table.bordered tr th {
    border: black solid 1pt;
    padding: 0.05cm;
}

table tr td.semicolon,
table tr th.semicolon {
    vertical-align: top;
    width: 0.5cm;
}

.header h1 {
    font-size: 14pt;
    font-weight: bold;
}

.header td.side { width: 20mm; }

table tr.blankrow {
    height: 10px !important;
}