/* here you can put your own css to customize and override the theme */
@import "var";
// $brand-main-color: #7bbc46;
$brand-main-color: #ed1c24;

.page-header.navbar {
	background: linear-gradient(to right, lighten($brand-main-color, 35%), $brand-main-color);
}

.page-header.navbar .page-logo {
	height: 75px;
	width: auto;

	a {
		height: 100%;
	}

	.logo-default {
		margin: 10px 0 0;
		height: 55px;
	}
}

.page-header {
	.page-app-title {
		float: left;
		font-size: 16px;
		color: #FFF;
		height: 75px;
	}
}