﻿@using Kpei.PortalAK.DataAccess.ModSettings.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model SmtpEmailSettingForm
@{
    ViewBag.Title = "Settings - SMTP Email";
    Html.SelectedMenuTags().AddRange(new[] {"setting", "smtp-email-setting"});
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()
    
    <div class="form-body">
        @Html.FormFieldPartial(Model.FromEmailAddress, new TextFieldSetting {
            InputName = nameof(Model.FromEmailAddress),
            Label = "Alamat Email Portal AK & P",
            HelpText = "Alamat email pengirim notifikasi dari Portal AK & P"
        })

        @Html.FormFieldPartial(Model.SmtpServerAddress, new TextFieldSetting {
            InputName = nameof(Model.SmtpServerAddress),
            Label = "Alamat Server SMTP",
            HelpText = ""
        })

        @Html.FormFieldPartial(Model.SmtpServerPort, new IntFieldSetting {
            InputName = nameof(Model.SmtpServerPort),
            Label = "Nomor Port SMTP",
            HelpText = ""
        })

        @Html.FormFieldPartial(Model.SmtpUserName, new TextFieldSetting {
            InputName = nameof(Model.SmtpUserName),
            Label = "Nama User SMTP",
            HelpText = ""
        })

        @Html.FormFieldPartial(Model.SmtpUserPassword, new TextFieldSetting {
            InputName = nameof(Model.SmtpUserPassword),
            Label = "Password User SMTP",
            HelpText = "",
            Style = TextFieldStyle.Password
        })

        @Html.FormFieldPartial(Model.SmtpEnableSsl, new BoolFieldSetting {
            InputName = nameof(Model.SmtpEnableSsl),
            Label = "Koneksi ke SMTP menggunakan SSL",
            HelpText = ""
        })
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>

</form>