﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Models
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModDataAknp.Services
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.TradingMember.InputViewModel
@{
    ViewBag.Title = "Trading Member - Input Data";
    Html.SelectedMenuTags().AddRange(new[] { "data-aknp", "stat-perj", "data-tm" });
    var driverStore = DepResolver.Instance.GetService<IDataAknpDriverStore>();
    var settingRepository = DepResolver.Instance.GetService<ISettingRepository>();
    var administrasiKeanggotaanRepository = DepResolver.Instance.GetService<IAdministrasiKeanggotaanRepository>();
    var companies = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
    var aknpSetting = settingRepository.AknpSetting();
    var listTM = aknpSetting.ListRegistrasiAKTradingMember.ToArray();
    var statusKpei = (DataStatusKpeiAknpDriver) driverStore.LoadDrivers().FirstOrDefault(x => x.IsMatchDataSlug(DataStatusKpeiAknpDriver.SLUG));
    var listAKI = administrasiKeanggotaanRepository.GetAllLatestActiveData(null, RegistrasiKategoriMember.MEMBER_AKI.Name, null);
    var choicesAKI = new List<RegistrasiAKTradingMember>();
    foreach (var c in listTM)
    {
        listAKI = listAKI.Where(x => x.KodeAK != c.Name).ToList();
    }
}

@using (Html.BeginForm("Save", "TradingMember", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-horizontal">
            @Html.MetronicValidationSummary()
            @Html.FormFieldPartial(null, new SelectFieldSetting
            {
                InputName = "TipePerusahaan",
                CssClass = "tipe-perusahaan-selector-container",
                Label = "Tipe Perusahaan<b class=\"text-danger\">*</b>",
                AddEmptyOption = true,
                EmptyOptionLabel = "-pilih-",
                Options = TradingMemberTipePerusahaan.All(),
                OptionLabelGetter = x => x.DirectCastTo<TradingMemberTipePerusahaan>().Label,
                OptionValueGetter = x => x.DirectCastTo<TradingMemberTipePerusahaan>().Name
            })
        </div>
        <div class="form-horizontal" id="akHolder">
            <div class="form-group">
                <label class="control-label col-md-3">
                    Nama AK&P
                </label>
                <div class="col-md-8">
                    <select class="form-control select-picker" name="DataTradingMemberAKI" multiple="multiple" title="--pilih--" data-live-search="true">
                        @foreach (var c in listAKI)
                        {
                            var status = ((DataStatusKPEI) statusKpei.GetLatestActiveData(c.KodeAK, c.Id));
                        <option value="@c.KodeAK" data-subtext="<span style='color:red;'>
                                                    @(status?.StatusKPEI != StatusKpei.CABUT_STATUS.Name ? "Belum Cabut AKI" : "")
                                </span>" @(status?.StatusKPEI != StatusKpei.CABUT_STATUS.Name ? "disabled" : "")>
                                @c.KodeAK / @(companies.FirstOrDefault(e => e.Code == c.KodeAK)?.Name)
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" id="nonAkHolder">
            @Html.FormFieldPartial(null, new ArrTradingMemberFieldSetting
            {
                InputName = "DataTradingMember",
                Label = "Trading Member",
            })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>
                <a href="@Url.Action("Index", "TradingMember")" class="btn btn-default">
                    Cancel
                </a>
            </div>
        </div>
    </div>
}
@using (Html.Section("style-page-level-plugins"))
{
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
}

@using (Html.Section("script-page-level-plugins"))
{
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.select-picker').selectpicker({
                placeholder: '--pilih--'
            });
        });
    </script>
}

@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function () {
            var tipePerusahaanSel = $('.tipe-perusahaan-selector-container select');

            tipePerusahaanSel.on('change', function () {
                $('#akHolder').addClass('hide');
                $('#nonAkHolder').addClass('hide');
                if ($(this).val() == "AK&P") {
                    $('#akHolder').removeClass('hide');
                }
                if ($(this).val() == "Non AK&P") {
                    $('#nonAkHolder').removeClass('hide');
                }
            })
            tipePerusahaanSel.trigger('change');
        });
    </script>
}