﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Models
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModTradingMember.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.TradingMember.ListViewModel
@{
    ViewBag.Title = $"Trading Member - List";
    var usr = Model.User;
    Html.SelectedMenuTags().AddRange(new[] { "data-aknp", "stat-perj", "data-tm" });
    var createSuccess = TempData["CreateSuccess"] as bool? ?? false;
    var deleteSuccess = TempData["DeleteSuccess"] as bool? ?? false;
}
<div class="row">
    <div class="col-xs-12">
        @if (deleteSuccess)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Hapus Berhasil!</strong> Data berhasil dihapus.
            </div>
        }

        @if (createSuccess)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Input Berhasil!</strong> Data yang anda masukan telah tersimpan.
            </div>
        }

        @if (usr.IsKpei)
        {

            <div class="text-right">
                <a href="@Url.Action("Create")" class="btn red">
                    Input Data
                </a>
            </div>
        }
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
                    <div class="col-md-4">
                        <label>Tipe Perusahaan:</label>
                        <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.TipePerusahaan))">
                            <option value="">-Semua-</option>
                            @foreach (var mod in TradingMemberTipePerusahaan.All())
                            {
                                <option value="@mod.Name">@mod.Label</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script-page-level"))
{
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: 'KodePerusahaan',
                    data: 'KodePerusahaan',
                    title: 'Kode',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaPerusahaan',
                    data: 'NamaPerusahaan',
                    title: 'Nama Perusahaan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'TipePerusahaan',
                    data: 'TipePerusahaan',
                    title: 'Tipe Perusahaan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        var urlTpl =
                            '@Url.Action("Delete", new {id = "11000011"})';
                        var detailHref = urlTpl.replace('11000011', row.Id);
                        return "<button type='button' class='btn btn-danger btn-xs delete-button' data-href="+detailHref+"><i class='fa fa-trash'></i></button>";
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListDtt", "TradingMember")',
                cols,
                [
                    @Html.Raw(usr.KpeiViewerRightFor(CoreModules.DATA_AK_PARTISIPAN) ? "[3, 'desc']" : "[1, 'desc']")
                ],
                function(e, stg, dat) {
                    $('.master-table-filter :input[name]').each(function() {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $('.master-table-filter :input[name]').on('change',
                function() {
                    masterTable.ajax.reload();
                });
            masterTable.on('draw.dt',
                function () {
                    PortalAK.AttachConfirmAlertToFormButtons();
                });
        });
    </script>
}