﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using iTextSharp.text.pdf.qrcode
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.DbModels
@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.DetailViewModel
@{
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");
    var tipeMember = Model.AdministrasiKeanggotaan.KategoriMember;
    var listLayananBaru = Model.LayananBaru.ToList();
}

<div class="form-group">
    <label class="control-label col-md-3">
        @if (tipeMember == "AKU")
        {
            @("Form Member AKU")
        }
        else if (tipeMember == "AKI")
        {
            @("Form Member AKI")
        }
        else if (tipeMember == "PARTISIPAN")
        {
            @("Form Member Partisipan")
        }
    </label>
    <div class="col-md-8">
        @if (listLayananBaru == null || listLayananBaru.Count() == 0) { 

        }
        else
        {
            if (tipeMember == "AKU" || tipeMember == "AKI")
            {
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Field Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var list in listLayananBaru.Where(e => e.TipeMemberAK == tipeMember).ToList())
                                {
                                    <tr>
                                        <td>@list.FieldName</td>
                                        <td>
                                            @if (list.FieldType == "FileUpload"  && list.FieldValue != null)
                                            {
                                                var fileHref = list.FieldValue;
                                                if (new[] {
                                                        "http:/", "https:/", "ftp:/", "ftps:/"
                                                   }.All(x => !fileHref.StartsWith(x)))
                                                {
                                                    fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                                }
                                                <a class="btn red" download href="@fileHref">
                                                    Download <i class="fa fa-download"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                @list.FieldValue
                                            }
                                        </td>

                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            } else if (tipeMember == "PARTISIPAN")
            {
                var layananBaruPartisipan = listLayananBaru.Where(e => e.TipeMemberAK == tipeMember)?.OrderBy(e => e.TipeMemberPartisipan)
                                            .GroupBy(record => record.TipeMemberPartisipan)
                                            .ToDictionary(group => group.Key, group => group.ToList());
            
                foreach (string key in layananBaruPartisipan.Keys)
                {
                    <div class="table-responsive">
                        <input type="hidden" id="tipeMemberPartisipan" value="@key">
                        <table class="table table-condensed table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Field Value</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var list in layananBaruPartisipan[key].ToList())
                                {
                                    <tr>
                                        <td>@list.FieldName</td>
                                        <td>
                                            @if (list.FieldType == "FileUpload" && list.FieldValue != null)
                                            {
                                                var fileHref = list.FieldValue;
                                                if (new[] {
                                                "http:/", "https:/", "ftp:/", "ftps:/"
                                           }.All(x => !fileHref.StartsWith(x)))
                                                {
                                                    fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                                }
                                                <a class="btn red" download href="@fileHref">
                                                    Download <i class="fa fa-download"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                @list.FieldValue
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
    </div>
</div>