﻿@using Kpei.PortalAK.DataAccess.ModSettings.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model GlobalSettingForm
@{
    ViewBag.Title = "Settings - Global";
    Html.SelectedMenuTags().AddRange(new[] {"setting", "global-setting"});
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(Model.GuestAknpCode, new TextFieldSetting {
            InputName = nameof(Model.GuestAknpCode),
            Label = "Kode AK untuk Guest",
            HelpText = "Kode AK spesial yang menandakan bahwa user yang sedang login dianggap sebagai Guest"
        })

        @Html.FormFieldPartial(Model.KkeGroupEmails, new StringListFieldSetting {
            InputName = nameof(Model.KkeGroupEmails),
            Label = "Daftar Email Grup KKE",
            HelpText = "Daftar email grup KKE untuk tujuan notifikasi"
        })

        @Html.FormFieldPartial(Model.MaxCompanyPersonCount, new IntFieldSetting {
            InputName = nameof(Model.MaxCompanyPersonCount),
            Label = "Max Pengurus Perusahaan",
            HelpText = "Jumlah maksimum untuk orang-orang perusahaan yang boleh dimasukkan AK & P, " +
                       "misal pemegang saham, pejabat berwenang, dan lain-lain"
        })
        @Html.FormFieldPartial(Model.MaxSubscribePesertaMclears, new IntFieldSetting {
            InputName = nameof(Model.MaxSubscribePesertaMclears),
            Label = "Max Subscribe Peserta m-CLEARS",
            HelpText = "Jumlah maksimum peserta yang dapat didaftarkan dalam satu request"
        })
        @Html.FormFieldPartial(Model.EmailDebugMode, new BoolFieldSetting {
           InputName = nameof(Model.EmailDebugMode),
           Label = "Mode Debug (E-mail): ",
           HelpText = "Nyalakan mode debug untuk melakukan debugging pada fitur e-mail"
       })
        @Html.FormFieldPartial(Model.EmailDebugAddress, new TextFieldSetting {
           InputName = nameof(Model.EmailDebugAddress),
           Label = "Target E-mail:",
           HelpText = "E-mail tujuan untuk mode debug"
        })
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>

</form>