﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@using Kpei.PortalAK.DataAccess.Services
@model ListDataViewModel
@{
    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();
}

<div class="col-md-4">
    <label>Kode AK & P :</label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.KodeAk))">
        <option value="">-Semua-</option>
        @foreach (var comp in comps) {
            <option value="@comp.Code">@comp.Code / @comp.Name</option>
        }
    </select>
</div>