﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@model ListDataViewModel

<div class="col-md-4">
    <label>Status KPEI:</label>
    <select class="form-control" id="statusKPEI" name="@(nameof(BaseLaporanDttRequestForm.StatusKpei))">
        <option value="">-Semua-</option>
        @foreach (var status in Model.statusKpei) {
            <option value="@status.Name">@status.Label</option>
        }
    </select>
</div>