﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.ViewModels.Laporan
@model ListDataViewModel
@{
    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpSetting = stgrepo.AknpSetting();
    var tipeMemberPartisipan = aknpSetting.ListLayananBaruTipeMemberPartisipan.OrderBy(e => e.TipeMemberPartisipan)
        .GroupBy(record => record.TipeMemberPartisipan)
        .Select(x => new RegistrasiTipeMemberPartisipan
        {
            Name = x.Key,
            Label = x.Key
        }).ToArray();
    var kategoriMember = RegistrasiKategoriMember.NewAll().ToArray();
}
<div class="col-md-3">
    <label>Tipe Member:</label>
    <select class="form-control" id="kategoriMember" name="@(nameof(BaseLaporanDttRequestForm.KategoriMember))">
        <option value="">-Semua-</option>
        @foreach (var kat in kategoriMember)
        {
            <option value="@kat.Name">@kat.Label</option>
        }
    </select>
</div>
@if (Model.Driver.FilterByTipeMemberPartisipan == true)
{
    <div class="col-md-3">
        <label>Jenis Partisipan: </label>
        <select class="form-control" id="tipeMemberPartisipan" name="@(nameof(BaseLaporanDttRequestForm.MemberPartisipan))">
            @if (tipeMemberPartisipan != null)
            {
                <option value="">
                    -
                </option>
                foreach (var opt in tipeMemberPartisipan)
                {
                    <option value="@opt.Name">
                        @opt.Label
                    </option>
                }
            }
            else
            {
                <option value="">
                    <i>Tidak ada jenis partisipan yang terdaftar</i>
                </option>
            }
        </select>
    </div>
    using (Html.Section("script"))
    {
        <script type="text/javascript">
            $(function () {
                var kategoriMember = $('#kategoriMember');
                var tipeMemberPartisipan = $('#tipeMemberPartisipan');
                kategoriMember.on('change', function () {
                    tipeMemberPartisipan.val("")
                    tipeMemberPartisipan.parent().addClass('hide')
                    if ($(this).val() === "PARTISIPAN") {
                        tipeMemberPartisipan.parent().removeClass('hide')
                    }
                })
                kategoriMember.trigger('change')
            });
        </script>
    }
}
