﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model ListDataViewModel

@{ 
    var yearOptions = new List<int>();
    for (var yr = DateTime.Now.Year; yr >= DateTime.Now.Year - 10; yr--) {
        yearOptions.Add(yr);
    }
}

<div class="col-md-4">
    <label>Tahun Status Anggota: </label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.ActiveYear))">
        <option value=""> - </option>
        @foreach (var yr in yearOptions) {
            <option value="@yr">
                @yr
            </option>
        }
    </select>
</div>

<div class="master-table-filter">
    <div class="col-md-3">
        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(BaseLaporanDttRequestForm.ActiveFromDateTime),
           Label = "Status Anggota Sejak:",
           Style = DateTimeFieldStyle.Complete,
           UseVerticalFormFieldFormat = true
       })
    </div>
    <div class="col-md-3">
        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(BaseLaporanDttRequestForm.ActiveToDateTime),
           Label = "Status Anggota Sampai:",
           Style = DateTimeFieldStyle.Complete,
           UseVerticalFormFieldFormat = true
       })
    </div>
</div>
<div class="col-md-4">
    <label>Tahun Perubahan Data: </label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.ActiveYear))">
        <option value=""> - </option>
        @foreach (var yr in yearOptions) {
            <option value="@yr">
                @yr
            </option>
        }
    </select>
</div>

<div class="master-table-filter">
    <div class="col-md-3">
        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
       InputName = nameof(BaseLaporanDttRequestForm.FromDateTime),
       Label = "Data Perubahan Sejak:",
       Style = DateTimeFieldStyle.Complete,
       UseVerticalFormFieldFormat = true
   })
    </div>
    <div class="col-md-3">
        @Html.FormFieldPartial(null, new DateTimeFieldSetting {
       InputName = nameof(BaseLaporanDttRequestForm.ToDateTime),
       Label = "Data Perubahan Sampai:",
       Style = DateTimeFieldStyle.Complete,
       UseVerticalFormFieldFormat = true
   })
    </div>
</div>