﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@model ListDataViewModel

@{
    var yearOptions = new List<int>();
    for (var yr = DateTime.Now.Year; yr >= DateTime.Now.Year - 10; yr--)
    {
        yearOptions.Add(yr);
    }
}

<div class="col-md-4">
    <label>Tahun Aktif: </label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.ActiveYear))">
        <option value=""> - </option>
        @foreach (var yr in yearOptions)
        {
            <option value="@yr">
                @yr
            </option>
        }
    </select>
</div>

@using (Html.Section("script-page-level"))
{
    <script>
        var katMemSel = $('#kategoriMember')
        var tipeMemberPartisipanSel = $('#tipeMemberPartisipan')
        katMemSel.on('change', function (e) {
            e.preventDefault();
            var val = $(this).val()
            console.log(val)
            var table = $('#master-table').DataTable();
            var starter = table.columns(['TipePartisipan:name', 'TradingMember:name', 'NamaABSponsor:name', 'NamaPED:name'])
            starter.visible(true)
            if (val.includes("AKU")) {
                columns = table.columns(['TipePartisipan:name', 'NamaABSponsor:name']);
                columns.visible(false);
            }
            if (val.includes("AKI")) {
                columns = table.columns(['TipePartisipan:name', 'TradingMember:name', 'NamaABSponsor:name'])
                columns.visible(false)
            }
            if (val.includes("PARTISIPAN")) {
                columns = table.columns(['TradingMember:name', 'NamaABSponsor:name, 'NamaPED:name'']);
                columns.visible(false);
            }
        })
        tipeMemberPartisipanSel.on('change', function (e) {
            e.preventDefault();
            var val = $(this).val()
            var table = $('#master-table').DataTable();
            var starter = table.columns(['NamaABSponsor:name'])
            starter.visible(false)
            if (val.includes("PED")) {
                columns = table.columns(['NamaABSponsor:name']);
                columns.visible(true);
            }
        })
    </script>

}