﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@model ListDataViewModel

@{
    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var choices = aknpStg.ListBankPembayaran;
}
<div class="col-md-4">
    <label>Bank Pembayaran: </label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.BankPembayaran))">
        <option value=""> - </option>
        @foreach (var choice in choices) {
            <option value="@choice.Value">
                @choice.Value
            </option>
        }
    </select>
</div>