﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@model ListDataViewModel

@{
    var choices = new FilterJenisUsaha().All().ToArray();
}

<div class="col-md-4">
    <label>Jenis Usaha: </label>
    <select class="form-control toggle" name="@(nameof(LaporanJenisUsahaDttRequestForm.JenisUsaha))">
        <option value> - </option>
        @foreach (var choice in choices) {
            <option value="@choice.Name">
                @choice.Label
            </option>
        }
    </select>
</div>

@using (Html.Section("script-page-level")) {
    <script>
        $('.toggle').on('change', function (e) {
            e.preventDefault();

            var columns = null;
            var value = $('.toggle :selected').val();
            var table = $('#master-table').DataTable();
            var starter = table.columns(['PPE:name', 'PEE:name', 'MI:name', 'PED:name']);
            starter.visible(false);
            if (value == null || value == "") {
                starter.visible(true);
            } else {
                if (value.includes("PPE")) {
                    columns = table.column('PPE:name');
                    columns.visible(true);
                }
                if (value.includes("PEE")) {
                    columns = table.column('PEE:name');
                    columns.visible(true);
                }
                if (value.includes("MI")) {
                    columns = table.column('MI:name');
                    columns.visible(true);
                }
                if (value.includes("PED")) {
                    columns = table.column('PED:name');
                    columns.visible(true);
                }
            }
        })
    </script>   
}