﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@model ListDataViewModel

@{
    var choices = new FilterKeanggotaanLain().All().ToArray();
}

<div class="col-md-4">
    <label>Jenis Keanggotaan Lain: </label>
    <select class="form-control toggle" name="@(nameof(LaporanJenisUsahaDttRequestForm.KeanggotaanLain))">
        <option value=""> - </option>
        @foreach (var choice in choices) {
            <option value="@choice.Name">
                @choice.Label
            </option>
        }
    </select>
</div>

@using (Html.Section("script-page-level")) {
    <script>
        $('#master-table').on('draw.dt', function () {
            var filter = $('.toggle :selected').val();
            if (filter == null || filter == '') {
                var table = $('#master-table').DataTable();
                var otherCol = table.columns([
                    'PmeActiveUtc:name',
                    'KbosActiveUtc:name',
                    'EbuActiveUtc:name'
                ]);
                otherCol.visible(false);
            }
        });
        $('.toggle').on('change', function (e) {
            e.preventDefault();

            var columns = null;
            var value = $('.toggle :selected').val();
            var table = $('#master-table').DataTable();
            var starter = table.columns([
                'StatusKBOS:name',
                'StatusEBU:name',
                'StatusPMEBorrower:name',
                'StatusPMELender:name',
                'ActiveUtc:name'
            ]);
            var otherCol = table.columns([
                'PmeActiveUtc:name',
                'KbosActiveUtc:name',
                'EbuActiveUtc:name'
            ]);
            starter.visible(false);
            otherCol.visible(false);
            if (value == null || value == "") {
                starter.visible(true);
            } else {
                if (value.includes("KBOS")) {
                    columns = table.columns(['StatusKBOS:name', 'KbosActiveUtc:name']);
                    columns.visible(true);
                }
                if (value.includes("PME")) {
                    columns = table.columns(['StatusPMELender:name', 'StatusPMEBorrower:name', 'PmeActiveUtc:name']);
                    columns.visible(true);
                }
                if (value.includes("EBU")) {
                    columns = table.columns(['StatusEBU:name', 'EbuActiveUtc:name']);
                    columns.visible(true);
                }
            }
        })
    </script>
}