﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.Services;
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@model ListDataViewModel

@{
    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var opts = stgrepo.AknpSetting().ListTipeMemberPartisipan;
}

<div class="col-md-4">
    <label>Jenis Partisipan: </label>
    <select class="form-control toggle" name="@(nameof(BaseLaporanDttRequestForm.MemberPartisipan))">
        @if (opts != null) {
            <option value="">
                -
            </option>
            foreach (var opt in opts) {
                <option value="@opt.Value">
                    @opt.Value
                </option>
            }
        } else {
            <option value="">
                <i>Tidak ada jenis partisipan yang terdaftar</i>
            </option>
        }
    </select>
</div>