﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@model ListDataViewModel

@{
    var choices = new FilterJenisPerjanjian().All().ToArray();
    var type = new LaporanPerjanjian();
}

<div class="col-md-4">
    <label>Jenis Usaha: </label>
    <select class="form-control toggle" name="@(nameof(BaseLaporanDttRequestForm.Perjanjian))">
        @foreach (var choice in choices) {
            <option value="@choice.Name">
                @choice.Label
            </option>
        }
    </select>
</div>

@using (Html.Section("script-page-level")) {
    <script>
        $('#master-table').on('draw.dt', function () {
            var columns = null;
            var value = $('.toggle :selected').val();
            var table = $('#master-table').DataTable();
            if (value.includes("PerjanjianAK")) {
                var starter = table.columns([
                    '@nameof(type.NoPerjanjianKbos):name',
                    '@nameof(type.NoPerjanjianEbu):name',
                    '@nameof(type.NoPerjanjianPmeLender):name',
                    '@nameof(type.NoPerjanjianPmeBorrower):name',
                    '@nameof(type.TglPerjanjianAwalEbuUtc):name',
                    '@nameof(type.TglPerjanjianAkhirEbuUtc):name',
                    '@nameof(type.TglPerjanjianKbosSpmUtc):name',
                    '@nameof(type.TglPerjanjianAwalPmeLenderUtc):name',
                    '@nameof(type.TglPerjanjianAkhirPmeLenderUtc):name',
                    '@nameof(type.TglPerjanjianAwalPmeBorrowerUtc):name',
                    '@nameof(type.TglPerjanjianAkhirPmeBorrowerUtc):name',
                    '@nameof(type.ActiveUtc):name',
                    '@nameof(type.PerjanjianEbuActiveUtc):name',
                    '@nameof(type.PerjanjianKbosActiveUtc):name',
                    '@nameof(type.PmeActiveUtc):name'
                ]);
                starter.visible(false);
            }
        });

        $('.toggle').on('change', function (e) {
            e.preventDefault();

            var columns = null;
            var value = $('.toggle :selected').val();
            console.log(value);

            var table = $('#master-table').DataTable();
            var starter = table.columns([
                '@nameof(type.NoPerjanjianKbos):name',
                '@nameof(type.NoPerjanjianEbu):name',
                '@nameof(type.NoPerjanjianPmeLender):name',
                '@nameof(type.NoPerjanjianPmeBorrower):name',
                '@nameof(type.NoPerjanjianAk):name',
                '@nameof(type.TglPerjanjianAwalEbuUtc):name',
                '@nameof(type.TglPerjanjianAkhirEbuUtc):name',
                '@nameof(type.TglPerjanjianKbosSpmUtc):name',
                '@nameof(type.TglPerjanjianAwalPmeLenderUtc):name',
                '@nameof(type.TglPerjanjianAkhirPmeLenderUtc):name',
                '@nameof(type.TglPerjanjianAwalPmeBorrowerUtc):name',
                '@nameof(type.TglPerjanjianAkhirPmeBorrowerUtc):name',
                '@nameof(type.TglPerjanjianAk):name',
                '@nameof(type.ActiveUtc):name',
                '@nameof(type.PerjanjianEbuActiveUtc):name',
                '@nameof(type.PerjanjianKbosActiveUtc):name',
                '@nameof(type.PmeActiveUtc):name',
                '@nameof(type.PerjanjianAkActiveUtc):name'
            ]);
            starter.visible(false);
            if (value.includes("KBOS")) {
                columns = table.columns([
                    '@nameof(type.NoPerjanjianKbos):name',
                    '@nameof(type.TglPerjanjianKbosSpmUtc):name',
                    '@nameof(type.PerjanjianKbosActiveUtc):name',
                ]);
                columns.visible(true);
            }else if (value.includes("PME")) {
                columns = table.columns([
                    '@nameof(type.NoPerjanjianPmeLender):name',
                    '@nameof(type.NoPerjanjianPmeBorrower):name',
                    '@nameof(type.TglPerjanjianAwalPmeLenderUtc):name',
                    '@nameof(type.TglPerjanjianAkhirPmeLenderUtc):name',
                    '@nameof(type.TglPerjanjianAwalPmeBorrowerUtc):name',
                    '@nameof(type.TglPerjanjianAkhirPmeBorrowerUtc):name',
                    '@nameof(type.PmeActiveUtc):name'
                ]);
                columns.visible(true);
            }else if (value.includes("EBU")) {
                columns = table.columns([
                    '@nameof(type.NoPerjanjianEbu):name',
                    '@nameof(type.TglPerjanjianAwalEbuUtc):name',
                    '@nameof(type.TglPerjanjianAkhirEbuUtc):name',
                    '@nameof(type.PerjanjianEbuActiveUtc):name'
                ]);
                columns.visible(true);
            }else if (value.includes("AK")) {
                columns = table.columns([
                    '@nameof(type.NoPerjanjianAk):name',
                    '@nameof(type.TglPerjanjianAk):name',
                    '@nameof(type.PerjanjianAkActiveUtc):name'
                ]);
                columns.visible(true);
            }
        })
    </script>
}