﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@model ListDataViewModel

<div class="col-md-4">
    <label>Status :</label>
    <select class="form-control" id="statusBursaKPEI" name="@(nameof(BaseLaporanDttRequestForm.StatusBursaKPEI))">
        @* <option value="">-Semua-</option> *@
        <option value="status-bursa-kpei">Bursa</option>
        <option value="status-kpei">KPEI</option>
    </select>
</div>

<div class="col-md-4">
    <label>Status Bursa:</label>
    <select class="form-control" id="statusBursa" name="@(nameof(BaseLaporanDttRequestForm.StatusBursa))">
        <option value="">-Semua-</option>
        @foreach (var status in StatusBursa.All())
        {
            <option value="@status.Name">@status.Label</option>
        }
    </select>
</div>


@using (Html.Section("script"))
{
    <script type="text/javascript">
        $(function() {
            var statusBursaKPEI = $('#statusBursaKPEI');
            var statusKPEI = $('#statusKPEI');
            var statusBursa = $('#statusBursa');
            statusBursaKPEI.on('change', function() {
                var val = $(this).val()
                statusKPEI.val("")
                statusBursa.parent().removeClass('hide')
                statusKPEI.parent().addClass('hide')
                if (val === "status-kpei") {
                    statusBursa.val("")
                    statusBursa.parent().addClass('hide')
                    statusKPEI.parent().removeClass('hide')
                    statusKPEI.trigger('change')
                } else {
                    statusBursa.trigger('change')
                }
            })

            statusBursaKPEI.trigger('change')

        });
    </script>
}