﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@model ListDataViewModel

<div class="col-md-4">
    <label>Status Perusahaan:</label>
    <select class="form-control" name="@(nameof(BaseLaporanDttRequestForm.StatusPerusahaan))">
        <option value="">-Semua-</option>
        @foreach (var status in StatusPerusahaan.All()) {
            <option value="@status.Name">@status.Label</option>
        }
    </select>
</div>