﻿@using Kpei.PortalAK.DataAccess.ModLaporan.Forms
@using Kpei.PortalAK.ViewModels.Laporan
@using Kpei.PortalAK.DataAccess.ModLaporan.Data
@model ListDataViewModel

@{
    var choices = new FilterJenisMember().All().ToArray();
    var type = new LaporanPerjanjian();
}

<div class="col-md-4">
    <label>Jenis Member: </label>
    <select class="form-control toggle" name="@(nameof(BaseLaporanDttRequestForm.JenisMember))">
        @foreach (var choice in choices) {
            <option value="@choice.Name">
                @choice.Label
            </option>
        }
    </select>
</div>

