﻿@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.InputViewModel

@{
    ViewBag.Title = "Administrasi Keanggotaan KPEI - Pendaftaran Layanan";
    Html.SelectedMenuTags().AddRange(new[] { "administrasikeanggotaan" });
}

@using (Html.BeginForm("Save", "AdministrasiKeanggotaan", null, FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.Partial("_FormFields/_baseForm")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>
                @if (Model.FormAknp.Id == null || Model.FormAknp.Draft == true)
                {
                    <button type="button" class="btn btn-warning form-draft-button">
                        Save as Draft
                    </button>
                }
                <a href="@Url.Action("ListRequest", "AdministrasiKeanggotaan")" class="btn btn-default">
                    Cancel
                </a>
            </div>
        </div>
    </div>
}