﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Forms
@using System.Linq
@using Kpei.PortalAK.DataAccess.ModAdministrasiKeanggotaan.Repos
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.ListRequestViewModel
@{
    var usr = Model.User;
    Html.SelectedMenuTags().AddRange(new[] { "administrasikeanggotaan" });
    ViewBag.Title = $"Administrasi Keanggotaan KPEI - Request";
    var comps = Model.Companies;
}
<div class="row">
    <div class="col-xs-12">
        @if (usr.IsKpei)
        {

            <div class="text-right">
                <a href="javascript:;" class="btn red" data-toggle="modal" data-target="#create-history-companies-modal">
                    Input Data
                </a>
            </div>
        }
        @if (usr.IsAknp)
        {
            <div class="text-right">
                <a href="@Url.Action("RequestData", "AdministrasiKeanggotaan")" class="btn red">
                    Input Data
                </a>
            </div>
        }
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="@Url.Action("Index", "AdministrasiKeanggotaan")">
                    Detail
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("ListRequest", "AdministrasiKeanggotaan")">
                    Request
                </a>
            </li>
            @if (usr.KpeiViewerRightFor(CoreModules.ADMINISTRASI_KEANGGOTAAN))
            {
                <li class="">
                    <a href="@Url.Action("ListHistory", "AdministrasiKeanggotaan")">
                        Riwayat
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row master-table-filter">
                    @if (usr.KpeiViewerRightFor(CoreModules.ADMINISTRASI_KEANGGOTAAN))
                    {
                        <div class="col-md-4">
                            <label>Kode AK:</label>
                            <select class="form-control" name="@(nameof(ChangeRequestDttRequestForm.KodeAK))">
                                <option value="">-Semua-</option>
                                @foreach (var mod in Model.Companies)
                                {
                                    <option value="@mod.Code">@mod.Code / @mod.Name</option>
                                }
                            </select>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (usr.IsKpei && Model.User.KpeiModifierRightFor(CoreModules.ADMINISTRASI_KEANGGOTAAN))
{
    using (Html.Section("script"))
    {
        <div id="create-history-companies-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih AK yang akan di-input</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comp in comps)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Create", new {kodeAK = comp.Code})">
                                                @comp.Code
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Create", new {kodeAK = comp.Code})">
                                                @comp.Name
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@using (Html.Section("script-page-level"))
{
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                @if (usr.KpeiViewerRightFor(CoreModules.ADMINISTRASI_KEANGGOTAAN)) {
                    <text>
                        {
                            name: 'KodeAK',
                            data: 'KodeAK',
                            title: 'Kode AK&P',
                            searchable: true,
                            orderable: true
                        },
                        {
                            name: 'NamaPerusahaan',
                            data: 'NamaPerusahaan',
                            title: 'Nama Perusahaan',
                            searchable: false,
                            orderable: false
                        },
                    </text>
                }
                {
                    name: 'KategoriMember',
                    data: 'KategoriMember',
                    title: 'Kategori Member',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'TipeMemberPartisipan',
                    data: 'TipeMemberPartisipan',
                    title: 'Tipe Partisipan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'CreatedUtc',
                    data: 'WaktuAktif',
                    title: 'Tanggal Aktif',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'StatusKPEI',
                    data: 'StatusKPEI',
                    title: 'Status KPEI',
                    searchable: false,
                    orderable: false
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        var urlTpl =
                            '@Url.Action("Detail", new {id = "11000011"})';
                        var detailHref = urlTpl.replace('11000011', row.Id);
                        urlTpl =
                            '@Url.Action("RequestData", new {id = "11000011"})';
                        var editHref = urlTpl.replace('11000011', row.Id);
                        var action = PortalAK.DttLinkButtonHtml(detailHref, '', 'success', 'fa fa-search');
                        if (row.StatusKPEI != "@StatusKpei.CABUT_STATUS.Name") {
                            action += PortalAK.DttLinkButtonHtml(editHref, '', 'primary', 'fa fa-edit');
                        }
                        return action;
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListActiveDtt", "AdministrasiKeanggotaan")',
                cols,
                [],
                function(e, stg, dat) {
                    $('.master-table-filter :input[name]').each(function() {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $('.master-table-filter :input[name]').on('change',
                function() {
                    masterTable.ajax.reload();
                });
        });
    </script>
}