﻿@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.ChangeRequest
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model Kpei.PortalAK.ViewModels.AdministrasiKeanggotaan.LogRequestViewModel
@{
    var usr = Model.User;
    Html.SelectedMenuTags().AddRange(new[] { "administrasikeanggotaan" });
    ViewBag.Title = $"Administrasi Keanggotaan KPEI - Log Data";
    var data = Model.AdministrasiKeanggotaan;
}
<div class="row">
    <div class="col-xs-12">
        @if ((data.Status == DataAknpRequestStatus.NEW_STATUS.Name
              || ((data.Status == DataAknpRequestStatus.ONGOING_STATUS.Name &&
                   data.Approver1UserId != usr.Id) || data.Status == DataAknpRequestStatus.NEW_STATUS.Name) &&
              data.Status != DataAknpRequestStatus.REJECTED_STATUS.Name &&
              data.Status.ToLower() != DataAknpRequestStatus.APPROVED_STATUS.Name.ToLower()
              && usr.IsKpei)
             || (data.Status == DataAknpRequestStatus.NEW_STATUS.Name && usr.IsAknp))
        {
            <div class="text-right">
                <a href="@Url.Action("Update", new {id = data.Id})" class="btn btn-warning">
                    Ubah Data <i class="fa fa-pencil"></i>
                </a>
            </div>
        }
        else
        {
            if (usr.IsAknp)
            {
                <div class="text-right">
                    <a href="@Url.Action("RequestData", "AdministrasiKeanggotaan")" class="btn red">
                        Request Perubahan Data
                    </a>
                </div>
            }
        }
        <ul class="nav nav-tabs">
            <li class="">
                <a href="@Url.Action("Detail", "AdministrasiKeanggotaan", new {id = data.Id})">
                    Detail
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("LogRequest", "AdministrasiKeanggotaan", new {id = data.Id})">
                    Log
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                        <table id="master-table" class="table table-condensed table-bordered table-hover">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.Section("script-page-level"))
{
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');

            var cols = [
                {
                    name: '@(nameof(UserActionLog.CreatedUtc))',
                    data: 'WaktuPerubahan',
                    title: 'Waktu Perubahan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.UserName))',
                    data: 'DibuatOleh',
                    title: 'Dibuat Oleh',
                    searchable: true,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.Message))',
                    data: 'Aktivitas',
                    title: 'Aktivitas',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("LogRequestDtt", "AdministrasiKeanggotaan", new { id = data.Id })',
                cols,
                [
                    [1, 'desc']
                ],
                function(e, stg, dat) {
                    // no modding
                });
        });
    </script>
}