﻿
@using System.Globalization
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModPincode.Models
@using Kpei.PortalAK.DataAccess.UserIdentity
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Pincode
@model DetailViewModel
@{
    ViewBag.Title = "Reset PIN Code - Detail Request";
    Html.SelectedMenuTags().AddRange(new[] { "pincode", "pin-detail" });
    var resetResult = Model.Pincode.ResetResults.FirstOrDefault();
    var relatedSysUrl = Model.TypeInfos.FirstOrDefault(x => x.Name == Model.Pincode.JenisPincode)?.Url;
    var userSvc = DepResolver.Instance.GetService<IUserService>();
}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("Detail", new { area = "", id = Model.Pincode.Id })" aria-expanded="true">
            Detail
        </a>
    </li>
    <li class="">
        <a href="@Url.Action("Log", new { id = Model.Pincode.Id })" aria-expanded="false">
            Log Request
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in">
        <div class="text-right">
            @if (Model.User.IsKpei) {
                if (Model.Pincode.StatusRequest == PincodeRequestStatus.NEW_STATUS.Name &&
                    Model.User.KpeiApproverRightFor(CoreModules.REQUEST_PINCODE)) {
                    <form id="approve-pincode-form" style="display:none;" method="post" action="@Url.Action("Approve", new { id = Model.Pincode.Id })">
                        @Html.AntiForgeryToken()
                    </form>
                    <button class="btn btn red"
                            onclick="PortalAK.ConfirmAction('Anda yakin akan approve?', function () {$('#approve-pincode-form').submit();})">
                        <i class="fa fa-check"></i>
                        Approve
                    </button>
                    <a href="javascript:;" data-target="#reject-pincode-modal" class="btn btn-danger" data-toggle="modal">
                        <i class="fa fa-times"></i>
                        Reject
                    </a>
                } else if (Model.Pincode.StatusRequest == PincodeRequestStatus.APPROVED_STATUS.Name &&
                           Model.User.KpeiModifierRightFor(CoreModules.REQUEST_PINCODE)) {
                    <a href="@Url.Action("SendNewPin", "ResetPincode", new { id = Model.Pincode.Id })" class="btn btn red">
                        <i class="fa fa-paper-plane-o"></i>
                        Input Hasil Reset
                    </a>
                }
            }
        </div>
        <div>
            <div class="row form form-horizontal">
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">Jenis PIN Code:</label>
                    <div class="col-md-8 form-control-static">
                        @Model.Pincode.JenisPincode
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">Waktu Pengajuan:</label>
                    <div class="col-md-8 form-control-static">
                        @Model.Pincode.CreatedUtc.ConvertUtcToWib().ToString("dddd, d MMMM yyyy HH:mm:ss", new CultureInfo("id-ID"))
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">Alasan Reset:</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5" readonly>@Model.Pincode.Alasan</textarea>
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">File Surat Permohonan:</label>
                    <div class="col-md-8">
                        @if (!string.IsNullOrWhiteSpace(Model.Pincode.SuratPermohonanFileUrl)) {
                            var fileHref = Model.Pincode.SuratPermohonanFileUrl;
                            if (new[] {
                                "http:/", "https:/", "ftp:/", "ftps:/"
                                }.All(x => !fileHref.StartsWith(x))) {
                                fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                            }
                            <a href="@fileHref" class="btn red" download><i class="fa fa-download"></i></a>
                        } else {
                            <em>File tidak ada</em>
                        }
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">Status Terakhir:</label>
                    <div class="col-md-8 form-control-static">
                        @Model.Pincode.StatusRequest
                    </div>
                </div>
                @if (Model.Pincode.StatusRequest == PincodeRequestStatus.REJECTED_STATUS.Name) {
                    <div class="col-md-9 form-group">
                        <label class="control-label col-md-3">Alasan Penolakan:</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="5" readonly>@Model.Pincode.AlasanDitolak</textarea>
                        </div>
                    </div>
                }
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3">URL Sistem Terkait:</label>
                    <div class="col-md-8 form-control-static">
                        <a href="@(relatedSysUrl ?? "javascript:;")" target="_blank">
                            @relatedSysUrl
                        </a>
                    </div>
                </div>
            </div>
            @if (Model.User.IsKpei && Model.User.KpeiViewerRightFor(CoreModules.REQUEST_PINCODE)) {
                <hr/>

                <div class="row form form-horizontal">
                    <div class="col-md-9 form-group">
                        <label class="control-label col-md-3">PIN Username Baru:</label>
                        <div class="col-md-8 form-control-static">
                            @(resetResult?.NewUserName)
                        </div>
                    </div>
                    <div class="col-md-9 form-group">
                        <label class="control-label col-md-3">PIN Password Baru:</label>
                        <div class="col-md-8 form-control-static">
                            <code id="new-pin-password-span" style="display:none">
                                @(resetResult?.NewPassword)
                            </code>
                            <button type="button" class="btn btn-xs btn-default" onclick="$('#new-pin-password-span').toggle();">
                                <i class="fa fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-9 form-group">
                        <label class="control-label col-md-3">Email Tujuan Notifikasi:</label>
                        <div class="col-md-8 form-control-static">
                            <ul style="padding-left: 20px;">
                                @{
                                    var emailTgts = resetResult?.EmailTargets.Select(x => x.EmailAddress).ToList() ?? new List<string>();
                                }
                                @foreach (var em in emailTgts) {
                                    <li>@em</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
@if (Model.User.IsKpei && Model.User.KpeiApproverRightFor(CoreModules.REQUEST_PINCODE) &&
     Model.Pincode.StatusRequest != PincodeRequestStatus.REJECTED_STATUS.Name) {
    using (Html.Section("script")) {

        var errs = TempData["ValidationErrors"] as string[] ?? new string[0];
        var hasErr = errs.Length > 0;

        if (hasErr) {
            <script type="text/javascript">
                $(function() {
                    $('a[data-toggle="modal"][data-target="#reject-pincode-modal"]').click();
                });
            </script>
        }
        <div id="reject-pincode-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tolak Reset PIN Code</h4>
                    </div>
                    <form method="post" action="@Url.Action("Reject", new {id = Model.Pincode.Id})" class="form form-horizontal">
                        <div class="modal-body">
                            @if (hasErr) {
                                <ul>
                                    @foreach (var err in errs) {
                                        <li class="text-danger">@err</li>
                                    }
                                </ul>
                            }

                            @Html.AntiForgeryToken()
                            @Html.FormFieldPartial("", new TextFieldSetting {
                                InputName = nameof(RejectViewModel.RejectReason),
                                Label = "Alasan Penolakan",
                                HelpText = "",
                                Style = TextFieldStyle.Textarea
                            })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger form-submit-button">Reject</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}