﻿@using Kpei.PortalAK.DataAccess.ModPincode.Forms
@using Kpei.PortalAK.ViewModels.Pincode
@using Kpei.PortalAK.DataAccess.ModPincode.Models
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model IndexKpeiViewModel
@{
    ViewBag.Title = "Reset PIN Code";
    Html.SelectedMenuTags().AddRange(new[] {"pincode"});
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <label>Status Request:</label>
            <select id="status-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.AllStatus) {
                    <option value="@mod.Name" @if (mod.Name == PincodeRequestStatus.NEW_STATUS.Name) { <text>selected</text>}>@mod.Label</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Kode AK:</label>
            <select id="kode-ak-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.AllCompanies) {
                    <option value="@mod.Code">@mod.Code / @mod.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Jenis Pincode:</label>
            <select id="jenis-pelatihan-selector" class="form-control">
                <option value="">-Semua-</option>
                @foreach (var mod in Model.ListJenisPincode) {
                    <option value="@mod">@mod</option>
                }
            </select>
        </div>
    </div>
    <div class="master-table-filter col-md-12">
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(PincodeDttRequestForm.FromDateTime),
           Label = "Dari:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(PincodeDttRequestForm.ToDateTime),
           Label = "Sampai:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
    </div>
    <div class="col-xs-12">
        <hr/>
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $jenisPelatihanSelector = $('#jenis-pelatihan-selector');

            var cols = [
                {
                    name: 'KodeAK',
                    data: 'KodeAK',
                    title: 'Kode AK',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'NamaPerusahaan',
                    data: 'NamaPerusahaan',
                    title: 'Nama Perusahaan',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'CreatedUtc',
                    data: 'WaktuPengajuan',
                    title: 'Waktu Pengajuan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'JenisPincode',
                    data: 'JenisPincode',
                    title: 'Jenis PIN Code',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'StatusRequest',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListKpei", "ResetPincode")',
                cols,
                [
                    [3, 'desc']
                ],
                function(e, stg, dat) {
                    dat['@(nameof(PincodeDttRequestForm.KodeAk))'] = $kodeAkSelector.val();
                    dat['@(nameof(PincodeDttRequestForm.StatusRequest))'] = $statusSelector.val();
                    dat['@(nameof(PincodeDttRequestForm.JenisPincode))'] = $jenisPelatihanSelector.val();
                    $('.master-table-filter :input[name]').each(function () {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                });

            $statusSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $kodeAkSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $jenisPelatihanSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });

            $('.master-table-filter :input[name]').on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}