﻿@using Kpei.PortalAK.DataAccess.ModPincode.Forms
@using Kpei.PortalAK.ViewModels.Pincode
@using Kpei.PortalAK.DataAccess.Core
@model IndexNonKpeiViewModel
@{
    ViewBag.Title = "Reset PIN Code";
    Html.SelectedMenuTags().AddRange(new[] {"pincode"});
}

<div class="row">
    <div class="col-md-4">
        <label>Status Request:</label>
        <select id="status-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.AllStatus) {
                <option value="@mod.Name">@mod.Label</option>
            }
        </select>
    </div>
    @if (Model.AppUser.NonKpeiModifierRightFor(CoreModules.REQUEST_PINCODE)) {
    <div class="col-md-8 text-right">
        <a href="@Url.Action("NewRequest")" class="btn red">
            Request Reset PIN Code
        </a>
    </div>
    }
    <div class="col-xs-12">
        <hr/>
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');
            var $statusSelector = $('#status-selector');
            var $kodeAkSelector = $('#kode-ak-selector');

            var cols = [
                {
                    name: 'CreatedUtc',
                    data: 'WaktuPengajuan',
                    title: 'Waktu Pengajuan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: 'JenisPincode',
                    data: 'JenisPincode',
                    title: 'Jenis PIN Code',
                    searchable: true,
                    orderable: true
                },
                {
                    name: 'StatusRequest',
                    data: 'Status',
                    title: 'Status',
                    searchable: true,
                    orderable: true
                },
                {
                    name: null,
                    data: null,
                    title: 'Action',
                    searchable: false,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        return PortalAK.DttLinkButtonHtml(row.DetailUrl, '', 'success', 'fa fa-search');
                    }
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("ListNonKpei", "ResetPincode")',
                cols,
                [
                    [1, 'desc']
                ],
                function(e, stg, dat) {
                    dat['@(nameof(PincodeDttRequestForm.KodeAk))'] = $kodeAkSelector.val();
                    dat['@(nameof(PincodeDttRequestForm.StatusRequest))'] = $statusSelector.val();
                });

            $statusSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
            $kodeAkSelector.on('change',
                function() {
                    masterTable.ajax.reload();
                });
        });
    </script>
}