﻿@using Kpei.PortalAK.DataAccess.ModSettings.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Pincode
@model NewRequestViewModel
@{
    ViewBag.Title = "Reset PIN Code - New Request";
    Html.SelectedMenuTags().AddRange(new[] { "pincode", "new-pin-req" });
}
<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(Model.Form.JenisPincode, new SelectFieldSetting {
       InputName = nameof(Model.Form.JenisPincode),
       Label = Html.LabelForRequired(e => e.Form.JenisPincode).ToString(),
       HelpText = "",
       Options = Model.PincodeTypeInfos,
       OptionValueGetter = (x) => x.DirectCastTo<PincodeTypeInfo>().Name,
       OptionLabelGetter = (x) => x.DirectCastTo<PincodeTypeInfo>().Name,
       AddEmptyOption = true,
       EmptyOptionLabel = "-Pilih Jenis PIN Code-"
   })

        @Html.FormFieldPartial(Model.Form.Alasan, new TextFieldSetting {
       InputName = nameof(Model.Form.Alasan),
       Label = Html.LabelForRequired(e => e.Form.Alasan).ToString(),
       HelpText = "Alasan pengajuan reset PIN code",
       Style = TextFieldStyle.Textarea
   })
        @Html.FormFieldPartial(Model.Form.SuratPermohonanFileUrl, new UploadFieldSetting {
       InputName = nameof(Model.Form.SuratPermohonanFileUrl),
       Label = Html.LabelForRequired(e => e.Form.SuratPermohonanFileUrl).ToString(),
       ValidFileExtensions = new[] { "pdf" },
       MaxBytes = 15 * 1024 * 1024,
       FolderPath = "reset-pincode"
   })
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Submit
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>

</form>