﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.Pincode
@model SendNewPinViewModel
@{
    ViewBag.Title = "Reset PIN Code - Send New PIN";
    Html.SelectedMenuTags().AddRange(new[] {"pincode", "send-pin"});
    var relatedSysUrl = Model.TypeInfos.FirstOrDefault(x => x.Name == Model.Pincode.JenisPincode)?.Url;
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">Jenis PIN Code</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @Model.Pincode.JenisPincode
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Kode AK</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    @Model.Pincode.KodeAK
                </div>
            </div>
        </div>

        @Html.FormFieldPartial(Model.Form.NewUserName, new TextFieldSetting {
       InputName = nameof(Model.Form.NewUserName),
       Label = Html.LabelForRequired(e => e.Form.NewUserName).ToString(), //"PIN Username Baru",
       HelpText = ""
   })

        @Html.FormFieldPartial(Model.Form.NewPassword, new TextFieldSetting {
       InputName = nameof(Model.Form.NewPassword),
       Label = Html.LabelForRequired(e => e.Form.NewPassword).ToString(), // "PIN Password Baru",
       HelpText = ""
   })

        <div class="form-group">
            <label class="control-label col-md-3">URL Sistem Terkait</label>
            <div class="col-md-8">
                <div class="form-control-static form-control">
                    <a href="@(relatedSysUrl ?? "javascript:;")" target="_blank">
                        @relatedSysUrl
                    </a>
                </div>
            </div>
        </div>

        @Html.FormFieldPartial(Model.Form.EmailDireksi, new StringListFieldSetting {
            InputName = nameof(Model.Form.EmailDireksi),
            Label = Html.LabelForRequired(e => e.Form.EmailDireksi).ToString(),
            HelpText = ""
        })

        @Html.FormFieldPartial(Model.Form.EmailEkstra, new StringListFieldSetting {
            InputName = nameof(Model.Form.EmailEkstra),
            Label = Html.LabelForRequired(e => e.Form.EmailEkstra).ToString(),
            HelpText = ""
        })
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>

</form>