﻿@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.LogTable
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model LogViewModel
@{
    ViewBag.Title = "User Activity Log - Tabel";
    Html.SelectedMenuTags().AddRange(new[] { "log", "laporan-log" });
}

<div class="row">
    <div class="col-md-3">
        <label>Kode AK:</label>
        <select id="kode-ak-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.Companies) {
                <option value="@mod.Code">@mod.Code / @mod.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Module:</label>
        <select id="entity-selector" class="form-control">
            <option value="">-Semua-</option>
            @foreach (var mod in Model.RelatedEntity) {
                <option value="@mod.Name"> @mod.Label </option>
            }
        </select>
    </div>
    <div class="master-table-filter">
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(UserActionLogDttRequestForm.FromDateTime),
           Label = "Dari:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
        <div class="col-md-3">
            @Html.FormFieldPartial(null, new DateTimeFieldSetting {
           InputName = nameof(UserActionLogDttRequestForm.ToDateTime),
           Label = "Sampai:",
           Style = DateTimeFieldStyle.DateOnly,
           UseVerticalFormFieldFormat = true
       })
        </div>
    </div>
    <div class="col-xs-12">
        <hr />
        <table id="master-table" class="table table-condensed table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@using (Html.Section("script-page-level")) {
    <script type="text/javascript">
        $(function() {
            var $masterTable = $('#master-table');
            var $kodeAkSelector = $('#kode-ak-selector');
            var $entitySelector = $('#entity-selector')
            var cols = [
                {
                    name: '@(nameof(UserActionLog.CreatedUtc))',
                    data: 'WaktuPerubahan',
                    title: 'Waktu Perubahan',
                    searchable: false,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.UserName))',
                    data: 'DibuatOleh',
                    title: 'Dibuat Oleh',
                    searchable: true,
                    orderable: true
                },
                {
                    name: '@(nameof(UserActionLog.Message))',
                    data: 'Aktivitas',
                    title: 'Aktivitas',
                    searchable: true,
                    orderable: true
                }
            ];

            var masterTable = PortalAK.InitDtt('#master-table',
                '@Url.Action("LogDtt", "LogTable")',
                cols,
                [
                    [1, 'desc']
                ],
                function (e, stg, dat) {
                    dat['@(nameof(UserActionLogDttRequestForm.KodeAk))'] = $kodeAkSelector.val();
                    dat['@(nameof(UserActionLogDttRequestForm.RelatedEntityName))'] = $entitySelector.val();
                    $('.master-table-filter :input[name]').each(function () {
                        var el = $(this);
                        dat[el.attr('name')] = el.val();
                    });
                    // no modding
                });

            $kodeAkSelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });

            $entitySelector.on('change',
                function () {
                    masterTable.ajax.reload();
                });

            $('.master-table-filter :input[name]').on('change',
                function () {
                    masterTable.ajax.reload();
                });
        });
    </script>
}