﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.Core
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataLayananBaruForm>, ArrTipeMemberAkuFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model?.ToList() ?? new List<DataLayananBaruForm>();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var items = aknpStg.ListLayananBaruTipeMemberAku;
    var packages = new List<DataLayananBaruForm>();

    foreach (var p in items)
    {
        var dataValue = data.FirstOrDefault(e => e.LayananBaruId == p.Id) ?? null;
        if (dataValue != null)
        {
            packages.Add(new DataLayananBaruForm
            {
                Id = dataValue.Id ?? null,
                TipeMemberAK = dataValue.TipeMemberAK ?? p.TipeMemberAK,
                TipeMemberPartisipan = dataValue.TipeMemberPartisipan ?? p.TipeMemberPartisipan,
                FieldName = dataValue.FieldName ?? p.FieldName,
                FieldType = dataValue.FieldType ?? p.FieldType,
                FieldRequired = p.FieldRequired,
                FieldValue = dataValue.FieldValue ?? null,
                LayananBaruId = dataValue.LayananBaruId ?? p.Id
            });
        }
        else
        {
            packages.Add(new DataLayananBaruForm
            {
                Id = null,
                TipeMemberAK = p.TipeMemberAK,
                TipeMemberPartisipan = p.TipeMemberPartisipan,
                FieldName = p.FieldName,
                FieldRequired = p.FieldRequired,
                FieldType = p.FieldType,
                FieldValue = null,
                LayananBaruId = p.Id
            });
        }
    }
}

@using (Html.Section("script-page-level-plugins"))
{
    <script src="~/assets/custom/vue-components/arr-tipe-member-aku.js" type="text/javascript"></script>
    <script src="~/assets/custom/vue-components/upload-field.js" type="text/javascript"></script>
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-tipe-member-aku html-id="@inputId" :input-name="inputName" :data-title="dataTitle" :data-items="dataItems"
                             :upload-field-config="uploadFieldConfig"></arr-tipe-member-aku>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-tipe-member-aku',
                template: '#@inputId-vue-tpl',
                data: {
                    dataTitle: "Form Member AKU",
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(packages)),
                    inputName: '@stg.InputName',
                    uploadFolder: '@stg.UploadFolder',
                    uploadFieldConfig: {
                        csrfToken: PortalAK.AntiForgeryToken,
                        htmlId: '@inputId-upload',
                        maxBytes: @(5 * 1024 * 1024),
                        validExts: ['jpg', 'png', 'pdf']
                    }
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}

<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label))
    {
        <label for="@inputId" class="control-label col-md-3">
            @*@Html.Raw(stg.Label)*@
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-arr-tipe-member-aku"></div>
        @if (hasError)
        {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>

