﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataSupportDocumentForm>, ArrSupportDocumentFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model ?? new DataSupportDocumentForm[0];
}
@using (Html.Section("script-page-level-plugins", "arr-sup-doc-vue")) {
    <script src="~/assets/custom/vue-components/arr-sup-doc.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins", "upload-field-vue")) {
    <script src="~/assets/custom/vue-components/upload-field.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-sup-doc html-id="@inputId" :input-name="inputName" :data-items="dataItems" :upload-folder="uploadFolder"
                            max-items="@stg.MaxItems" :upload-field-config="uploadFieldConfig"></arr-sup-doc>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-sup-doc-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(data)),
                    inputName: '@stg.InputName',
                    uploadFolder: '@stg.UploadFolder',
                    uploadFieldConfig: {
                        csrfToken: PortalAK.AntiForgeryToken,
                        htmlId: '@inputId-upload',
                        maxBytes: @(5 * 1024 * 1024),
                        validExts: ['jpg', 'png', 'pdf']
                    }
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-arr-sup-doc-box"></div>
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>