﻿@using System.Globalization
@using Kpei.PortalAK.DataAccess.ModTradingMember.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<Kpei.PortalAK.DataAccess.ModTradingMember.Forms.TradingMemberForm>, ArrTradingMemberFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model ?? new TradingMemberForm[0];
}
@using (Html.Section("script-page-level-plugins"))
{
    <script src="~/assets/global/plugins/vuejs-datepicker.min.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins", "arr-trading-member-vue"))
{
    <script src="~/assets/custom/vue-components/arr-trading-member.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins", "upload-field-vue"))
{
    <script src="~/assets/custom/vue-components/upload-field.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins"))
{
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-trading-member html-id="@inputId" :input-name="inputName" :data-items="dataItems"
                                                    max-items="@stg.MaxItems" ></arr-trading-member>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-trading-member-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(data)),
                    inputName: '@stg.InputName',
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    <div class="col-md-12">
        <div id="@inputId-arr-trading-member-box"></div>
        @if (hasError)
        {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>