﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.DataAccess.Core
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataLayananBaruForm>, ArrTipeMemberPartisipan>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model?.ToList() ?? new List<DataLayananBaruForm>();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var items = aknpStg.ListLayananBaruTipeMemberPartisipan;
    var packages = new List<DataLayananBaruForm>();

    foreach (var p in items)
    {
        var dataValue = data.FirstOrDefault(e => e.LayananBaruId == p.Id) ?? null;
        if (dataValue != null)
        {
            packages.Add(new DataLayananBaruForm
            {
                Id = dataValue.Id ?? null,
                TipeMemberAK = dataValue.TipeMemberAK ?? p.TipeMemberAK,
                TipeMemberPartisipan = dataValue.TipeMemberPartisipan ?? p.TipeMemberPartisipan,
                FieldName = dataValue.FieldName ?? p.FieldName,
                FieldType = dataValue.FieldType ?? p.FieldType,
                FieldValue = dataValue.FieldValue ?? null,
                FieldRequired = p.FieldRequired,
                LayananBaruId = dataValue.LayananBaruId ?? p.Id
            });
        }
        else
        {
            packages.Add(new DataLayananBaruForm
            {
                Id = null,
                TipeMemberAK = p.TipeMemberAK,
                TipeMemberPartisipan = p.TipeMemberPartisipan,
                FieldName = p.FieldName,
                FieldRequired = p.FieldRequired,
                FieldType = p.FieldType,
                FieldValue = null,
                LayananBaruId = p.Id
            });
        }
    }
}

@using (Html.Section("script-page-level-plugins"))
{
    <script type="text/x-template" id="@inputId-vue-tpl">
        <upload-field v-bind="uploadFieldConfig" :input-name="inputName" :folder-path="uploadFolder" :value="value"></upload-field>
    </script>
    <script type="text/javascript">
        $(function () {

            function template(inputName, data, value) {
                var html = '<div class="portlet box blue-hoki">'
                html += '<div class="portlet-title">'
                html += '<div class="caption">'
                html += 'Tipe Member Partisipan (' + value + ')';
                html += '</div>';
                html += '</div>';
                html += '<div class="portlet-body">'

                var x = 0;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].FieldType == "null") {
                        continue;
                    }
                    html += '<div class="form form-horizontal">';
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].TipeMemberAk" value="'+ data[i].TipeMemberAK +'" />';
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].TipeMemberPartisipan" value="'+ data[i].TipeMemberPartisipan +'" />'
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].FieldName" value="'+ data[i].FieldName +'" />';
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].FieldType" value="'+ data[i].FieldType +'" />';
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].FieldRequired" value="'+ data[i].FieldRequired +'" />';
                    html += '<input type="hidden" name="'+ inputName +'['+ x +'].LayananBaruId" value="'+ data[i].LayananBaruId +'" />';

                    html += '<div class="form-group">';
                    html += '<label class="control-label col-md-3">';
                    html += data[i].FieldName;
                    if (data[i].FieldRequired) {
                        html+="<b class=\"text-danger\">*</b>"
                    }
                    html += '</label>';

                    if (data[i].FieldType == 'FreeText') {
                        html += '<div class="col-md-8">';
                        html += '<input type="text" class="form-control" name="'+ inputName +'['+ x +'].FieldValue" value="'+ (data[i].FieldValue == null ? '' : data[i].FieldValue) +'" />';
                        html += '</div>';
                    }

                    if (data[i].FieldType == 'FileUpload') {
                        var fieldName = data[i].FieldName.replace(/ /g, '');
                        html += '<div class="col-md-8">';
                        html += '<div id="input_' + fieldName + '"></div>';
                        html += '</div>';

                        var vue = {
                            el: '#input_' + fieldName,
                            template: '#@inputId-vue-tpl',
                            data: {
                                inputName: inputName + '['+ x +'].FieldValue',
                                uploadFolder: "undefined",
                                value: (data[i].FieldValue == null ? '' : data[i].FieldValue),
                                uploadFieldConfig: {
                                    csrfToken: PortalAK.AntiForgeryToken,
                                    htmlId: fieldName + '-upload',
                                    maxBytes: @(5 * 1024 * 1024),
                                    validExts: ['jpg', 'png', 'pdf']
                                }
                            }
                        };

                        PortalAK.LoadVue(vue);
                    }

                    html += '</div>';
                    html += '</div>';
                    x++;
                }
                html += '</div>';
                html += '</div>';
                if (data.length == 1 && data[0].FieldType == "null") {
                    html = '';
                }

                return html;
            }

            var packages = @Html.Raw(JsonConvert.SerializeObject(packages));

            var tipMemPartisipanSel = $('.tipe-member-partisipan-selector-container select');
            tipMemPartisipanSel.on('change', function () {
                var me = $(this);
                if (me.val() != '') {
                    var data = packages.filter(x => x.TipeMemberPartisipan == me.val());
                    $('#@inputId-arr-tipe-member-partisipan').html(template('@stg.InputName', data, me.val()));

                    if (me.val() == "PED") {
                        $('.nama-ab-sponsor-selector-container').show();
                        $('.laporan-keuangan-ak-partisipan-file-upload').hide();
                        $('.perjanjian-partisipan-file-upload').hide();

                        $('.perjanjian-ped-file-upload').show();
                        $('.perjanjian-portability-file-upload').show();

                        $('.perjanjian-aku-file-upload input[type=text]').val('');
                        $('.perjanjian-partisipan-file-upload input[type=text]').val('');
                        $('.perjanjian-aki-file-upload input[type=text]').val('');
                        $('.laporan-keuangan-ak-partisipan-file-upload input[type=text]').val('');
                        $('.no-izin-usaha-ped').show();
                    } else {
                        $('.nama-ab-sponsor-selector-container').hide();
                        $('.laporan-keuangan-ak-partisipan-file-upload').show();
                        $('.perjanjian-partisipan-file-upload').show();

                        $('.perjanjian-ped-file-upload').hide();
                        $('.perjanjian-portability-file-upload').hide();

                        $('.perjanjian-aku-file-upload input[type=text]').val('');
                        $('.perjanjian-ped-file-upload input[type=text]').val('');
                        $('.perjanjian-aki-file-upload input[type=text]').val('');
                        $('.perjanjian-portability-file-upload input[type=text]').val('');
                        $('.no-izin-usaha-ped').hide();
                        $('.no-izin-usaha-ped input[type=text]').val('');
                    }
                } else {
                    $('.nama-ab-sponsor-selector-container').hide();
                    $('.laporan-keuangan-ak-partisipan-file-upload').hide();
                    $('.perjanjian-partisipan-file-upload').hide();

                    $('.perjanjian-ped-file-upload').hide();
                    $('.perjanjian-portability-file-upload').hide();
                    $('#@inputId-arr-tipe-member-partisipan').html('');
                    $('.perjanjian-portability-file-upload input[type=text]').val('');
                }
            })
            tipMemPartisipanSel.trigger('change');
        })
    </script>
}

<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label))
    {
        <label for="@inputId" class="control-label col-md-3">
            @*@Html.Raw(stg.Label)*@
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-arr-tipe-member-partisipan"></div>
        @if (hasError)
        {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>

