﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.Core
@using Newtonsoft.Json
@using Kpei.PortalAK.DataAccess.ModMclears.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@inherits FormFieldRazorPage<IEnumerable<UpdateMclearsPesertaForm>, ArrMclearsSubscriberFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model ?? new UpdateMclearsPesertaForm[0];

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var globalStg = stgrepo.GlobalSetting();
    List<Setting> dataOptions = new List<Setting>();

}
@using (Html.Section("script-page-level-plugins", "arr-mclears-subscriber-vue")) {
    <script src="~/assets/custom/vue-components/arr-mclears-subscriber.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins", "arr-mclears-service-vue")) {
    <script src="~/assets/custom/vue-components/arr-mclears-service.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-mclears-subscriber html-id="@inputId" :input-name="inputName" :data-items="dataItems"
                                max-items="@(globalStg.MaxSubscribePesertaMclears)"></arr-mclears-subscriber>
    </script>
    <script type="text/x-template" id="@inputId-service-tpl">
        <arr-mclears-service html-id="@inputId" :input-name="inputName" :data-items="dataItems" :data-services="dataServices"></arr-mclears-service>
    </script>
    <script type="text/javascript">
        $(function () {
            const dataItems = @Html.Raw(JsonConvert.SerializeObject(data));
            const vue = {
                el: '#@inputId-arr-mclears-subscriber-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                },
            };
            const alert = {
                el: '#@inputId-arr-mclears-alert-equity-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: "Pending Cash - Posisi Serah Dana yang akan jatuh tempo", id: 'AlertPC'},
                        { title: "Pending Saham - Posisi Serah Efek yang akan jatuh tempo", id: 'AlertPS'},
                        { title: "Hak Terima Saham di 004 - Efek yang diterima di Rek.004", id: 'AlertHTS'},
                        { title: "Hak Terima IDR di 004 - Dana yang diterima di Rek 004", id: 'AlertHTR'}
                    ]
                },
            };
            console.log(alert);
            const alert2 = {
                el: '#@inputId-arr-mclears-alert-settlement-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Bayar Alternate Cash Settlement', id:'AlertBACS' },
                        { title: 'Terima Alternate Cash Settlement', id:'AlertACS' }
                    ]
                },
            };
            const alert3 = {
                el: '#@inputId-arr-mclears-alert-trading-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Trading Limit Pagi - Nilai Trading Limit posisi sebelum sesi 1', id:'AlertTLP' },
                        { title: 'Trading Limit Siang - Nilai Trading Limit posisi sebelum sesi 2', id: 'AlertTLS' },
                        { title: 'Trading Limit Proyeksi Pukul 17.15', id: 'AlertTL5' }
                    ]
                },
            };
            const alert4 = {
                el: '#@inputId-arr-mclears-alert-risk-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'MKBD Alert - Status Pengiriman laporan MKBD harian', id:'AlertMKBDA' },
                        { title: 'Failed COLW Alert - Status instruksi COLW Gagal Tertarik', id: 'AlertFCOLWA' },
                        { title: 'Collateral Limit Alert - Batasan Collateral jika collateral yang diagunkan melebihi 40M', id: 'AlertCLA' },
                        { title: 'Offline Collateral Alert - Status Nilai Agunan Offline', id: 'AlertOCA' },
                        {
                            title: 'Minimum Cash Collateral Alert - Status Nilai Agunan Minimum Kas / Setara',
                            id: 'AlertMCCA'
                        }
                    ]
                },
            };

            const alert5 = {
                el: '#@inputId-arr-mclears-alert-derivative-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        {
                            title: 'Derivative Cash Delivery Alert - Serah Dana Derivatif',
                            id: 'AlertDCDA'
                        },
                        {
                            title: 'Derivative Cash Receive Alert - Terima Dana Derivatif',
                            id: 'AlertDCRA'
                        },
                        {
                            title: 'Margin Call Alert - Informasi Margin Call', id: 'AlertMCA'
                        },
                        {
                            title: 'Contract Position Alert - Informasi Posisi Kontrak',
                            id: 'AlertCPA'
                        },
                        {
                            title: '< 1 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo < 1',
                            id: 'AlertL1'
                        },
                        {
                            title: '< 3 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo < 3',
                            id: 'AlertL3'
                        },
                        {
                            title: '< 7 Day Contract Due Alert - Informasi Kontrak Jatuh Tempo < 7',
                            id: 'AlertL7'
                        },
                        {
                            title: 'HPH & HPF Alert - Informasi Harga Penyelesaian Harian (HPH) dan Harga', id: 'AlertHPHFA'
                        }
                    ]
                }
            };
            const alert6 = {
                el: '#@inputId-arr-mclears-alert-broadcast-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Broadcast News from KPEI - Informasi terbaru terkait dengan kegiatan KPEI', id:'AlertBroadcast' },
                    ]
                },
            };

            const onreq = {
                el: '#@inputId-arr-mclears-onreq-equity-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Pending Cash - Posisi Serah Dana yang akan jatuh tempo', id: 'OnRequestPC' },
                        { title: 'Pending Saham - Posisi Serah Efek yang akan jatuh tempo', id: 'OnRequestPS' },
                        { title: 'Hak Terima Saham di 004 - Efek yang diterima di Rek.004', id: 'OnRequestHTS' },
                        { title: 'Hak Terima IDR di 004 - Dana yang diterima di Rek 004', id: 'OnRequestHTR' }
                    ]
                }
            }

            const onreq2 = {
                el: '#@inputId-arr-mclears-onreq-trading-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Purchase Power Request - Informasi Trading Limit', id: 'OnRequestPPR' },
                    ]
                }
            }

            const onreq3 = {
                el: '#@inputId-arr-mclears-onreq-risk-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'MKBD Request - Status Pengiriman laporan MKBD harian', id: 'OnRequestMKBDR' },
                        { title: 'Offline Collateral Request - Status Nilai Agunan Offline', id: 'OnRequestOCR' },
                        { title: 'Haircut - Informasi nilai haircut saham', id: 'OnRequestHaircut' }
                    ]
                }
            }

            const onreq4 = {
                el: '#@inputId-arr-mclears-onreq-derivative-box',
                template: '#@inputId-service-tpl',
                data: {
                    dataItems: dataItems,
                    inputName: '@stg.InputName',
                    dataServices: [
                        { title: 'Derivative Cash Delivery Request - Serah Dana Derivatif', id: 'OnRequestDCDR' },
                        { title: 'Derivative Cash Receive Request - Terima Dana Derivatif', id: 'OnRequestDCRR' },
                        { title: 'Margin Call Request - Informasi Margin Call', id: 'OnRequestMCR' },
                        { title: 'Contract Position Request- Informasi Posisi Kontrak', id: 'OnRequestCPR' },
                        { title: 'HPH & HPF Request - Informasi Harga Penyelesaian Harian (HPH) dan Harga', id: 'OnRequestHPHFR' },

                    ]
                }
            }
            PortalAK.LoadVue(vue);
            PortalAK.LoadVue(alert);
            PortalAK.LoadVue(alert2);
            PortalAK.LoadVue(alert3);
            PortalAK.LoadVue(alert4);
            PortalAK.LoadVue(alert5);
            PortalAK.LoadVue(alert6);
            PortalAK.LoadVue(onreq);
            PortalAK.LoadVue(onreq2);
            PortalAK.LoadVue(onreq3);
            PortalAK.LoadVue(onreq4);
        })
    </script>
}

<div class="tab-content">
    <div class="tab-pane" id="tab_data">
        <small><em>Pastikan anda mengisi setidaknya 1 orang.<b class="text-danger">*</b></em></small>
        <div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
            @if (!string.IsNullOrWhiteSpace(stg.Label)) {
                <label for="@inputId" class="control-label col-md-3">
                    @Html.Raw(stg.Label)
                </label>
            }
            <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
                <div id="@inputId-arr-mclears-subscriber-box"></div>
                @if (hasError) {
                    <div class="help-block small">
                        @valMsg
                    </div>
                }
                <div class="small">
                    @Html.Raw(stg.HelpText)
                </div>
            </div>
        </div>
    </div>
    <div id="tab_alert" class="tab-pane">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#tab_alert_1" data-toggle="tab" aria-expanded="true">Transaksi Equity</a></li>
                <li><a href="#tab_alert_2" data-toggle="tab">Settlement</a></li>
                <li><a href="#tab_alert_3" data-toggle="tab">Trading Limit</a></li>
                <li><a href="#tab_alert_4" data-toggle="tab">Risk Management</a></li>
                <li><a href="#tab_alert_5" data-toggle="tab">Transaksi Derivatif</a></li>
                <li><a href="#tab_alert_6" data-toggle="tab">Broadcast</a></li>
            </ul>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="tab-content">
                <div class="tab-pane active table-scrollable" id="tab_alert_1">
                    <h3>Informasi Transaksi Equity</h3>
                    <div id="@inputId-arr-mclears-alert-equity-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_alert_2">
                    <h3>Informasi Settlement</h3>
                    <div id="@inputId-arr-mclears-alert-settlement-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_alert_3">
                    <h3>Informasi Trading Limit</h3>
                    <div id="@inputId-arr-mclears-alert-trading-box">
                    </div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_alert_4">
                    <h3>Informasi Risk Management</h3>
                    <div id="@inputId-arr-mclears-alert-risk-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_alert_5">
                    <h3>Informasi Transaksi Derivatif</h3>
                    <div id="@inputId-arr-mclears-alert-derivative-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_alert_6">
                    <h3>Informasi Berita KPEI</h3>
                    <div id="@inputId-arr-mclears-alert-broadcast-box"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab_onreq" class="tab-pane">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#tab_onreq_1" data-toggle="tab" aria-expanded="true">Transaksi Equity</a></li>
                <li><a href="#tab_onreq_2" data-toggle="tab">Trading Limit</a></li>
                <li><a href="#tab_onreq_3" data-toggle="tab">Risk Management</a></li>
                <li><a href="#tab_onreq_4" data-toggle="tab">Transaksi Derivatif</a></li>
            </ul>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="tab-content">
                <div class="tab-pane active table-scrollable" id="tab_onreq_1">
                    <h3>Informasi Transaksi Equity</h3>
                    <div id="@inputId-arr-mclears-onreq-equity-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_onreq_2">
                    <h3>Informasi Trading Limit</h3>
                    <div id="@inputId-arr-mclears-onreq-trading-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_onreq_3">
                    <h3>Informasi Risk Management</h3>
                    <div id="@inputId-arr-mclears-onreq-risk-box"></div>
                </div>
                <div class="tab-pane table-scrollable" id="tab_onreq_4">
                    <h3>Informasi Transaksi Derivatif</h3>
                    <div id="@inputId-arr-mclears-onreq-derivative-box"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab_action" class="tab-pane">
        Pastikan anda mengisi data peserta dengan lengkap. Data yang tidak lengkap, tidak akan disimpan dalam sistem.
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-8">
                    <button type="button" class="btn red form-submit-button">
                        Simpan
                    </button>
                    <button type="button" class="btn btn-default form-reset-button">
                        Batal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
