﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.Core
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataPersonForm>, ArrPersonFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model ?? new DataPersonForm[0];

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();
    List<Setting> dataOptions = new List<Setting>();
    if (stg.InputName.Contains("ContactPerson")) {
        dataOptions = aknpStg.ListJabatanContactPerson.ToList();
    }
    if (stg.InputName.Contains("Komisaris")) {
        dataOptions = aknpStg.ListJabatanKomisaris.ToList();
    }
    if (stg.InputName.Contains("Direksi")) {
        dataOptions = aknpStg.ListJabatanDireksi.ToList();
    }
    if (stg.InputName.Contains("PejabatBerwenang")) {
        dataOptions = aknpStg.ListJabatanPejabatBerwenang.ToList();
    }
}
@using (Html.Section("script-page-level-plugins", "arr-person-vue")) {
    <script src="~/assets/custom/vue-components/arr-person.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-person html-id="@inputId" :input-name="inputName" :data-items="dataItems"
                            :data-options="dataOptions" max-items="@stg.MaxItems"></arr-person>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-person-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(data)),
                    inputName: '@stg.InputName',
                    dataOptions: @Html.Raw(JsonConvert.SerializeObject(dataOptions.Select(x => new { x.Id, x.Value})))
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
<small><em>Pastikan anda mengisi setidaknya 1 orang untuk setiap jabatan yang dapat dipilih.<b class="text-danger">*</b></em></small>
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-arr-person-box"></div>
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>