﻿@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.Akte
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataPemegangSahamForm>, ArrPemegangSahamFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model ?? new DataPemegangSahamForm[0];
}
@using (Html.Section("script-page-level-plugins", "arr-pemegang-saham-vue")) {
    <script src="~/assets/custom/vue-components/arr-pemegang-saham.js" type="text/javascript"></script>
}
@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <arr-pemegang-saham html-id="@inputId" :input-name="inputName" :data-items="dataItems"
                            max-items="@stg.MaxItems" caption=""></arr-pemegang-saham>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-pemegang-saham-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(data)),
                    inputName: '@stg.InputName'
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    <div class="col-md-12">
        <div id="@inputId-arr-pemegang-saham-box"></div>
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>