﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Kpei.PortalAK.DataAccess.Services
@using Newtonsoft.Json
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms.TipeMember
@inherits FormFieldRazorPage<IEnumerable<DataMemberAkForm>, ArrMemberAkFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model?.ToList() ?? new List<DataMemberAkForm>();

    var stgrepo = DepResolver.Instance.GetService<IKpeiCompanyService>();

    var choices = stgrepo.AllKpeiCompanies().Select(e => new { e.Code, e.Name });

    var packages = new List<DataMemberAkForm>();

    var templateName = "arr-member-ak-item";
}

<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass member-ak-item" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@(inputId)-@(templateName)-box"></div>
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>


@using (Html.Section("script-page-level-plugins", $"{templateName}-vue")) {
    <script src="~/assets/custom/vue-components/@(templateName).js" type="text/javascript"></script>
}

@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <@templateName html-id="@inputId" 
                             :input-name="inputName" 
                             :data-items="dataItems"
                             :data-options="dataOptions" 
                             :memberType="memberType"
                             ></@templateName>
    </script>
    <script type="text/javascript">
        $(function () {

            var indicator = $('select[name="@nameof(DataTipeMemberAknpForm.TipeMemberAK)"]');
            console.log("Indicator : " + indicator.children("option:selected").val());
            var vue = {
                el: '#@(inputId)-@(templateName)-box',
                template: '#@inputId-vue-tpl',
                data: {
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(data)),
                    inputName: '@stg.InputName',
                    dataOptions: @Html.Raw(JsonConvert.SerializeObject(choices.Select(x => new { x.Code, x.Name }))),
                    memberType: $('select[name="@nameof(DataTipeMemberAknpForm.TipeMemberAK)"]').children("option:selected").val()
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
