﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Forms
@using Newtonsoft.Json
@inherits FormFieldRazorPage<IEnumerable<DataPartisipanForm>, ArrPartisipanFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model?.ToList() ?? new List<DataPartisipanForm>();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var listGroup = aknpStg.ListLayananBaruTipeMemberPartisipan
        .OrderBy(e => e.TipeMemberPartisipan)
        .GroupBy(record => record.TipeMemberPartisipan)
        .ToDictionary(group => group.Key, group => group.ToList());

    var formGroup = new Dictionary<string, List<DataLayananBaruForm>>();

    var packages = new List<DataPartisipanForm>();
    foreach (var choice in listGroup.Keys) {
        var dataGroup = data.FirstOrDefault(e => e.Nama == choice) ?? null;
        var dataValue = data.FirstOrDefault(e => e.Nama == choice)?.Value ?? false;
        packages.Add(new DataPartisipanForm {
            Nama = choice,
            Value = dataValue
        });

        if (dataGroup != null && dataValue == true)
        {
            if (dataGroup.DataLayananBaruForm != null && dataValue == true) {
                if(dataGroup.DataLayananBaruForm.Count() > 0)
                {
                    formGroup.Add(dataGroup.Nama, dataGroup.DataLayananBaruForm.ToList());
                } else
                {
                     formGroup.Add(choice, listGroup[choice]?.Select(x => new DataLayananBaruForm
                        {
                            Id = x.Id,
                            TipeMemberAK = x.TipeMemberAK,
                            TipeMemberPartisipan = x.TipeMemberPartisipan,
                            FieldName = x.FieldName,
                            FieldType = x.FieldType,
                            FieldValue = null,
                            LayananBaruId = x.Id
                        }).ToList()
                     );
                }
            } else
            {
                formGroup.Add(choice, listGroup[choice]?.Select(x => new DataLayananBaruForm
                {
                    Id = x.Id,
                    TipeMemberAK = x.TipeMemberAK,
                    TipeMemberPartisipan = x.TipeMemberPartisipan,
                    FieldName = x.FieldName,
                    FieldType = x.FieldType,
                    FieldValue = null,
                    LayananBaruId = x.Id
                }).ToList()
                );
            }
        } else
        {
            formGroup.Add(choice, listGroup[choice]?.Select(x => new DataLayananBaruForm
            {
                Id = x.Id,
                TipeMemberAK = x.TipeMemberAK,
                TipeMemberPartisipan = x.TipeMemberPartisipan,
                FieldName = x.FieldName,
                FieldType = x.FieldType,
                FieldValue = null,
                LayananBaruId = x.Id
            }).ToList()
            );
        }
    }
}
@using (Html.Section("script-page-level-plugins")) {
    <script src="~/assets/custom/vue-components/arr-partisipan.js" type="text/javascript"></script>
        <script type="text/x-template" id="@inputId-vue-tpl">
            <arr-partisipan html-id="@inputId" :input-name="inputName" :data-items="dataItems" :data-groups="dataGroups"
                            :upload-field-config="uploadFieldConfig"></arr-partisipan>
        </script>
        <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-arr-partisipan',
                template: '#@inputId-vue-tpl',
                data: {
                    dataGroups: @Html.Raw(JsonConvert.SerializeObject(formGroup.ToList())),
                    dataItems: @Html.Raw(JsonConvert.SerializeObject(packages)),
                    inputName: '@stg.InputName',
                    uploadFolder: '@stg.UploadFolder',
                    uploadFieldConfig: {
                        csrfToken: PortalAK.AntiForgeryToken,
                        htmlId: '@inputId-upload',
                        maxBytes: @(5 * 1024 * 1024),
                        validExts: ['jpg', 'png', 'pdf']
                    }
                }
            };
            PortalAK.LoadVue(vue);
        })
        </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-arr-partisipan"></div>
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>