﻿@using System.Globalization
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@inherits FormFieldRazorPage<DateTime?, DateTimeFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var pickerStyle = "datetime";
    var stringVal = Model.HasValue ? Model.Value.ToString("O") : "";
    var dispVal = "";
    var culture = new CultureInfo("id-ID");
    if (stg.Style == DateTimeFieldStyle.DateOnly) {
        pickerStyle = "date";
        if (Model.HasValue) {
            dispVal = Model.Value.ToString("d MMM yyyy", culture).Replace(".", ":");
        }
    } else if (stg.Style == DateTimeFieldStyle.TimeOnly) {
        pickerStyle = "time";
        if (Model.HasValue) {
            dispVal = Model.Value.ToString("HH:mm", culture).Replace(".", ":");
        }
    } else {
        if (Model.HasValue) {
            dispVal = Model.Value.ToString("d MMM yyyy, HH:mm", culture).Replace(".", ":");
        }
    }
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label @(stg.UseVerticalFormFieldFormat ? "" : "col-md-3")">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="@(stg.UseVerticalFormFieldFormat ? "" : $"col-md-{(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)}")">
        
        @if (stg.Style == DateTimeFieldStyle.TimeOnly) {
            <div class="input-group clock" id="@inputId-box" style="max-width: 220px">
                <input type="text" class="form-control clock-display" placeholder="@stg.Placeholder"
                       value="@Html.Raw(dispVal)" name="" readonly/>
                <input type="hidden" id="@inputId" class="clock-input" value="@Html.Raw(stringVal)" name="@stg.InputName"/>
                <span class="input-group-btn">
                    <button class="btn btn-default clock-reset" type="button">
                        <i class="fa fa-close"></i>
                    </button>
                    <button class="btn btn-default clock-toggle" type="button">
                        <i class="fa fa-clock-o"></i>
                    </button>
                </span>
            </div>
        } else {
            <div class="input-group date" id="@inputId-box" style="max-width: 320px">
                <input type="text" class="form-control datetime-display" placeholder="@stg.Placeholder"
                       value="@Html.Raw(dispVal)" name="" readonly />
                <input type="hidden" id="@inputId" class="datetime-input" value="@Html.Raw(stringVal)" name="@stg.InputName"/>
                <span class="input-group-btn">
                    <button class="btn btn-default datetime-reset" type="button">
                        <i class="fa fa-close"></i>
                    </button>
                    <button class="btn btn-default datetime-toggle" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        }

        @using (Html.Section("script")) {
            <script type="text/javascript">
                $(function() {
                    PortalAK.InitDateTimePicker('#@inputId-box', '@pickerStyle');
                });
            </script>
        }

        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>