﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@inherits FormFieldRazorPage<List<string>, Select2FieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
    var data = Model?.ToList() ?? new List<string>();
}
@using (Html.Section("style-page-level-plugins"))
{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@using (Html.Section("script-page-level-plugins"))
{
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");
            $('.select2-multiple').select2({
                placeholder : "@(stg.EmptyOptionLabel ?? stg.Placeholder)"
            });
        });
    </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label))
    {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <select class="form-control select2-multiple" name="@(stg.InputName)" multiple>
            @foreach (var opt in stg.Options)
            {
                var val = stg.OptionValueGetter.Invoke(opt);
                var lab = stg.OptionLabelGetter.Invoke(opt);
                <option value="@val" @(data.Where(x => x == val).Count() > 0 ? "selected" : "")>@lab</option>
            }
        </select>

        @if (hasError)
        {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>