﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@inherits FormFieldRazorPage<string, SelectFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <select class="form-control" name="@stg.InputName">
            @if (stg.AddEmptyOption) {
                <option value="" @(Model == null ? "selected" : "")>@(stg.EmptyOptionLabel ?? stg.Placeholder)</option>
            }
            @foreach (var opt in stg.Options) {
                var val = stg.OptionValueGetter.Invoke(opt);
                var lab = stg.OptionLabelGetter.Invoke(opt);
                <option value="@val" @(Model == val ? "selected" : "")>@lab</option>
            }
        </select>

        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>