﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@inherits FormFieldRazorPage<string, TextFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        @if (stg.Style == TextFieldStyle.Simple || stg.Style == TextFieldStyle.Password) {
            <input type="@(stg.Style == TextFieldStyle.Password ? "password" : "text")" id="@inputId" class="form-control"
                   placeholder="@stg.Placeholder"
                   maxlength="@stg.MaxLength"
                   name="@stg.InputName" value="@Html.Raw(Model)"
                   />
        } else {
            <textarea id="@inputId" class="form-control" name="@stg.InputName"
                      placeholder="@stg.Placeholder" rows="5">@Html.Raw(Model)</textarea>
            if (stg.Style == TextFieldStyle.RichText) {
                using (Html.Section("script")) {
                    <script type="text/javascript">
                        $(function() {
                            CKEDITOR.replace('@inputId');
                        });
                    </script>
                }
            }
        }
        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>