﻿@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Newtonsoft.Json
@inherits FormFieldRazorPage<string, UploadFieldSetting>
@{
    var random = Randomer.Self;
    var stg = FormFieldSetting;
    var inputId = $"field-input-{random.Next()}";
    var valMsg = Html.ValidationMessage(stg.InputName);
    var hasError = valMsg != null && valMsg.ToString().StripHtmlTags().Trim().Length > 0;
}
@using (Html.Section("script-page-level-plugins", "upload-field-vue")) {
    <script src="~/assets/custom/vue-components/upload-field.js" type="text/javascript"></script>
}

@using (Html.Section("script-page-level-plugins")) {
    <script type="text/x-template" id="@inputId-vue-tpl">
        <upload-field html-id="@inputId" input-name="@stg.InputName" placeholder="@stg.Placeholder"
                      value="@Model" upload-url="@stg.UploadUrl" max-bytes="@stg.MaxBytes"
                      :valid-exts="validExts" :valid-mimes="validMimes" :csrf-token="csrfToken"
                      folder-path="@stg.FolderPath"></upload-field>
    </script>
    <script type="text/javascript">
        $(function() {
            var vue = {
                el: '#@inputId-upload-field-box',
                template: '#@inputId-vue-tpl',
                data: {
                    validExts: @Html.Raw(JsonConvert.SerializeObject(stg.ValidFileExtensions)),
                    validMimes: @Html.Raw(JsonConvert.SerializeObject(stg.ValidMimeTypes)),
                    csrfToken: PortalAK.AntiForgeryToken
                }
            };
            PortalAK.LoadVue(vue);
        })
    </script>
}
<div class="form-group @(hasError ? "has-error" : "") @stg.CssClass" id="@stg.HtmlId">
    @if (!string.IsNullOrWhiteSpace(stg.Label)) {
        <label for="@inputId" class="control-label col-md-3">
            @Html.Raw(stg.Label)
        </label>
    }
    <div class="col-md-@(string.IsNullOrWhiteSpace(stg.Label) ? 12 : 8)">
        <div id="@inputId-upload-field-box"></div>

        @if (hasError) {
            <div class="help-block small">
                @valMsg
            </div>
        }
        <div class="small">
            @Html.Raw(stg.HelpText)
        </div>
    </div>
</div>