﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();
}
<div class="form-group file-perjanjian-portability">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        @if (propVal != null)
        {
            var fileHref = (string)propVal;
            if (!string.IsNullOrWhiteSpace(fileHref))
            {
                if (new[] {
                "http:/", "https:/", "ftp:/", "ftps:/"
                }.All(x => !fileHref.StartsWith(x)))
                {
                    fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                }
                <a href="@fileHref" download target="_blank" class="btn red">
                    Download <i class="fa fa-download"></i>
                </a>
            }
            else
            {
                <i>No File</i>
            }
        }
        else
        {
            <div class="form-control form-control-static">
                <em>File tidak ada</em>
            </div>
        }
    </div>
</div>