﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.ViewModels.DataAknp
@model FieldViewModel

@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);

    var indoCulture = new CultureInfo("id-ID");
}
@{
    var rendered = false;
    var prop = dataClassType.GetProperty(viewDef.PropertyName);

    if (prop != null) {
        var label = viewDef.PropertyName;

        var propAttrs = prop.GetCustomAttributes(true);
        var dispAttr = propAttrs.FirstOrDefault(x => x is DisplayAttribute) as DisplayAttribute;

        if (dispAttr != null) {
            if (!string.IsNullOrWhiteSpace(dispAttr.Name)) {
                label = dispAttr.Name;
            }
        }

        if (typeof(IEnumerable<IAknpPemegangSaham>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var arr = propVal.DirectCastTo<IEnumerable<IAknpPemegangSaham>>()?.ToArray();
            if (arr == null || arr.Length == 0) {
                <div class="form-control form-control-static">
                    <em>Data kosong</em>
                </div>
            } else {
                var totalLembar = arr.Aggregate(0m, (currentTotal, item) => (decimal)currentTotal + (decimal)item.LembarSaham);
                var totalNominal = arr.Aggregate(0m, (currentTotal, item) => currentTotal + item.NominalSahamRupiah);
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-hover table-striped">
                        <caption>@label</caption>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Kewarganegaraan</th>
                                <th>Jml. Lembar Saham</th>
                                <th>Persentase Saham</th>
                                <th>Nominal Saham (Rp)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < arr.Length; i++) {
                            var item = arr[i];
                                <tr>
                                    <td>@(i + 1).</td>
                                    <td>@item.Nama</td>
                                    <td>@item.WargaNegara</td>
                                    <td>@item.LembarSaham</td>
                                    <td>
                                        @(item.LembarSaham > 0 ? (
                                          totalLembar > 0 ? ((decimal)item.LembarSaham * 1.0m / totalLembar * 100m).ToString("F3") + " %" : "0.000 %"
                                          ) : "0.000 %")
                                    </td>
                                    <td>@(item.NominalSahamRupiah.ToString("C", indoCulture))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        } else if (typeof(IEnumerable<IAknpDirectorPerson>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var arr = propVal.DirectCastTo<IEnumerable<IAknpDirectorPerson>>()?.ToArray();
            if (arr == null || arr.Length == 0) {
                <div class="form-control form-control-static">
                    <em>Data kosong</em>
                </div>
            } else {
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped table-bordered">
                        <caption>@label</caption>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Jabatan</th>
                                <th>Email</th>
                                <th>Telp.</th>
                                <th>HP</th>
                                <th title="File Spesimen Tanda Tangan">TTD</th>
                                <th>KTP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < arr.Length; i++) {
                            var item = arr[i];
                                <tr>
                                    <td>@(i + 1).</td>
                                    <td>@item.Nama</td>
                                    <td>@item.Jabatan</td>
                                    <td>@item.Email</td>
                                    <td>@item.Telp</td>
                                    <td>@item.HP</td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(item.TtdFileUrl)) {
                                            <em>File tidak ada</em>
                                        } else {
                                            var fileHref = item.TtdFileUrl;
                                            if (new[] {
                                            "http:/", "https:/", "ftp:/", "ftps:/"
                                        }.All(x => !fileHref.StartsWith(x))) {
                                                fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                            }
                                            <a class="btn red" download href="@fileHref">
                                                Download <i class="fa fa-download"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(item.KtpFileUrl)) {
                                            <em>File tidak ada</em>
                                        } else {
                                            var fileHref = item.KtpFileUrl;
                                            if (new[] {
                                            "http:/", "https:/", "ftp:/", "ftps:/"
                                        }.All(x => !fileHref.StartsWith(x))) {
                                                fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                            }
                                            <a class="btn red" download href="@fileHref">
                                                Download <i class="fa fa-download"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        } else if (typeof(IEnumerable<IAknpPerson>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var arr = propVal.DirectCastTo<IEnumerable<IAknpPerson>>()?.ToArray();
            if (arr == null || arr.Length == 0) {
                <div class="form-control form-control-static">
                    <em>Data kosong</em>
                </div>
            } else {
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped table-bordered">
                        <caption>@label</caption>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Jabatan</th>
                                <th>Email</th>
                                <th>Telp.</th>
                                <th>HP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < arr.Length; i++) {
                            var item = arr[i];
                                <tr>
                                    <td>@(i + 1).</td>
                                    <td>@item.Nama</td>
                                    <td>@item.Jabatan</td>
                                    <td>@item.Email</td>
                                    <td>@item.Telp</td>
                                    <td>@item.HP</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        } else if (typeof(IEnumerable<IAknpPartisipan>).IsAssignableFrom(prop.PropertyType)) {
            rendered = true;
            var persons = propVal.DirectCastTo<IEnumerable<IAknpPartisipan>>() ?? new IAknpPartisipan[0];
            persons.OrderBy(x => x.Nama);
            <div class="form-group">
                <label class="control-label col-md-3">
                    @label
                </label>
                <div class="col-md-8">
                    @if (persons != null && persons.Where(x => x.Value == true).Count() > 0) {
                        <ul>
                            @foreach (var list in persons.Where(x => x.Value == true).OrderBy(x => x.Nama).Select(x => x.Nama)) {
                                <li>@list</li>
                            }
                        </ul>
                    } else {
                        <i> - </i>
                    }
                </div>
            </div>
        } else {
            <div class="form-group">
                <label class="control-label col-md-3">
                    @label
                </label>
                <div class="col-md-8">
                    @if (typeof(string).IsAssignableFrom(prop.PropertyType)) {
                        if (viewDef.PropertyName.EndsWith("FileUrl")) {
                            rendered = true;
                            if (propVal != null) {
                                var fileHref = (string)propVal;
                                if (!string.IsNullOrWhiteSpace(fileHref)) {
                                    if (new[] {
                                    "http:/", "https:/", "ftp:/", "ftps:/"
                                }.All(x => !fileHref.StartsWith(x))) {
                                        fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                }
                                    <a href="@fileHref" download target="_blank" class="btn red">
                                        Download <i class="fa fa-download"></i>
                                    </a>
                                } else {
                                    <i>No File</i>
                                }
                            } else {
                                <div class="form-control form-control-static">
                                    <em>File tidak ada</em>
                                </div>
                            }
                        }

                        if (!rendered) {
                            var maxLenAttr = propAttrs.FirstOrDefault(x => x is MaxLengthAttribute) as MaxLengthAttribute;
                            if (maxLenAttr != null) {
                                rendered = true;
                                if (maxLenAttr.Length > 256) {
                                    <textarea class="form-control">@Html.Raw(propVal)</textarea>
                                } else {
                                    <div class="form-control form-control-static">
                                        @propVal
                                    </div>
                                }
                            }
                        }

                        if (!rendered) {
                            var strLenAttr = propAttrs.FirstOrDefault(x => x is StringLengthAttribute) as StringLengthAttribute;
                            if (strLenAttr != null) {
                                rendered = true;
                                if (strLenAttr.MaximumLength > 256) {
                                    <textarea class="form-control">@Html.Raw(propVal)</textarea>
                                } else {
                                    <div class="form-control form-control-static">
                                        @propVal
                                    </div>
                                }
                            }
                        }

                        if (!rendered) {
                            <textarea class="form-control">@Html.Raw(propVal)</textarea>
                        }
                    } else if ((typeof(decimal).IsAssignableFrom(prop.PropertyType) || typeof(decimal?).IsAssignableFrom(prop.PropertyType))
                               && prop.Name.EndsWith("Rupiah")) {
                        rendered = true;
                        <div class="form-control form-control-static">
                            @if (propVal != null) {
                                var rupiah = propVal as decimal? ?? 0;
                                @rupiah.ToString("C", indoCulture)
                            }
                        </div>
                    } else if (typeof(DateTime).IsAssignableFrom(prop.PropertyType) || typeof(DateTime?).IsAssignableFrom(prop.PropertyType)) {
                        rendered = true;
                        <div class="form-control form-control-static">
                            @if (propVal != null) {
                                var dt = propVal as DateTime? ?? DateTime.MinValue;
                                if (prop.Name.EndsWith("Utc")) {
                                    dt = dt.ConvertUtcToWib();
                                }
                                @dt.ToString("ddd, dd-MMM-yyyy HH:mm:ss", indoCulture)
                            }
                        </div>
                    } else if (typeof(bool).IsAssignableFrom(prop.PropertyType) || typeof(bool?).IsAssignableFrom(prop.PropertyType)) {
                        rendered = true;
                        <div class="form-control form-control-static">
                            @{
                                var yes = propVal as bool? ?? false;
                                if (yes) {
                                    <i class="fa fa-check-square"></i>
                                    @("Ya")
                                } else {
                                    <i class="fa fa-square-o"></i>
                                    @("Tidak")
                                }
                            }
                        </div>
                                } else if (typeof(IEnumerable<DataSupportDocumentRegistrasi>).IsAssignableFrom(prop.PropertyType)) {
                                    rendered = true;
                                    var arr = propVal.DirectCastTo<IEnumerable<DataSupportDocumentRegistrasi>>()?.ToArray();
                                    if (arr == null || arr.Length == 0) {
                                        <div class="form-control form-control-static">
                                            <em>Data kosong</em>
                                        </div>
                                    } else {
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Judul</th>
                                                        <th>File</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (var i = 0; i < arr.Length; i++) {
                                                        var item = arr[i];
                                                        <tr>
                                                            <td>@(i + 1).</td>
                                                            <td>@item.NamaDoc</td>
                                                            <td>
                                                                @if (string.IsNullOrWhiteSpace(item.DocFileUrl)) {
                                                                    <em>File tidak ada</em>
                                                                } else {
                                                                    var fileHref = item.DocFileUrl;
                                                                    if (new[] {
                                                        "http:/", "https:/", "ftp:/", "ftps:/"
                                                    }.All(x => !fileHref.StartsWith(x))) {
                                                                        fileHref = "/"+Uri.EscapeDataString(Url.Content(fileHref));
                                                                    }
                                                                    <a class="btn red" download href="@fileHref">
                                                                        Download <i class="fa fa-download"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                </div>
            </div>
                                    }
                                }

                                if (!rendered) {
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            @viewDef.PropertyName
                                        </label>
                                        <div class="col-md-8">
                                            <div class="form-control form-control-static">
                                                @propVal
                                            </div>
                                        </div>
                                    </div>
                                }
}