﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.ModDataAknp.Drivers
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var choices = RegistrasiKategoriMember.NewAll().ToArray();

    if (drv.DataSlug == DataStatusKpeiAknpDriver.SLUG)
    {
        var statusKpeiData = (DataStatusKPEI) data;
        propVal = statusKpeiData.AdministrasiKeanggotaan?.KategoriMember;
    }
}
@using (Html.Section("script")) { 
    <script type="text/javascript">
        $(function () {
            var kategoriMember = $('#kategoriMemberId').val();
            var tipeMemberPartisipan = $('#tipeMemberPartisipan').val();
            if (kategoriMember == '@RegistrasiKategoriMember.MEMBER_AKU.Name') {
                $('.trading-member').show();
                $('.nama-ab-sponsor').hide();
                $('.izin-usaha-ped').hide();
                $('.tipe-member-partisipan').hide();

                $('.file-perjanjian-aku').show();
                $('.file-perjanjian-aki').hide();
                $('.file-perjanjian-partisipan').hide();
                $('.file-perjanjian-ped').hide();
                $('.file-perjanjian-portability').show();
                $('.file-laporan-keuangan').show();
            } else if (kategoriMember == '@RegistrasiKategoriMember.MEMBER_AKI.Name') {
                $('.trading-member').hide();
                $('.nama-ab-sponsor').hide();
                $('.izin-usaha-ped').hide();
                $('.tipe-member-partisipan').hide();

                $('.file-perjanjian-aku').hide();
                $('.file-perjanjian-aki').show();
                $('.file-perjanjian-partisipan').hide();
                $('.file-perjanjian-ped').hide();
                $('.file-perjanjian-portability').show();
                $('.file-laporan-keuangan').show();
            } else if (kategoriMember == '@RegistrasiKategoriMember.MEMBER_PARTISIPAN.Name') {
                $('.trading-member').hide();

                if (tipeMemberPartisipan == 'PED') {
                    $('.nama-ab-sponsor').show();
                    $('.izin-usaha-ped').show();
                    $('.tipe-member-partisipan').show();

                    $('.file-perjanjian-aku').hide();
                    $('.file-perjanjian-aki').hide();
                    $('.file-perjanjian-partisipan').hide();
                    $('.file-perjanjian-ped').show();
                    $('.file-perjanjian-portability').show();
                    $('.file-laporan-keuangan').hide();
                } else {
                    $('.nama-ab-sponsor').hide();
                    $('.izin-usaha-ped').hide();
                    $('.tipe-member-partisipan').show();

                    $('.file-perjanjian-aku').hide();
                    $('.file-perjanjian-aki').hide();
                    $('.file-perjanjian-partisipan').show();
                    $('.file-perjanjian-ped').hide();
                    $('.file-perjanjian-portability').hide();
                    $('.file-laporan-keuangan').show();
                }
            } else {
                $('.trading-member').hide();
                $('.nama-ab-sponsor').hide();
                $('.izin-usaha-ped').hide();
                $('.tipe-member-partisipan').hide();

                $('.file-perjanjian-aku').hide();
                $('.file-perjanjian-aki').hide();
                $('.file-perjanjian-partisipan').hide();
                $('.file-perjanjian-ped').hide();
                $('.file-perjanjian-portability').hide();
                $('.file-laporan-keuangan').show();
            }
        });
    </script>
}
<div class="form-group">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        <div class="form-control form-control-static">
            @(choices.FirstOrDefault(x => x.Name == propVal as string)?.Label ?? propVal)
            <input type="hidden" id="kategoriMemberId" value="@propVal">
        </div>
    </div>
</div>