﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.Services
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var castedData = data as DataTipeMember;
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();


    var stgrepo = DepResolver.Instance.GetService<IKpeiCompanyService>();

    var listName = stgrepo.AllKpeiCompanies().Select(e => new { e.Code, e.Name }).ToList();

    var listData = propVal.DirectCastTo<HashSet<DataTipeMemberAkItem>>().ToList();
}
<div class="form-group">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        <div class="">
            @if (listData.Count > 0) {
                <ul>
                    @foreach (var singleData in listData) {
                        var parent = listName.First(e => e.Code == singleData.ParentMember);
                        var child = listName.First(e => e.Code == singleData.ChildMember);
                            <li>
                                @if (castedData.TipeMemberAK == RegistrasiTipeMemberAK.MEMBER_AK_GCM.Name) {
                                    <text>
                                    @child.Name (Child)
                                    </text>
                                } else {
                                    <text>
                                    @parent.Name (Parent)
                                    </text>
                                }
                            </li>

                    }
                </ul>
            } else {
                <text>
                    -
                </text>
            }</div>
    </div>
</div>