﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.Services
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    //var choices = RegistrasiKategoriMember.All().ToArray();
    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();

    var choices = aknpStg.ListRegistrasiAKABSponsor.ToArray();
    foreach (var c in choices)
    {
        c.Label = c.Label + " / " + comps.FirstOrDefault(e => e.Code == c.Name)?.Name;
    }
}
<div class="form-group nama-ab-sponsor">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        <div class="form-control form-control-static">
            @((choices.FirstOrDefault(x => x.Name == propVal as string)?.Label ?? propVal))
        </div>
    </div>
</div>