﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.DbModels
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();
}
<div class="form-group tipe-member-partisipan">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        <div class="form-control form-control-static">
            @(propVal)
        </div>
    </div>
</div>