﻿@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using Kpei.PortalAK.DataAccess.Core
@using Kpei.PortalAK.DataAccess.ModDataAknp.Models.Registrasi
@using Kpei.PortalAK.ViewModels.DataAknp
@using Kpei.PortalAK.DataAccess.ModSettings.Repos
@using Kpei.PortalAK.DataAccess.DbModels
@using Kpei.PortalAK.DataAccess.Services
@model FieldViewModel
@{
    var propVal = Model.PropertyValue;
    var data = Model.Data;
    var viewDef = Model.ViewDefinition;
    var drv = Model.Driver;
    var usr = Model.User;
    var rand = Randomer.Self.Next();
    var indoCulture = new CultureInfo("id-ID");

    var dataClassType = drv?.DataClassType ?? data?.GetType() ?? typeof(object);
    var prop = dataClassType.GetProperty(viewDef.PropertyName);
    var propAttrs = prop.GetCustomAttributes();
    var dispAttr = propAttrs.First(x => x is DisplayAttribute).DirectCastTo<DisplayAttribute>();

    var stgrepo = DepResolver.Instance.GetService<ISettingRepository>();
    var aknpStg = stgrepo.AknpSetting();

    var listData = propVal.DirectCastTo<HashSet<DataTradingMember>>().ToList();

    var comps = DepResolver.Instance.GetService<IKpeiCompanyService>().AllKpeiCompanies();

    var choices = aknpStg.ListRegistrasiAKTradingMember.ToArray();
    foreach (var c in choices)
    {
        c.Label = c.Name + " / " + c.Label;
    }
}
<div class="form-group trading-member">
    <label class="control-label col-md-3">
        @(dispAttr.GetName() ?? prop.Name)
    </label>
    <div class="col-md-8">
        @if (listData.Count > 0)
        {
        <ul>
            @foreach (var singleData in listData)
            {
                var tm = choices.FirstOrDefault(x => x.Name == singleData.TipeMemberAK);
                if (tm != null)
                {
                    <li>@(tm.Label)</li>
                }
            }
        </ul>
        }
        else
        {
            @("-")
        }
    </div>
</div>