﻿<script type="text/x-template" id="arr-administrasikeanggotaan-trading-member-tpl">
    <div :id="htmlId" :class="cssClass">
        <!--BEGIN PORTLET-->
        <div v-for="(item, idx) in items" >
            <input type="hidden" :name="inputName + '.Index'" :value="idx" />
            <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />
            <div class="portlet box green-jungle">
                <div class="portlet-title">
                    <div class="caption">
                        {{ idx + 1 }}.
                        <span v-if="item.Nama">
                            {{ item.Nama }}
                        </span>
                    </div>
                    <div class="tools">
                        <button type="button" class="btn btn-default btn-xs" @click="remItemAt(idx)">
                            <i class="fa fa-close"></i>
                        </button>
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />
                    <div class="form form-horizontal">
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Nama<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" @change="onNamaTMSelected(idx)" v-model="item.Nama" :name="inputName + '[' + idx + '].Nama'">
                                    <option value="">--pilih--</option>
                                    <option v-for="(namaTm, i) in listNamaTm" :value="namaTm.Name" :disabled="(selectedNamaTm.includes(namaTm.Name) && selectedNamaTm[idx] != namaTm.Name)">{{ namaTm.Label }}</option>
                                </select>
                                <span class="field-validation-valid text-danger" :data-valmsg-for="inputName + '[' + idx + '].Nama'" data-valmsg-replace="true"></span>
                                <div class="small">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                No. Perjanjian dengan Trading Member<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" :name="inputName + '[' + idx + '].NoPerjanjian'" v-model="item.NoPerjanjian">
                                <div class="small">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Tanggal Perjanjian<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <vuejs-datepicker input-class="form-control" v-model="item.TanggalPerjanjian" :name="inputName + '[' + idx + '].TanggalPerjanjian'"></vuejs-datepicker>
                                <div class="small">

                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Perjanjian Anggota Kliring Umum (AKU) dengan Trading Member<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <upload-field v-bind="uploadFieldConfig" :input-name="inputName + '[' + idx + '].PerjanjianFileUrl'"
                                              :folder-path="uploadFolder + '/tm'"
                                              v-model="item.PerjanjianFileUrl"></upload-field>
                                <div class="small">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <div>
        <button class="btn red" type="button" @click="addItem" v-if="items.length < maxItems">
            <i class="fa fa-plus"></i>
        </button>
    </div>
        <!--END PORTLET-->
    </div>
</script>
