﻿<script type="text/x-template" id="arr-trading-member-tpl">
    <div :id="htmlId" :class="cssClass">
        <!--BEGIN PORTLET-->
        <div v-for="(item, idx) in items" >
            <input type="hidden" :name="inputName + '.Index'" :value="idx" />
            <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />
            <div class="portlet box green-jungle">
                <div class="portlet-title">
                    <div class="caption">
                        {{ idx + 1 }}.
                        <span v-if="item.NamaPerusahaan || item.KodePerusahaan">
                            {{ item.KodePerusahaan }} / {{ item.NamaPerusahaan }}
                        </span>
                    </div>
                    <div class="tools">
                        <button type="button" class="btn btn-default btn-xs" @click="remItemAt(idx)">
                            <i class="fa fa-close"></i>
                        </button>
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />
                    <div class="form form-horizontal">
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Kode Perusahaan<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" :name="inputName + '[' + idx + '].KodePerusahaan'" v-model="item.KodePerusahaan">
                                <div class="small">
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">
                                Nama Perusahaan<b class="text-danger">*</b>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" :name="inputName + '[' + idx + '].NamaPerusahaan'" v-model="item.NamaPerusahaan">
                                <div class="small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <div>
        <button class="btn red" type="button" @click="addItem" v-if="items.length < maxItems">
            <i class="fa fa-plus"></i>
        </button>
    </div>
        <!--END PORTLET-->
    </div>
</script>
