﻿<script type="text/x-template" id="arr-person-tpl">
    <div :id="htmlId" :class="cssClass">
        <!-- BEGIN Portlet PORTLET-->
        <div v-for="(item, idx) in items" class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {{ idx + 1 }}.
                    <span v-if="item.Nama">
                        {{ item.Nama }}
                        <span v-if="item.Jabatan">
                            ({{ item.Jabatan }})
                        </span>
                    </span>
                </div>
                <div class="tools">
                    <button type="button" class="btn btn-default btn-xs" @click="remItemAt(idx)">
                        <i class="fa fa-close"></i>
                    </button>
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" :name="inputName + '.Index'" :value="idx" />
                <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />

                <div class="form form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Nama
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   :name="inputName + '[' + idx + '].Nama'" v-model="item.Nama" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Jabatan
                        </label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    :name="inputName + '[' + idx + '].Jabatan'" v-model="item.Jabatan">
                                <option v-for="option in options" v-bind:value="option.Value">
                                    {{ option.Value }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Email
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   :name="inputName + '[' + idx + '].Email'" v-model="item.Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Telp.
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   :name="inputName + '[' + idx + '].Telp'" v-model="item.Telp" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Handphone
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   :name="inputName + '[' + idx + '].HP'" v-model="item.HP" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
        <div>
            <button class="btn red" type="button" @click="addItem" v-if="items.length < maxItems">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</script>