﻿<script type="text/x-template" id="arr-tipe-member-aku-tpl">

    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet box blue-hoki" :id="htmlId" :class="cssClass" v-if="items.length > 0">
        <div class="portlet-title">
            <div class="caption">
                {{ dataTitle }}
            </div>
        </div>
        <div class="portlet-body">
            <div class="form form-horizontal" v-for="(item, index) in items">
                <input type="hidden" :name="inputName + '[' + index + '].Id'" :value="item.Id" />
                <input type="hidden" :name="inputName + '[' + index + '].TipeMemberAK'" :value="item.TipeMemberAK" />
                <input type="hidden" :name="inputName + '[' + index + '].TipeMemberPartisipan'" :value="null" />
                <input type="hidden" :name="inputName + '[' + index + '].FieldName'" :value="item.FieldName" />
                <input type="hidden" :name="inputName + '[' + index + '].FieldType'" :value="item.FieldType" />
                <input type="hidden" :name="inputName + '[' + index + '].FieldRequired'" :value="item.FieldRequired" />
                <input type="hidden" :name="inputName + '[' + index + '].LayananBaruId'" :value="item.LayananBaruId" />

                <div class="form-group">
                    <label class="control-label col-md-3">
                        {{ item.FieldName }}<b class="text-danger" v-if="item.FieldRequired">*</b>
                    </label>
                    <div class="col-md-8" v-if="item.FieldType === 'FreeText'">
                        <input type="text" class="form-control"
                               :name="inputName + '[' + index + '].FieldValue'" v-model="item.FieldValue" />
                    </div>

                    <div class="col-md-8" v-if="item.FieldType === 'FileUpload'">
                        <upload-field v-bind="uploadFieldConfig" :input-name="inputName + '[' + index + '].FieldValue'"
                                      :folder-path="uploadFolder"
                                      v-model="item.FieldValue"></upload-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>