﻿<script type="text/x-template" id="arr-member-ak-item-tpl">
    <div :id="htmlId" :class="cssClass">
        <!-- BEGIN Portlet PORTLET-->
        <div v-for="(item, idx) in items" class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {{ idx + 1 }}.
                    <span v-if="type == 'GCM'">
                        <span v-if="item.Child">
                            {{ item.Child.Name }}
                        </span>
                    </span>
                    <span v-else>
                        <span v-if="item.Parent">
                            {{item.Parent.Name}}
                        </span>
                    </span>

                </div>
                <div class="tools">
                    <button type="button" class="btn btn-default btn-xs" @click="remItemAt(idx)">
                        <i class="fa fa-close"></i>
                    </button>
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" :name="inputName + '.Index'" :value="idx" />
                <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />
                <!--IF GCM-->
                <div v-if="type == 'GCM'">
                    <div class="form form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Child Member:
                            </label>
                            <div class="col-md-8" v-if="options.length > 0">
                                <select class="form-control"
                                        :name="inputName + '[' + idx + '].Child'" v-model="item.Child">
                                    <option v-for="option in options" v-bind:value="option.Code">
                                        {{ option.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--IF OTHER-->
                <div v-else>
                    <div class="form form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Parent Member:
                            </label>
                            <div class="col-md-8" v-if="options.length > 0">
                                <select class="form-control"
                                        :name="inputName + '[' + idx + '].Parent'" v-model="item.Parent">
                                    <option v-for="option in options" v-bind:value="option.Code">
                                        {{ option.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
        <div v-if="type == 'GCM'">
            <button class="btn red" type="button" @click="addItem">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</script>