﻿<script type="text/x-template" id="arr-pemegang-saham-tpl">
    <div :id="htmlId" :class="cssClass" class="table-responsive">
        <table class="table table-condensed table-collapsed table-hover table-striped">
            <caption>
                <span v-if="caption">{{ caption }} - </span>
                <small><em>Pastikan Nama diisi agar data lembar dan nominal saham tersimpan.</em></small>
            </caption>
            <thead>
                <tr>
                    <td class="text-right" colspan="3">
                        <label class="control-label"><b>TOTAL</b></label>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="0" class="form-control" :value="totalLembarSaham"/>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="100 %" class="form-control"/>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="0" class="form-control" :value="formatMoney(totalNominalSaham)"/>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Kewarganegaraan</th>
                    <th>Jml. Lembar</th>
                    <th>Persentase</th>
                    <th>Nominal (Rp)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, itemIdx) in items">
                    <td>
                        {{ itemIdx + 1 }}.
                        <input type="hidden" :name="inputName + '.Index'" :value="itemIdx" />
                        <input type="hidden" :name="inputName + '[' + itemIdx + '].Id'" :value="item.Id" />
                    </td>
                    <td>
                        <input type="text" class="form-control" :name="inputName + '[' + itemIdx + '].Nama'" v-model="item.Nama" />
                    </td>
                    <td>
                        <select class="form-control" :name="inputName + '[' + itemIdx + '].WargaNegara'" v-model="item.WargaNegara">
                            <option value="N/A">
                                N/A
                            </option>
                            <option value="WNI">
                                WNI
                            </option>
                            <option value="WNA">
                                WNA
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="number" step="1" class="form-control" :name="inputName + '[' + itemIdx + '].LembarSaham'"
                               v-model="item.LembarSaham" />
                    </td>
                    <td>
                        <div class="form-control form-control-static">
                            {{ persentaseSaham(item) }} %
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" :name="inputName + '[' + itemIdx + '].NominalSahamRupiah'"
                               v-model="item.NominalSahamRupiah" :ref="'rupiah_' + itemIdx"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-block" @click="remItemAt(itemIdx)">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn red" type="button" @click="addItem" v-if="items.length < maxItems">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                    <td class="text-right" colspan="2">
                        <label class="control-label"><b>TOTAL</b></label>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="0" class="form-control" :value="totalLembarSaham"/>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="100 %" class="form-control"/>
                    </td>
                    <td class="text-right">
                        <input type="text" readonly name="" value="0" class="form-control" :value="formatMoney(totalNominalSaham)"/>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>