﻿<script type="text/x-template" id="arr-mclears-service-tpl">
    <div :id="htmlId" :class="cssClass">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Jenis Layanan</td>
                    <td v-for="(item, idx) in items">{{ idx + 1 }}. {{item.Nama}}</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(service, idservice) in services">
                    <td>{{ service.title }}</td>
                    <td v-for="(item, idx) in items">
                        <div class="form-group ">
                            <div class="col-md-12">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" :name="inputName + '[' + idx + '].' + service.id" value="true"
                                               v-model="item[service.id]">
                                        Subscribe
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" :name="inputName + '[' + idx + '].' + service.id" value="false"
                                               v-model="item[service.id]">
                                        Unsubscribe
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" :name="inputName + '[' + idx + '].' + service.id" :value="null"
                                               v-model="item[service.id]">
                                        No change
                                        <span></span>
                                    </label>
                                </div>
                                <div class="small">

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
