﻿<script type="text/x-template" id="arr-sup-doc-tpl">
    <div :id="htmlId" :class="cssClass">
        <!-- BEGIN Portlet PORTLET-->
        <div v-for="(item, idx) in items" class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    {{ idx + 1 }}.
                </div>
                <div class="tools">
                    <button type="button" class="btn btn-default btn-xs" @click="remItemAt(idx)">
                        <i class="fa fa-close"></i>
                    </button>
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" :name="inputName + '.Index'" :value="idx" />
                <input type="hidden" :name="inputName + '[' + idx + '].Id'" :value="item.Id" />

                <div class="form form-horizontal">                    
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Judul
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   :name="inputName + '[' + idx + '].NamaDoc'" v-model="item.NamaDoc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            File
                        </label>
                        <div class="col-md-8">
                            <upload-field v-bind="uploadFieldConfig" :input-name="inputName + '[' + idx + '].DocFileUrl'"
                                          :folder-path="uploadFolder"
                                          v-model="item.DocFileUrl"></upload-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
        <div>
            <button class="btn red" type="button" @click="addItem" v-if="items.length < maxItems">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</script>