﻿<script type="text/x-template" id="arr-partisipan-tpl">
    <div class="mt-checkbox-list" :id="htmlId" :class="cssClass">
        <label class="mt-checkbox" v-for="(item, idx) in items">
            <input type="hidden" :name="inputName + '[' + idx + '].Nama'" :value="item.Nama" />
            <input type="checkbox" v-model="item.Value" :name="inputName + '[' + idx + '].Value'" @change="isChecked(idx,$event)" value="true" />
            {{ item.Nama }}
            <span></span>
        </label>

        <!-- BEGIN Portlet PORTLET-->
        <div v-for="(group, idx) in groups" class="portlet box blue-hoki" v-if="groups[idx].checked === true">
            <div class="portlet-title">
                <div class="caption">
                    Tipe Member Partisipan ({{ group.Key }})
                </div>
            </div>
            <div class="portlet-body">
                <div class="form form-horizontal" v-for="(item, index) in group.Value">
                    <input type="hidden" :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].TipeMemberAk'" :value="'PARTISIPAN'" />
                    <input type="hidden" :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].TipeMemberPartisipan'" :value="item.TipeMemberPartisipan" />
                    <input type="hidden" :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].FieldName'" :value="item.FieldName" />
                    <input type="hidden" :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].FieldType'" :value="item.FieldType" />
                    <input type="hidden" :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].LayananBaruId'" :value="item.Id" />

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            {{ item.FieldName }}
                        </label>
                        <div class="col-md-8" v-if="item.FieldType === 'FreeText'">
                            <input type="text" class="form-control"
                                   :name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].FieldValue'" v-model="item.FieldValue" />
                        </div>

                        <div class="col-md-8" v-if="item.FieldType === 'FileUpload'">
                            <upload-field v-bind="uploadFieldConfig" :input-name="'FormGroupPartisipan' + '[' + item.TipeMemberPartisipan + ']' + '[' + index + '].FieldValue'"
                                          :folder-path="uploadFolder"
                                          v-model="item.FieldValue"></upload-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>