<script type="text/x-template" id="attendance-toggler-tpl">
    <div :id="htmlId" :class="cssClass">
        <div v-if="!isLoading">
            <button type="button" class="btn btn-sm btn-warning" v-if="checked" @click="clickToggle(false)">
                <i class="fa fa-check-square"></i>
            </button>
            <button type="button" class="btn btn-sm btn-default" v-else @click="clickToggle(true)">
                <i class="fa fa-square-o"></i>
            </button>
        </div>
        <div v-else>
            <button type="button" class="btn btn-sm btn-warning">
                <i class="fa fa-spin fa-spinner"></i>
            </button>
        </div>
    </div>
</script>