﻿<script type="text/x-template" id="datetime-field-tpl">
    <div :id="htmlId" :class="cssClass">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn red" type="button" :data-target="'#' + modalId" data-toggle="modal">
                    <i class="fa fa-upload"></i>
                </button>
            </span>
            <input type="text" class="form-control" :name="inputName" v-model="val" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="resetValToInit">
                    <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-default" type="button" @click="clearVal">
                    <i class="fa fa-close"></i>
                </button>
            </span>
        </div>
        <!-- dropzone file upload modal -->
        <div :id="modalId" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Upload File</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-success" v-if="successFiles.length > 0">
                            <ul style="padding-left: 20px">
                                <li v-for="sf in successFiles">{{ sf }}</li>
                            </ul>
                        </div>
                        <div class="text-danger" v-if="errors.length > 0">
                            <ul style="padding-left: 20px">
                                <li v-for="er in errors">{{ er }}</li>
                            </ul>
                        </div>
                        <div :action="uploadUrl" class="dropzone dropzone-file-area" ref="uploadDropzone" style="width: 500px;">
                            <p>
                                Seret dokumen ke sini atau klik untuk mengunggah.
                                <br/><i>Ukuran Max:</i> <b>{{ maxFileSizeFriendly }}</b>
                                <br/><i>Ekstensi File:</i> <b v-html="acceptedExts"></b>
                                <span v-if="acceptedMimes">
                                    <br/><i>MIME Type:</i> <b v-html="acceptedMimes"></b>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="uploadFiles">
                                Upload
                            </button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>