﻿<script type="text/x-template" id="notification-count-tpl">
    <a href="javascript:;" class="dropdown-toggle" data-counter="counterup" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" v-on:click="reset()">
        <i class="icon-bell"></i>
        <span class="badge badge-default" id="notification-count">
            {{ count }}
        </span>
    </a>
</script>