﻿<script type="text/x-template" id="string-pair-list-tpl">
    <div :id="htmlId" :class="cssClass">
        <div v-for="(str,idx) in items">
            <input type="hidden" :name="inputName + '.Index'" :value="idx" />
            <div class="row">
                <div class="col-sm-5">                    
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                {{ leftLabel }}:
                            </button>
                        </span>
                        <input type="text" class="form-control" :name="inputName + '[' + idx + '].' + leftInputName" v-model="items[idx][leftInputName]" />
                    </div>
                </div>
                <div class="col-sm-5">                    
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                {{ rightLabel }}:
                            </button>
                        </span>
                        <input type="text" class="form-control" :name="inputName + '[' + idx + '].' + rightInputName" v-model="items[idx][rightInputName]" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" type="button" @click="remItemAt(idx)">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button class="btn red" type="button" @click="addItem">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</script>