﻿<script type="text/x-template" id="string-list-tpl">
    <div :id="htmlId" :class="cssClass">
        <div v-for="(str,idx) in items"
             class="input-group">
            <input type="hidden" :name="inputName + '.Index'" :value="idx" />
            <input type="text" class="form-control" :name="inputName + '[' + idx + ']'" v-model="items[idx]" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="remItemAt(idx)">
                    <i class="fa fa-close"></i>
                </button>
            </span>
        </div>
        <div>
            <button class="btn red" type="button" @click="addItem">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</script>