﻿@using Kpei.PortalAK.DataAccess.ModSettings.Forms
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model PincodeSettingForm
@{
    ViewBag.Title = "Settings - PIN Code";
    Html.SelectedMenuTags().AddRange(new[] {"setting", "pincode-setting"});
}

<form method="post" class="form form-horizontal">
    @Html.MetronicValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-body">
        @Html.FormFieldPartial(Model.PincodeTypeInfos, new StringPairListFieldSetting {
            InputName = nameof(Model.PincodeTypeInfos),
            Label = "Jenis PIN Code",
            LeftInputName = nameof(PincodeTypeInfo.Name),
            LeftLabel = "Nama",
            RightInputName = nameof(PincodeTypeInfo.Url),
            RightLabel = "URL Terkait",
            HelpText = "Daftar jenis PIN code dan URL terkaitnya"
        })

        @Html.FormFieldPartial(Model.EclearsAdmins, new StringPairListFieldSetting {
            InputName = nameof(Model.EclearsAdmins),
            Label = "Administrator e-CLEARS",
            LeftInputName = nameof(PincodeEclearsAdmin.Name),
            LeftLabel = "Nama",
            RightInputName = nameof(PincodeEclearsAdmin.Email),
            RightLabel = "Email",
            HelpText = "Daftar nama dan email administrator e-CLEARS"
        })
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn red form-submit-button">
                    Simpan
                </button>
                <button type="button" class="btn btn-default form-reset-button">
                    Batal
                </button>
            </div>
        </div>
    </div>

</form>