﻿@using Kpei.PortalAK.ViewModels.Email
@using Kpei.PortalAK.DataAccess.ModSettings.Models
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@using Kpei.PortalAK.DataAccess.DbModels
@model UpdateViewModel
@{
    var DefaultHeader = Model.Email.DefaultHeader;
    var Header = Model.Email.Header;
    var Template = Model.Email.Template;

    ViewBag.Title = "Email Template - " + DefaultHeader.Section;
    Html.SelectedMenuTags().AddRange(new[] { "setting", "email-setting", TempData["tag"].ToString() });
}

<div class="col-md-12 form-group">
    <div class="col-md-3 pull-right text-right">
        <a href="javascript:;" class="btn btn-warning mail-help"><i class="fa fa-question-circle"></i>Help</a>
    </div>
</div>
<div class="col-md-12 help-text">
</div>
<form method="post" class="form form-horizontal">
    <div class="form-body">
        <div id="alert-msg"></div>
        <div class="col-md-12">
            <input type="hidden" value="@Header.Id" name="@("Header." + nameof(Header.Id))" />
            <input type="hidden" value="@(Header.Field ?? DefaultHeader.Key)" name="@("Header." + nameof(Header.Field))" />
            @Html.FormFieldPartial(Header.Value ?? DefaultHeader.Header, new TextFieldSetting {
           InputName = "Header." + nameof(Header.Value),
           Label = "Subject : "
       })
        </div>
        <div class="col-xs-12">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Template.Id" name="@("Template." + nameof(Template.Id))" />
            <input type="hidden" value="@(Template.Field)" name="@("Template." + nameof(Template.Field))" />
            @Html.FormFieldPartial(Template.Value, new TextFieldSetting {
           InputName = "Template." + nameof(Template.Value),
           Label = "Template : ",
           Style = TextFieldStyle.RichText
       })
        </div>

        <div class="col-md-offset-3 text-center form-actions">
            <button class="btn red form-submit-button" type="button">Submit</button>
        </div>
    </div>
</form>

@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function () {
            @{
                var helpNote = @"<strong>Email Template - Special Key</strong><ul>";
                var helpItem = "";
                foreach (var help in EmailReplaceKey.Help) {
                    if (help.key.Contains("Aknp") && (!DefaultHeader.Section.Contains("AK&P") && !DefaultHeader.Section.Contains("Reminder"))) {
                        continue;
                    } else if (help.key.Contains("Pincode") && !DefaultHeader.Key.Contains("Send")) {
                        continue;
                    } else if (help.key.Contains("Pincode") && (DefaultHeader.Key.Contains("Aknp") || DefaultHeader.Key.Contains("KPEI"))) {
                        continue;
                    } else if (help.key.Contains("Detail") && (DefaultHeader.Key.Contains("Guest"))) {
                        continue;
                    } else if (help.key.Contains("Reject") && !(DefaultHeader.Key.Contains("Reject"))) {
                        continue;
                    } else if (help.key.Contains("Detail") && DefaultHeader.Key.Contains("Remind")) {
                        continue;
                } else {
                    helpItem += $"<li><strong>{help.key}</strong> => {help.detail}</li>";
                }

                }
                if (string.IsNullOrWhiteSpace(helpItem)) {
                    helpNote += "<li><i>Kosong</i></li>";
                } else {
                    helpNote += helpItem;
                }
                helpNote += "</ul>";
                }

                const help = '@Html.Raw(helpNote)';

            $('.mail-help').click(function () {
                    App.alert({
                        container: $('.help-text'),
                    type: 'warning',
                    close: true,
                    message: help
                    });
                });
        })
    </script>
    }