﻿@using Kpei.PortalAK.ViewModels.Email
@using Kpei.PortalAK.Features.FormFieldRazor.Settings
@model EmailViewModel
@{ 
    ViewBag.Title = "Email Template - " + TempData["title"];
    Html.SelectedMenuTags().AddRange(new[] { "setting", "email-setting", TempData["tag"].ToString() });
}

<div class="row">
    <div class="col-md-12 form-body">
        @foreach (var email in Model.ListEmailSetting) {
                <div class="form-body col-md-12">  
                    <div class="form-group">
                        <label class="control-label col-md-5 text-right">@(email.Header?.Section) : </label>
                        <div class="col-md-6">
                            <a href="@Url.Action("Edit", new { field = email.Header.Key })" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>

@using (Html.Section("script")) {
    <script type="text/javascript">
        $(function () {
            $('div input').prop('readonly', true);
            $('div textarea').prop('readonly', true);
        })
    </script>
}